:root {
  --accordion-button-icon-after-open-content: "\ea5f";
  --accordion-button-icon-after-close-content: "\ea62";
  --accordion-content-gap: 1.5rem;
  --accordion-content-text-color: #000;
  --application-base-accent-color: #262431;
  --application-base-accent-color-text-color:  #fff;
  --breadcrumb-bar-content-block-icon: "\ea61";
  --breadcrumb-bar-padding-right: 3%;
  --breadcrumb-bar-padding-left: 3%;
  --breadcrumb-bar-list-vertical-align: center;
  --breadcrumb-bar-icon-font-family: var(--icon-base-font-family);
  --breadcrumb-bar-icon: "\ea61";
  --button-base-line-height: 1;
  --button-icon-min-width: 2.75rem;
  --button-icon-min-height: 2.75rem;
  --button-icon-icon-font-size: 0.8rem;
  --button-icon-icon-width: 0.75rem;
  --critical-informational-labels-min-width: 8rem;
  --de-emphasized-text-color: #000;
  --filter-intro-text-color: var(--application-base-text-color);
  --filter-button-icon-before-open-content: "\ea5f";
  --filter-button-icon-before-close-content: "\ea62";
  --footer-min-height: 15rem;
  --footer-background-color: var(--application-base-accent-color);
  --footer-text-color: var(--application-base-accent-color-text-color);
  --form-base-input-text-color: #000;
  --form-help-button-icon-content: "\ec9d";
  --form-help-button-icon-font-family: var(--icon-base-font-family);
  --form-input-border-width: 1px;
  --form-input-border-style: solid;
  --form-input-border-color: #ccc;
  --form-textarea-text-color: var(--form-base-input-text-color);
  --form-textarea-border-color: #ccc;
  --icon-base-font-family: "tabler-icons";
  --icon-base-font-size: 1.2rem;
  --layout-block-gap: 3rem;
  --layout-base-max-width: 80rem;
  --layout-base-content-block-gap: 1.5rem;
  --layout-base-main-padding-top: 5rem;
  --layout-footer-content-block-gap: var(--layout-block-gap);
  --layout-footer-block-max-width: var(--layout-base-max-width);
  --layout-footer-content-block-gap: var(--layout-base-content-block-gap);
  --layout-header-gap: 0;
  --layout-header-padding-top: var(--layout-base-padding-top);
  --layout-header-padding-bottom: var(--layout-base-padding-bottom);
  --layout-header-padding-left: var(--layout-base-padding-left);
  --layout-header-block-max-width: var(--layout-base-max-width);
  --layout-main-gap: var(--layout-block-gap);
  --layout-main-first-padding-top: 5rem;
  --link-text-color: #364abd;
  --link-hover-text-color: #324dec;
  --link-visited-text-color: #5f0e92;
  --link-visited-hover-text-color: #781eb0;
  --login-meta-background-color: #eaeaea;
  --login-meta-color: #000;
  --navigation-collapsible-menu-list-item-collapsed-hover-background-color: #14131a;
  --navigation-gap: 1rem;
  --navigation-align-content: flex-start;
  --navigation-list-gap: var(--navigation-gap);
  --navigation-link-text-decoration: none;
  --navigation-link-hover-text-decoration: none;
  --navigation-background-color: var(--application-base-accent-color);
  --navigation-text-color: var(--application-base-accent-color-text-color);
  --nota-bene-text-color: #000;
  --section-gap: 1.5rem;
  --section-title-margin: var(--layout-base-content-block-title-margin);
  --section-subtitle-margin: var(--layout-base-content-block-subtitle-margin);
  --table-action-buttons-button-font-size: var(--icon-base-font-size);
  --table-base-cells-padding: 0.25rem 1rem;
  --table-base-background-color: #fff;
  --table-base-text-color: var(--application-base-text-color);
  --table-base-foot-background-color: #f5f5f5;
  --table-base-body-head-cell-background-color: var(  --application-base-accent-color);
  --tile-background-color: #fff;
}
