{% extends "rest_framework/base.html" %}

{% load static %}

<!-- We override the script block here to be able to add the CSP nonce. When
django-rest-framework makes changes to the loaded scripts we need to update
these here too. -->
{% block script %}
    <script type="application/json" id="drf_csrf" nonce="{{ request.csp_nonce }}">
  {
      "csrfHeaderName": "{{ csrf_header_name|default:'X-CSRFToken' }}",
      "csrfToken": "{% if request %}{{ csrf_token }}{% endif %}"
  }
    </script>
    <script src="{% static "rest_framework/js/jquery-3.5.1.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "rest_framework/js/ajax-form.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "rest_framework/js/csrf.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "rest_framework/js/default.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "rest_framework/js/load-ajax-form.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock script %}
