{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}
{% load ooi_extra %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Object list' %}</h1>
        <p>
          {% blocktranslate trimmed %}
            An overview of your object list. Objects can be added manually or by running boefjes.</br>
            Click an object for additional information.
          {% endblocktranslate %}
        </p>
        <p class="de-emphasized">
          <strong>{% translate 'Currently filtered on:' %}</strong> {{ types_display }}
        </p>
        {% include 'partials/ooi_list_toolbar.html' %}
        {% translate 'Filter' as filter_title %}
        {% include 'partials/ooi_list_filters.html' with title=filter_title clearance_level_filter_form=clearance_level_filter_form %}
        <p class="de-emphasized">
          {% blocktranslate with length=ooi_list|length total=total_oois %}Showing {{ length }} of {{ total }} objects{% endblocktranslate %}
        </p>
        <form method="post" class="inline">
          {% csrf_token %}
          <div class="horizontal-scroll">
            {% include 'partials/form/form_errors.html' with form=select_oois_form %}
            {% for field in select_oois_form %}{{ field }}{% endfor %}
          </div>
          {% if ooi_list %}
            <fieldset>
              <div class="horizontal-view">
                {% if may_update_scan_profile %}
                  <select id="scan-profiles" name="scan-profile">
                    {% for level in scan_levels %}
                      <option value="{{ level }}">
                        {{ level }}
                      </option>
                    {% endfor %}
                  </select>
                  <button type="submit"
                          class="dropdown-button"
                          name="action"
                          value="update-scan-profile">
                    {% translate 'Set clearance level' %}
                  </button>
                  <button type="submit" class="dropdown-button" name="action" value="delete">{% translate 'Delete object(s)' %}</button>
                {% else %}
                  <button type="submit" class="dropdown-button" name="action" value="delete">{% translate 'Delete object(s)' %}</button>
                {% endif %}
              </div>
            </fieldset>
          {% endif %}
        </form>
        {% include 'partials/list_paginator.html' %}
      </div>
    </section>
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
  <script src="{% static '/js/checkboxToggler.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}
