[Unit]
Description=kat-bytes daemon
After=network.target

[Service]
User=kat
Group=kat
SyslogIdentifier=kat-bytes
WorkingDirectory=/opt/venvs/kat-bytes/
EnvironmentFile=/usr/lib/kat/bytes.defaults
EnvironmentFile=/etc/kat/bytes.conf
ExecStart=/opt/venvs/kat-bytes/bin/python -m gunicorn \
          --access-logfile - \
          -c /etc/kat/bytes.gunicorn.conf.py \
          -k uvicorn.workers.UvicornWorker \
          bytes.api:app
Restart=on-failure
RestartSec=3s
KillMode=mixed

[Install]
WantedBy=multi-user.target
