{% load i18n %}
{% load static %}

{% for boefje in boefjes %}
    <div role="group">
        <img src="{{ boefje.tile_image }}" alt="placeholder image" />
        <p class="plugin-title">
            <strong>{{ boefje.name }}</strong><span class="label-plugin-type {{ boefje.type }}">{{ boefje.type|title }}</span>
        </p>
        <p class="plugin-description">{{ boefje.description }}</p>
        <div class="horizontal-view scan-intensity">
            <ul class="level-indicator {{ boefje.scan_level }}">
                {% for i in "1234"|make_list %}<li></li>{% endfor %}
            </ul>
        </div>
        <span class="plugin-author-link de-emphasized"><a target="_blank" href="https://openkat.nl">OpenKAT</a></span>
    </div>
{% endfor %}
