{% load i18n %}
{% load static %}

<div class="cat-loader-wrapper">
  <div class="cat-loader" aria-hidden="true">
    <img class="ear-left" src="{% static 'img/loader/ear_left.svg' %}"/>
    <img class="ear-right" src="{% static 'img/loader/ear_right.svg' %}"/>
    <img class="head" src="{% static 'img/loader/head.svg' %}"/>
    <img class="tail" src="{% static 'img/loader/tail.svg' %}"/>
    <img class="body" src="{% static 'img/loader/body.svg' %}"/>
    <img class="line" src="{% static 'img/loader/yarn.svg' %}"/>
    <img class="ball" src="{% static 'img/loader/ball.svg' %}"/>
    <img class="paw" src="{% static 'img/loader/paw.svg' %}"/>
  </div>
</div>
