{% load i18n %}

{% component "modal" modal_id="delete-ooi-modal" size="dialog-small" %}
{% fill "header" %}
{% translate "Delete objects" %}
{% endfill %}
{% fill "content" %}
<p>
    {% blocktranslate trimmed %}
        Are you sure you want to delete all the selected objects?
        The history will still be saved in the graph data base and there
        will not be any new data after the moment of deletion.
    {% endblocktranslate %}
</p>
{% endfill %}
{% fill "footer_buttons" %}
<button type="submit"
        form="ooi_list_form"
        class="destructive"
        name="action"
        value="delete">{% translate "Delete" %}</button>
<button class="ghost close-modal-button">{% translate "Cancel" %}</button>
{% endfill %}
{% endcomponent %}
{% component_css_dependencies %}
