{% load i18n %}

{% get_language_info for LANGUAGE_CODE as current_language %}
<div class="dropdown">
    <button type="button"
            data-open-label="{{ current_language.name_local.title }}"
            data-close-label="{{ current_language.name_local.title }}"
            data-media="(min-width: 100%)"
            aria-label="{% translate "Language Selector" %}"
            class="dropdown-button ghost"
            aria-controls="language-switcher"
            aria-expanded="false"
            aria-haspopup="menu"
            aria-labelledby="language-switcher">
        {{ current_language.name_local.title }}<span class="icon ti-chevron-down"></span>
    </button>
    <div id="language-switcher" class="dropdown-list">
        <ul>
            <form action="{% url "set_language" %}" method="post" class="inline">
                {% csrf_token %}
                {% for language in languages %}
                    {% get_language_info for language as language %}
                    {% if language.code != current_language.code %}
                        <li>
                            <button type="submit" name="language" value={{ language.code }}>
                                {{ language.name_local.title }}
                            </button>
                        </li>
                    {% endif %}
                {% endfor %}
            </form>
        </ul>
    </div>
</div>
