{% load i18n %}

<div class="introduction">
    <div>
        <h1>{{ ooi.get_ooi_type }}: {{ ooi.human_readable }} @ {{ observed_at|date:"DATE_FORMAT" }}</h1>
        <p>
            {% blocktranslate trimmed with ooi=ooi.human_readable type=ooi.get_ooi_type|lower %}
                An overview of "{{ ooi }}", object type "{{ type }}".
                This shows general information and its related objects.
                It also gives the possibility to add additional related objects, or to scan for them.
            {% endblocktranslate %}
        </p>
    </div>
    {% include "partials/ooi_detail_toolbar.html" with ooi_id=ooi.primary_key %}

</div>
{% include "oois/ooi_page_tabs.html" with view=view ooi=ooi %}
