{% extends 'partials/list_filters.html' %}
{% load i18n %}

{% block title %}
  {{ members.count }} {% translate 'Members' %}
{% endblock %}

{% block filter_form %}
  <form method="get">
    <fieldset>
      <legend>
        {% translate "Verified status" %}
      </legend>
      <div>
        {% for blocked_filter in blocked_filters %}
          <div class="horizontal-view">
            <input type="checkbox"
                   id="blocked-filter-{{ blocked_filter.value }}"
                   name="blocked_status_filter"
                   value="{{ blocked_filter.value }}"
                   {% if blocked_filter.checked %} checked{% endif %}>
            <label for="blocked-filter-{{ blocked_filter.value }}">{{ blocked_filter.label }}</label>
          </div>
        {% endfor %}
      </div>
    </fieldset>
    <input type="submit" value="{% translate 'Update List' %}">
  </form>
{% endblock %}
