{% load i18n %}

{% if organizations_dropdown_list|length > 0 %}
  <div class="dropdown">
    <button class="dropdown-button ghost">
      {% if not organization.code %}
          {% translate 'Select organization' %}
      {% else %}
        {{ organization.name }}
      {% endif %}
      <span class="icon ti-chevron-down"></span>
    </button>
    <ul class="dropdown-list">
      <li>
        <a href="{% url 'crisis_room' %}">{% translate "All organizations" %}</a>
      </li>
      {% for single_organization in organizations_dropdown_list %}
        {% if organization.code != single_organization.code %}
          <li>
            <a href="{% url 'organization_crisis_room' single_organization.code %}">{{ single_organization.name }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endif %}
