{% load i18n %}

{% if organizations_including_blocked|length > 0 %}
    <div class="dropdown">
        <button aria-controls="change-organization"
                aria-expanded="false"
                class="dropdown-button ghost">
            {% if not organization.code %}
                {% translate "Select organization" %}
            {% else %}
                {{ organization.name }}
            {% endif %}
            <span class="icon ti-chevron-down"></span>
        </button>
        <div id="change-organization" class="dropdown-list">
            <ul>
                <li>
                    <a href="{% url "crisis_room" %}">{% translate "All organizations" %}</a>
                </li>
                {% for org in organizations_including_blocked %}
                    {% if organization.code != org.code %}
                        <li>
                            <a href="{% url "organization_crisis_room_landing" org.code %}">{{ org.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
