{% load i18n %}
{% load permissions %}

<ul>
    {% if request.user.is_authenticated %}
        {% has_organization_perms "tools.view_organization" request.user as view_organization %}
        {% if view_organization %}
            <li>
                <a href="{% url "organization_list" %}"
                   {% if 'organizations' in request.path|urlencode %} aria-current="page"{% endif %}>{% translate "Organizations" %}</a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'logout' %}">{% translate "Logout" %}</a>
        </li>
    {% else %}
        <li>
            <a href="{% url "two_factor:login" %}"
               {% if 'login' in request.path|urlencode %} aria-current="page"{% endif %}>{% translate "Login" %}</a>
        </li>
    {% endif %}
</ul>
