{% load static %}
{% load i18n %}

{% if request.user.is_authenticated %}
<div
  data-button-open-label="{% if user.full_name %}{{ user.full_name|slice:"1"|upper }}{% else %}{{ user.email|slice:"1"|upper }}{% endif %}"
  data-button-close-label="{% if user.full_name %}{{ user.full_name|slice:"1"|upper }}{% else %}{{ user.email|slice:"1"|upper }}{% endif %}"
  data-open-label="{% translate "User navigation" %}"
  data-close-label="{% translate "Close user navigation" %}"
  data-media="(min-width: 100%)"
  data-button-classes="user-icon"
  aria-label="{% translate "User navigation" %}"
  class="collapsible user-nav">

  <div class="collapsing-element">
      <ul>
        {% with request.resolver_match.url_name as url_name %}
          <li>
            <a href="{% url "organization_list" %}" {% if url_name == "organization_list" %} aria-selected="true" {% endif %}>
              {% translate "My organisations" %}
            </a>
          </li>
          {% if organization.code %}
            <li>
              <a href="{% url "account_detail" organization.code %}" {% if url_name == "account_detail" %} aria-selected="true" {% endif %}>
                {% translate "Profile" %}
              </a>
            </li>
          {% endif %}
          <li>
              <a href="{% url "logout" %}">{% translate "Logout" %}</a>
          </li>
        {% endwith %}
      </ul>
  </div>
</div>
{% else %}
  <div>
    <ul>
      <li>
        <a href="{% url "two_factor:login" %}" {% if "login" in request.path|urlencode %} aria-current="page"{% endif %}>
            {% translate "Login" %}
        </a>
      </li>
    </ul>
  </div>
{% endif %}
