{% load i18n %}

<div class="stepper">
  <ul>
    {% if steps %}
      {% for step in steps %}
        {% if forloop.counter == current_step %}
          <li aria-label="current-step">
            <a aria-current="true" href="{{ step.url }}">{{ step.text }}</a>
          </li>
        {% elif forloop.counter > current_step %}
          <li aria-label="step">{{ step.text }}</li>
        {% else %}
          <li aria-label="step">
            <a href="{{ step.url }}">{{ step.text }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
