{% load i18n %}
{% load humanize %}

{% if user.is_authenticated %}
    <div class="temporal-selector">
        <div class="dropdown">
            <button type="button"
                    aria-controls="temporal-selector"
                    aria-expanded="false"
                    {% if historic_view %}title="{{ observed_at }}"{% endif %}
                    class="dropdown-button ghost">
                {% if historic_view %}
                    {{ observed_at|naturaltime }}
                {% else %}
                    Now
                {% endif %}
                <span aria-hidden="true" class="icon ti-chevron-down"></span>
            </button>
            <ul id="temporal-selector" role="listbox" class="dropdown-list">
                {% for temporal_link in temporal_navigation %}
                    <li>
                        <a href="{{ temporal_link.url }}" role="option">
                            {% if temporal_link.label %}
                                <button>{{ temporal_link.label }}</button>
                            {% else %}
                                <button title="{{ temporal_link.timestamp }}">{{ temporal_link.timestamp|naturaltime }}</button>
                            {% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
