{% load i18n %}

{% if page_obj %}
    <nav class="pagination horizontal-view">
        <span class="current">{% translate 'Page' %} {{ page_obj.number }} {% translate 'of' %} {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% translate 'first' %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% translate 'previous' %}</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% translate 'next' %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% translate 'last' %} &raquo;</a>
        {% endif %}
    </nav>
{% endif %}
