{% load i18n %}

<div class="horizontal-scroll">
    <h2>{% translate 'Scans' %}</h2>

    <div class="filter">

        <div>
            <p>{% translate 'Filter' %}</p>
            <button aria-expanded="false"
                    data-hide-filters-label="{% translate 'Hide filters' %}">
              {% translate 'Show filters' %}
            </button>
        </div>

        <form action="" method="get" novalidate method="get">

            <fieldset>
                <label for="scan_history_from">{% translate 'From' %}</label>
                <input type="date" name="scan_history_from" id="scan_history-from" value="{{ request.GET.scan_history_from }}">
            </fieldset>

            <fieldset>
                <label for="scan_history_to">{% translate 'To' %}</label>
                <input type="date" name="scan_history_to" id="scan_history-to" value="{{ request.GET.scan_history_to }}">
            </fieldset>

            <fieldset>
                <label for="scan_history_status">{% translate 'Status' %}</label>
                <select name="scan_history_status" id="scan_history_status">
                    <option value="" disabled selected>{% translate 'Select status' %}</option>
                    <option value="completed" {% if request.GET.scan_history_status == 'completed' %}selected{% endif %}>{% translate 'Success' %}</option>
                    <option value="failed" {% if request.GET.scan_history_status == 'failed' %}selected{% endif %}>{% translate 'Failure' %}</option>
                </select>
            </fieldset>

            <fieldset>
                <label for"scan_history_search">{% translate 'Search' %}</label>
                <input type="text" name="scan_history_search" id="scan_history_search" value="{{ request.GET.scan_history_search }}" placeholder="{% translate 'Search by object name' %}">
            </fieldset>

            {% for key, value in request.GET.items %}
                {% if key not in scan_history_form_fields %}
                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                {% endif %}
            {% endfor %}

            <fieldset>
                <button type="submit">{% translate 'Submit' %}</button>
            </fieldset>

        </form>

    </div>

    {% if not scan_history %}
      {% translate 'No scans found for this object' %}
    {% else %}

      <table rf-selector="table-scan-history">
        <thead>
        <tr>
          <th scope="col">{% translate 'Object' %}</th>
          <th scope="col">{% translate 'Boefje' %}</th>
          <th scope="col">{% translate 'Status' %}</th>
          <th scope="col">{% translate 'Created date' %}</th>
          {# FIXME: implement detail page according to designs #}
          {# <th scope="col">{% translate 'Scan Details' %}</th> #}
        </tr>
        </thead>
        <tbody>
        {% for scan in scan_history %}
          <tr>
            <td>
              {% if scan.type == 'boefje' %}
                <a href="{% ooi_url 'ooi_detail' scan.p_item.data.input_ooi %}">{{ scan.p_item.data.input_ooi }}</a>
              {% elif scan.type == 'normalizer' %}
                <a href="{% ooi_url 'ooi_detail' scan.p_item.data.raw_data.boefje_meta.input_ooi %}">{{ scan.p_item.data.raw_data.boefje_meta.input_ooi }}</a>
              {% else %}
                {{ scan.id }}
              {% endif %}
            </td>
            <td>
              {% if scan.type == 'boefje' %}
                <a href="{% url 'plugin_detail' scan.type scan.p_item.data.boefje.id %}">{{ scan.p_item.data.boefje.name }}</a>
              {% elif scan.type == 'normalizer' %}
                <a href="{% url 'plugin_detail' scan.type scan.p_item.data.normalizer.id %}">{{ scan.p_item.data.normalizer.name }}</a>
              {% else %}
                {{ scan.id }}
              {% endif %}
            </td>

            {% if scan.status.value == 'completed' %}
              <td class="confirmation">{{ scan.status.value|capfirst }}</td>
            {% elif scan.status.value == 'failed' %}
              <td class="warning">{{ scan.status.value|capfirst }}</td>
            {% else %}
              <td>{{ scan.status.value|capfirst }}</td>
            {% endif %}

            <td>{{ scan.created_at }}</td>

            {# FIXME: implement detail page according to designs #}
            {# <td><a href="">{% translate 'View Details' %}</a></td> #}
          </tr>
        {% endfor %}
        </tbody>
      </table>

    {% endif %}

</div>

{% include 'partials/list_paginator.html' with page_obj=scan_history page_param='scan_history_page' %}
