{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}
{% block head %}
{{ block.super }}
<script defer src="{% static '/js/vendor/manon/form-help.min.js' %}"></script>
{% endblock %}

{% block content %}
{% include 'header.html' %}
<main>
  <section>
    <div class="form-view">
      <div>
        <h1>{% translate "Recover username" %}</h1>
        <p>Use the form below to send your username to your connected email address.</p>
        <form name="recover-username" id="form-recover-username" class="help" action="{% url 'recover_username' %}"
          method="post"> {% csrf_token %}
          {% translate "Recover username" as fieldset_legend %}
          {% include "partials/form/fieldset.html" with legend=fieldset_legend fieldset="recover_email" fields=form %}
          <div class="horizontal-view">
            <a href="{% url 'login' %}" class="button ghost back">{% translate "Back" %}</a>
            <button type="submit">{% translate "Recover" %}</button>
          </div>
        </form>
        <a href="{% url 'register' %}">New? Register instead</a>
      </div>
    </div>
  </section>
</main>
{% endblock %}
