{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Account details' %}</h1>
        <dl>
          <div>
            <dt>
              {% translate 'Username' %}
            </dt>
            <dd>
              {{ user }}
            </dd>
          </div>
          <div>
            <dt>
              {% translate 'Full name' %}
            </dt>
            <dd>
              {{ user.full_name }}
            </dd>
          </div>
          <div>
            <dt>
              {% translate  'E-mail address' %}
            </dt>
            <dd>
              {{ user.email }}
            </dd>
          </div>
          <div>
            <dt>
              {% translate 'Organization' %}
            </dt>
            <dd>
              {% spaceless %}
                {% if user.organizationmember.organization %}
                  {{ user.organizationmember.organization }}
                {% else %}
                  -
                {% endif %}
              {% endspaceless %}
            </dd>
          </div>
          {% if user.organizationmember.trusted_clearance_level > 0 %}
            <div>
              <dt>
                {% translate 'Permission to set OOI clearance levels ' %}
              </dt>
              <dd>
                L{{ user.organizationmember.acknowledged_clearance_level }}
              </dd>
            </div>
          {% endif %}
        </dl>
        <a class="button" href="{% url 'password_reset' %}">{% translate 'Reset password' %}</a>
        {% if user.organizationmember.trusted_clearance_level > 0 %}
          <h2>OOI clearance</h2>
          <p>
            You have currently accepted clearance up to level <strong>L{{ user.organizationmember.acknowledged_clearance_level }}</strong>
          </p>
          {% if user.organizationmember.acknowledged_clearance_level < user.organizationmember.trusted_clearance_level %}
            <p class="explanation">
              You are granted clearance for level 4 by an admin. Before you can change OOI clearance levels up to this level, you need to accept this permission. Beware: <strong>with great power comes great responsibility.</strong>
            </p>
            {% include 'partials/single_action_form.html' with btn_text="Accept level 4 clearance and responsibility" action='accept_clearance' key='member_id' value=user.organizationmember.id btn_class="ghost" %}
          {% else %}
            <p class="explanation">
              You can withdraw this at anytime you like, but know that you're not able to change clearance levels anymore when you do.
            </p>
            {% include 'partials/single_action_form.html' with btn_text="Withdraw acceptance up to level 4 clearance and responsibility" action='withdraw_acceptance' key='member_id' value=user.organizationmember.id btn_class="ghost" %}
          {% endif %}
        {% endif %}
      </div>
    </section>
  </main>
{% endblock %}
