{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content" tabindex="-1" class="crisisroom">
        <section>
            {% include "crisis_room_header.html" with active="dashboards" %}

        </section>
        <section>
            <div>
                <h2>{% translate "Dashboards" %}</h2>
                <p>
                    {% blocktranslate %}
                        On this page you can see an overview of the dashboards for all organizations.
                        **More context can be written here**
                    {% endblocktranslate %}
                </p>
            </div>
            {% for organization, organization_dashboards in organizations_dashboards.items %}
                <section>
                    <div>
                        <h3>{{ organization.name }} {% translate "dashboards" %}</h3>
                        {% for dashboards in organization_dashboards %}
                            {% for dashboard_data, report_data in dashboards.items %}
                                <section>
                                    <div>
                                        <h4>{{ dashboard_data }}</h4>
                                        {% if report_data %}
                                            {% include dashboard_data.template with data=report_data is_dashboard="yes" %}

                                        {% else %}
                                            <p>{% translate "There are no dashboards to display." %}</p>
                                        {% endif %}
                                    </div>
                                </section>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </section>
            {% endfor %}
        </section>
    </main>
{% endblock content %}
