{% load i18n %}
{% load static %}
{% load compress %}
{% load component_tags %}

<div>
    <h1>{% translate "Crisis room" %}</h1>
    <nav class="tabs" aria-label="{% translate "Crisis room navigation" %}">
        <ul>
            {% for dashboard_name in all_dashboard_names %}
                <li {% if active == dashboard_name %}aria-current="page"{% endif %}>
                    <a href="{% url "organization_crisis_room" organization_code=organization.code %}?dashboard={{ dashboard_name }}">{{ dashboard_name }}</a>
                </li>
            {% endfor %}
            {% if request.user.can_add_dashboard %}
                <li>
                    <a href="#new-dashboard">+ {% translate "Add dashboard" %}</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% include "partials/new_dashboard_modal.html" %}

</div>
{% block html_at_end_body %}
    {% compress js %}
        <script src="{% static "modal/script.js" %}" nonce="{{ request.csp_nonce }}" type="module"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
