{% load i18n %}
{% load static %}

{% if dashboard %}
    <div class="fifty-fifty">
        <div>
            <h2>{{ dashboard.name }}</h2>
        </div>
        <div class="horizontal-view toolbar">
            <a class="button ghost" href="">{% translate "Add item" %}</a>
        </div>
    </div>
    <div>
        {% if dashboard_data %}
            {% include dashboard_data.dashboard_data.template with data=dashboard_data.data ooi_list=dashboard_data.ooi_list is_dashboard="yes" %}

        {% else %}
            <p>
                {% blocktranslate trimmed %}
                    There are not dashboard items to display here.
                    Click on the "Add item" button to add items to this dashboard.
                {% endblocktranslate %}
            </p>
        {% endif %}
    </div>
{% else %}
    <p>
        {% blocktranslate trimmed %}
            There are no dashboards yet.
            Click on "New dashboard" to create a new dashboard.
        {% endblocktranslate %}
    </p>
{% endif %}
