{% load i18n %}
{% load static %}

{% if dashboard %}
    <div>
        <h2>{{ dashboard.name }}</h2>
        {% if dashboard_data %}
            {% for dashboard, data in dashboard_data.items %}
                {% include dashboard.template with data=data ooi_list=data.ooi_list is_dashboard="yes" %}

            {% endfor %}
        {% else %}
            <p>
                {% blocktranslate trimmed %}
                    There are no dashboard items to display here.
                    You can add an item via the filter on the object page.
                {% endblocktranslate %}
            </p>
            <a class="button ghost"
               href="{% url "ooi_list" organization_code=organization.code %}">
                {% translate "Go to objects" %}
                <span class="icon ti-chevron-right" aria-hidden="true"></span>
            </a>
        {% endif %}
    </div>
{% else %}
    <p>
        {% blocktranslate trimmed %}
            There are no dashboards yet.
            Click on "Add dashboard" to create a new dashboard.
        {% endblocktranslate %}
    </p>
{% endif %}
