{% load i18n %}

<div class="horizontal-scroll">
    <h2>{% translate "Tasks" %}</h2>
    {% if not task_history %}
        {% translate "No tasks found for this object." %}
    {% else %}
        <table rf-selector="table-scan-history">
            <thead>
                <tr>
                    <th scope="col">{% translate "Normalizer" %}</th>
                    <th scope="col">{% translate "Status" %}</th>
                    <th scope="col">{% translate "Created date" %}</th>
                    <th scope="col">{% translate "Boefje" %}</th>
                    <th scope="col">{% translate "Boefje input OOI" %}</th>
                    <th scope="col" class="visually-hidden">{% translate "Details" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_history %}
                    <tr data-task-id="{{ task.id }}">
                        <td>
                            <a href="{% url "normalizer_detail" organization.code task.p_item.data.normalizer.id %}">{{ task.p_item.data.normalizer.id }}</a>
                        </td>
                        <td class="nowrap">
                            {% if task.status.value == "pending" or task.status.value == "queued" %}
                                <i class="icon queued"></i>&nbsp;{{ task.status.value|capfirst }}
                            {% elif task.status.value == "running" or task.status.value == "dispatched" %}
                                <i class="icon running"></i>&nbsp;{{ task.status.value|capfirst }}
                            {% elif task.status.value == "cancelled" %}
                                <i class="icon cancelled"></i>&nbsp;{{ task.status.value|capfirst }}
                            {% elif task.status.value == "failed" %}
                                <i class="icon negative"></i>&nbsp;{{ task.status.value|capfirst }}
                            {% elif task.status.value == "completed" %}
                                <i class="icon positive"></i>&nbsp;{{ task.status.value|capfirst }}
                            {% else %}
                                <i class="icon neutral"></i>&nbsp;{{ task.status.value|capfirst }}
                            {% endif %}
                        </td>
                        <td>{{ task.created_at }}</td>
                        <td>
                            <a href="{% url "boefje_detail" organization.code task.p_item.data.raw_data.boefje_meta.boefje.id %}">{{ task.p_item.data.raw_data.boefje_meta.boefje.id }}</a>
                        </td>
                        <td>
                            <a href="{% ooi_url "ooi_detail" task.p_item.data.raw_data.boefje_meta.input_ooi organization.code observed_at=task.created_at|date:'c' %}">{{ task.p_item.data.raw_data.boefje_meta.input_ooi }}</a>
                        </td>
                        {# FIXME: implement detail page according to designs #}
                        <td>
                            <button type="button"
                                    class="expando-button normalizer-list-table-row"
                                    data-icon-open-class="icon ti-chevron-down"
                                    data-icon-close-class="icon ti-chevron-up"
                                    data-close-label="{% translate "Close details" %}">
                                {% translate "Open details" %}
                            </button>
                        </td>
                    </tr>
                    <tr class="expando-row">
                        <td colspan="7">
                            <section>
                                <div id="yielded-objects-{{ task.id }}">
                                    <h2>{% translate "Yielded objects" %}</h2>
                                </div>
                            </section>
                            <br>
                            <section>
                                <div>
                                    <div class="button-container">
                                        {% if task.status.value in "completed,failed" %}
                                            <a class="button"
                                               href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=task.p_item.data.raw_data.boefje_meta.id %}"><span class="icon ti-download"></span>{% translate "Download meta and raw data" %}</a>
                                            {% include "partials/single_action_form.html" with btn_text=_("Reschedule") btn_class="ghost" btn_icon="icon ti-refresh" action="reschedule_task" key="task_id" value=task.id %}

                                        {% else %}
                                            <a class="button"
                                               href="{% url 'download_task_meta' organization_code=organization.code task_id=task.id %}"><span class="icon ti-download"></span>{% translate "Download task data" %}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </section>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% include "partials/list_paginator.html" with page_obj=task_history page_param="task_history_page" %}
