<section>
    <div>
        <h2>Stats - Last 24 hours</h2>
        <div id="stats-graph">
            <table class="charts-css column hide-data show-heading show-labels show-primary-axis show-3-secondary-axes data-spacing-10 multiple stacked">
                <caption>All times in UTC, blocks of 1 hour.</caption>
                <thead>
                    <tr>
                        <th scope="col"> Timeslot </th>
                        <th scope="col"> pending </th>
                        <th scope="col"> queued </th>
                        <th scope="col"> dispatched </th>
                        <th scope="col"> running </th>
                        <th scope="col"> completed </th>
                        <th scope="col"> failed </th>
                        <th scope="col"> cancelled </th>
                    </tr>
                </thead>
                <tbody>
                    {% for timestamp, values in  stats.items %}
                    <tr>
                        <th scope="row"> {{timestamp}}: </th> 
                        <td style="--size: calc({{ values.pending}} / 150);">
                            <span class="data"> {{ values.pending}} </span>
                        </td>
                        
                        <td style="--size: calc({{ values.queued}} / 150);">
                            <span class="data"> {{ values.queued}} </span>
                        </td>

                        <td style="--size: calc({{ values.dispatched}} / 150);">
                            <span class="data"> {{ values.dispatched}} </span>
                        </td>

                        <td style="--size: calc({{ values.running}} / 150);">
                            <span class="data"> {{ values.running}} </span>
                        </td>

                        <td style="--size: calc({{ values.completed}} / 150);">
                            <span class="data"> {{ values.completed}} </span>
                        </td>

                        <td style="--size: calc({{ values.failed}} / 150);">
                            <span class="data"> {{ values.failed}} </span>
                        </td>

                        <td style="--size: calc({{ values.cancelled}} / 150);">
                            <span class="data"> {{ values.cancelled}} </span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
