{% load i18n %}

{% if task.type == "normalizer" %}
    <section>
        <div id="yielded-objects-{{ task.id }}">
            <h2>{% translate "Yielded objects" %}</h2>
        </div>
    </section>
    <br>
{% endif %}
<section>
    <div class="button-container">
        {% if task.status.value in "completed,failed" %}
            {% if task.type == "normalizer" %}
                <a class="button"
                   href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=task.data.raw_data.boefje_meta.id %}"><span class="icon ti-download"></span>{% translate "Download meta and raw data" %}</a>
                {% include "partials/single_action_form.html" with btn_text=_("Reschedule") btn_class="ghost" btn_icon="icon ti-refresh" action="reschedule_task" key="task_id" value=task.id %}

            {% elif task.type == "boefje" %}
                <a class="button"
                   href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=task.id %}"><span class="icon ti-download"></span>{% translate "Download meta and raw data" %}</a>
                {% include "partials/single_action_form.html" with btn_text=_("Reschedule") btn_class="ghost" btn_icon="icon ti-refresh" action="reschedule_task" key="task_id" value=task.id %}

            {% endif %}
        {% else %}
            <a class="button"
               href="{% url 'download_task_meta' organization_code=organization.code task_id=task.id %}"><span class="icon ti-download"></span>{% translate "Download task data" %}</a>
        {% endif %}
    </div>
</section>
