{% load i18n %}

{% if task.status.value == "pending" or task.status.value == "queued" %}
    <i class="icon queued"></i>&nbsp;{{ task.status.value|capfirst }}
{% elif task.status.value == "running" or task.status.value == "dispatched" %}
    <i class="icon running"></i>&nbsp;{{ task.status.value|capfirst }}
{% elif task.status.value == "cancelled" %}
    <i class="icon cancelled"></i>&nbsp;{{ task.status.value|capfirst }}
{% elif task.status.value == "failed" %}
    <i class="icon negative"></i>&nbsp;{{ task.status.value|capfirst }}
{% elif task.status.value == "completed" %}
    <i class="icon positive"></i>&nbsp;{{ task.status.value|capfirst }}
{% else %}
    <i class="icon neutral"></i>&nbsp;{{ task.status.value|capfirst }}
{% endif %}
