**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
Dockerfile
bytes-data
.dockerignore
.github
.env-dist
.env
.gitignore
.ci
Makefile
packaging
README.*
sql_migrations
docs
assets/dist
static
.parcel-cache
*.egg-info
