**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
.venv
**/.DS_Store
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
.benchmarks
MANIFEST.in
.claude
.env.local
.ruff_cache
.idea
node_modules
docker-compose*
.editorconfig
rfd
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
Dockerfile
bytes-data
.dockerignore
.github
.env-dist
.env
.gitignore
.ci
Makefile
packaging
debian
README.*
sql_migrations
docs
assets/dist
static
media
.parcel-cache
*.egg-info
 .pre-commit-config.yaml
plugins/private.plugin.ec.key
plugins/public.plugin.pem
