# Ignore any upstream gitignore pattern for "lib". This is included because "lib" is an important
# folder in scaffolded `dg` projects, but "lib" is also present in Github's default gitignore file
# for Python projects.
!lib
**/__pycache__
.env
.env.local
.venv
.idea
dist
assets/dist

db.sqlite3
static
media
database.env
package-lock.json
.email_logs
*.sqlite3
*.sql
**/kat_rpki/bgp.jsonl
**/kat_rpki/bgp-meta.json
**/kat_rpki/rpki.json
**/kat_rpki/rpki-meta.json
plugins/plugins/entrypoint/main

# Translations
*.mo
node_modules
.parcel-cache
*.egg-info
.DS_Store
coverage.xml
.coverage*
.python-version
.benchmarks
