exclude: |
  /\.venv/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.1.1
    hooks:
      - id: rstcheck
        additional_dependencies: ["rstcheck[sphinx]"]

  - repo: https://github.com/psf/black
    rev: "22.10.0"
    hooks:
      - id: black

  - repo: https://github.com/PyCQA/flake8
    rev: "5.0.4"
    hooks:
      - id: flake8
        additional_dependencies: ["flake8-tidy-imports", "flake8-eradicate"]

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.6
    hooks:
      - id: vulture
        exclude: |
          /tests/

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.10.1
    hooks:
      - id: validate-pyproject
        files: pyproject.toml$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.991
    hooks:
      - id: mypy
        additional_dependencies: ['types-PyYAML', 'types-requests', 'pydantic', 'pynacl']
        exclude: |
          (?x)(
          ^boefjes/ |
          ^keiko/templates |
          ^mula/whitelist\.py$ |
          ^octopoes/ |
          ^rocky/ |
          /tests/ |
          docs/source/conf\.py$ |
          setup\.py$
          )

  - repo: https://github.com/MarketSquare/robotframework-tidy
    rev: "3.3.2"
    hooks:
      - id: robotidy
