repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: mixed-line-ending
        args: ["--fix=lf"]
      - id: detect-private-key
        exclude: ^boefjes/boefjes/plugins/kat_cve_2023_34039/keys/
      - id: check-case-conflict
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: debug-statements
        exclude: |
          (?x)(
          ^boefjes/tools |
          ^octopoes/tools
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)(
          \.svcg$ |
          ^boefjes/tests/examples/rdns-nxdomain.txt$ |
          ^boefjes/tests/examples/raw/
          )
      - id: fix-byte-order-marker
      - id: pretty-format-json
        args: ["--autofix", "--no-ensure-ascii", "--no-sort-keys"]
        exclude: |
          (?x)(
          ^boefjes/boefjes/plugins/kat_wappalyzer/technologies.json |
          )

  - repo: https://github.com/abravalheri/validate-pyproject
    rev: v0.23
    hooks:
      - id: validate-pyproject
        files: pyproject.toml$

  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.4
    hooks:
      - id: rstcheck
        # https://github.com/rstcheck/rstcheck-core/issues/4
        args:
          [
            "--ignore-messages",
            "Hyperlink target .* is not referenced",
            "--ignore-directives",
            "mermaid,automodule",
          ]
        additional_dependencies: ["rstcheck[sphinx]", "autodoc-pydantic==2.1.0"]

  - repo: https://github.com/MarketSquare/robotframework-tidy
    rev: "4.14.0"
    hooks:
      - id: robotidy

  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.13
    hooks:
      - id: vulture
        exclude: |
          /tests/

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.8.1"
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.19.0
    hooks:
      - id: pyupgrade
        args: [--py310-plus]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.22.1
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.0"]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        additional_dependencies:
          - types-pyyaml
          - types-cachetools
          - types-retry
          - pydantic
          - pynacl
          - httpx
          - types-python-dateutil
          - types-requests
          - types-croniter
          - boto3-stubs[s3]
        exclude: |
          (?x)(
          ^boefjes/tools |
          ^keiko/templates |
          ^mula/whitelist\.py$ |
          ^mula/scripts |
          ^octopoes/tools |
          ^rocky/whitelist\.py$ |
          /tests/ |
          docs/source/conf\.py$ |
          setup\.py$
          )

  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies: ["tomli"]
        args: ["-L", "lama", "--ignore-regex", ".{1024}|.*codespell-ignore.*"]
        exclude: |
          (?x)(
          \.po$ |
          \.xml$ |
          \.svg$ |
          poetry.lock$ |
          pyproject.toml$ |
          requirements-.*.txt$ |
          retirejs.json$ |
          ^boefjes/boefjes/plugins/kat_fierce/lists |
          ^boefjes/boefjes/plugins/kat_wappalyzer/data/.*.json |
          ^boefjes/tests/examples/inputs/cve-result-without-cvss.json |
          ^boefjes/tests/examples |
          ^keiko/glossaries |
          ^keiko/templates/.*/template.tex$ |
          ^rocky/assets/js/vendor |
          ^rocky/assets/css/themes/soft/fonts/tabler-icons/tabler-icons.scss$ |
          ^rocky/tests/stubs |
          ^rocky/reports/report_types/aggregate_organisation_report |
          ^rocky/reports/report_types/multi_organization_report |
          ^docs/source/_static |
          ^boefjes/boefjes/plugins/kat_cve_2023_34039/keys/ |
          ^boefjes/boefjes/plugins/kat_rpki/rpki.json
          )

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.36.3
    hooks:
      - id: djlint-reformat-django
        files: |
          (?x)(
          ^rocky/.*/templates/.*$ |
          ^rocky/reports/report_types/.*/.*\.html
          )
        exclude: '^rocky/rocky/templates/admin/.*\.html$'

      - id: djlint-django
        files: |
          (?x)(
          ^rocky/.*/templates/.*$ |
          ^rocky/reports/report_types/.*/.*\.html
          )
        exclude: '^rocky/rocky/templates/admin/.*\.html$'

  - repo: https://github.com/thibaudcolas/pre-commit-stylelint
    rev: v16.10.0
    hooks:
      - id: stylelint
        args: [--fix]
        additional_dependencies:
          - stylelint@15.10.1
          - stylelint-config-standard-scss@10.0.0
        files: "^(rocky\/assets\/css\/|docs\/source\/).*.(css|scss|sass)$"

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ["-e", "SC1091"]

  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.10.0-1
    hooks:
      - id: shfmt
        args: ["-w", "-s", "-i", "4", "-sr"]

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.2.5 # SEE: https://github.com/pre-commit/pre-commit/issues/3133
        exclude: |
          (?x)(
          \.html$ |
          \.json$ |
          \.min\.js$ |
          ^rocky/assets/css/themes/soft/fonts |
          ^rocky/assets/vendors |
          ^docs/source/_static
          )
