version: "3.9"

services:
  rabbitmq:
    restart: on-failure
    image: "rabbitmq:3.9-management"
    ports:
      - "127.0.0.1:5672:5672"
      - "127.0.0.1:15672:15672"
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 5s
      retries: 10
    env_file:
      - .env

  postgres:
    image: postgres:12
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
    env_file:
      - .env
    environment:
      APPS: "ROCKY BYTES KATALOGUS SCHEDULER"

  crux:
    image: "ghcr.io/dekkers/xtdb-http-multinode:main"
    restart: on-failure
    ports:
      - "127.0.0.1:3000:3000"
    volumes:
      - xtdb-data:/var/lib/xtdb

  octopoes_api:
    restart: on-failure
    depends_on:
      - crux
    ports:
      - "127.0.0.1:8001:80"
    build:
      context: octopoes/
      args:
        ENVIRONMENT: dev
    command: uvicorn octopoes.api.api:app --host 0.0.0.0 --port 80 --reload --reload-dir /app/octopoes/octopoes
    env_file:
      - .env
    volumes:
      - ./octopoes:/app/octopoes

  octopoes_api_worker:
    restart: on-failure
    depends_on:
      - crux
      - rabbitmq
    build:
      context: octopoes/
      args:
        ENVIRONMENT: dev
    command: worker-beat
    env_file:
      - .env
    volumes:
      - ./octopoes:/app/octopoes

  boefje:
    restart: on-failure
    depends_on:
      - rabbitmq
      - bytes
    build:
      context: .
      dockerfile: boefjes/Dockerfile
      args:
        ENVIRONMENT: dev
    volumes:
      - ./boefjes:/app/boefjes
      - /var/run/docker.sock:/var/run/docker.sock
    deploy:
      replicas: 1
    command: boefje
    env_file:
      - .env

  normalizer:
    restart: on-failure
    depends_on:
      - rabbitmq
      - bytes
    build:
      context: .
      dockerfile: boefjes/Dockerfile
      args:
        ENVIRONMENT: dev
    volumes:
      - ./boefjes:/app/boefjes
    deploy:
      replicas: 1
    command: normalizer
    env_file:
      - .env

  rocky:
    restart: on-failure
    depends_on:
      - octopoes_api_worker
      - octopoes_api
      - postgres
      - boefje
      - normalizer
      - katalogus
      - scheduler
      - keiko
    ports:
      - "127.0.0.1:8000:80"
    build:
      context: .
      dockerfile: rocky/Dockerfile
      args:
        ENVIRONMENT: dev
    command: python3 manage.py runserver 0.0.0.0:80
    volumes:
      - ./rocky:/app/rocky
    env_file:
      - .env

  bytes:
    restart: on-failure
    depends_on:
      - postgres
    ports:
      - "127.0.0.1:8002:8000"
    build:
      context: bytes/
      args:
        ENVIRONMENT: dev
    command: uvicorn bytes.api:app --host 0.0.0.0 --port 8000 --reload --reload-dir /app/bytes/bytes
    volumes:
      - ./bytes:/app/bytes
      - bytes-data:/data
    env_file:
      - .env

  katalogus:
    restart: on-failure
    depends_on:
      - postgres
    build:
      context: .
      dockerfile: boefjes/Dockerfile
      args:
        ENVIRONMENT: dev
    command: uvicorn boefjes.katalogus.api:app --host 0.0.0.0 --port 8000 --reload --reload-dir /app/boefjes/boefjes/katalogus
    volumes:
      - ./boefjes:/app/boefjes
    ports:
      - "127.0.0.1:8003:8000"
    env_file:
      - .env

  scheduler:
    restart: on-failure
    build:
      context: mula/
      args:
        ENVIRONMENT: dev
    ports:
      - "127.0.0.1:8004:8000"
    env_file:
      - .env
    volumes:
      - ./mula:/app/scheduler
    depends_on:
      - postgres
      - boefje
      - normalizer
      - octopoes_api
      - katalogus

  keiko:
    restart: on-failure
    build:
      context: keiko/
    ports:
      - "127.0.0.1:8005:8000"
    command: uvicorn keiko.app:api --host 0.0.0.0 --port 8000 --reload --reload-dir /app/keiko/keiko
    env_file:
      - .env
    volumes:
      - ./keiko:/app/keiko
      - keiko-reports:/reports

volumes:
  postgres-data:
  bytes-data:
  keiko-reports:
  xtdb-data:
