services:
  redis:
    restart: unless-stopped
    image: docker.io/library/redis:8.0.3-alpine
    command:
      - /bin/sh
      - -c
      - redis-server --requirepass "$${REDIS_PASSWORD}"
    healthcheck:
      test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
      interval: 5s
      retries: 10
    env_file:
      - .env

  postgres:
    restart: unless-stopped
    image: docker.io/library/postgres:15
    shm_size: 256MB
    healthcheck:
      test: ["CMD", "gosu", "postgres", "pg_isready"]
      interval: 10s
      retries: 10
    command: -c max_connections=500
    volumes:
      - postgres-data:/var/lib/postgresql/data
    env_file:
      - .env

  xtdb:
    image: "ghcr.io/xtdb/xtdb:nightly-20251010"
    restart: unless-stopped
    volumes:
      - xtdb-data:/var/lib/xtdb
    environment:
      - XTDB_LOGGING_LEVEL=DEBUG

  openkat:
    restart: unless-stopped
    depends_on:
      - postgres
      - xtdb
    image: "ghcr.io/minvws/nl-kat-openkat:branch-v2"
    ports:
      - "127.0.0.1:8000:8000"
    command: web
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    environment:
      - HOST_MOUNT_DIR=${PWD}
    networks:
      - default
      - plugins

  worker:
    restart: unless-stopped
    depends_on:
      - postgres
      - xtdb
    image: "ghcr.io/minvws/nl-kat-openkat:branch-v2"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: worker
    env_file:
      - .env
    environment:
      - DATABASE_MIGRATION=false
      - HOST_MOUNT_DIR=${PWD}

networks:
  default:
    enable_ipv6: true
    ipam:
      config:
        - subnet: 2001:db8:d0ca::/64
        - subnet: 172.29.0.0/16
          gateway: 172.29.0.1
  plugins:
    name: openkat-plugin-network
    enable_ipv6: true
    ipam:
      config:
        - subnet: 2001:db8:d0cb::/64
        - subnet: 172.28.0.0/16
          gateway: 172.28.0.1

volumes:
  postgres-data:
  xtdb-data:
