[tool.black]
line-length = 120
target-version = ['py38']

[tool.mypy]
python_version = 3.8
strict = false
install_types = true
non_interactive = true
ignore_missing_imports = true
implicit_reexport = true
exclude = "alembic"

[tool.pylint.master]
fail-under=7.0
max-line-length=120
check-quote-consistency=true
extension-pkg-whitelist = [
    "pydantic",
    "mmh3"
]
disable = [
    "missing-module-docstring",
    "missing-class-docstring",
    "missing-function-docstring",
    "too-few-public-methods",
    "cyclic-import",
    "fixme",
    "invalid-name",
]

[build-system]
requires = ["setuptools>=59", "wheel", "setuptools_scm[toml]>=6.2"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.setuptools_scm]
version_scheme = "python-simplified-semver"
local_scheme = "no-local-version"