[tool.black]
target-version = ["py38"]
line-length = 120

[tool.mypy]
python_version = "3.8"
plugins = ["pydantic.mypy"]
strict = false
ignore_missing_imports = true
follow_imports = "skip"
disallow_untyped_decorators = false # Needed for FastAPI decorators

[tool.setuptools_scm]
write_to = "_version.py"

[tool.vulture]
min_confidence = 90
exclude = ["/tests/", "*venv*"]
paths = ["."]


[tool.ruff]
# Enable classic flake8, pyflakes, eradicate, and tidyimport
# To be extended with DJ, PT, RUF, C90, D, PL, RET
select = ["E", "F", "ERA", "W", "TID", "I", "G", "INP", "T20", "UP", "ISC", "PTH", "SIM", "PLC", "A"]
# non-pep585-annotation and non-pep604-annotation are not actually compatible with 3.8
ignore = ["UP006", "UP007", "A003"]
fix = true

# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "old",
    "dist",
    "node_modules",
    "venv",
    "__pycache__"

]

# Same as Black.
line-length = 120

# Support Python 3.8 and higher
target-version = "py38"

# Add "Example" to allowed code comments
task-tags = ["Example", "todo", "TODO", "FIXME"]


[tool.ruff.per-file-ignores]
"__init__.py" = ["F401","F403"]
"whitelist.py" = ["F821", "INP"]
"rocky/*/migrations/*.py" = ["E501"]
"octopoes/bits/check_csp_header/check_csp_header.py" = ["ERA001"]
"boefjes/boefjes/plugins/kat_binaryedge/http_web/normalize.py" = ["ERA001"]
"*/packaging/*" = ["INP"]
"*/.ci/*" = ["INP"]
"conf.py" = ["INP", "PTH", "A"]
"conftest.py" = ["INP"]
"setup.py" = ["INP"]
"manage.py" = ["INP"]
"*/tests/*" = ["T20"]
"boefjes/boefjes/plugins/*" = ["PTH"]
"scripts/*.py" = ["INP001", "T201"]
"cveapi/cveapi.py" = ["INP001"]

[tool.ruff.flake8-tidy-imports]
[tool.ruff.flake8-tidy-imports.banned-api]
"rocky.settings".msg = "Use django.conf.settings"

[tool.codespell]
ignore-words-list = 'edn,juxt'

[tool.poetry]
name = "openkat"
version = "0.0.1.dev1"
description = "OpenKAT Coordination package"
authors = ["MinVWS <maintainer@openkat.nl>"]
license = "EUPL"
readme = "README.rst"

[build-system]
requires = ["poetry-core>=1.0.0","setuptools>=65", "setuptools_scm[toml]>=7.1"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.8"
sphinx = "6.1.3"
sphinx_rtd_theme = "1.2.2"
sphinxcontrib-mermaid = "0.8.1"
myst-parser = "2.0.0"

[tool.poetry.group.dev.dependencies]
pre-commit = "3.2.2"
