alembic==1.8.1
click==8.0.3
dnspython==2.1.0
jsonschema==4.16.0
pydantic==1.8.2
docker==5.0.2
requests==2.28.1
fastapi==0.85.1
uvicorn==0.19.0
psycopg2-binary==2.9.5
pylxd==2.3.1
pynacl==1.5.0
sqlalchemy==1.4.42
git+https://github.com/minvws/nl-kat-octopoes@v1.3.0
