{% load i18n %}
{% load static %}

{% spaceless %}
  <div class="horizontal-view toolbar">
    <div class="dropdown">
      <button aria-controls="export-add" class="dropdown-button ghost">{% translate 'Add' %}<span aria-hidden="true" class="icon ti-chevron-down"></span>
      </button>
      <ul id="export-add" aria-expanded="false" class="dropdown-list">
        <li>
          <a href="{% url 'ooi_add_type_select' %}">{% translate 'Add object' %}</a>
        </li>
        <li>
          <a href="{% url 'scan_list' %}">{% translate 'Scan for objects' %}</a>
        </li>
        <li>
          <a href="{% url 'upload' %}">{% translate 'Upload CSV' %}</a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button aria-controls="export-dropdown" class="dropdown-button ghost">
        {% translate 'Export' %}
        <span aria-hidden="true" class="icon ti-chevron-down"></span>
      </button>
      <ul id="export-dropdown" aria-expanded="false" class="dropdown-list">
        <li>
          <a href="{% url 'ooi_list_export' %}?{% url_replace 'file_type' 'json' %}">{% translate 'Download as JSON' %}</a>
        </li>
        <li>
          <a href="{% url 'ooi_list_export' %}?{% url_replace 'file_type' 'csv' %}">{% translate 'Download as CSV' %}</a>
        </li>
      </ul>
    </div>
  </div>
{% endspaceless %}
