{% load i18n %}

{% if object_type_filters %}
	<section>
		<div>
			<h1>{% translate 'Quickly filter by type' %}</h1>

			<nav>
				<ul class="column-4">
					{% with 'ooi_type' as ignore_params %}
						{% for filter in object_type_filters %}
							<li>
								<a href="{% if ooi_id %}{% url request.resolver_match.url_name ooi_id %}{% else %}{% url request.resolver_match.url_name %}{% endif %}?ooi_type={{ filter.value }}&{% include "partials/elements/href_querystring_from_list.html" with list=mandatory_fields %}"
								title="{% translate 'Filter by' %} {{ filter.label}}"
								>{{ filter.label }}</a>
							</li>
						{% endfor %}
					{% endwith %}
				</ul>
			</nav>
		</div>
	</section>
{% endif %}
