{% load i18n %}
<div class="horizontal-scroll">
  <table>
    <thead>
      <tr>
        <th>{% translate 'Severity' %}</th>
        <th>{% translate 'Unique' %}</th>
        <th>{% translate 'Total occurrences' %}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <span class="critical">critical</span>
        </td>
        <td class="number">{{ meta.total_by_severity_per_finding_type.critical }}</td>
        <td class="number">{{ meta.total_by_severity.critical }}</td>
      </tr>
      <tr>
        <td>
          <span class="high">high</span>
        </td>
        <td class="number">{{ meta.total_by_severity_per_finding_type.high }}</td>
        <td class="number">{{ meta.total_by_severity.high }}</td>
      </tr>
      <tr>
        <td>
          <span class="medium">medium</span>
        </td>
        <td class="number">{{ meta.total_by_severity_per_finding_type.medium }}</td>
        <td class="number">{{ meta.total_by_severity.medium }}</td>
      </tr>
      <tr>
        <td>
          <span class="low">low</span>
        </td>
        <td class="number">{{ meta.total_by_severity_per_finding_type.low }}</td>
        <td class="number">{{ meta.total_by_severity.low }}</td>
      </tr>
      <tr>
        <td>
          <span class="recommendation">recommendation</span>
        </td>
        <td class="number">{{ meta.total_by_severity_per_finding_type.recommendation }}</td>
        <td class="number">{{ meta.total_by_severity.recommendation }}</td>
      </tr>
      <tfoot>
        <tr>
          <td>total findings</td>
          <td class="number">{{ meta.total_finding_types }}</td>
          <td class="number">{{ meta.total }}</td>
        </tr>
      </tfoot>
    </tbody>
  </table>
</div>
