{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Findings @ " %}{{ observed_at|date }}</h1>
                <p>
                    {% blocktranslate trimmed with organization.name as organization_name %}
                        An overview of all findings OpenKAT found for organization <strong>{{ organization_name }}</strong>.
                        Each finding relates to an object. Click a finding for additional information.
                    {% endblocktranslate %}
                </p>
                {% include "partials/findings_list_toolbar.html" %}
                {% include "findings/findings_filter.html" %}

                {% translate "Object list" as filter_title %}
                {% if object_list|length > 1 and perms.tools.can_mute_findings %}
                    <form method="post"
                          id="finding-list-form"
                          class="inline layout-wide"
                          action="{% url 'finding_mute_bulk' organization.code %}">
                        {% csrf_token %}
                    {% endif %}
                    <p class="de-emphasized">
                        {% translate "Showing " %}{{ object_list|length }} {% translate "of" %} {{ paginator.count }} {% translate "findings" %}
                    </p>
                    <div class="horizontal-scroll sticky-column">
                        <table class="action-buttons nowrap">
                            <caption class="visually-hidden">
                                {% translate "Findings table " %}
                                <span class="visually-hidden">, {% translate "column headers with buttons are sortable" %}</span>
                            </caption>
                            <thead>
                                <tr>
                                    {% if object_list|length > 1 and perms.tools.can_mute_findings %}
                                        <th>
                                            <input class="toggle-all" data-toggle-target="finding" type="checkbox">
                                        </th>
                                    {% endif %}
                                    <th scope="col"
                                        class="sortable"
                                        {% if order_by == "score" %}aria-sort="{{ sorting_order_class }}"{% endif %}>
                                        <button form="finding-list" name="order_by" value="score" class="sort">
                                            {% translate "Severity" %}
                                            <span aria-hidden="true"
                                                  class="icon ti-{% if order_by == "score" and sorting_order == "asc" %}chevron-up{% elif order_by == "score" and sorting_order == "desc" %}chevron-down{% else %}direction{% endif %}"></span>
                                        </button>
                                    </th>
                                    <th scope="col"
                                        class="sortable"
                                        {% if order_by == "finding_type" %}aria-sort="{{ sorting_order_class }}"{% endif %}>
                                        <button form="finding-list" name="order_by" value="finding_type" class="sort">
                                            {% translate "Finding" %}
                                            <span aria-hidden="true"
                                                  class="icon ti-{% if order_by == "finding_type" and sorting_order == "asc" %}chevron-up{% elif order_by == "finding_type" and sorting_order == "desc" %}chevron-down{% else %}direction{% endif %}"></span>
                                        </button>
                                    </th>
                                    <th>{% translate "Location" %}</th>
                                    <th>{% translate "Tree" %}</th>
                                    <th>{% translate "Graph" %}</th>
                                    <th class="sticky-cell visually-hidden actions">{% translate "Details" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hydrated_finding in object_list %}
                                    <tr>
                                        {% if object_list|length > 1 and perms.tools.can_mute_findings %}
                                            <td>
                                                <input type="checkbox"
                                                       name="finding"
                                                       value="{{ hydrated_finding.finding.primary_key }}">
                                            </td>
                                        {% endif %}
                                        <td>
                                            <span class="{{ hydrated_finding.finding_type.risk_severity.value|lower }}">{{ hydrated_finding.finding_type.risk_severity.value|capfirst }}</span>
                                        </td>
                                        <td>
                                            {% if hydrated_finding.finding_type.name %}
                                                <a href="{% ooi_url "ooi_detail" hydrated_finding.finding.primary_key organization.code query=mandatory_fields %}"
                                                   title="{% blocktranslate trimmed with finding=hydrated_finding.finding_type.name %} Show details for {{ finding }} {% endblocktranslate %}">{{ hydrated_finding.finding_type.name }}</a>
                                            {% else %}
                                                <a href="{% ooi_url "ooi_detail" hydrated_finding.finding.primary_key organization.code query=mandatory_fields %}"
                                                   title="{% blocktranslate trimmed with finding=hydrated_finding.finding.finding_type %} Show details for {{ finding }} {% endblocktranslate %}">{{ hydrated_finding.finding.finding_type.human_readable }}</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% ooi_url "ooi_detail" hydrated_finding.finding.ooi organization.code query=mandatory_fields %}"
                                               title="{% blocktranslate trimmed with finding=hydrated_finding.finding.primary_key %} Show details for {{ finding }} {% endblocktranslate %}">{{ hydrated_finding.finding.ooi.human_readable }}</a>
                                        </td>
                                        <td class="actions">
                                            <a aria-label="Navigate to tree view of {{ hydrated_finding.finding.human_readable }}"
                                               class="icon ti-subtask button"
                                               href="{% ooi_url 'ooi_tree' hydrated_finding.finding.primary_key organization.code query=mandatory_fields %}">{% translate "Tree" %}</a>
                                        </td>
                                        <td class="actions">
                                            <a aria-label="Navigate to graph view of {{ hydrated_finding.finding.human_readable }}"
                                               class="icon ti-affiliate button"
                                               href="{% ooi_url 'ooi_graph' hydrated_finding.finding.primary_key organization.code query=mandatory_fields %}">{% translate "Graph" %}</a>
                                        </td>
                                        <td class="actions sticky-cell">
                                            <button type="button"
                                                    class="expando-button"
                                                    data-icon-open-class="icon ti-chevron-down"
                                                    data-icon-close-class="icon ti-chevron-up"
                                                    data-close-label="{% translate "Close details" %}">
                                                {% translate "Open details" %}
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="expando-row">
                                        <td colspan="7">
                                            <div>
                                                <dl>
                                                    <div>
                                                        <dt>{% translate "Finding type" %}</dt>
                                                        <dd>
                                                            <a href="{% ooi_url "ooi_detail" hydrated_finding.finding_type organization.code query=mandatory_fields %}"
                                                               title="{% blocktranslate trimmed with finding_type=hydrated_finding.finding_type.human_readable %} Show details for {{ finding_type }} {% endblocktranslate %}">{{ hydrated_finding.finding_type.human_readable }}</a>
                                                        </dd>
                                                    </div>
                                                    <div>
                                                        <dt>{% translate "OOI type" %}</dt>
                                                        <dd>
                                                            <a href="{% url "ooi_list" organization_code=organization.code %}?ooi_type={{ hydrated_finding.ooi.object_type }}"
                                                               title="{% blocktranslate trimmed with ooi_type=hydrated_finding.ooi.object_type %} Show {{ ooi_type }} objects {% endblocktranslate %}">{{ hydrated_finding.ooi.object_type }}</a>
                                                        </dd>
                                                    </div>
                                                    <div>
                                                        <dt>{% translate "Source OOI" %}</dt>
                                                        <dd>
                                                            <a href="{% ooi_url "ooi_detail" hydrated_finding.finding.ooi organization.code query=mandatory_fields %}"
                                                               title="{% blocktranslate trimmed with ooi=hydrated_finding.finding.ooi.human_readable %} Show details for {{ ooi }} {% endblocktranslate %}">{{ hydrated_finding.finding.ooi.human_readable }}</a>
                                                        </dd>
                                                    </div>
                                                    <div>
                                                        <dt>{% translate "Risk score" %}</dt>
                                                        <dd>
                                                            {{ hydrated_finding.finding_type.risk_score }}
                                                        </dd>
                                                    </div>
                                                    <div>
                                                        <dt>{% translate "Description" %}</dt>
                                                        <dd>
                                                            {{ hydrated_finding.finding_type.description }}
                                                        </dd>
                                                    </div>
                                                    {% if hydrated_finding.finding_type.recommendation %}
                                                        <div>
                                                            <dt>{% translate "Recommendation" %}</dt>
                                                            <dd>
                                                                {{ hydrated_finding.finding_type.recommendation }}
                                                            </dd>
                                                        </div>
                                                    {% endif %}
                                                    {% if hydrated_finding.finding_type.source %}
                                                        <div>
                                                            <dt>{% translate "Source" %}</dt>
                                                            <dd>
                                                                {{ hydrated_finding.finding_type.source }}
                                                            </dd>
                                                        </div>
                                                    {% endif %}
                                                    {% if hydrated_finding.finding_type.impact %}
                                                        <div>
                                                            <dt>{% translate "Impact" %}</dt>
                                                            <dd>
                                                                {{ hydrated_finding.finding_type.impact }}
                                                            </dd>
                                                        </div>
                                                    {% endif %}
                                                </dl>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if object_list|length > 1 and perms.tools.can_mute_findings %}
                        {% if not only_muted %}
                            <fieldset>
                                <legend>{% translate "Mute findings" %}</legend>
                                <div>
                                    <label for="id_reason">{% translate "Reason:" %}</label>
                                    <div>
                                        <textarea name="reason" cols="5" rows="3" id="id_reason"></textarea>
                                    </div>
                                    <div>
                                        <label for="id_end_valid_time">{% translate "Expires by (UTC):" %}</label>
                                        <input type="datetime-local" name="end_valid_time" id="id_end_valid_time">
                                    </div>
                                </div>
                            </fieldset>
                        {% endif %}
                        <div class="button-container">
                            {% if only_muted %}
                                <button type="submit" form="finding-list-form">{% translate "Unmute Findings" %}</button>
                                <input type="checkbox" class="hidden" value="true" name="unmute" checked>
                            {% else %}
                                <button type="submit" form="finding-list-form">{% translate "Mute Findings" %}</button>
                            {% endif %}
                        </div>
                    </form>
                {% endif %}
                {% include "partials/list_paginator.html" %}

            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
