{% extends "partials/list_filters.html" %}

{% load static %}
{% load i18n %}

{% block title %}
    {% if count %}<span>{{ count }}</span>{% endif %}
    {{ title }}
{% endblock title %}
{% block filter_form %}
    <form method="get" class="help">
        {% include "partials/form/fieldset.html" with fields=observed_at_form %}

        <div class="column-3 filter-fields-direction row">
            {% include "partials/form/fieldset.html" with fields=severity_filter fieldset_class="filter-fields-direction column" %}
            {% include "partials/form/fieldset.html" with fields=muted_findings_filter fieldset_class="filter-fields-direction column" %}

        </div>
        <div class="button-container">
            <input type="submit"
                   value="{% if submit_text %}{{ submit_text }}{% else %}{% translate "Set filters" %}{% endif %}" />
            <a href="{{ request.path }}" class="button ghost">{% translate "Clear filters" %}</a>
        </div>
    </form>
{% endblock filter_form %}
