@use "../variables" as theme;

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &.ghost {
    --link-icon-text-color: theme.$button-ghost-text-color;

    &:hover {
      --link-icon-text-color: theme.$button-ghost-hover-text-color;
    }
  }
}
