button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &.small {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 0;
  }
}
