@use "../variables" as theme;

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  &.plain {
    background-color: transparent;
    border: 0;
    color: theme.$colors-blue-600;
    padding: 0;

    &:hover {
      color: theme.$colors-blue-700;
    }

    .icon {
      &:hover {
        color: theme.$colors-blue-700;
      }
    }
  }
}
