@use "../variables" as theme;

@mixin destructive-text-element {
  &.destructive {
    color: theme.$color-alert-negative;

    &:hover {
      color: theme.$color-alert-negative-darker;
    }
  }
}

@mixin destructive-button {
  &.destructive {
    color: theme.$colors-white;
    background-color: theme.$color-alert-negative;

    &:hover {
      background-color: theme.$color-alert-negative-darker;
    }

    &.ghost {
      color: theme.$color-alert-negative;
      background-color: theme.$color-white;
      border-color: theme.$colors-grey-200;
      border-width: 1px;

      &:hover {
        color: theme.$color-alert-negative;
        border-color: theme.$color-alert-negative-darker;
      }
    }
  }
}

a {
  @include destructive-text-element;
}

button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @include destructive-button;
}
