.dropdown {
  max-width: 50%;
  width: auto;
  padding: 0;
  position: relative;
  align-self: center;

  button,
  a.button {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    display: flex;
    width: 100%;
  }

  .dropdown-list {
    display: none;
    left: 0;
    position: absolute;
    top: 3.25rem;
    z-index: 2;
    width: max-content;
    max-width: 20rem;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    gap: 0;
    border-radius: var(--border-radius-s);
    border: 1px solid var(--colors-grey-200);
    background-color: var(--colors-white);
    max-height: 90vh;
    overflow-x: scroll;

    > ul {
      margin: 0;
      width: 100%;
      padding: 0;
      background-color: var(--colors-white);
      list-style-type: disc;
      gap: 0;
      border-radius: var(--border-radius-s);

      &:not(:last-child) {
        border-bottom: 1px solid var(--colors-grey-200);
      }

      li {
        $icon-width: 1.25rem;

        border-top: 1px $offwhite solid;
        padding: 0;
        width: 100%;

        > a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: var(--spacing-grid-100);
          color: var(--text-color-dark);
          margin: 0;
          min-height: 2.75rem;
          padding: var(--spacing-grid-150);
          text-decoration: none;
          width: 100%;

          .icon {
            display: flex;
            width: $icon-width;
            max-height: $icon-width;

            &::before {
              color: var(--text-color-dark);
            }
          }

          &:hover {
            color: var(--text-color-dark);
          }

          /* Styling with subtitle */
          &:has(> div) {
            flex-direction: column;
            align-items: flex-start;
            gap: var(--spacing-grid-0);
          }

          > div {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-grid-100);
            align-items: center;
          }

          .nota-bene {
            padding-left: calc($icon-width + var(--spacing-grid-100));
          }
        }

        &[aria-current="true"] {
          a::before {
            content: "\ea5e";
            font-family: var(--language-selector-list-button-icon-font-family);
            margin-left: var(--language-selector-list-button-icon-margin-left);
            font-size: var(--language-selector-list-button-icon-font-size);
            color: var(--language-selector-list-button-icon-text-color);
            margin-right: 0.5rem;
            width: 1.25rem;
          }
        }

        &::marker {
          content: none;
        }

        &:first-child {
          border-top: none;
        }

        &:last-child {
          // border-top should still inherit
          border-left: none;
          border-right: none;
          border-bottom: none;
        }

        &:hover {
          background-color: #f2f2f2;
        }
      }
    }
  }
}

.dropdown-list {
  [aria-expanded="true"] + & {
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
}
