@use "../variables" as theme;

/* Dropdown listing */

.dropdown-list {
  box-shadow: theme.$language-selector-list-box-shadow;
  border-radius: theme.$language-selector-list-border-radius;
  border-width: theme.$language-selector-list-border-width;
  border-style: theme.$language-selector-list-border-style;
  border-color: theme.$language-selector-list-border-color;
}
