.dropdown {
  max-width: 50%;
  width: auto;
  padding: 0;

  span {
    pointer-events: none;
  }

  position: relative;

  button,
  a.button {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0;
    display: flex;
  }

  >ul {
    padding: 0;
    display: none;
    background-color: #ffffff;
    list-style-type: disc;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
    position: absolute;
    top: 4rem;
    z-index: 1;
    width: max-content;
    gap: 0;
    max-width: 20rem;

    &[aria-expanded="true"] {
      display: flex;
      flex-direction: column;
      min-width: 100%;

      li {
        border-top: 1px $offwhite solid;
        padding: 0;
        width: 100%;

        >a {
          align-items: center;
          color: black;
          display: flex;
          margin: 0;
          min-height: 2.75rem;
          padding: 0.125rem 1rem;
          text-decoration: none;
          width: 100%;
          justify-content: flex-start;

          &:hover {
            color: black;
          }
        }

        &[aria-current="true"] {
          a::before {
            content: "\ea5e";
            font-family: var(--language-selector-list-button-icon-font-family);
            margin-left: var(--language-selector-list-button-icon-margin-left);
            font-size: var(--language-selector-list-button-icon-font-size);
            color: var(--language-selector-list-button-icon-text-color);
            margin-right: 0.5rem;
          }
        }

        &::marker {
          content: none;
        }

        &:first-child {
          border-top: none;
        }

        &:last-child {
          // border-top should still inherit
          border-left: none;
          border-right: none;
          border-bottom: none;
        }

        &:hover {
          background-color: #F2F2F2;
        }
      }
    }
  }
}
