@use "../variables" as theme;

/* Footer - Styling */

body > footer {
  border-top: 1px solid #cccccc;

  ul {
    flex-direction: row;
    display: flex;
    padding: 0;
    gap: 1.5rem;

    li {
      list-style: none;
    }
  }

  a {
    &:visited {
      color: theme.$footer-link-visited-text-color;
      text-decoration: theme.$footer-link-visited-text-decoration;

      &:hover {
        color: theme.$footer-link-visited-hover-text-color;
        text-decoration: theme.$footer-link-visited-hovertext-decoration;
      }
    }
  }
}
