@use "../variables" as theme;

tbody td.has-hover-block {
  position: relative;
}

tbody td.has-hover-block .hover-block {
  background: theme.$colors-white;
  border: 1px solid theme.$colors-grey-200;
  box-shadow: 0 8px 8px theme.$colors-black-10;
  display: none;
  top: calc(100% - 0.25em);
  left: 15%;
  opacity: 1;
  padding: 0.5em;
  position: absolute;
  width: 480px;
  z-index: 9;
}

tbody td.has-hover-block:hover .hover-block,
tbody td.has-hover-block.is-active .hover-block {
  display: block;
}
