@use "../variables" as theme;

.introduction {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .toolbar {
    width: unset;
  }

  .tabs {
    margin-top: theme.$section-gap * -1;
  }
}
