/* Nested ordered lists */

/* Includes parent numbers */
.chapter-numbers {
  counter-reset: chapter;

  h2 {
    &::before {
      counter-increment: chapter;
      content: counter(chapter) ". ";
    }
  }
}
