$boefje-bg: #275937;
$bit-bg: #42145f;
$normalizer-bg: #e17000;


.tiles {
  &.tiles {
    img {
      object-fit: cover;
      object-position: center;
      height: 15rem;
    }

  }

  /* Tile */
  >div {
    position: relative;

    /* interaction */
    >.nota-bene {
      display: none;
    }

    /* States */
    &.required {
      .nota-bene {
        display: inline;
        position: absolute;

        /* Removed form the flow to keep the flex stretch option on the plugins so they stay the same height */
        top: -1.75rem;
        margin: 0;
      }
    }

    /* Checkbox */
    >input[type="checkbox"] {
      accent-color: var(--form-accent-color-color, initial);
      cursor: var(--form-checkbox-cursor);
      left: 1rem;
      margin: 0;
      position: absolute;
      top: 1rem;
      width: var(--form-checkbox-width);
      min-height: var(--form-checkbox-width);
      height: var(--form-checkbox-width);
    }

    .tile-label {
      background-color: #262431;
      color: #ffffff;
      font-size: 1.125rem;
      margin: 0;
      padding: 0.25rem 1rem;
      position: absolute;
      right: 0;
      top: 1rem;
      width: auto;
    }



    &.boefje {
      .tile-label {
        background-color: $boefje-bg;
      }
    }

    &.bit {
      .tile-label {
        background-color: $bit-bg;
      }
    }

    &.normalizer {
      .tile-label {
        background-color: $normalizer-bg;
      }
    }
  }

  .tile-title,
  .action-buttons a {
    font-weight: 700;
    line-height: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: .5rem;
    font-size: var(--tile-font-size);

  }

  .tile-detail-link {
    padding: 4px 16px;
    line-height: var(--form-button-line-height);
  }

  .tile-description {
    font-size: var(--tile-font-size);
  }

  button,
  a.button {
    min-width: auto;
    min-height: auto;
    font-weight: 700;
    line-height: var(--form-button-line-height);

    &.plugin-disabled {
      color: var(--color-alert-negative);

      &.plugin-disabled:hover {
        border-color: var(--color-alert-negative);

      }
    }
  }
}
