@use "../variables" as theme;

.qr-code-image,
form.horizontal-view > fieldset > div > .qr-code-image {
  max-width: 15rem;
  float: left;
  background-color: theme.$colors-white;
  margin-left: theme.$form-horizontal-view-gap;
}
