@use "../variables" as theme;

%chapter {
  gap: theme.$spacing-grid-500;
  padding: 0;

  > div {
    width: 100%;
  }

  &.appendix {
    > div {
      width: 100%;

      .toolbar {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;

        button {
          align-self: center;
        }
      }

      > div {
        gap: theme.$spacing-grid-300;

        > div {
          gap: theme.$spacing-grid-200;
        }
      }
    }
  }
}

.report {
  --max-line-length-breakpoint-hyphens: initial;

  article {
    gap: theme.$spacing-grid-500;

    @media screen and (width >= 90rem) {
      padding-left: 0;
      padding-right: 0;
    }

    h2,
    h3 {
      margin-bottom: -0.75rem; /* Reducing margin below the header due to additional space within the font */
    }

    h4,
    h5,
    h6 {
      margin-bottom: -0.25rem; /* Reducing margin below the header due to additional space within the font */
    }

    > section {
      @extend %chapter;
    }

    > div {
      padding: 0;

      > section {
        @extend %chapter;
      }

      &.report-content {
        display: flex;
        flex-direction: column;
        gap: theme.$spacing-grid-500;

        > section {
          > div {
            display: flex;
            width: 100%;
            gap: theme.$spacing-grid-200;
            padding: 0;

            > div {
              width: 100%;
              margin: 1rem 0;
              gap: theme.$spacing-grid-200;

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    table {
      caption {
        font-size: theme.$heading-normal-font-size;
        color: theme.$text-color-dark;
        font-family: theme.$headings-base-set-font-family;
        font-weight: 600;
      }
    }
  }
}

span {
  &.label {
    max-width: 18.75rem;
    border: 1px solid theme.$colors-white;
    border-radius: theme.$spacing-grid-050;
    padding: theme.$spacing-grid-050 theme.$spacing-grid-100;
    font-size: theme.$tile-font-size;
    font-weight: theme.$list-item-completed-font-weight;

    &.tags-color-grey-2 {
      color: theme.$colors-grey-800;
      background-color: theme.$colors-grey-100;
    }
  }
}

.tile-report-types-link {
  font-size: theme.$tag-font-size;
  text-decoration: none;
  font-weight: 700;

  .icon {
    vertical-align: middle;
    margin-left: 0.5rem;
  }
}
