%chapter {
  gap: var(--spacing-grid-500);
  padding: 0;

  > div {
    width: 100%;
  }

  &.introduction {
    > div {
      width: 100%;

      .toolbar {
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;

        button {
          align-self: center;
        }
      }

      > div {
        gap: var(--spacing-grid-300);

        > div {
          gap: var(--spacing-grid-200);
        }
      }
    }
  }
}

.report {
  --max-line-length-breakpoint-hyphens: initial;

  article {
    gap: var(--spacing-grid-500);

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: -0.75rem; /* Reducing margin below the header due to additional space within the font */
    }

    > section {
      @extend %chapter;
    }

    > div {
      padding: 0;

      > section {
        @extend %chapter;
      }

      &.report-content {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-grid-500);

        > section {
          > div {
            display: flex;
            width: 100%;
            gap: var(--spacing-grid-200);
            padding: 0;

            > div {
              width: 100%;
              margin: 1rem 0;
              gap: var(--spacing-grid-200);

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    table {
      caption {
        --table-base-caption-font-size: var(--heading-normal-font-size);
        --table-base-caption-text-color: var(--text-color-dark);

        font-family: var(--headings-base-set-font-family);
        font-weight: 600;
      }
    }
  }

  &.sidemenu {
    > nav {
      gap: 1rem;
      display: flex;
      flex-direction: column;

      .sticky {
        top: 4.5rem;

        > ul,
        > ol {
          padding-left: 0;
          list-style-position: inside;
        }
      }

      li {
        --list-base-item-padding: 0.75rem 0;
      }

      a,
      a:visited,
      a:focus,
      a:active {
        color: #000000;
      }

      .sidemenu-toggle {
        --sidemenu-button-icon-font-family: var(--icon-font-family);
        --sidemenu-expanded-button-icon: "\ec42";
        --sidemenu-collapsed-button-icon: "\ec42";

        margin-left: 0;
        border: 0;
        padding-top: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-left: 0;
        border-radius: 0;
        min-height: 0;
        min-width: 0;
        color: #000000;
        position: static;

        &::before {
          font-size: 1.5rem;
          line-height: 1;
        }
      }
    }

    &.sidemenu-closed > nav {
      overflow: visible;

      > div {
        overflow: hidden;
      }
    }
  }
}
