%report-content {
  gap: var(--spacing-grid-500);
}

%report-chapter {
  gap: var(--spacing-grid-200);
  padding: 0;
}

%report-sub-chapter {
  width: 100%;
  gap: var(--spacing-grid-200);
  padding: 0;
}

.report {
  article {
    @extend %report-content;

    > section {
      @extend %report-chapter;

      > div {
        @extend %report-sub-chapter;
      }

      &.introduction {
        dl {
          gap: var(--spacing-grid-200);

          > div {
            padding: 0;
            border: 0;

            dt,
            dd {
              padding: 0;
            }

            dt {
              font-weight: bold;
            }

            dd {
              font-weight: normal;
            }
          }
        }
      }
    }
  }

  // .chapter-numbers {
  //   gap: var(--spacing-grid-500);
  //   padding: 0;

  //   > section {
  //     @extend %report-chapter;

  //     > div {
  //       @extend %report-sub-chapter;
  //     }
  //   }
  // }

  &.sidemenu > nav {
    li {
      --list-base-item-padding: 0.75rem 0;
    }

    a,
    a:visited,
    a:focus,
    a:active {
      color: #000000;
    }
  }
}
