@use "../variables" as theme;

.critical,
.high,
.medium,
.low,
.informational,
.recommendation,
.pending,
.unknown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;

  &::before {
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0;
  }
}

.critical::before {
  background-color: theme.$colors-red-500;
}

.high::before {
  background-color: theme.$colors-orange-300;
}

.medium::before {
  background-color: theme.$colors-ochre-150;
}

.low::before {
  background-color: theme.$colors-green-150;
}

.informational::before,
.recommendation::before {
  background-color: theme.$colors-blue-150;
}

.pending::before {
  background-color: theme.$colors-grey-400;
}

.unknown::before {
  background-color: theme.$colors-grey-400;
}
