/* Risk level indicator */

.critical,
.high,
.medium,
.low,
.informational,
.recommendation,
.pending,
.unknown {
  --risk-level-critical: #f84638;
  --risk-level-high: #ff9a4d;
  --risk-level-medium: #fbe366;
  --risk-level-low: #a6e5b7;
  --risk-level-informational: #c6e6fa;
  --risk-level-pending: #a4a4a4;
  --risk-level-unkown: #a4a4a4;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;

  &::before {
    content: "";
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0;
  }
}

.critical::before {
  background-color: var(--risk-level-critical);
}

.high::before {
  background-color: var(--risk-level-high);
}

.medium::before {
  background-color: var(--risk-level-medium);
}

.low::before {
  background-color: var(--risk-level-low);
}

.informational::before,
.recommendation::before {
  background-color: var(--risk-level-informational);
}

.pending::before {
  background-color: var(--risk-level-pending);
}

.unknown::before {
  background-color: var(--risk-level-unkown);
}
