/*

Scan level indicator

Markup:
<ul class="level-indicator l2">
    <li></li>
</ul>
(L2)

*/

.level-indicator {
  display: flex;
  flex-direction: row;
  line-height: 1rem;
  gap: 0.25rem;
  background-color: transparent;

  li {
    display: inline-block;
    width: 1.125rem;
    min-width: 1.125rem;
    height: 1rem;
    line-height: 1rem;
    padding: 0;

    &::before {
      content: "\e900";
      font-family: kat-icons;
      color: #cccccc;
      font-size: 1rem;
    }
  }

  &.l1 li:first-child::before {
    color: var(--colors-purrple-8);
  }

  &.l2 li:nth-child(-n + 2)::before {
    color: var(--colors-purrple-9);
  }

  &.l3 li:nth-child(-n + 3)::before {
    color: var(--colors-purrple-10);
  }

  &.l4 li:nth-child(-n + 4)::before {
    color: var(--colors-purrple-11);
  }

  &-form {
    margin: 1rem 0;
  }
}

form fieldset .level-indicator {
  box-sizing: border-box;
  min-height: 1.75rem;
  display: block;
  padding: 0.25rem 0;

  li {
    margin-right: 0.25rem;
  }
}
