@use "../variables" as theme;

body > main > section {
  @media screen and (min-width: $grid-m) {
    padding-right: theme.$page-whitespace-right-grid-m;
    padding-left: theme.$page-whitespace-left-grid-m;
  }

  @media screen and (min-width: $grid-l) {
    padding-right: theme.$page-whitespace-right-grid-l;
    padding-left: theme.$page-whitespace-left-grid-l;
  }

  @media screen and (min-width: $grid-xl) {
    padding-right: theme.$page-whitespace-right-grid-xl;
    padding-left: theme.$page-whitespace-left-grid-xl;
  }

  @media screen and (min-width: $grid-xxl) {
    padding-right: theme.$page-whitespace-right-grid-xxl;
    padding-left: theme.$page-whitespace-left-grid-xxl;
  }

  &.dividing-line {
    border-top: 1px solid theme.$colors-grey-200;
  }
}
