@use "../variables" as theme;

.spacing-grid-0 {
  gap: theme.$spacing-grid-0;
}

.spacing-grid-025 {
  gap: theme.$spacing-grid-025;
}

.spacing-grid-050 {
  gap: theme.$spacing-grid-050;
}

.spacing-grid-075 {
  gap: theme.$spacing-grid-075;
}

.spacing-grid-100 {
  gap: theme.$spacing-grid-100;
}

.spacing-grid-150 {
  gap: theme.$spacing-grid-150;
}

.spacing-grid-200 {
  gap: theme.$spacing-grid-200;
}

.spacing-grid-250 {
  gap: theme.$spacing-grid-250;
}

.spacing-grid-300 {
  gap: theme.$spacing-grid-300;
}

.spacing-grid-350 {
  gap: theme.$spacing-grid-350;
}

.spacing-grid-400 {
  gap: theme.$spacing-grid-400;
}

.spacing-grid-500 {
  gap: theme.$spacing-grid-500;
}

.spacing-grid-600 {
  gap: theme.$spacing-grid-600;
}

.spacing-grid-800 {
  gap: theme.$spacing-grid-800;
}

.spacing-grid-1000 {
  gap: theme.$spacing-grid-1000;
}

.spacing-grid-1600 {
  gap: theme.$spacing-grid-1600;
}

.spacing-grid-2400 {
  gap: theme.$spacing-grid-2400;
}
