@use "../variables" as theme;

.state-tag {
  border: 0;
  padding: theme.$spacing-grid-050 theme.$spacing-grid-100;
  border-radius: theme.$border-radius-s;
  box-sizing: border-box;
  font-size: theme.$body-text-small-font-size;
  line-height: theme.$body-text-small-line-height;
  font-weight: bold;

  &.enabled {
    background-color: theme.$colors-green-200;
    color: theme.$colors-green-700;
  }

  &.disabled {
    background-color: theme.$colors-red-150;
    color: theme.$colors-red-700;
    opacity: 1;
  }
}
