@use "../variables" as theme;

.new {
  @extend %tag;

  background-color: theme.$colors-blue-50;
  border: 1px solid theme.$colors-blue-300;
  color: theme.$colors-blue-600;
}

.tag {
  &.critical,
  &.medium,
  &.secure {
    @extend %tag;

    display: inline;

    &::before {
      content: none;
    }
  }

  &.critical {
    background-color: theme.$colors-red-150;
    border: 1px solid theme.$risk-level-critical;
    color: theme.$colors-orange-700;
  }

  &.medium {
    background-color: theme.$colors-yellow-50;
    border: 1px solid theme.$colors-yellow-300;
    color: theme.$color-alert-warning;
  }

  &.secure {
    background-color: theme.$colors-green-200;
    border: 1px solid theme.$colors-green-500;
    color: theme.$colors-green-700;
  }
}
