@use "../variables" as theme;
@use "stepper-variables";

.stepper {
  border-top: theme.$stepper-border-top;
  width: theme.$stepper-width;

  > ul {
    padding: theme.$stepper-padding;
    width: theme.$stepper-width;

    > li {
      font-weight: theme.$stepper-item-font-weight;
      list-style-type: theme.$stepper-item-list-style-type;
      opacity: theme.$stepper-item-opacity;

      > a {
        color: theme.$stepper-item-link-color;
        margin: theme.$stepper-item-link-margin;
        text-decoration: theme.$stepper-item-link-text-decoration;

        &:hover {
          text-decoration: theme.$stepper-item-link-hover-text-decoration;
        }
      }

      a:visited {
        color: theme.$stepper-item-link-visited-color;
        text-decoration: theme.$stepper-item-link-visited-text-decoration;
      }
    }

    /* Selects all steps until the active step */
    > li:not(li[aria-label="current-step"] ~ li) {
      font-weight: theme.$list-item-completed-font-weight;
      opacity: theme.$list-item-completed-opacity;
    }
  }

  @media (width >= 56rem) {
    > ul {
      display: flex;
      flex-direction: row;
      padding: theme.$stepper-above-breakpoint-padding;

      > li {
        padding-top: theme.$stepper-item-above-breakpoint-padding-top;

        &::before {
          content: theme.$stepper-divider-icon;
          display: inline-flex;
          font-family: theme.$stepper-divider-icon-font-family;
          font-size: theme.$stepper-divider-icon-font-size;
          font-weight: theme.$stepper-divider-icon-font-weight;
          margin: theme.$stepper-divider-icon-margin;
        }

        &:first-child {
          &::before {
            content: none;
          }
        }

        &:last-child {
          flex-grow: theme.$stepper-item-above-breakpoint-flex-grow;
          max-width: theme.$stepper-item-above-breakpoint-max-width;
        }
      }

      /* Selects all steps until the active step */
      > li:not(li[aria-label="current-step"] ~ li) {
        font-weight: theme.$list-item-completed-above-breakpoint-font-weight;
        opacity: theme.$list-item-completed-above-breakpoint-opacity;
        border-top: theme.$list-item-completed-above-breakpoint-border-top;
        margin-top: theme.$list-item-completed-above-breakpoint-margin-top;
      }

      > li[aria-label="current-step"] {
        position: relative;

        a {
          padding-top: theme.$stepper-item-current-link-padding-top;
        }

        &::after {
          content: theme.$stepper-item-current-icon;
          font-family: theme.$stepper-item-current-icon-font-family;
          display: theme.$stepper-item-current-icon-display;
          font-weight: theme.$stepepr-item-current-icon-font-weight;
          color: theme.$stepper-item-current-icon-color;

          /* Positioning */
          position: theme.$stepper-item-current-icon-position;
          top: theme.$stepper-item-current-icon-top;
          bottom: theme.$stepper-item-current-icon-bottom;
          right: theme.$stepper-item-current-icon-right;
          left: theme.$stepper-item-current-icon-left;
          padding: theme.$stepper-item-current-icon-padding;
          z-index: 0;

          /* Size */
          font-size: theme.$stepper-item-current-icon-font-size;
          height: theme.$stepper-item-current-icon-height;
          line-height: theme.$stepper-item-current-icon-line-height;
        }
      }
    }
  }
}
