/* Stepper variables  */

:root {
  --stepper-padding: 1rem 0;
  --stepper-border-top: 1px solid #cccccc;
  --stepper-width: 100%;

  /* Above breakpoint */
  --stepper-above-breakpoint-padding: 0;

  /* Item */
  --stepper-item-font-weight: 400;
  --stepper-item-list-style-type: none;
  --stepper-item-opacity: 0.4;

  /* Above breakpoint */
  --stepper-item-above-breakpoint-padding-top: 2rem;

  /* Last item */

  /* Allows the stepper to visally be complete */
  --stepper-item-above-breakpoint-max-width: 100%;
  --stepper-item-above-breakpoint-flex-grow: 1;

  /* Link */
  --stepper-item-link-text-color: black;
  --stepper-item-link-margin: 0;
  --stepper-item-link-text-decoration: none;

  /* Link hover */
  --stepper-item-link-hover-text-decoration: underline;

  /* Link visited */
  --stepper-item-link-visited-text-color: var(--stepper-item-link-color);
  --stepper-item-link-visited-text-decoration: var(
    --stepper-item-link-text-decoration
  );

  /* List item all up to active step */
  --list-item-completed-font-weight: 700;
  --list-item-completed-opacity: 1;

  /* Above breakpoint */
  --list-item-completed-above-breakpoint-font-weight: var(
    --list-item-completed-font-weight
  );
  --list-item-completed-above-breakpoint-opacity: var(
    --list-item-completed-opacity
  );
  --list-item-completed-above-breakpoint-border-top: 2px solid
    var(--colors-purrple-500);
  --list-item-completed-above-breakpoint-margin-top: -2px; /* Compensating for the active top border */

  /* Icon between stepper items */
  --stepper-divider-icon: "\ea61";
  --stepper-divider-icon-font-family: tabler-icons;
  --stepper-divider-icon-font-size: 1rem;
  --stepper-divider-icon-font-weight: 400;
  --stepper-divider-icon-margin: 0 1rem;

  /* Current step */
  --stepper-item-current-link-padding-top: 1px;
  --stepper-item-current-icon: "\f287";
  --stepper-item-current-icon-font-family: tabler-icons;
  --stepper-item-current-icon-display: block;
  --stepper-item-current-icon-font-weight: 400;
  --stepper-item-current-icon-color: var(--colors-purrple-500);
  --stepper-item-current-icon-position: absolute;
  --stepper-item-current-icon-top: -0.875rem; /* Half the size of the icon */
  --stepper-item-current-icon-bottom: auto;

  /* Small adjustment to prevent the active line to cross the fish head */
  --stepper-item-current-icon-right: -0.75rem;
  --stepper-item-current-icon-left: auto;
  --stepper-item-current-icon-padding: 0;
  --stepper-item-current-icon-font-size: 1.75rem;
  --stepper-item-current-icon-height: 1.75rem;
  --stepper-item-current-icon-line-height: var(
    --stepper-item-current-icon-font-size
  );
}
