@use "../variables" as theme;

.sticky-column {
  max-width: 100%;
  position: relative;

  .sticky-cell {
    position: sticky;
    right: 0;
    background-color: #ffffff;
  }

  tr.expanded-row .sticky-cell {
    background-color: theme.$expando-rows-row-background-color;
  }
}
