.system-tag,
span.system-tag {
  background-color: var(--colors-white);
  border: 2px solid;
  border-radius: var(--border-radius-xl);
  padding: var(--spacing-grid-025) var(--spacing-grid-100);
  box-sizing: border-box;
  width: auto;

  &::before {
    content: none;
  }

  &.color-1 {
    color: var(--colors-blue-600);
    border-color: var(--colors-blue-600);
  }

  &.color-2 {
    color: var(--colors-green-600);
    border-color: var(--colors-green-600);
  }

  &.color-3 {
    color: var(--colors-ochre-500);
    border-color: var(--colors-ochre-500);
  }

  &.color-4 {
    color: var(--colors-orange-600);
    border-color: var(--colors-orange-600);
  }

  &.color-5 {
    color: var(--colors-red-600);
    border-color: var(--colors-red-600);
  }

  &.color-6 {
    color: var(--colors-purrple-600);
    border-color: var(--colors-purrple-600);
  }

  &.color-grey {
    color: var(--colors-grey-600);
    border-color: var(--colors-grey-600);
  }
}
