@use "../variables" as theme;

.system-tag,
span.system-tag {
  background-color: theme.$colors-white;
  border: 2px solid;
  border-radius: theme.$border-radius-xl;
  padding: theme.$spacing-grid-025 theme.$spacing-grid-100;
  box-sizing: border-box;
  width: auto;

  &::before {
    content: none;
  }

  &.color-1 {
    color: theme.$colors-blue-600;
    border-color: theme.$colors-blue-600;
  }

  &.color-2 {
    color: theme.$colors-green-600;
    border-color: theme.$colors-green-600;
  }

  &.color-3 {
    color: theme.$colors-ochre-500;
    border-color: theme.$colors-ochre-500;
  }

  &.color-4 {
    color: theme.$colors-orange-600;
    border-color: theme.$colors-orange-600;
  }

  &.color-5 {
    color: theme.$colors-red-600;
    border-color: theme.$colors-red-600;
  }

  &.color-6 {
    color: theme.$colors-purrple-600;
    border-color: theme.$colors-purrple-600;
  }

  &.color-grey {
    color: theme.$colors-grey-600;
    border-color: theme.$colors-grey-600;
  }
}
