@use "../variables" as theme;

td,
tr {
  .icon {
    margin-right: 0.5rem;
    float: unset;
  }

  &.confirmation {
    background-color: theme.$notification-confirmation-background-color;
    border-width: theme.$notification-confirmation-border-width;
    border-style: theme.$notification-confirmation-border-style;
    border-color: theme.$notification-confirmation-border-color;

    &::before {
      content: theme.$notification-confirmation-icon-before-content;
    }

    &::after {
      content: theme.$notification-confirmation-icon-after-content;
    }
  }

  &.error {
    background-color: theme.$notification-error-background-color;
    border-width: theme.$notification-error-border-width;
    border-style: theme.$notification-error-border-style;
    border-color: theme.$notification-error-border-color;

    &::before {
      content: theme.$notification-error-icon-before-content;
    }

    &::after {
      content: theme.$notification-error-icon-after-content;
    }
  }

  &.warning {
    background-color: theme.$notification-warning-background-color;
    border-width: theme.$notification-warning-border-width;
    border-style: theme.$notification-warning-border-style;
    border-color: theme.$notification-warning-border-color;

    &::before {
      content: theme.$notification-warning-icon-before-content;
    }

    &::after {
      content: theme.$notification-warning-icon-after-content;
    }
  }

  &.explanation {
    background-color: theme.$notification-explanation-background-color;
    border-width: theme.$notification-explanation-border-width;
    border-style: theme.$notification-explanation-border-style;
    border-color: theme.$notification-explanation-border-color;

    &::before {
      content: theme.$notification-explanation-icon-before-content;
    }

    &::after {
      content: theme.$notification-explanation-icon-after-content;
    }
  }
}

/* table alignment within table expando row */
table tr.expando-row td {
  table td {
    background-color: theme.$application-base-background-color;
    padding: theme.$table-cell-padding;
  }
}

table:not(.nowrap) tbody td:not(.nowrap) {
  a:not(.button) {
    line-break: break-all;
    display: inline-block; /* Needed to be able to use max-width */
    max-width: 20rem;
  }

  vertical-align: top;

  /* Added spacing to align with text */
  .level-indicator {
    padding-top: 0.25rem;
  }
}

div.horizontal-scroll.nowrap tbody td,
table.nowrap tbody td,
table tbody td.nowrap {
  vertical-align: middle;
}

/* Table - Variables */

%tfoot-td-styling {
  background-color: theme.$table-foot-background-color;
  border-bottom: 0;

  a,
  a:visited,
  a:focus,
  a:hover {
    color: theme.$application-base-text-color;
    text-decoration: none;
  }
}

table {
  td {
    &.confirmation,
    &.explanation,
    &.error,
    &.system,
    &.warning {
      border-width: 0 0 1px;
    }
  }

  tfoot {
    tr {
      td {
        @extend %tfoot-td-styling;
      }

      &:last-of-type td {
        @extend %tfoot-td-styling;
      }
    }
  }
}

table.action-buttons .actions {
  a,
  a.button,
  button {
    &.icon::before {
      font-weight: normal;
    }

    margin: 0 auto;
  }
}

table .actions {
  padding: 0;
  text-align: center;
}

table i.icon,
table span.icon {
  &::before {
    display: inline-block;
    line-height: 1.25;
  }
}
