@use "../variables" as theme;

table td .icon {
  &::before {
    position: static;
    font-family: theme.$icon-font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Resetting general table cell notification styles */
  &.error,
  &.warning,
  &.confirmation,
  &.explanation,
  &.system {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    width: unset;

    &::before {
      margin-left: 0;
    }
  }

  &.warning {
    &::before {
      content: "\ea06"; // $ti-icon-alert-triangle
      color: theme.$color-alert-warning;
    }
  }

  &.alert {
    &::before {
      content: "\ea05"; // $ti-alert-circle
      color: theme.$color-alert-negative;
    }
  }

  &.neutral {
    &::before {
      content: "\ea91"; // $ti-icon-dots-circle-horizontal
      color: theme.$color-alert-informative;
    }
  }

  &.positive {
    &::before {
      content: "\ea67"; // $ti-icon-circle-check
      color: theme.$color-alert-positive;
    }
  }

  &.completed {
    &::before {
      content: "\ea67"; // $ti-icon-circle-check
      color: theme.$color-alert-positive;
    }
  }

  &.negative {
    &::before {
      content: "\ea6a"; // $ti-icon-circle-x
      color: theme.$color-alert-negative;
    }
  }

  &.failed {
    &::before {
      content: "\ea05"; // $ti-icon-alert-circle
      color: theme.$color-alert-negative;
    }
  }

  &.incomplete {
    &::before {
      content: "\ea6a"; // $ti-icon-circle-x
      color: theme.$colors-grey-900;
    }
  }

  &.running {
    &::before {
      content: "\fa0d"; // $ti-icon-progress
      color: theme.$color-alert-informative;
    }
  }

  &.dispatched {
    &::before {
      content: "\fd5d"; // $ti-icon-send-2
      color: theme.$color-alert-informative;
    }
  }

  &.queued {
    &::before {
      content: "\ea70"; // $ti-icon-clock
      color: theme.$color-alert-informative;
    }
  }

  &.pending {
    &::before {
      content: "\eca3"; // $ti-icon-loader
      color: theme.$color-alert-informative;
    }
  }

  &.cancelled {
    &::before {
      content: "\ea6a"; // $ti-icon-alert-circle-x
      color: theme.$colors-grey-900;
    }
  }
}
