@use "../variables" as theme;

table thead th.sortable {
  padding: 0;
  border-radius: 0.25rem 0.25rem 0 0;

  &:hover {
    background-color: theme.$colors-black-05;
  }

  &[aria-sort] {
    background-color: theme.$colors-purrple-100;

    &:hover {
      background-color: theme.$colors-purrple-200;
    }
  }

  button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    padding: theme.$table-head-cell-padding;
    display: flex;
    justify-content: flex-start;

    .icon::before {
      color: theme.$colors-grey-500;
    }

    .icon.ti-direction::before {
      font-size: 1.75rem;
    }
  }
}
