@use "../variables" as theme;

ul {
  &.tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;

    li {
      border: none;
      padding: 0;

      label {
        margin-right: 0.5rem;
      }

      span {
        padding: theme.$tag-padding;
        border-radius: theme.$tag-border-radius;
        line-height: theme.$tag-line-height;
      }
    }
  }
}
