@use "../variables" as theme;

button,
a,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  $breakpoint: 24rem !default;

  &.toggle-button {
    /* Alignment */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    gap: 0;
    margin: 0;
    box-sizing: border-box;

    /* Styling */
    border-radius: theme.$border-radius-l;
    padding: theme.$spacing-grid-150;
    width: 2.75rem;
    height: 2.75rem;
    border: 1px solid theme.$colors-purrple-300;

    /* Text and icon styling */
    background-color: theme.$colors-white;
    color: theme.$colors-purrple-500;
    text-decoration: none;
    font-size: 0;

    &::before {
      color: theme.$colors-purrple-500;
      padding: 0;
    }

    /* Behaviour */
    cursor: pointer;
    overflow-wrap: break-word;

    /* States */
    &[aria-current="page"] {
      background-color: theme.$colors-purrple-200;
      border-color: theme.$colors-purrple-200;

      &::before {
        color: theme.$colors-purrple-700;
      }
    }

    &:hover,
    &:active {
      border-color: theme.$colors-purrple-500;
    }

    &:focus {
      outline: 2px solid theme.$colors-purrple-500;
      outline-offset: 0.125rem;
      z-index: 2;
      position: relative;
    }
  }
}

a {
  &.toggle-button {
    &:visited {
      color: theme.$colors-purrple-500;
    }
  }
}
