.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  overflow: visible; /* Making sure outline is visible on focus */

  &.start {
    justify-content: flex-start;
  }

  .end {
    margin-left: auto;
  }
}
