<legend>
    {{ field.label_tag }}
</legend>
{% for choice in field %}
    <div class="horizontal-view">
        <input type="radio"
               name="{{ field.name }}"
               value="{{ choice.data.value }}"
               id="id_{{ field.name }}_{{ forloop.counter0 }}"
               {% if choice.data.attrs.checked %} checked {% endif %} />
        <label>{{ choice.choice_label }}</label>
        {% include 'partials/form/field_input_help_text.html' with help_text=choice.help_text %}
        {% include 'partials/form/field_input_errors.html' with field=field %}
    </div>
{% endfor %}
