{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <div class="column-2">
                    <div>
                        <h1>{% translate "Account details" %}</h1>
                    </div>
                    <div class="horizontal-view toolbar">
                        <a class="button" href="{% url 'password_reset' %}">{% translate "Reset password" %}</a>
                    </div>
                </div>
                <dl>
                    <div>
                        <dt>{% translate "Full name" %}</dt>
                        <dd>
                            {{ member.user.full_name }}
                        </dd>
                    </div>
                    <div>
                        <dt>{% translate "E-mail address" %}</dt>
                        <dd>
                            {{ member.user }}
                        </dd>
                    </div>
                    <div>
                        <dt>{% translate "Member type" %}</dt>
                        <dd>
                            {{ member.groups.all.0 }}
                        </dd>
                    </div>
                    <div>
                        <dt>{% translate "Organization" %}</dt>
                        <dd>
                            {{ member.organization }}
                        </dd>
                    </div>
                    {% if member.acknowledged_clearance_level > 0 %}
                        <div>
                            <dt>{% translate "Permission to set OOI clearance levels " %}</dt>
                            <dd>
                                L{{ member.acknowledged_clearance_level }}
                            </dd>
                        </div>
                    {% endif %}
                </dl>
            </div>
        </section>
        <h2>{% translate "OOI clearance" %}</h2>
        {% include "partials/ooi_clearance.html" %}

    </main>
{% endblock content %}
