{% extends "layouts/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    {% include 'header.html' with breadcrumbs=breadcrumbs %}
    <main>
        <section>
            <div class="form-view">
                <div>
                    <h1>{% translate "Reset password" %}</h1>
                    <p>
                        {% translate 'Use the form below to reset your password.' %}
                    </p>
                    <form name="reset-password"
                          id="form-reset-password"
                          class="help"
                          action="{% url 'password_reset' %}"
                          method="post">
                        {% csrf_token %}
                        {% translate "Reset password" as fieldset_legend %}
                        {% include "partials/form/fieldset.html" with legend=fieldset_legend fieldset="email" fields=form %}
                        <p>
                            <a href="{% url 'login' %}" class="button ghost">{% translate "Back" %}</a>
                            <button type="submit">{% translate "Send" %}</button>
                        </p>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
