{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main>
        <section>
            <div class="layout-authentication">
                <div>
                    <h1>{% translate "Recover email address" %}</h1>
                    <p>{% translate "Information on how to recover your connected email address" %}</p>
                    <div id="explanation-forgotten-email-adres" class="explanation">
                        <h2>{% translate "Forgotten email address?" %}</h2>
                        {% if help_desk_email %}
                            <p>
                                {% translate "If you don’t remember the email address connected to your account, contact: " %}
                                <a href="mailto:{{ help_desk_email }}">{{ help_desk_email }}</a>
                            </p>
                        {% else %}
                            <p>{% translate "Please contact the system administrator." %}</p>
                        {% endif %}
                    </div>
                    <div class="button-container">
                        <a href="{% url "login" %}" class="button">{% translate "Back to login" %}</a>
                        <a href="{% url "landing_page" %}"
                           class="button ghost back"
                           type="submit">{% translate "Back to Home" %}</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
