/* Accordion - Variables */

:root {
  --accordion-button-icon-after-open-content: "\ea5f";
  --accordion-button-icon-after-close-content: "\ea62";
  --accordion-content-gap: 1.5rem;
  --accordion-content-text-color: #000000;
}
