/* Accordion - Variables */

:root {
  --accordion-gap: 0;

  /* Button */
  --accordion-button-padding: 0.75rem 0;
  --accordion-button-justify-content: flex-start;
  --accordion-button-background-color: transparent;
  --accordion-button-text-color: #006fb3;

  /* Button icon */

  /* Side menu button before */
  --accordion-button-icon-before-font-size: 1.25rem;
  --accordion-button-icon-after-font-size: 1.25rem;

  /* add content within "", this could be text or a unicode for an icon */

  /* Choose before or after */
  --accordion-button-icon-font-family: var(--icon-font-family);

  /* content on the button when the menu is collapsed */
  --accordion-button-icon-before-open-content: "\ea5f";
  --accordion-button-icon-after-open-content: none;

  /* content on the button when the menu is expanded */
  --accordion-button-icon-before-close-content: "\ea62";
  --accordion-button-icon-after-close-content: none;
  --accordion-button-icon-after-margin-left: auto;

  /* Content */
  --accordion-content-gap: 1.5rem;
  --accordion-content-border-width: 0 0 1px 0;
  --accordion-content-border-style: solid;
  --accordion-content-border-color: #cccccc;
  --accordion-content-background-color: #ffffff;
  --accordion-content-text-color: #000000;
  --accordion-content-padding: 1.5rem 2rem 2rem 2rem;
}

.accordion {
  padding: 0;

  >li {
    padding: 0;

    button {
      border-width: 0 0 1px;
      border-radius: 0;
      border-color: #d4d4d4;
      max-width: 100%;
      word-wrap: break-word;

      &[aria-expanded="true"] {
        border-width: 0;

        +div {
          border-bottom-width: 2px;
        }
      }
    }

    &:first-child {
      button {
        border-top-width: 1px;
      }
    }
  }

  &.break-title {
    >li {
      button {
        word-break: break-all;
      }
    }
  }
}
