/* Button - Variables */

:root {
  /* Button */
  --button-base-background-color: var(--branding-color-2-background-color);
  --button-base-text-color: var(--branding-color-2-text-color);
  --button-base-border-radius: 1rem;
  --button-base-font-family: var(--application-base-font-family);
  --button-base-padding-top: 0.25rem;
  --button-base-padding-bottom: 0.25rem;
  --button-base-min-width: 2.75rem;
  --button-base-border-color: var(--branding-color-2-background-color);
  --button-base-border-style: solid;
  --button-base-border-width: 1px;

  /* Ghost button */
  --button-ghost-border-width: var(--button-base-border-width);

  /* Text */
  --button-base-font-size: 1rem;
  --button-base-font-weight: bold;
  --button-base-line-height: 1.5;

  /* States */

  /* Hover */
  --button-base-hover-background-color: #ddb900;
  --button-base-hover-text-color: #000000;

  /* Active */
  --button-base-active-background-color: #ddb900;
  --button-base-active-text-color: #000000;
  --button-base-active-border-style: var(--button-base-border-style);
  --button-base-active-border-color: var(--button-base-active-background-color);
  --button-base-active-border-width: var(--button-base-border-width);

  /* Focus */
  --button-base-focus-background-color: #ddb900;
  --button-base-focus-text-color: #000000;
  --button-base-focus-border-style: var(--button-base-border-style);
  --button-base-focus-border-color: var(--button-base-focus-background-color);
  --button-base-focus-border-width: var(--button-base-border-width);
}

/* Needs to be added to manon */
button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  font-family: var(--button-base-font-family);
  max-width: 18rem;

  @media (width >= 24rem) {
    text-align: left;
  }
}
