/* Button Ghost - Variables */

:root {
  /* Button */
  --button-ghost-background-color: transparent;
  --button-ghost-border-color: var(--colors-grey-200);
  --button-ghost-text-color: var(--colors-blue-600);

  /* Text */
  --button-ghost-font-size: 1rem;
  --button-ghost-font-weight: bold;
  --button-ghost-line-height: 1;

  /* States */

  /* Hover */
  --button-ghost-hover-background-color: transparent;
  --button-ghost-hover-border-color: var(--colors-blue-600);
  --button-ghost-hover-text-color: var(--colors-blue-700);

  /* Active */
  --button-ghost-active-background-color: transparent;
  --button-ghost-active-border-color: var(--button-ghost-hover-border-color);
  --button-ghost-active-text-color: var(--button-ghost-hover-text-color);

  /* Focus */
  --button-ghost-focus-background-color: transparent;
  --button-ghost-focus-border-color: var(--button-ghost-hover-border-color);
  --button-ghost-focus-text-color: var(--button-ghost-hover-text-color);
}
