/* Button - Variables */

:root {
  /* Button */
  --button-base-background-color: var(--branding-color-2-background-color);
  --button-base-text-color: var(--branding-color-2-text-color);
  --button-base-border-radius: 1rem;
  --button-base-font-family: var(--application-base-font-family);
  --button-base-padding-top: var(--spacing-grid-150);
  --button-base-padding-right: var(--spacing-grid-200);
  --button-base-padding-bottom: var(--spacing-grid-150);
  --button-base-padding-left: var(--spacing-grid-200);
  --button-base-min-width: 2.75rem;
  --button-base-border-color: var(--branding-color-2-background-color);
  --button-base-border-style: solid;
  --button-base-border-width: 1px;

  /* Ghost button */
  --button-ghost-border-width: var(--button-base-border-width);

  /* Text */
  --button-base-font-size: 1rem;
  --button-base-font-weight: bold;
  --button-base-line-height: 1.25;

  /* States */

  /* Hover */
  --button-base-hover-background-color: var(--colors-yellow-300);
  --button-base-hover-text-color: var(--application-base-text-color);

  /* Active */
  --button-base-active-background-color: var(--colors-yellow-300);
  --button-base-active-text-color: var(--application-base-text-color);
  --button-base-active-border-style: var(--button-base-border-style);
  --button-base-active-border-color: var(--button-base-active-background-color);
  --button-base-active-border-width: var(--button-base-border-width);

  /* Focus */
  --button-base-focus-background-color: var(--colors-yellow-300);
  --button-base-focus-text-color: var(--application-base-text-color);
  --button-base-focus-border-style: var(--button-base-border-style);
  --button-base-focus-border-color: var(--button-base-focus-background-color);
  --button-base-focus-border-width: var(--button-base-border-width);
}

/* Needs to be added to manon */
button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  --link-icon-text-color: var(--button-base-text-color);

  font-family: var(--button-base-font-family);
  max-width: 18rem;

  .icon {
    max-height: 1.25rem; /* Set to same height as button line-height to prevent icons from increasing line-height */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (width >= 24rem) {
    text-align: left;
  }
}
