/* Description list - Variables */

:root {
  --description-list-width: 100%;

  /* Item */
  --description-list-item-padding: 0.75rem 0.75rem 0.75rem 0;
  --description-list-item-odd-background-color: transparent;
}
