/* Description list - Variables */

:root {
  --description-list-width: 100%;

  /* Item */
  --description-list-item-padding: 0.75rem 0.75rem 0.75rem 0;
  --description-list-item-odd-background-color: transparent;
  --description-list-item-title-padding: 0.5rem 0;
  --description-list-item-data-padding: 0.5rem 0;
}

%dl-styling {
  @media (width >= 35rem) {
    > div {
      flex-wrap: nowrap;
      box-sizing: border-box;

      dt {
        min-width: var(--description-list-item-title-width);
      }
    }
  }
}

dl {
  @extend %dl-styling;
}

main div,
main section,
main article,
main section > div,
main article > div {
  dl,
  form dl,
  form fieldset dl {
    @extend %dl-styling;
  }
}

main section form dl div {
  flex-direction: row;
}
