/* Expando rows - Variables */

:root {
  --expando-rows-table-cell-background-color: #ffffff;
  --expando-rows-row-background-color: #eeecf8;
  --expando-rows-row-striping-background-color: var(
    --expando-rows-row-background-color
  );
  --expando-rows-row-font-weight: var(--table-font-weight);
  --expando-rows-table-cell-after-breakpoint-padding: 1.5rem;
  --expando-rows-table-content-title-font-size: var(--heading-normal-font-size);
  --expando-rows-table-content-title-font-weight: var(
    --heading-normal-font-weight
  );
  --expando-rows-table-content-subtitle-font-size: var(
    --heading-normal-font-size
  );
  --expando-rows-table-content-subtitle-font-weight: var(
    --heading-normal-font-weight
  );
}

/* Temporary layout styling until the new layout grid has been implemented */
.expando-row > td {
  > * {
    margin-bottom: 1.5rem;
    display: inline-block;
    width: auto;
    float: left;
    clear: both;

    &:last-child {
      margin-bottom: 0;
    }
  }

  > table {
    width: 100%;
    display: table;
  }
}

/* Overrides the default first/last table cell exception */
.expando-row th,
.expando-row td {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.expanded-row td,
tr:first-of-type.expanded-row td {
  border-bottom: 0;
}
