/* Filter - Variables */

:root {
  /* Intro */
  --filter-intro-border-width: 1px 0 0 0;

  /* Button */
  --filter-button-font-size: 1rem;
  --filter-button-font-weight: bold;
  --filter-button-text-color: var(--link-text-color);
  --filter-button-margin-left: 0;
  --filter-button-padding: var(--spacing-grid-150) var(--spacing-grid-100);

  /* Button icon */
  --filter-button-icon-before-open-content: "\ea5f";
  --filter-button-icon-before-close-content: "\ea62";
}

.filter form {
  background-color: transparent;
  padding: 1.5rem 2rem 2rem;
  border-bottom: 1px solid var(--colors-grey-200);
}

/* Temporary fix, this needs to be updated after this issue has been solved in Manon */
.filter > div button {
  &::before,
  &::after {
    font-family: var(--filter-button-icon-font-family, inherit);
    line-height: var(--filter-button-icon-line-height);
    font-size: var(--filter-button-icon-font-size, inherit);
    font-weight: var(--filter-button-icon-font-weight, inherit);
  }

  &[aria-expanded="true"] {
    &::before {
      content: var(--filter-button-icon-before-close-content);
    }

    &::after {
      content: var(--filter-button-icon-after-close-content);
    }
  }

  &[aria-expanded="false"] {
    &::before {
      content: var(--filter-button-icon-before-open-content);
    }

    &::after {
      content: var(--filter-button-icon-after-open-content);
    }
  }
}
