/* Footer - Variables */

:root {
	/* Layout */
	--footer-flex-direction: row;
	--footer-justify-content: space-between;
	--footer-align-items: center;
	--footer-min-height: 5.5rem;
	--footer-padding-top: 2rem;
	--footer-padding-right: 2%;
	--footer-padding-bottom: 2rem;
	--footer-padding-left: 2%;
	--footer-gap: 2rem;

	/* Visual styling */
	--footer-background-color: #ffffff;
	--footer-text-color: #6A6A6A;

	/* Links */
	--footer-link-text-color: var(--link-text-color);
	--footer-link-text-decoration: underline;

	/* Links hover */
	--footer-link-hover-text-color: var(--link-hover-text-color);
	--footer-link-hover-text-decoration: underline;

	/* Visited */
	--footer-link-visited-text-color: var(--link-visited-text-color);
	--footer-link-visited-text-decoration: underline;

	/* Visited hover */
	--footer-link-visited-hover-text-color: var(--link-visited-hover-text-color);
	--footer-link-visited-hover-text-decoration: underline;

	/* Navigation */
	--footer-navigation-list-item-list-style: none;
}
