/* Form - Variables */

:root {
  /* Accent color */
  --form-accent-color-color: var(--branding-color-2);

  /* Input */
  --form-base-input-text-color: #000000;
  --form-input-border-width: 1px;
  --form-input-border-style: solid;
  --form-input-border-color: #cccccc;

  /* Help */
  --form-help-button-icon-content: "\ec9d";
  --form-help-button-icon-font-family: var(--icon-font-family);

  /* Textarea */
  --form-textarea-text-color: var(--form-base-input-text-color);
  --form-textarea-border-color: #cccccc;

  /* Fieldset */
  --form-fieldset-legend-font-weight: 600;
  --form-fieldset-checkbox-accent-color: var(--form-accent-color-color);
  --form-fieldset-radio-input-accent-color: var(--form-accent-color-color);

  /* Nota bene */
  --form-horizontal-view-fieldset-nota-bene-required-margin-bottom: 0.5rem;
}
