/* Header Navigation content wrapper - Variables */

:root {
    --header-navigation-content-wrapper-flex-direction: row;
    --header-navigation-content-wrapper-gap: 1rem;
    --header-navigation-content-wrapper-justify-content: flex-start;
    --header-navigation-content-wrapper-align-items: stretch;
    --header-navigation-content-wrapper-padding-right: var(--content-padding-right);
    --header-navigation-content-wrapper-padding-left: var(--content-padding-left);
}

body>header {
    >nav {
        /* Header navigation content wrapper */
        >div {
            /* Collapsing element above breakpoint */
            .collapsible-toggle[aria-expanded="false"]+div {
                width: 100%;

                >div {
                    width: auto;
                    flex-direction: row;
                    gap: 1rem;

                    a {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
