/* Header Navigation collapsible - Variables */

:root {
  --header-navigation-collapsible-background-color: white;
  --header-navigation-collapsible-top: 4rem;
  --header-navigation-collapsible-list-item-border-width: 0;

  /* Current item */
  --header-navigation-collapsible-list-item-link-selected-text-color: var(
    --text-color-dark
  );
  --header-navigation-collapsible-list-item-link-selected-border-width: 0;
  --header-navigation-collapsible-list-item-link-selected-icon: "\ea5e";

  /* Hover */
  --header-navigation-collapsible-list-item-link-hover-background-color: #f1f1f1;
  --header-navigation-collapsible-list-item-link-selected-font-weight: bold;
}

header nav form {
  padding: 0;
}

.collapsible.collapsed .collapsing-element {
  > div {
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }
}

body
  > header
  nav.collapsible.collapsed
  button.collapsible-toggle[aria-expanded="true"]
  + .collapsing-element {
  ul li a[aria-current] {
    &::before {
      content: "\ea5e";
      font-family: var(--language-selector-list-button-icon-font-family);
      margin-left: var(--language-selector-list-button-icon-margin-left);
      font-size: var(--language-selector-list-button-icon-font-size);
      color: var(--language-selector-list-button-icon-text-color);
      margin-right: 0.5rem;
    }
  }

  .language-selector-options li,
  .language-selector-options li a {
    &:hover {
      background-color: transparent;
    }
  }
}
