/* Header navigation link active - Variables */

:root {
  --header-navigation-link-active-text-color: var(--colors-purrple-8);
  --header-navigation-link-active-border-width: 0 0 0.25rem 0;
  --header-navigation-link-active-border-style: solid;
  --header-navigation-link-active-border-color: var(--colors-purrple-8);
  --header-navigation-list-align-items: stretch;
}
