/* Header Navigation - Variables */

:root {
	/* Header */
	--header-min-height: 0;
	--header-flex-direction: column;
	--header-justify-content: space-between;

	/* Header navigation */
	--header-navigation-position: initial;
	--header-navigation-align-items: stretch;
	--header-navigation-background-color: transparent;
	--header-navigation-padding-right: 3rem;
	--header-navigation-padding-left: 3rem;
	--header-navigation-border-width: 0;
	--header-navigation-width: auto;
	--header-navigation-min-height: 4rem;
	--header-navigation-gap: 1rem;
	--header-navigation-content-wrapper-flex-direction: row;
	--header-navigation-button-text-color: var(--button-ghost-text-color);

	/* List item */
	--header-navigation-list-item-text-color: var(--text-color-dark);

	/* Icon */
	--header-navigation-button-icon-font-family: var(--icon-font-family);
	--header-navigation-button-icon-font-size: var(--icon-font-size);
	--header-navigation-button-icon-text-color: var(--header-navigation-button-text-color);
}
