:root {
  --kat-purrple-1: var(--colors-violet-1);
  --kat-purrple-2: var(--colors-violet-2);
  --kat-purrple-3: var(--colors-violet-4);
  --kat-purrple-4: var(--colors-violet-4);
  --kat-purrple-5: var(--colors-violet-7);
  --kat-purrple-6: var(--colors-violet-8);
  --kat-purrple-7: var(--colors-violet-9);
  --kat-purrple-8: var(--colors-violet-10);
  --kat-purrple-9: var(--colors-violet-11);
  --kat-purrple-10: var(--colors-violet-12);
}
