:root {
    --kat-purrple-1: #F7F6FC;
    --kat-purrple-2: #EEECF8;
    --kat-purrple-3: #D6D1EF;
    --kat-purrple-4: #BFB6E6;
    --kat-purrple-5: #AF9BD3;
    --kat-purrple-6: #8C7CD2;
    --kat-purrple-7: #6E5FAE;
    --kat-purrple-8: #5B4F90;
    --kat-purrple-9: #4D437A;
    --kat-purrple-10: #3D3560;
}
