/* Language selector list - Variables */

:root {
  --language-selector-list-max-width: 2.75rem;

  /* Label */
  --language-selector-list-label-font-size: 0;
  --language-selector-list-label-gap: 0;

  /* Button */

  /* --language-selector-list-button-font-size: var(--header-navigation-button-font-size); */
  --language-selector-list-button-border-color: var(
    --button-ghost-border-color
  );
  --language-selector-list-button-text-color: var(--button-ghost-text-color);
  --language-selector-list-button-border-width: var(
    --button-ghost-border-width
  );
  --language-selector-list-button-width: auto;

  // --language-selector-list-button-font-weight: bold;

  /* List opened button icon */
  --language-selector-list-open-button-icon: "\ea5f";

  /* List closed button icon */
  --language-selector-list-closed-button-icon: "\ea62";

  /* List */
  --language-selector-list-border-color: #d4d4d4;
  --language-selector-list-border-radius: 0.25rem;
  --language-selector-list-margin-top: 0.25rem;
  --language-selector-list-box-shadow: 0px 8px 16px 0px rgb(17 20 22 / 15%);
  --language-selector-list-min-width: 8rem;

  /* List item */
  --language-selector-list-item-background-color: transparent;
  --language-selector-list-item-active-background-color: transparent;
  --language-selector-list-item-hover-background-color: #ededed;

  /* List item link */
  --language-selector-list-item-link-border-width: 0;
  --language-selector-list-item-link-min-height: 3rem;
  --language-selector-list-item-link-height: 100%;
  --language-selector-list-item-link-padding: 0.125rem 1rem;

  /* List item link active */
  --language-selector-list-item-active-font-weight: bold;

  /* Icon */
  --language-selector-list-button-icon-font-family: var(--icon-font-family);
  --language-selector-list-button-icon-font-size: var(--icon-font-size);
}

body > header nav {
  .language-selector {
    > div > button {
      color: var(--language-selector-list-button-text-color);
      font-weight: bold;

      &::after {
        color: var(--language-selector-list-button-text-color);
      }
    }

    ul li a,
    ul li button {
      padding: 0.125rem 1rem;
      color: black;
      font-weight: normal;
    }

    div[aria-expanded="true"] ul li[aria-current="true"] a::before,
    .language-selector
      div[aria-expanded="true"]
      ul
      li[aria-current="true"]
      a::before {
      content: "\ea5e";
      font-family: var(--language-selector-list-button-icon-font-family);
      margin-left: var(--language-selector-list-button-icon-margin-left);
      font-size: var(--language-selector-list-button-icon-font-size);
      color: var(--language-selector-list-button-icon-text-color);
      margin-right: 0.5rem;
    }
  }

  &.collapsible
    .collapsible-toggle[aria-expanded="true"]
    + .collapsing-element
    .language-selector {
    order: 1;

    .language-selector-options {
      > button {
        display: none;
      }

      ul {
        display: flex;
        flex-direction: row;
        box-shadow: none;
        border: 0;
        padding-left: var(
          --collapsing-element-list-item-link-padding-left,
          2rem
        );
        gap: 1rem;

        li {
          width: auto;
          border: 0;

          a {
            padding: 0;
            border: 0;

            button {
              min-width: 0;
              color: #006fb3;
              text-decoration: underline;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
