/* Layout form - Variables */

:root {
  --layout-form-padding-top: var(--content-padding-top, 0);
  --layout-form-padding-right: var(--content-padding-right, 0);
  --layout-form-padding-bottom: var(--content-padding-bottom, 0);
  --layout-form-padding-left: var(--content-padding-left, 0);
  --layout-form-max-width: 50rem;

  /* After breakpoint 1 */
  --layout-form-breakpoint-1-padding-top: var(--layout-form-padding-top);
  --layout-form-breakpoint-1-padding-right: var(--layout-form-padding-right);
  --layout-form-breakpoint-1-padding-bottom: var(--layout-form-padding-bottom);
  --layout-form-breakpoint-1-padding-left: var(--layout-form-padding-left);
  --layout-form-breakpoint-1-max-width: var(--layout-form-max-width);
}
