/* Main content wrapper - Variables */

:root {
  --main-padding-top: 0;
  --main-padding-right: var(--page-whitespace-right);
  --main-padding-bottom: 0;
  --main-padding-left: var(--page-whitespace-left);
  --main-gap: 0;
}
