/* theme: KAT Soft based on manon components */
:root {
  --de-emphasized-text-color: #000000;
  --icon-font-family: "tabler-icons";
  --section-title-margin: var(--layout-base-content-block-title-margin);
  --section-subtitle-margin: var(--layout-base-content-block-subtitle-margin);
}
