/* theme: KAT Soft based on manon components */
:root {
  --critical-informational-labels-min-width: 8rem;
  --de-emphasized-text-color: #000000;
  --h1-font-size: var(--heading-xl-font-size);
  --h2-font-size: var(--heading-large-font-size);
  --icon-font-family: "tabler-icons";
  --section-title-margin: var(--layout-base-content-block-title-margin);
  --section-subtitle-margin: var(--layout-base-content-block-subtitle-margin);
}
