/* Max line length - Variables */

:root {
  --max-line-length-max-width: 40rem;
  --h1-max-line-length-max-width: 85rem;
  --h2-max-line-length-max-width: 68rem;
  --h3-max-line-length-max-width: 60rem;
  --h4-max-line-length-max-width: 51rem;
  --h5-max-line-length-max-width: 39rem;
  --h6-max-line-length-max-width: 34rem;
}
