/* Navigation - Variables */

:root {
  /* nav */
  --navigation-gap: 1rem;
  --navigation-align-content: flex-start;
  --navigation-list-gap: var(--navigation-gap);
  --navigation-link-text-decoration: none;
  --navigation-link-hover-text-decoration: none;
  --navigation-background-color: var(--application-base-background-color);
  --navigation-text-color: var(--application-base-text-color);
  --header-navigation-padding-right: 0;
  --header-navigation-padding-left: 0;

  /* Collapsing menu */
  --navigation-collapsible-menu-collapsing-menu-width: 100%;
  --navigation-collapsible-menu-list-item-collapsed-hover-background-color: #14131a;

  /* Collapsing menu item */

  --navigation-collapsible-menu-collapsing-menu-list-item-border-width: 0;
  --navigation-collapsible-menu-collapsing-menu-list-item-last-item-border-width: 0;

  /* Menu toggle icon */
  --navigation-collapsible-menu-icon-font-size: 1.5rem;
}

body>header nav.collapsible-menu button.menu-toggle {
  min-width: 2.75rem;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
  }
}

.collapsible-menu .collapsing-menu {
  box-shadow: 0 8px 16px 0 rgb(17 20 22 / 15%);

  ul {
    li {
      box-sizing: border-box;
      border: 0;

      a {
        min-height: 3rem;
      }
    }
  }
}
