/* Navigation collapsible menu - Variables */

:root {
  --navigation-collapsible-menu-collapsing-menu-list-item-link-hover-background-color: #ededed;
}

body > header nav.collapsible-menu .collapsing-menu {
  ul,
  ol {
    border: 1px solid #ededed;
    background-color: #ffffff;

    a[aria-current] {
      background-color: #ffffff;
      font-weight: bold;

      &::before {
        content: "\ea5e";
        font-family: var(--language-selector-list-button-icon-font-family);
        margin-left: var(--language-selector-list-button-icon-margin-left);
        font-size: var(--language-selector-list-button-icon-font-size);
        color: var(--language-selector-list-button-icon-text-color);
        margin-right: 0.5rem;
      }
    }
  }

  > div {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
    gap: 0.25rem;
    box-sizing: border-box;

    .language-selector {
      padding: 0 2rem;
      display: flex;
      justify-content: stretch;
      align-items: center;
      min-height: 3rem;
      background-color: #ffffff;
      width: 100%;
      box-sizing: border-box;
      order: 1;

      .language-selector-options {
        width: 100%;
      }

      button {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }

    ul,
    ol {
      border: 0;
    }
  }
}
