/* Notification colors */

:root {
  --error-background-color: var(--colors-red-100);
  --error-text-color: var(--colors-grey-900);
  --error-border-color: var(--colors-black-10);
  --explanation-background-color: var(--colors-blue-100);
  --explanation-text-color: var(--colors-grey-900);
  --explanation-border-color: var(--colors-black-10);
  --warning-background-color: var(--colors-ochre-50);
  --warning-text-color: var(--colors-grey-900);
  --warning-border-color: var(--colors-black-10);
  --confirmation-background-color: var(--colors-green-100);
  --confirmation-text-color: var(--colors-grey-900);
  --confirmation-border-color: var(--colors-black-10);
}
