/* Notification block - Variables */

:root {
	--notification-block-element-padding-right: 0.5rem;
    --notification-block-element-padding-left: 0.5rem;
    --notification-block-element-gap: 0.5rem;
}
