/* Sidemenu - Variables */

@use "@minvws/manon/mixins/icon";

:root {
  --sidemenu-nav-padding-right: 2rem;
  --sidemenu-nav-padding-left: 2rem;
  --sidemenu-nav-width: 19rem;
}

main.sidemenu {
  --sidemenu-nav-padding-bottom: 6rem;

  position: relative;
  align-items: stretch;

  > nav {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 0;
    width: var(--sidemenu-nav-width);
    padding-top: var(--sidemenu-nav-padding-top);
    padding-right: 0;
    padding-bottom: var(--sidemenu-nav-padding-bottom);
    padding-left: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    border-right: 1px solid var(--sidemenu-nav-border-color);
    height: 100%;
    z-index: 1;

    /* Behaviour */
    position: absolute;

    /* Transition */
    transition: left 1s;

    @media (width >= 55rem) {
      position: relative;
      height: unset;
      overflow: unset;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-left: var(--sidemenu-nav-padding-left);
      padding-right: var(--sidemenu-nav-padding-right);
    }

    ol,
    ul {
      padding-left: 0;
      list-style-position: inside;

      li {
        --list-base-item-padding: 0.75rem 0;

        a,
        a:visited,
        a:focus,
        a:active {
          color: #000000;
          text-decoration: none;
        }

        &.object {
          a,
          a:visited,
          a:focus,
          a:active {
            color: #000000;
            text-decoration: none;
            font-style: italic;
            word-break: break-all;
          }
        }
      }
    }

    .sticky {
      position: sticky;

      /* This should be changed into something more robust. */
      top: 8.7rem;

      /* Available height estimate with space for header */

      /* Not stable as this value can be incorrect when the header height changes */
      max-height: 73vh;
      overflow: auto;
      background-color: inherit;

      &.overflow {
        padding-left: var(--sidemenu-nav-padding-left);
        padding-right: var(--sidemenu-nav-padding-right);
      }
    }

    h2.sticky {
      top: 4.5rem;
      z-index: 2;
    }

    /* Menu button */
    .sidemenu-toggle {
      --sidemenu-button-icon-font-family: var(--icon-font-family);
      --sidemenu-expanded-button-icon: "\ec42";
      --sidemenu-collapsed-button-icon: "\ec42";

      /* Layout */
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
      min-width: var(--sidemenu-toggle-button-min-width);
      min-height: var(--sidemenu-toggle-button-min-height);
      margin-left: var(--sidemenu-nav-padding-left);
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;

      /* Needed to keep the button to stick to the top */
      z-index: 2;

      /* Styling */
      font-size: var(--sidemenu-toggle-button-font-size);
      border: 0;
      border-radius: 0;
      color: #000000;

      /* Behaviour */
      position: sticky;
      top: 1rem;

      /* Transition */
      transition: margin-left 1s;

      &::before {
        @include icon.icon;

        line-height: 1;
        content: var(--sidemenu-expanded-button-icon);
        font-family: var(--sidemenu-button-icon-font-family);
        font-size: var(--sidemenu-button-icon-font-size);

        /* Styling options for text input instead of icons */
        font-weight: var(--sidemenu-button-icon-font-weight);
        white-space: var(--sidemenu-button-icon-white-space);
      }

      &[aria-expanded="false"] {
        margin-left: var(--sidemenu-nav-width);
        transition: margin-left 1s;

        &::before {
          content: var(--sidemenu-collapsed-button-icon);
        }
      }
    }
  }

  &.sidemenu-closed > nav {
    position: absolute;
    border-right: 1px solid #cccccc;

    /* Needed to show the button */
    overflow: visible;

    /* Move outside of the screen according to the size of the menu */
    left: calc(var(--sidemenu-nav-width) * -1);

    @media (width >= 55rem) {
      /* Layout */
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100%;
      width: var(--sidemenu-nav-width);
      padding-top: var(--sidemenu-nav-padding-top);
      padding-right: var(--sidemenu-nav-padding-right);
      padding-bottom: var(--sidemenu-nav-padding-bottom);
      padding-left: var(--sidemenu-nav-padding-left);
      box-sizing: border-box;
    }

    > div {
      overflow: hidden;
    }
  }
}
