/* Sidemenu - Variables */

@use "@minvws/manon/mixins/icon";

:root {
  --sidemenu-nav-padding-right: 2rem;
  --sidemenu-nav-padding-left: 2rem;
  --sidemenu-nav-width: 19rem;
}

main.sidemenu {
  --sidemenu-nav-padding-bottom: 6rem;

  position: relative;

  > nav {
    /* Layout */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    left: 0;
    width: var(--sidemenu-nav-width);
    padding-top: var(--sidemenu-nav-padding-top);
    padding-right: var(--sidemenu-nav-padding-right);
    padding-bottom: var(--sidemenu-nav-padding-bottom);
    padding-left: var(--sidemenu-nav-padding-left);
    box-sizing: border-box;
    background-color: #ffffff;
    border-right: 1px solid var(--sidemenu-nav-border-color);

    /* Behaviour */
    overflow: auto;
    position: sticky;
    position: absolute;

    /* Transition */
    transition: left 1s;

    @media (width >= 55rem) {
      position: sticky;
      height: 100vh;
    }

    ol,
    ul {
      padding-left: 0;
      list-style-position: inside;

      li {
        --list-base-item-padding: 0.75rem 0;

        a,
        a:visited,
        a:focus,
        a:active {
          color: #000000;
          text-decoration: none;
        }
      }
    }

    .sticky {
      top: 4.5rem;
    }

    /* Menu button */
    .sidemenu-toggle {
      --sidemenu-button-icon-font-family: var(--icon-font-family);
      --sidemenu-expanded-button-icon: "\ec42";
      --sidemenu-collapsed-button-icon: "\ec42";

      /* Layout */
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
      min-width: var(--sidemenu-toggle-button-min-width);
      min-height: var(--sidemenu-toggle-button-min-height);
      margin-left: 0;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;

      /* Needed to keep the button to stick to the top */
      top: var(--sidemenu-button-margin-top);
      z-index: 2;

      /* Styling */
      font-size: var(--sidemenu-toggle-button-font-size);
      border: 0;
      border-radius: 0;
      color: #000000;

      /* Behaviour */
      position: sticky;
      position: static;

      /* Transition */
      transition: margin-left 1s;

      &::before {
        @include icon.icon;

        line-height: 1;
        content: var(--sidemenu-expanded-button-icon);
        font-family: var(--sidemenu-button-icon-font-family);
        font-size: var(--sidemenu-button-icon-font-size);

        /* Styling options for text input instead of icons */
        font-weight: var(--sidemenu-button-icon-font-weight);
        white-space: var(--sidemenu-button-icon-white-space);
      }

      &[aria-expanded="false"] {
        margin-left: calc(var(--sidemenu-nav-width));
        transition: margin-left 1s;

        &::before {
          content: var(--sidemenu-collapsed-button-icon);
        }
      }
    }
  }

  &.sidemenu-closed > nav {
    position: absolute;

    /* Needed to show the button */
    overflow: visible;

    /* Move outside of the screen according to the size of the menu */
    left: calc(var(--sidemenu-nav-width) * -1);

    @media (width >= 55rem) {
      position: absolute;

      /* Layout */
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 100vh;
      left: calc(var(--sidemenu-nav-width) * -1);
      width: var(--sidemenu-nav-width);
      padding-top: var(--sidemenu-nav-padding-top);
      padding-right: var(--sidemenu-nav-padding-right);
      padding-bottom: var(--sidemenu-nav-padding-bottom);
      padding-left: var(--sidemenu-nav-padding-left);
      box-sizing: border-box;
    }

    > div {
      overflow: hidden;
    }
  }
}
