/* Table - Variables */

:root {
	/* Base */
	--table-background-color: #ffffff;
	--table-text-color: var(--application-base-text-color);
	--table-foot-background-color: #f5f5f5;
	--table-body-head-cell-background-color: var(--application-base-accent-color);

	/* Table header */
	--table-head-background-color: #ffffff;
	--table-head-border-width: 0 0 2px 0;
	--table-head-border-style: solid;
	--table-head-border-color: var(--branding-color-1-darker);

	/* Table row */
	--table-row-background-color-striping: transparent;

	/* th */
	--table-head-cell-font-size: 1rem;

	/* Table cell */
	--table-cell-border-width: 0 0 1px 0;
	--table-cell-border-style: solid;
	--table-cell-border-color: #cccccc;
	--table-cell-padding: 0.5rem 1rem;
	--table-cells-padding: 0.25rem 1rem;

	/* Actions */
	--table-action-buttons-button-font-size: var(--icon-font-size);
}

table td {
	&.confirmation,
	&.explanation,
	&.error,
	&.system,
	&.warning {
		border-width: 0 0 1px;
	}
}
