/* Tabs - Variables */

:root {
  --tabs-border-width: 0;

  /* Tab */
  --tabs-border-color: #cccccc;
  --tabs-item-text-color: var(--application-base-text-color);

  /* Active tab */
  --tabs-item-active-text-color: var(--application-base-text-color);
  --tabs-item-active-border-color: var(--kat-purrple-6);
  --tabs-item-active-hover-border-color: var(--kat-purrple-6);
  --tabs-item-active-hover-text-color: var(--application-base-text-color);
  --tabs-item-active-border-width: 0 0 4px 0;

  /* Hover */
  --tabs-item-hover-border-width: 0 0 4px 0;
  --tabs-item-hover-border-color: #d4d4d4;
}

.tabs ul li > a:focus,
ul.tabs li > a:focus {
  border: 0 0 4px 0;
  border-color: var(--kat-purrple-6);
}
