/* Tabs - Variables */

:root {
  --tabs-border-width: 0;

  /* Tab */
  --tabs-border-color: #cccccc;
  --tabs-item-text-color: var(--application-base-text-color);

  /* Active tab */
  --tabs-item-active-text-color: var(--application-base-text-color);
  --tabs-item-active-border-color: var(--kat-purrple-6);
  --tabs-item-active-hover-border-color: var(--kat-purrple-6);
  --tabs-item-active-hover-text-color: var(--application-base-text-color);
  --tabs-item-active-border-width: 0 0 4px 0;

  /* Hover */
  --tabs-item-hover-text-color: var(--branding-color-1-darker);
  --tabs-item-hover-border-color: var(--branding-color-1-darker);
}
