/* Tags - Variables */

:root {
  --tag-font-size: var(--body-text-small-font-size);
  --tag-font-weight: bold;
}

ul {
  &.tags {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;

    li {
      border: none;
      padding: 0;

      label {
        margin-right: 0.5rem;
      }

      span {
        padding: var(--tag-padding);
        border-radius: var(--tag-border-radius);
        line-height: var(--tag-line-height);
      }
    }
  }
}
