/* Font:Kat icons */
$kat-font-path: "themes/soft/fonts/kat-icons" !default;

@font-face {
  font-family: kat-icons;
  font-weight: normal;
  font-style: normal;
  src: url("#{$kat-font-path}//kat-icons.eot");
  src: url("#{$kat-font-path}//kat-icons.woff") format("woff"),
  url("#{$kat-font-path}//kat-icons.ttf") format("truetype"),
  url("#{$kat-font-path}//kat-icons.svg") format("svg");
}
