[build-system]
requires = ["setuptools>=62.2", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.black]
target-version = ['py38']
line-length = 120

[tool.mypy]
python_version = "3.8"
exclude = [".git", "__pycache__", "old", "build", "dist", "venv"]
strict = true
ignore_missing_imports = true # Required as third-party modules may not come with type stubs
follow_imports = "skip"

[tool.vulture]
exclude = [".git", "__pycache__", "old", "build", "dist", "venv"]
paths = ["./"]
min_confidence = 90
ignore_names = ["mock_*"]

[tool.pylint.format]
max-line-length = 120

[tool.pylint."MESSAGES CONTROL"]
extension-pkg-whitelist = "pydantic" # Ignore pydantic import checks
disable = ["E0203", "F0401", "R0914", "W1514", "R0903", "E0401"]

[tool.pytest.ini_options]
addopts = "--cov --cov-branch --cov-report=term-missing:skip-covered"
DJANGO_SETTINGS_MODULE = "rocky.settings"

[tool.coverage.run]
omit = ["fmea/*"]

[tool.djlint]
max_line_length = 120
blank_line_after_tag = "load,extends,include"
# https://www.djlint.com/docs/linter/#rules
ignore = "H006,H013,H014,H016,H017,H019,H020,H023,H025,H030,H031,H033,T032"
