[tool.poetry]
name = "rocky"
version = "0.0.1.dev1"
description = "KAT's Django front-end"
authors = ["MinVWS <maintainer@openkat.nl>"]
license = "EUPL"

[tool.poetry.dependencies]
python = "^3.10"
beautifulsoup4 = "^4.11.2"
Django = "^4.2.11"
django-two-factor-auth = "^1.14.0"
django-environ = "^0.11.2"
jsonschema = "^4.17.0"
phonenumbers = "^8.13.33"
psycopg2 = "^2.9.6"
pydantic = "^2.7.1"
python-dotenv = "^1.0.0"
django-password-validators = "^1.7.1"
django-csp = "^3.7"
djangorestframework = "^3.14.0"
django-tagulous = "^1.3.3"
drf-standardized-errors = "^0.12.5"
django-compressor = { git = "https://github.com/dekkers/django-compressor", rev = "620bc0ab86590f8981dd24456a70951c9bdbf91f" }
django-weasyprint = "^2.2.1"
strenum = "^0.4.15"
django-rest-knox = { git = "https://github.com/jazzband/django-rest-knox", rev = "dd7b062147bc4b9718e22d5acd6cf1301a1036b9" }

# OpenTelemetry
opentelemetry-sdk = "^1.24.0"
opentelemetry-exporter-otlp-proto-grpc = "^1.24.0"
opentelemetry-instrumentation-django = "^0.45b0"
opentelemetry-instrumentation-psycopg2 = "^0.45b0"
whitenoise = { extras = ["brotli"], version = "^6.5.0" }
opentelemetry-instrumentation = "^0.45b0"
opentelemetry-instrumentation-fastapi = "^0.45b0"
granian = "1.02"

# These used in octopoes parts that are used by rocky
pyparsing = "^3.1.1"
pydantic-settings = "^2.0.3"
opentelemetry-instrumentation-httpx = "^0.45b0"
httpx = "^0.27.0"
opentelemetry-api = "^1.24.0"
opentelemetry-exporter-otlp-proto-common = "^1.24.0"
opentelemetry-instrumentation-asgi = "^0.45b0"
opentelemetry-instrumentation-dbapi = "^0.45b0"
opentelemetry-instrumentation-wsgi = "^0.45b0"
opentelemetry-proto = "^1.24.0"
opentelemetry-semantic-conventions = "^0.45b0"
opentelemetry-util-http = "^0.45b0"


[tool.poetry.group.dev.dependencies]
djlint = "^1.32.1"
robotframework-tidy = "^4.1.0"

# Robot Framework dependencies
PyNaCl = "^1.5.0"
robotframework = "^6.1"
robotframework-browser = "^16.2.0"
robotframework-debuglibrary = "^2.3.0"
robotframework-otp = "^1.1.0"
robotframework-postgresqldb = "^2.0.0"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
pytest-django = "^4.5.2"
pytest-drf = "^1.1.3"
pytest-mock = "^3.11.1"
pytest-httpx = "^0.30.0"
model-mommy = "^2.0.0"
factory-boy = "^3.2.1"

django-admin-auto-tests = { git = "https://github.com/dekkers/django-admin-auto-tests", rev = "f6eb4cbb9112b5aa933313d79e4da823adb41e1e" }

[build-system]
requires = ["setuptools>=62.2", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.pytest.ini_options]
addopts = "--cov --cov-branch --cov-report=term-missing:skip-covered -m 'not slow' --ignore=tests/integration"
DJANGO_SETTINGS_MODULE = "rocky.settings_test"
markers = ["slow: marks tests as slow"]

[tool.djlint]
max_line_length = 120
blank_line_after_tag = "load,extends,include"
# https://www.djlint.com/docs/linter/#rules
ignore = "H006,H016,H017,H030,H031"
