[tool.poetry]
name = "rocky"
version = "0.0.1.dev1"
description = "KAT's Django front-end"
authors = ["MinVWS <maintainer@openkat.nl>"]
license = "EUPL"

[tool.poetry.dependencies]
python = "^3.8"
ares = "^0.7.1"
asgiref = "^3.6.0"
beautifulsoup4 = "^4.11.2"
certifi = "^2023.7.22"
chardet = "^5.1.0"
cwe = "^1.6"
Django = "^4.2.3"
django-formtools = "^2.4.1"
django-otp = "^1.1.3"
django-phonenumber-field = "^6.1.0"
django-two-factor-auth = "^1.14.0"
django-environ = "^0.10.0"
idna = "^3.4"
jsonschema = "^4.17.0"
lxml = "^4.9.2"
phonenumbers = "^8.12.57"
psycopg2 = "^2.9.6"
pydantic = "^1.10.9"
python-dotenv = "^1.0.0"
qrcode = "^7.3.1"
requests = "^2.31.0"
six = "^1.16.0"
soupsieve = "^2.3.2.post1"
sqlparse = "^0.4.4"
toolz = "^0.12.0"
typing-extensions = "^4.4.0"
urllib3 = "^2.0.3"
xhtml2pdf = "^0.2.11"
dnspython = "^2.1.0"
django-password-validators = "^1.7.1"
colorama = "^0.4.6"
django-csp = "^3.7"
uwsgi = "^2.0.22"
djangorestframework = "^3.14.0"
django-tagulous = "^1.3.3"
drf-standardized-errors = "^0.12.5"
django-compressor = { git = "https://github.com/dekkers/django-compressor", rev = "620bc0ab86590f8981dd24456a70951c9bdbf91f" }

# temp fix to pass build, remove later when https://github.com/xhtml2pdf/xhtml2pdf/issues/589 is solved
reportlab = "^3.6.13"

# OpenTelemetry
opentelemetry-sdk = "^1.19.0"
opentelemetry-exporter-otlp-proto-grpc = "^1.19.0"
opentelemetry-instrumentation-django = "^0.41b0"
opentelemetry-instrumentation-psycopg2 = "^0.41b0"
opentelemetry-instrumentation-requests = "^0.41b0"
whitenoise = {extras = ["brotli"], version = "^6.5.0"}
opentelemetry-instrumentation = "^0.41b0"
opentelemetry-instrumentation-fastapi = "^0.41b0"


[tool.poetry.group.dev.dependencies]
mypy = "^1.0.1"
pylint = "^2.15.5"
vulture = "^2.6"
djlint = "^1.32.1"
black = "^23.1.0"
robotframework-tidy = "^4.1.0"

# Robot Framework dependencies
wheel = "^0.40.0"
PyNaCl = "^1.5.0"
Image = "^1.5.33"
numpy = "^1.24.0"
pyotp = "^2.8.0"
robotframework = "^6.1"
robotframework-browser = "^16.2.0"
robotframework-debuglibrary = "^2.3.0"
robotframework-otp = "^1.1.0"
robotframework-postgresqldb = "^2.0.0"
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
pytest-django = "^4.5.2"
pytest-drf = "^1.1.3"
pytest-mock = "^3.11.1"
model-mommy = "^2.0.0"
factory-boy = "^3.2.1"

# NOTE: pip does not yet support hash verification for git dependencies;
# rocky's requirements-dev.txt unfortunately has no hashing until then
# f6eb4cbb9112b5aa933313d79e4da823adb41e1e -> Remove pip import in setup.py
django-admin-auto-tests = { git = "https://github.com/dekkers/django-admin-auto-tests", rev = "f6eb4cbb9112b5aa933313d79e4da823adb41e1e" }

[build-system]
requires = ["setuptools>=62.2", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.pytest.ini_options]
addopts = "--cov --cov-branch --cov-report=term-missing:skip-covered"
DJANGO_SETTINGS_MODULE = "rocky.settings_test"

[tool.coverage.run]
omit = ["fmea/*"]

[tool.djlint]
max_line_length = 120
blank_line_after_tag = "load,extends,include"
# https://www.djlint.com/docs/linter/#rules
ignore = "H006,H016,H017,H030,H031"

[tool.black]
target-version = ["py38", "py39", "py310", "py311"]
line-length = 120
