# Include runtime dependencies
-r requirements.txt

# Include formatters and linters
-r requirements-check.txt

# Robot Framework dependencies
wheel
PyNaCl
Image
numpy
pyotp
robotframework
robotframework-browser
robotframework-debuglibrary
robotframework-otp
robotframework-postgresqldb
pytest
pytest-cov
pytest-django
pytest-drf
pytest-mock
git+https://github.com/dekkers/django-admin-auto-tests@fix-create-unique
model-mommy
factory-boy
