[Unit]
Description=kat-bytes socket

[Socket]
ListenStream=/run/kat-bytes.sock
SocketUser=kat
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
