{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Crisis Room' %}</h1>
        <p>
          {% translate 'An overview of all (critical) findings KAT found. Check the detail section for additional severity information.' %}
        </p>
      </div>
    </section>
    <section>
      <div>{% include 'partials/elements/ooi_report_settings.html' %}</div>
    </section>
    {% include 'crisis_room/crisis_room_findings_block.html' %}
  </main>
{% endblock %}
