{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}

    <main id="main-content" tabindex="-1" class="privacy-statement">
      <section>
        <div>
          <h1>{% blocktranslate %}KAT Privacy Statement{% endblocktranslate %}</h1>
          <p>{% blocktranslate trimmed %}KAT is dedicated to protecting the confidentiality and privacy of information entrusted to it.
            As part of this fundamental obligation, KAT is committed to the appropriate protection and use of
            personal information (sometimes referred to as "personal data",
            "personally identifiable information" or "PII") that has been collected online.{% endblocktranslate %}
          </p>
        </div>
      </section>
    </main>
{% endblock %}
