{% load i18n %}

{% if messages %}
  {% for message in messages %}
    {% if 'success' in message.tags %}
      <div class="message">
        <div class="confirmation"
             role="group"
             aria-label="{% translate 'confirmation' %}">
          <span>{% translate 'Confirmation' %}:</span>
          <p>
            {% if 'safe' in message.tags %}
              {{ message|safe }}
            {% else %}
              {{ message }}
            {% endif %}
          </p>
        </div>
      </div>
    {% elif 'error' in message.tags %}
      <div class="message">
        <div class="error" role="group" aria-label="{% translate 'error' %}">
          <span>{% translate 'Error' %}:</span>
          <p>
            {% if 'safe' in message.tags %}
              {{ message|safe }}
            {% else %}
              {{ message }}
            {% endif %}
          </p>
        </div>
      </div>
    {% elif 'info' in message.tags %}
      <div class="message">
        <div class="explanation"
             role="group"
             aria-label="{% translate 'explanation' %}">
          <p>
            {% if 'safe' in message.tags %}
              {{ message|safe }}
            {% else %}
              {{ message }}
            {% endif %}
          </p>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endif %}
