body > header {
  div.horizontal-view {
    @media (max-width: 56rem) {
      position: relative;
      padding: 0;

      .logo {
        position: absolute;
        top: 0.75rem;
        left: 0.5rem;
      }

      .collapsible-menu {
        padding-top: 1rem;
        .secondary-menu {
          width: 100%;

          &:hover {
            background-color: transparent;
          }
        }
      }
    }
  }

  nav:not(.breadcrumb-bar) {
    min-height: 4rem;
    padding-top: 1rem;

    a {
      border-bottom: 1px solid transparent;
    }

    a[aria-current="page"],
    a:hover {
      border-bottom: 1px solid white;
    }

    .secondary-menu {
      margin-left: auto;
    }
  }
}
