
{% for field in fields %}{% if not loop.first %}

{% else %}{% endif %}## `{{ field.field_info.extra["env_names"]|list|first|upper }}`

*{% if field.required %}*Required*{% else %}Optional{% endif %}*{% if field.default != None %}, default value: `{{ field.default }}`{% endif %}

{% if field.field_info.description %}

{{ field.field_info.description }}
{% endif %}
    {% if field.field_info.extra["example"] %}

### Examples

{{ field.field_info.extra["example"] }}
    {% endif %}
    {% if field.field_info.extra["possible_values"] %}
        {% set possible_values = field.field_info.extra["possible_values"] %}
    {% elif field.type_.__class__.__name__ == "_LiteralGenericAlias" %}
        {% set possible_values = field.type_.__args__ %}
    {% endif %}
    {% if possible_values %}

### Possible values

        {% if not is_values_with_descriptions(possible_values) %}
            {% if possible_values|join("`, `")|length + 2 <= 75 %}
`{{ possible_values|join("`, `") }}`
            {% else %}
                {% for value in possible_values %}
- `{{ value }}`
                {% endfor %}
            {% endif %}
        {% else %}
            {% for value in possible_values %}
                {% if value.__class__.__name__ == "tuple" and value|length <= 2 %}
                    {% if value|length == 2 %}
- `{{ value[0] }}`: {{ value[1] }}
                    {% else %}
- `{{ value[0] }}`
                    {% endif %}
                {% else %}
- `{{ value }}`
                {% endif %}
            {% endfor %}

        {% endif %}
    {% endif %}
{% endfor %}
