{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>"{{ task.p_item.data.boefje.id }}" @ {{ task.p_item.data.input_ooi }}</h1>
                <h2>{{ task.created_at }}</h2>
                <p>
                    {% blocktranslate trimmed %}
                        An overview of the boefje task, the input OOI and the RAW data it generated.
                    {% endblocktranslate %}
                </p>
            </div>
            <div>
                <h2>RAW file</h2>
                {% if task.status.value in "completed,failed" %}
                    <a href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=task.id %}">{% translate "Download meta and raw data" %}</a>
                {% else %}
                    <a href="{% url 'download_task_meta' organization_code=organization.code task_id=task.id %}">{% translate "Download meta data" %}</a>
                {% endif %}
            </div>
            <div>
                <h2>{% translate "Input object" %}</h2>
                <p>
                    <a href="{% ooi_url 'ooi_detail' task.p_item.data.input_ooi organization.code %}">{{ task.p_item.data.input_ooi }}</a>
                </p>
            </div>
        </section>
    </main>
{% endblock content %}
{% block script %}
    {{ block.super }}
{% endblock script %}
