{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                {% include "tasks/partials/tab_navigation.html" with view="boefjes_tasks" %}

                <h1>{% translate "Boefjes" %}</h1>
                {% include "tasks/partials/task_filter.html" %}

                {% if not object_list %}
                    <p class="emphasized">{% translate "There are no tasks for boefjes" %}</p>
                {% else %}
                    <p class="emphasized">{% translate "List of tasks for boefjes" %}</p>
                    <div class="horizontal-scroll">
                        <table rf-selector="table-boefjes">
                            <caption>{% translate "List of tasks for " %}{{ organization.name }}</caption>
                            <thead>
                                <tr>
                                    <th scope="col">{% translate "Boefje" %}</th>
                                    <th scope="col">{% translate "Status" %}</th>
                                    <th scope="col">{% translate "Created date" %}</th>
                                    <th scope="col">{% translate "Input Object" %}</th>
                                    <th scope="col">{% translate "Details" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in object_list %}
                                    <tr id="{{ task.id }}">
                                        <td>
                                            <a href="{% url 'plugin_detail' organization_code=organization.code plugin_type='boefje' plugin_id=task.p_item.data.boefje.id %}">
                                                {% if not task.p_item.data.boefje.name %}
                                                    {{ task.p_item.data.boefje.id }}
                                                {% else %}
                                                    {{ task.p_item.data.boefje.name }}
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td class="nowrap">
                                            {% if task.status.value == "pending" or task.status.value == "queued" %}
                                                <i class="icon queued"></i>&nbsp;{{ task.status.value|capfirst }}
                                            {% elif task.status.value == "running" or task.status.value == "dispatched" %}
                                                <i class="icon running"></i>&nbsp;{{ task.status.value|capfirst }}
                                            {% elif task.status.value == "cancelled" %}
                                                <i class="icon cancelled"></i>&nbsp;{{ task.status.value|capfirst }}
                                            {% elif task.status.value == "failed" %}
                                                <i class="icon negative"></i>&nbsp;{{ task.status.value|capfirst }}
                                            {% elif task.status.value == "completed" %}
                                                <i class="icon positive"></i>&nbsp;{{ task.status.value|capfirst }}
                                            {% else %}
                                                <i class="icon neutral"></i>&nbsp;{{ task.status.value|capfirst }}
                                            {% endif %}
                                        </td>
                                        <td>{{ task.created_at }}</td>
                                        {% if task.p_item.data.input_ooi %}
                                            <td>
                                                <a href="{% ooi_url "ooi_detail" task.p_item.data.input_ooi organization.code %}">{{ task.p_item.data.input_ooi }}</a>
                                            </td>
                                        {% else %}
                                            <td>{% translate "No input OOI" %}</td>
                                        {% endif %}
                                        <td class="actions action-buttons">
                                            <button type="button"
                                                    class="expando-button normalizer-list-table-row"
                                                    data-icon-open-class="icon ti-chevron-down"
                                                    data-icon-close-class="icon ti-chevron-up"
                                                    data-close-label="{% translate "Close details" %}">
                                                {% translate "Open details" %}
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="expando-row">
                                        <td colspan="7">
                                            <section>
                                                <div class="button-container">
                                                    {% if task.status.value in "completed,failed" %}
                                                        <a class="button"
                                                           href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=task.id %}"><span class="icon ti-download"></span>{% translate "Download meta and raw data" %}</a>
                                                        {% include "partials/single_action_form.html" with btn_text=_("Reschedule") btn_class="ghost" btn_icon="icon ti-refresh" action="reschedule_task" key="task_id" value=task.id %}

                                                    {% else %}
                                                        <a class="button"
                                                           href="{% url 'download_task_meta' organization_code=organization.code task_id=task.id %}"><span class="icon ti-download"></span>{% translate "Download task data" %}</a>
                                                    {% endif %}
                                                </div>
                                            </section>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% include "partials/list_paginator.html" %}

                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
