{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "tasks/partials/tasks_overview_header.html" %}
            {% include "tasks/partials/tab_navigation.html" with view="boefjes_tasks" %}

            {% if not task_list %}
                <div>
                    <h2>{% translate "Boefjes" %}</h2>
                    <p>{% translate "There are no tasks for boefjes" %}</p>
                </div>
                {% include "tasks/partials/task_filter.html" %}

            {% else %}
                <div>
                    <h2>{% translate "Boefjes" %}</h2>
                    <p>{% translate "List of tasks for boefjes" %}</p>
                </div>
                {% include "tasks/partials/task_filter.html" %}

                <div class="horizontal-scroll sticky-column">
                    <table rf-selector="table-scan-history" class="nowrap">
                        <thead>
                            <tr>
                                {% if not organization.code %}
                                    <th scope="col">{% translate "Organization Code" %}</th>
                                {% endif %}
                                <th scope="col">{% translate "Boefje" %}</th>
                                <th scope="col">{% translate "Status" %}</th>
                                <th scope="col">{% translate "Created date" %}</th>
                                <th scope="col">{% translate "Modified date" %}</th>
                                <th scope="col">{% translate "Input Object" %}</th>
                                <th scope="col" class="visually-hidden actions">{% translate "Details" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in task_list %}
                                <tr data-task-id="{{ task.id }}">
                                    {% if not organization.code %}
                                        <td>
                                            <a href="{% url "organization_crisis_room" task.data.organization %}">{{ task.data.organization }}</a>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url "boefje_detail" task.data.organization task.data.boefje.id %}">{{ task.data.boefje.name }}</a>
                                    </td>
                                    <td>
                                        <i class="icon {{ task.status.value }}"></i>{{ task.status.value|capfirst }}
                                    </td>
                                    <td>
                                        <i class="icon {{ task.status.value }}"></i>{{ task.created_at }}
                                    </td>
                                    <td>{{ task.modified_at }}</td>
                                    <td>
                                        <a href="{% ooi_url "ooi_detail" task.data.input_ooi task.data.organization observed_at=task.created_at|date:'c' %}">{{ task.data.input_ooi }}</a>
                                    </td>
                                    <td class="actions sticky-cell">
                                        <button type="button"
                                                class="expando-button boefjes-task-list-table-row"
                                                data-icon-open-class="icon ti-chevron-down"
                                                data-icon-close-class="icon ti-chevron-up"
                                                data-close-label="{% translate "Close details" %}">
                                            {% translate "Open details" %}
                                        </button>
                                    </td>
                                </tr>
                                <tr class="expando-row">
                                    <td colspan="{% if not organization.code %}7{% else %}6{% endif %}">
                                        {% include "tasks/partials/task_actions.html" %}

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
        {% include "tasks/partials/stats.html" %}

    </main>
{% endblock content %}
