{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                {% include "tasks/partials/tab_navigation.html" with view="boefjes_tasks" %}

                <h1>{% translate "Boefjes" %}</h1>
                {% include "tasks/partials/task_filter.html" %}

                {% if not object_list %}
                    <p class="emphasized">{% translate "There are no tasks for boefjes" %}</p>
                {% else %}
                    <p class="emphasized">{% translate "List of tasks for boefjes" %}</p>
                    <div class="horizontal-scroll">
                        {% include "tasks/partials/boefje_task_history.html" with task_history=object_list %}

                    </div>
                    {% include "partials/list_paginator.html" %}

                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
