{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>"{{ task.p_item.data.normalizer.id }}" {% translate "details" %}</h1>
                <h2>{{ task.p_item.data.raw_data.boefje_meta.ended_at }}</h2>
                <p>
                  {% blocktranslate trimmed %}
                      An overview of the normalizer task, the RAW input and the objects it yielded as a result.
                  {% endblocktranslate %}
                </p>
            </div>

            <div>
              <h2>{% translate "Yielded objects" %}</h2>
              {% for object in output_oois %}
                  <a href="{% ooi_url 'ooi_detail' object organization.code %}">{{ object }}</a>
              {% endfor %}
            </div>

            <div>
              <h2>RAW input</h2>

              <a href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=task.p_item.data.raw_data.boefje_meta.boefje.id %}">{% translate "Download meta and raw data" %}</a>
            </div>

            <div>
              <h2>Boefje</h2>
              <p>
                <a href="{% url 'plugin_detail' organization_code=organization.code plugin_type='boefje' plugin_id=task.p_item.data.raw_data.boefje_meta.boefje.id %}">
                  {{ task.p_item.data.raw_data.boefje_meta.boefje.id }}
                </a>
              </p>
            </div>

            <div>
              <h2>{% translate "Input object" %}</h2>
              <p>
                <a href="{% ooi_url 'ooi_detail' task.p_item.data.raw_data.boefje_meta.input_ooi organization.code %}">
                  {{ task.p_item.data.raw_data.boefje_meta.input_ooi }}
                </a>
              </p>
            </div>
        </section>
    </main>
{% endblock content %}

{% block script %}
    {{ block.super }}
{% endblock script %}
