{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "tasks/partials/tasks_overview_header.html" %}
            {% include "tasks/partials/tab_navigation.html" with view="normalizers_tasks" %}

            <h1>{% translate "Normalizers" %}</h1>
            {% if not task_list %}
                <p class="emphasized">{% translate "There are no tasks for normalizers" %}</p>
                {% include "tasks/partials/task_filter.html" %}

            {% else %}
                <p class="emphasized">{% translate "List of tasks for normalizers" %}</p>
                {% include "tasks/partials/task_filter.html" %}

                <div class="horizontal-scroll sticky-column">
                    <table rf-selector="table-scan-history" class="nowrap">
                        <thead>
                            <tr>
                                {% if not organization.code %}
                                    <th scope="col">{% translate "Organization" %}</th>
                                {% endif %}
                                <th scope="col">{% translate "Normalizer" %}</th>
                                <th scope="col">{% translate "Status" %}</th>
                                <th scope="col">{% translate "Created date" %}</th>
                                <th scope="col">{% translate "Modified date" %}</th>
                                <th scope="col">{% translate "Boefje" %}</th>
                                <th scope="col">{% translate "Boefje input OOI" %}</th>
                                <th scope="col" class="visually-hidden actions">{% translate "Details" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in task_list %}
                                <tr data-task-id="{{ task.id }}"
                                    {% if not organization %}data-organization-code="{{ task.data.raw_data.boefje_meta.organization }}"{% endif %}>
                                    {% if not organization %}
                                        <td>
                                            <a href="{% url "organization_crisis_room" task.data.raw_data.boefje_meta.organization %}">{{ task.data.raw_data.boefje_meta.organization }}</a>
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url "normalizer_detail" task.data.raw_data.boefje_meta.organization task.data.normalizer.id %}">{{ task.data.normalizer.id }}</a>
                                    </td>
                                    <td class="nowrap">
                                        <i class="icon {{ task.status.value }}"></i>&nbsp;{{ task.status.value|capfirst }}
                                    </td>
                                    <td>{{ task.created_at }}</td>
                                    <td>{{ task.modified_at }}</td>
                                    <td>
                                        {% if task.data.raw_data.boefje_meta.boefje.name %}
                                            {% if task.data.raw_data.boefje_meta.boefje.id == "manual" %}
                                                <p>{% translate "Manually added" %}</p>
                                            {% else %}
                                                <a href="{% url "boefje_detail" task.data.raw_data.boefje_meta.organization task.data.raw_data.boefje_meta.boefje.id %}">{{ task.data.raw_data.boefje_meta.boefje.name }}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="{% url "boefje_detail" task.data.raw_data.boefje_meta.organization task.data.raw_data.boefje_meta.boefje.id %}">{{ task.data.raw_data.boefje_meta.boefje.id }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if task.data.raw_data.boefje_meta.input_ooi %}
                                            <a href="{% ooi_url "ooi_detail" task.data.raw_data.boefje_meta.input_ooi task.data.raw_data.boefje_meta.organization observed_at=task.created_at|date:'c' %}">{{ task.data.raw_data.boefje_meta.input_ooi }}</a>
                                        {% endif %}
                                    </td>
                                    <td class="actions sticky-cell">
                                        <button type="button"
                                                class="expando-button normalizer-list-table-row"
                                                data-icon-open-class="icon ti-chevron-down"
                                                data-icon-close-class="icon ti-chevron-up"
                                                data-close-label="{% translate "Close details" %}">
                                            {% translate "Open details" %}
                                        </button>
                                    </td>
                                </tr>
                                <tr class="expando-row">
                                    <td colspan="{% if not organization.code %}8{% else %}7{% endif %}">
                                        {% include "tasks/partials/task_actions.html" %}

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
        {% include "tasks/partials/stats.html" %}

    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/renderNormalizerOutputOOIs.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
