{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                {% include "tasks/partials/tab_navigation.html" with view="normalizers_tasks" %}

                <h1>{% translate "Normalizers" %}</h1>
                {% include "tasks/partials/task_filter.html" %}

                {% if not object_list %}
                    <p class="emphasized">{% translate "There are no tasks for normalizers" %}</p>
                {% else %}
                    <p class="emphasized">{% translate "List of tasks for normalizers" %}</p>
                    <div class="horizontal-scroll">
                        {% include "tasks/partials/normalizer_task_history.html" with task_history=object_list %}

                    </div>
                    {% include "partials/list_paginator.html" %}

                {% endif %}
            </div>
        </section>
        {% include "tasks/partials/stats.html" %}

    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script type="module" src="{% static "js/renderNormalizerOutputOOIs.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
