{% load i18n %}

<div class="horizontal-scroll">
    <h2>{% translate "Tasks" %}</h2>
    {% ooi_url 'ooi_detail' ooi.primary_key organization.code query=mandatory_fields as this_url %}
    {% if not task_list %}
        <p class="emphasized">{% translate "There have been no tasks" %}</p>
        {% include "tasks/partials/task_filter.html" with clear_filter_url=this_url %}

    {% else %}
        {% include "tasks/partials/task_filter.html" with clear_filter_url=this_url %}

        <table rf-selector="table-scan-history">
            <thead>
                <tr>
                    <th scope="col">{% translate "Plugin" %}</th>
                    <th scope="col">{% translate "Status" %}</th>
                    <th scope="col">{% translate "Created date" %}</th>
                    <th scope="col" class="visually-hidden actions">{% translate "Details" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for task in task_list %}
                    <tr data-task-id="{{ task.id }}">
                        <td>
                            {% if task.type == "boefje" %}
                                <a href="{% url "boefje_detail" organization.code task.data.boefje.id %}">{{ task.data.boefje.name }}</a>
                            {% elif task.type == "normalizer" %}
                                <a href="{% url "normalizer_detail" organization.code task.data.normalizer.id %}">{{ task.data.normalizer.id }}</a>
                            {% else %}
                                {{ task.id }}
                            {% endif %}
                        </td>
                        <td class="nowrap">
                            <i class="icon {{ task.status.value }}"></i>&nbsp;{{ task.status.value|capfirst }}
                        </td>
                        <td class="nowrap">{{ task.created_at }}</td>
                        <td class="actions">
                            <button type="button"
                                    class="expando-button ooi-detail-task-list-table-row"
                                    data-icon-open-class="icon ti-chevron-down"
                                    data-icon-close-class="icon ti-chevron-up"
                                    data-close-label="{% translate "Close details" %}">
                                {% translate "Open details" %}
                            </button>
                        </td>
                    </tr>
                    <tr class="expando-row">
                        <td colspan="4">
                            {% include "tasks/partials/task_actions.html" %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>
{% include "partials/list_paginator.html" %}
