{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "tasks/partials/tasks_overview_header.html" %}
            {% include "tasks/partials/tab_navigation.html" with view="report_tasks" %}

            <h1>{% translate "Reports" %}</h1>
            {% if not report_task_list %}
                <p class="emphasized">{% translate "There are no tasks for reports" %}</p>
            {% else %}
                <p class="emphasized">{% translate "List of tasks for reports" %}</p>
                {% include "tasks/report_tasks_list.html" %}

            {% endif %}
        </section>
    </main>
{% endblock content %}
