// Alert colors
$grey: #cccccc;
$offwhite: #fafafa;
$lightgrey: #f0f0f0;
$pink: #ca005d;
$blue: #01689b;

:root {
  --color-alert-informative: #006fb3;
  --color-alert-warning: #7d6900;
  --color-alert-positive: #157b31;
  --color-alert-negative: #c3372c;
  --color-alert-negative-darker: #a22e25;
}
