/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

@mixin reset($type: null) {
  @if $type == spacing {
    margin: 0;
    padding: 0;
  }

  @if $type == list {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      margin: 0;
      padding: 0;
    }
  }

  @if $type == everything {
    background-color: transparent;
    border: none;
    float: none;
    height: auto;
    list-style: none;
  }

  margin: 0;
  padding: 0;
  position: static;
  width: auto;
}
