{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="introduction">
                <div>
                    <h1>{{ objectset.name }}</h1>
                    <p>{% translate objectset.description %}</p>
                </div>
                <div class="horizontal-view toolbar">
                    <a class="button" href="{% url 'edit_object_set' pk=objectset.id %}">
                        <span aria-hidden="true" class="icon ti-pencil"></span>{% translate "Edit" %}
                    </a>
                </div>
            </div>
            <div>
                <h2>{% translate "Query" %}</h2>
                <p>
                    {% if objectset.object_query %}
                        <code>{{ objectset.object_query }}</code>
                    {% elif objectset.object_query == "" %}
                        {% translate "The query is empty, so all objects of type" %} <strong>{{ objectset.object_type.model }}</strong> {% translate "are in this set." %}
                    {% else %}
                        {% translate "No query present" %}
                    {% endif %}
                </p>
            </div>
            {% if objects %}
                <div>
                    <h2>{% translate "Preview" %}</h2>
                    <ul>
                        {% for object in objects %}
                            {% with object|to_class_name|lower as model_name %}
                                <li>
                                    <a href="{% url "objects:"|add:model_name|add:"_detail" pk=object.id %}">{{ object }}</a>
                                </li>
                            {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div>
                <h2>{% translate "Manually Added Objects" %}</h2>
                {% if objectset.all_objects %}
                    <ul>
                        {% for object in objectset.all_objects %}<li>{{ object }}</li>{% endfor %}
                    </ul>
                    <p>{% translate "Count:" %} {{ objectset.all_objects|length }}</p>
                {% else %}
                    <p>{% translate "No manually added objects." %}</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
