{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="introduction">
                <div>
                    <h1>{% translate "Object sets" %}</h1>
                    <p>
                        {% blocktranslate trimmed %}
                            Page description. Add more information about this page.
                        {% endblocktranslate %}
                    </p>
                </div>
                {% if perms.openkat.add_object_set %}
                    <div class="horizontal-view toolbar">
                        <a class="button ghost" href="{% url "add_object_set" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add object set" %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                    {{ filter.form.as_p }}
                    <button type="submit">{% translate "Apply" %}</button>
                </form>
            </div>
            {% if not objectset_list %}
                <div>
                    <h2>{% translate "Object Sets" %}</h2>
                    <p>{% translate "There are no object sets." %}</p>
                </div>
            {% else %}
                <div class="horizontal-scroll sticky-column">
                    <table rf-selector="table-scan-history">
                        <thead>
                            <tr>
                                <th scope="col">{% translate "Name" %}</th>
                                <th scope="col">{% translate "Description" %}</th>
                                <th scope="col">{% translate "Object Type" %}</th>
                                <th scope="col">{% translate "Object Query" %}</th>
                                <th scope="col">{% translate "Manual Objects" %}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object_set in objectset_list %}
                                <tr data-object-set-id="{{ object_set.id }}">
                                    <td class="nowrap">
                                        <a href="{% url "object_set_detail" pk=object_set.id %}">{{ object_set.name }}</a>
                                    </td>
                                    <td>
                                        {% if object_set.description %}
                                            {{ object_set.description }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ object_set.object_type.model }}</td>
                                    <td>
                                        {% if object_set.object_query %}
                                            {{ object_set.object_query|truncatechars:50 }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>{{ object_set.all_objects|length }}</td>
                                    <td class="nowrap actions sticky-cell">
                                        <button class="expando-button"
                                                data-icon-open-class="icon ti-chevron-down"
                                                data-icon-close-class="icon ti-chevron-up"
                                                data-close-label="{% translate "Close details" %}">
                                            {% translate "Open details" %}
                                        </button>
                                    </td>
                                </tr>
                                <tr class="expando-row">
                                    <td colspan="6">
                                        {% if object_set.all_objects %}
                                            <div>
                                                <h5>
                                                    {% translate "Manually Added Objects" %} ({{ object_set.all_objects|slice:"10"|length }}/{{ object_set.all_objects|length }})
                                                </h5>
                                                <ul>
                                                    {% for object in object_set.all_objects|slice:"10" %}<li>{{ object }}</li>{% endfor %}
                                                </ul>
                                            </div>
                                        {% endif %}
                                        <div>
                                            {% with object_count=object_set.traverse_objects|length %}
                                                {% if object_set.traverse_objects %}
                                                    <h5>
                                                        {% translate "All Objects (Combined)" %} ({{ object_set.traverse_objects|slice:"10"|length }}/{{ object_count }})
                                                    </h5>
                                                    <ul>
                                                        {% for object in object_set.traverse_objects|slice:"10" %}<li>{{ object }}</li>{% endfor %}
                                                    </ul>
                                                {% else %}
                                                    <h5>{% translate "All Objects" %}</h5>
                                                    <p>{% translate "There are no objects selected for this object list." %}</p>
                                                {% endif %}
                                            {% endwith %}
                                        </div>
                                        <div class="button-container">
                                            {# TODO: Permissions #}
                                            <a class="button"
                                               href="{% url "schedule_list" %}?object_set={{ object_set.id }}">{% translate "View schedules" %}</a>
                                            <form action="{% url 'delete_object_set' object_set.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="ghost destructive" type="submit">{% translate "Delete" %}</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
    </main>
{% endblock content %}
