{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Schedules" %}</h1>
            </div>
            {% if perms.openkat.add_schedule %}
                <div class="horizontal-view toolbar">
                    <a class="button ghost" href="{% url "add_schedule" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add Schedule" %}</a>
                </div>
            {% endif %}
            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                    {{ filter.form.as_p }}
                    <button type="submit">{% translate "Apply" %}</button>
                </form>
            </div>
            {% if not newschedule_list %}
                <div>
                    <h2>{% translate "Schedules" %}</h2>
                    <p>{% translate "There are no Schedules." %}</p>
                </div>
            {% else %}
                <div class="horizontal-scroll sticky-column">
                    <table rf-selector="table-scan-history" class="nowrap">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">{% translate "Plugin" %}</th>
                                <th scope="col">{% translate "Organization" %}</th>
                                <th scope="col">{% translate "Objects" %}</th>
                                <th scope="col">{% translate "Schedule" %}</th>
                                <th scope="col">{% translate "Tasks" %}</th>
                                {#                                <th scope="col">{% translate "Run On" %}</th>#}
                                {#                                TODO: use these #}
                                {#                                <th scope="col">{% translate "Operation" %}</th>#}
                                <th scope="col">{% translate "Enabled" %}</th>
                                <th scope="col">{% translate "" %}</th>
                                <th scope="col">{% translate "" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in schedule_list %}
                                <tr data-schedule-id="{{ schedule.id }}">
                                    <td>
                                        <a href="{% url "schedule_detail" pk=schedule.id %}">{% translate "See Details" %}</a>
                                    </td>
                                    <td>
                                        <a href="{% url "plugin_detail" pk=schedule.plugin.id %}">{{ schedule.plugin.plugin_id }}</a>
                                    </td>
                                    <td>
                                        {% if schedule.organization %}
                                            {{ schedule.organization }}
                                        {% else %}
                                            {% translate "All" %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if schedule.object_set %}
                                            <a href="{% url "object_set_detail" schedule.object_set.id %}">{{ schedule.object_set }}</a>
                                        {% else %}
                                            {% translate "No Objects" %}
                                        {% endif %}
                                    </td>
                                    {#                                    <td>#}
                                    {#                                        <span>{{ schedule.run_on }}</span>#}
                                    {#                                    </td>#}
                                    {#                                    <td>#}
                                    {#                                        <span>{{ schedule.operation }}</span>#}
                                    {#                                    </td>#}
                                    <td>
                                        {% for rrule in schedule.recurrences.rrules %}
                                            {% if rrule.to_text.upper == 'DAILY' %}
                                                <strong>{{ rrule.to_text.upper }} at {{ schedule.recurrences.dtstart.time }}</strong>
                                            {% else %}
                                                <strong>{{ rrule.to_text.upper }} since {{ schedule.recurrences.dtstart }}</strong>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <a href="{% url 'task_list' %}?schedule_id={{ schedule.id }}">See Tasks</a>
                                    </td>
                                    {% if perms.openkat.can_enable_disable_schedule %}
                                        <form action="{% url "edit_schedule" pk=schedule.id %}"
                                              method="post"
                                              class="inline">
                                            {% csrf_token %}
                                            <td>
                                                <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                                                <input type="hidden" name="schedule" value="{{ schedule.id }}">
                                                <input type="hidden" name="recurrences" value="{{ schedule.recurrences }}">
                                                <input type="hidden" name="object_set" value="{{ schedule.object_set.id }}">
                                                {% if schedule.enabled %}
                                                    <input type="hidden" name="enabled" value="false">
                                                    <button type="submit" class="button ghost destructive">{% translate "Disable" %}</button>
                                                {% else %}
                                                    <input type="hidden" name="enabled" value="true">
                                                    <button type="submit" class="button ghost schedule-enabled">{% translate "Enable" %}</button>
                                                {% endif %}
                                            </td>
                                        </form>
                                    {% else %}
                                        <td>
                                            <span>{{ schedule.recurrences }}</span>
                                        </td>
                                        <td>
                                            <span class="de-emphasized">
                                                {% if schedule.enabled %}
                                                    <span class="label system-tag color-2">{% translate "Enabled" %}</span>
                                                {% else %}
                                                    <span class="label system-tag color-3">{% translate "Disabled" %}</span>
                                                </span>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                    <td>
                                        <form action="{% url 'run_schedule' schedule.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit">{% translate "Run" %}</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="{% url 'delete_schedule' schedule.id %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
    </main>
{% endblock content %}
