{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}
{% load compress %}

{% block content %}
    {% include "new_header.html" %}

    <main id="main-content">
        <section>
            <div class="introduction">
                <div>
                    <h1>{% translate "Schedules" %}</h1>
                    <p>
                        {% blocktranslate trimmed %}
                            Page description. Add more information about this page.
                        {% endblocktranslate %}
                    </p>
                </div>
                {% if perms.openkat.add_newschedule %}
                    <div class="horizontal-view toolbar">
                        <a class="button ghost" href="{% url "add_schedule" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add schedule" %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                        {{ filter.form.as_p }}
                        <button type="submit">{% translate "Apply" %}</button>
                </form>
            </div>
            {% if not newschedule_list %}
                <div>
                    <h2>{% translate "Schedules" %}</h2>
                    <p>{% translate "There are no Schedules." %}</p>
                </div>
            {% else %}
                <div class="horizontal-scroll sticky-column">
                    <table rf-selector="table-scan-history" class="nowrap">
                        <thead>
                            <tr>
                                <th scope="col">{% translate "Plugin" %}</th>
                                <th scope="col">{% translate "Object set" %}</th>
                                <th scope="col">{% translate "Organization" %}</th>
                                <th scope="col">{% translate "Schedule" %}</th>
                                <th scope="col">{% translate "Run on" %}</th>
                                <th scope="col">{% translate "Operation" %}</th>
                                <th scope="col">{% translate "Enabled" %}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in newschedule_list %}
                                <tr data-schedule-id="{{ schedule.id }}">
                                    <td>
                                        <a href="{% url "plugin_detail" pk=schedule.plugin.id %}">{{ schedule.plugin.plugin_id }}</a>
                                    </td>
                                    <td>
                                        {% if schedule.object_set %}
                                            <a href="{% url "object_set_detail" schedule.object_set.id %}">{{ schedule.object_set }}</a>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if schedule.organization %}
                                            <a href="{% url "organization_crisis_room" schedule.organization %}">{{ schedule.organization }}</a>
                                        {% else %}
                                            {% translate "All" %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% for rrule in schedule.recurrences.rrules %}
                                            {% if rrule.to_text.upper == 'DAILY' %}
                                                {{ rrule.to_text.upper }} at {{ schedule.recurrences.dtstart.time }}
                                            {% else %}
                                                {{ rrule.to_text.upper }} since {{ schedule.recurrences.dtstart }}
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% if schedule.run_on %}
                                            {{ schedule.run_on }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if schedule.operation %}
                                            {{ schedule.operation }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    {% if perms.openkat.can_enable_disable_schedule %}
                                        <form action="{% url "edit_schedule" pk=schedule.id %}"
                                              method="post"
                                              class="inline">
                                            {% csrf_token %}
                                            <td>
                                                <input type="hidden" name="current_url" value="{{ request.get_full_path }}">
                                                <input type="hidden" name="schedule" value="{{ schedule.id }}">
                                                <input type="hidden" name="recurrences" value="{{ schedule.recurrences }}">
                                                <input type="hidden" name="object_set" value="{{ schedule.object_set.id }}">
                                                {% if schedule.enabled %}
                                                    <input type="hidden" name="enabled" value="false">
                                                    <button type="submit" class="button ghost destructive">{% translate "Disable" %}</button>
                                                {% else %}
                                                    <input type="hidden" name="enabled" value="true">
                                                    <button type="submit" class="button ghost schedule-enabled">{% translate "Enable" %}</button>
                                                {% endif %}
                                            </td>
                                        </form>
                                    {% else %}
                                        <td>
                                            <span>{{ schedule.recurrences }}</span>
                                        </td>
                                        <td>
                                            <span class="de-emphasized">
                                                {% if schedule.enabled %}
                                                    <span class="label system-tag color-2">{% translate "Enabled" %}</span>
                                                {% else %}
                                                    <span class="label system-tag color-3">{% translate "Disabled" %}</span>
                                                </span>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                    <td class="nowrap actions sticky-cell">
                                        <button class="expando-button"
                                                data-icon-open-class="icon ti-chevron-down"
                                                data-icon-close-class="icon ti-chevron-up"
                                                data-close-label="{% translate "Close details" %}">
                                            {% translate "Open details" %}
                                        </button>
                                    </td>
                                </tr>
                                <tr class="expando-row">
                                    <td colspan="6">
                                        <div class="button-container">
                                            {# TODO: Permissions #}
                                            <a class="button" href="{% url "new_task_list" %}?schedule_id={{ schedule.id }}">{% translate "View tasks" %}</a>
                                            <form action="{% url "run_schedule" schedule.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="ghost" type="submit">
                                                    <span class="icon ti-refresh"></span>
                                                    {% translate "Rerun now" %}
                                                </button>
                                            </form>
                                            <a class="button ghost" href="{% url "schedule_detail" pk=schedule.id %}">
                                                <span class="icon ti-edit"></span>
                                                {% translate "Edit" %}
                                            </a>
                                            <form action="{% url "delete_schedule" schedule.id %}" method="post">
                                                {% csrf_token %}
                                                <button class="ghost destructive" type="submit" class="icon ti-trash action-button">
                                                    <span class="icon ti-trash"></span>
                                                    {% translate "Delete" %}
                                                </button>
                                            </form>
                                        </div>     
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
    </main>
{% endblock content %}
