{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="two-thirds-one-third">
                <div>
                    <h1>{% translate "Edit schedule" %}</h1>
                    <p>
                        {% blocktranslate with plugin=schedule.plugin.plugin_id object_set=schedule.object_set trimmed %}
                            Here you can change the schedule for plugin "{{ plugin }}" with object set "{{ object_set }}".
                        {% endblocktranslate %}
                    </p>
                    <form action="{% url "edit_schedule" pk=schedule.id %}"
                          method="post"
                          class="post-form">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form.recurrences }}
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
