{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}

{% block content %}
    {% include "new_header.html" %}

    <main id="main-content">
        <section>
            {% include "tasks/partials/tasks_overview_header.html" %}

            {% if not task_list %}
                <div>
                    <h2>{% translate "Tasks" %}</h2>
                    <p>{% translate "There are no tasks." %}</p>
                </div>
            {% else %}
                <div class="horizontal-scroll sticky-column">
                    <table rf-selector="table-scan-history" class="nowrap">
                        <thead>
                            <tr>
                                <th scope="col">{% translate "Task ID" %}</th>
                                <th scope="col">{% translate "Organization Code" %}</th>
                                <th scope="col">{% translate "Status" %}</th>
                                <th scope="col">{% translate "Created date" %}</th>
                                <th scope="col">{% translate "Modified date" %}</th>
                                <th scope="col" class="visually-hidden actions">{% translate "Details" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in task_list %}
                                <tr data-task-id="{{ task.id }}">
                                    <td>
                                        <a href="{% url "task_detail" pk=task.id %}">{{ task.id }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url "organization_crisis_room" task.organization %}">{{ task.organization }}</a>
                                    </td>
                                    <td>
                                        <i class="icon {{ task.status }}"></i>{{ task.status|capfirst }}
                                    </td>
                                    <td>
                                        <i class="icon {{ task.status }}"></i>{{ task.created_at }}
                                    </td>
                                    <td>{{ task.modified_at }}</td>
                                    <td class="actions sticky-cell">
                                        <button type="button"
                                                class="expando-button boefjes-task-list-table-row"
                                                data-icon-open-class="icon ti-chevron-down"
                                                data-icon-close-class="icon ti-chevron-up"
                                                data-close-label="{% translate "Close details" %}">
                                            {% translate "Open details" %}
                                        </button>
                                    </td>
                                </tr>
                                <tr class="expando-row">
                                    <td colspan="{% if not organization.code %}7{% else %}6{% endif %}">
                                        {% include "tasks/partials/task_actions.html" %}

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
    </main>
{% endblock content %}
