{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="introduction">
                <div>
                    <h1>{% translate "Tasks" %}</h1>
                    <p>
                        {% blocktranslate trimmed %}
                            Page description. Add more information about this page.
                        {% endblocktranslate %}
                    </p>
                </div>
                {% if perms.openkat.add_task %}
                    <div class="horizontal-view toolbar">
                        <a class="button ghost" href="{% url "add_task" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add task" %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                    {{ filter.form.as_p }}
                    <button type="submit">{% translate "Apply" %}</button>
                </form>
                <a class="button plain" href="{% url "task_list" %}"><span aria-hidden="true" class="icon ti-x"></span>{% translate "Clear all" %}</a>
            </div>
            <div>
                <div class="horizontal-view toolbar">
                    {% if perms.tasks.change_tasks %}
                        <button form="cancel_all_tasks_form"
                                type="submit"
                                class="button ghost destructive">
                            <span class="icon ti-x"></span>{% translate "Cancel queued tasks" %}
                        </button>
                    {% endif %}
                </div>
                {% include "task_table.html" %}

            </div>
            {% if perms.tasks.change_tasks %}
                <form id="cancel_all_tasks_form"
                      action="{% url 'cancel_all_tasks' %}{% if filtered_organization_codes %}?{% for code in filtered_organization_codes %}organization={{ code }}&{% endfor %}{% endif %}"
                      method="post">
                    {% csrf_token %}
                    {% for code in filtered_organization_codes %}<input type="hidden" name="organization" value="{{ code }}">{% endfor %}
                </form>
            {% endif %}
        </section>
    </main>
{% endblock content %}
