/* Font: Fredoka One */

@font-face {
  font-family: "Fredoka One";
  font-weight: normal;
  font-style: normal;
  src: url("themes/soft/fonts/fredoka-one/FredokaOne-Regular.ttf") format("truetype");
}
