[Unit]
Description=kat-octopoes taskqueue
After=network.target

[Service]
User=kat
Group=kat
WorkingDirectory=/usr/share/kat-octopoes/app
EnvironmentFile=/etc/kat/octopoes.conf
ExecStart=/usr/share/kat-octopoes/venv/bin/python -m celery -A octopoes.tasks.tasks worker --loglevel=WARNING

[Install]
WantedBy=multi-user.target