[Unit]
Description=kat-mula daemon
After=network.target

[Service]
User=kat
Group=kat
SyslogIdentifier=kat-mula
WorkingDirectory=/opt/venvs/kat-mula/
# TODO: don't load env here. It exposes the values over dbus IPC
EnvironmentFile=/etc/kat/mula.conf
ExecStart=/opt/venvs/kat-mula/bin/python -m scheduler
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target