[Unit]
Description=kat-rocky socket

[Socket]
ListenStream=/run/kat-rocky.sock
SocketUser=kat
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target