[Unit]
Description=kat-octopoes socket

[Socket]
ListenStream=/run/kat-octopoes.sock
SocketUser=kat
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target