[Unit]
Description=Flower daemon for rocky
After=network.target

[Service]
User=kat
Group=kat
WorkingDirectory=/usr/share/kat-rocky/app
EnvironmentFile=/etc/kat/rocky.conf
ExecStart=/usr/share/kat-rocky/venv/bin/python -m celery \
  --workdir /usr/share/kat-rocky/app \
  --broker=amqp://guest:guest@localhost:5672/kat \
  flower --address=127.0.0.1 --port=5555
Restart=on-failure

[Install]
WantedBy=multi-user.target