[Unit]
Description=kat-rocky daemon
Requires=kat-rocky.socket
After=network.target

[Service]
User=kat
Group=kat
WorkingDirectory=/usr/share/kat-rocky/app
EnvironmentFile=/etc/kat/rocky.conf
ExecStart=/usr/share/kat-rocky/venv/bin/gunicorn \
          --access-logfile - \
          -c /etc/kat/gunicorn.rocky.conf.py \
          --bind unix:/run/kat-rocky.sock \
          -k uvicorn.workers.UvicornWorker \
          rocky.asgi:application

[Install]
WantedBy=multi-user.target
