**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
**/.mypy_cache
.pytest_cache
.hypothesis
Dockerfile
bytes-data
.dockerignore
.github
.env-dist
.gitignore
.ci
Makefile
packaging
README.*
pyproject.toml
sql_migrations
.dockerignore
export_migrations
docs
base.yml
