{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}
{% load compress %}
{% load component_tags %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <div class="introduction">
                    <div>
                        <h1>
                            {% translate "Object list" %} @
                            {% if observed_at %}{{ observed_at|date:'DATE_FORMAT' }}{% endif %}
                        </h1>
                        <p>
                            {% blocktranslate trimmed with organization.name as organization_name %}
                                An overview of objects found for organization <strong>{{ organization_name }}</strong>.
                                Objects can be added manually or by running Boefjes.
                                Click an object for additional information.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    {% include "partials/ooi_list_toolbar.html" %}

                </div>
                <div class="toolbar">
                    {% if organization_member.can_add_dashboard_item and organization_member.can_change_dashboard %}
                        <a href="#new-dashboard-item-modal"
                           class="button ghost"
                           data-modal-id="new-dashboard-item-modal">{% translate "Add to dashboard" %}</a>
                        {% include "partials/new_dashboard_item_modal.html" with item_type="objects" template="partials/dashboard_ooi_list.html" %}

                    {% endif %}
                </div>
                {% include "partials/ooi_list_filters.html" %}

                <div class="fifty-fifty">
                    <div>
                        <p class="de-emphasized">
                            {% blocktranslate with length=ooi_list|length total=total_oois trimmed %}
                                Showing {{ length }} of {{ total }} objects
                            {% endblocktranslate %}
                        </p>
                    </div>
                    {% if ooi_list %}
                        <div class="horizontal-view toolbar">
                            {% if may_update_clearance_level and perms.tools.can_set_clearance_level %}
                                <button class="button ghost" data-modal-id="edit-clearance-level-modal">
                                    <icon aria-hidden="true" class="icon ti-paw"></icon>{% translate "Edit clearance level" %}
                                </button>
                            {% endif %}
                            {% if perms.tools.can_delete_oois %}
                                <button class="ghost destructive" data-modal-id="delete-ooi-modal">
                                    <icon aria-hidden="true" class="icon ti-trash"></icon>{% translate "Delete" %}
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <form method="post"
                      id="ooi_list_form"
                      class="inline layout-wide checkboxes_required">
                    {% csrf_token %}
                    <div class="horizontal-scroll">
                        <table>
                            <caption class="visually-hidden">
                                {% translate "Objects " %}
                                <span class="visually-hidden">, {% translate "column headers with buttons are sortable" %}</span>
                            </caption>
                            <thead>
                                <th>
                                    <input class="toggle-all" data-toggle-target="ooi" type="checkbox">
                                </th>
                                <th>{{ table_columns.object }}</th>
                                <th scope="col"
                                    class="sortable"
                                    {% if order_by == "object_type" %}aria-sort="{{ sorting_order_class }}"{% endif %}>
                                    <button form="ooi_list_settings"
                                            name="order_by"
                                            value="object_type"
                                            class="sort">
                                        {{ table_columns.object_type }}
                                        <span aria-hidden="true"
                                              class="icon ti-{% if order_by == "object_type" and sorting_order == "asc" %}chevron-up{% elif order_by == "object_type" and sorting_order == "desc" %}chevron-down{% else %}direction{% endif %}"></span>
                                    </button>
                                </th>
                                <th scope="col"
                                    class="sortable"
                                    {% if order_by == "scan_level" %}aria-sort="{{ sorting_order_class }}"{% endif %}>
                                    <button form="ooi_list_settings"
                                            name="order_by"
                                            value="scan_level"
                                            lass="sort">
                                        {{ table_columns.clearance_level }}
                                        <span aria-hidden="true"
                                              class="icon ti-{% if order_by == "scan_level" and sorting_order == "asc" %}chevron-up{% elif order_by == "scan_level" and sorting_order == "desc" %}chevron-down{% else %}direction{% endif %}"></span>
                                    </button>
                                </th>
                                <th>{{ table_columns.clearance_type }}</th>
                            </thead>
                            <tbody>
                                {% for object in ooi_list %}
                                    <tr>
                                        <td>
                                            <input type="checkbox" name="ooi" value="{{ object.primary_key }}">
                                        </td>
                                        <td>
                                            <a href="{% ooi_url "ooi_detail" object.primary_key organization.code observed_at=observed_at %}">{{ object.human_readable }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ request.path }}?observed_at={{ observed_at|date:"Y-m-d" }}&ooi_type={{ object.ooi_type }}">{{ object.ooi_type }}</a>
                                        </td>
                                        <td>
                                            {% include "partials/scan_level_indicator.html" with value=object.scan_profile.level.value %}

                                        </td>
                                        <td>{{ object.scan_profile.scan_profile_type|title }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </form>
                {% if ooi_list and may_update_clearance_level %}
                    {% include "partials/edit_ooi_clearance_level_modal.html" with type="ooi_list" %}

                {% endif %}
                {% include "partials/list_paginator.html" %}

                {% if perms.tools.can_delete_oois %}
                    {% include "partials/delete_ooi_modal.html" %}

                {% endif %}
                {% if organization_member.can_add_dashboard_item and organization_member.can_change_dashboard %}
                    {% include "partials/new_dashboard_item_modal.html" with item_type="objects" template="partials/dashboard_ooi_list.html" %}

                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "js/choiceToggle.js" %}" nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "modal/script.js" %}" nonce="{{ request.csp_nonce }}" type="module"></script>
{% endblock html_at_end_body %}
