{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}

{% block content %}
    {% url "object" ooi.primary_key as ooi_detail_url %}
    {% include "header.html" with breadcrumbList=breadcrumbList %}

    <main class="report-tmp" id="main-content">
        <section>
            <div>
                {% include "partials/elements/ooi_report_settings_form.html" %}

                <h1>
                    {% blocktranslate trimmed with name=ooi.human_readable %}
                        A report for {{ name }} wasn't found.
                    {% endblocktranslate %}
                </h1>
                <p>
                    {% blocktranslate trimmed %}
                        Perhaps it never was, perhaps it just didn't exist on {{ observed_at }}
                        <br>
                        Try some other dates!
                    {% endblocktranslate %}
                </p>
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
