{% load i18n %}

<div class="warning">
    <div>
        <h2>
            {% if ooi_current %}
                {% translate "You are looking at a historic view of this object." %}
            {% else %}
                {% translate "You are looking at a historic view of this object which has been deleted in the current timeline" %}
            {% endif %}
        </h2>
        {% if ooi_current %}
            <a href="{{ now_url }}"
               title="{% blocktranslate with name=ooi_current.human_readable %}Show details for {{ name }}{% endblocktranslate %}">{% translate "View the current state" %}</a>
        {% else %}
            <p>
                {% blocktranslate trimmed %}
                    You will not be able to add Findings or other OOI's, this object has been deleted
                    and is no longer available.
                {% endblocktranslate %}
            </p>
        {% endif %}
    </div>
</div>
