{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section class="hero">
      <div class="one-third-two-thirds">
        <div class="tile">
          <h1>
            {% translate 'Summary for' %} {{ ooi.human_readable }} - <em>{{ ooi.get_ooi_type }}</em>
          </h1>
        </div>
      </div>
    </section>
    <section>
      <div>
        <p>
          {% translate 'Below you can see findings that were found for' %} <a href="{% ooi_url 'ooi_detail' ooi.primary_key organization.code %}">{{ ooi.human_readable }}</a>
          {% translate 'and direct  children of this' %} <em>{{ ooi.get_ooi_type }}</em>.
        </p>
        <p>
          {% translate 'This' %} <a href="{% ooi_url 'ooi_tree' ooi.primary_key organization.code depth=3 %}">{% translate 'tree view' %}</a> {% translate 'of the' %} <em>{{ ooi.get_ooi_type }}</em>
          {% translate 'shows the same objects.' %}
        </p>
      </div>
    </section>
    {% include "partials/ooi_summary_block.html" with tree_node=tree %}
  </main>
{% endblock %}

{% block html_at_end_body %}{{ block.super }}{% endblock %}
