{% load i18n %}
{% load ooi_extra %}

{% spaceless %}
    <div class="column-2">
        <div>
            <h2>{% translate "Findings" %}</h2>
            <p>
                {% translate "Overview of the number of findings and their severity found on" %} {{ ooi.get_ooi_type }} "{{ ooi.human_readable }}"
            </p>
            <p>
                {% translate "Findings can occur multiple times. To give better insight the following table shows the number of unique findings found as well as the number of occurrences." %}
            </p>
            <a href="{% ooi_url 'ooi_findings' ooi.primary_key organization.code query=mandatory_fields %}"
               class="button">{% translate "See finding details" %}</a>
        </div>
        <div class="horizontal-scroll">
            <table>
                <thead>
                    <th>{% translate "Severity" %}</th>
                    <th>{% translate "Occurrences" %}</th>
                </thead>
                <tbody>
                    {% for severity, count in count_findings_per_severity.items %}
                        <tr>
                            <td>
                                <span class="{{ severity.value }}">{{ severity.value|capfirst }}</span>
                            </td>
                            <td>{{ count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <th>{% translate "Total findings:" %}</th>
                    <th>{{ severity_summary_totals }}</th>
                </tfoot>
            </table>
        </div>
    </div>
{% endspaceless %}
