{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="layout-form">
                <h1>{% translate "Mute finding" %}: {{ ooi.human_readable }}</h1>
                <p>{% translate "Give a reason below why you want to mute this finding." %}</p>
                <form action="{% url 'ooi_add' ooi_type=ooi_type organization_code=organization.code %}"
                      novalidate
                      method="post"
                      class="horizontal-view help">
                    {% csrf_token %}
                    {% translate "Mute finding" as fieldset_legend %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <div class="button-container">
                        <button type="submit">{% translate "Mute" %}</button>
                        <a href="{% ooi_url 'ooi_detail' ooi.primary_key organization.code %}"
                           class="button ghost"
                           type="submit"
                           name="cancel">{% translate "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
