{% load i18n %}
{% load ooi_extra %}

{% spaceless %}
    <div class="horizontal-scroll">
        <h2>{% translate "Findings" %}</h2>
        <div class="horizontal-view toolbar">
            {% if not ooi|is_finding and not ooi|is_finding_type %}
                <a href="{% ooi_url 'finding_add' ooi.primary_key organization.code %}"
                   class="button">{% translate "Add finding" %}</a>
            {% endif %}
        </div>
        <table>
            <caption>
                {% translate "Overview of findings for " %} {{ ooi.get_ooi_type }} "{{ ooi.name }}".
            </caption>
            <thead>
                <th>{% translate "Severity" %}</th>
                <th>{% translate "Score" %}</th>
                <th>{% translate "Description" %}</th>
                <th>{% translate "Finding details" %}</th>
            </thead>
            <tbody>
                {% for finding, finding_type in findings %}
                    <tr>
                        <td>
                            <span class="{{ finding_type.risk_severity.value }}">{{ finding_type.risk_severity.value|capfirst }}</span>
                        </td>
                        <td>{{ finding_type.risk_score }}</td>
                        <td>{{ finding.description }}</td>
                        <td>
                            <a href="{% ooi_url 'ooi_detail' finding.primary_key organization.code query=mandatory_fields %}">{{ finding.human_readable }}</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endspaceless %}
