{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}

{% block content %}
    {% url "object" ooi.primary_key as ooi_detail_url %}
    {% include "header.html" with breadcrumbList=breadcrumbList %}

    <main class="report-tmp" id="main-content">
        <section>
            <div class="horizontal-view toolbar">
                <a href="{% ooi_url 'ooi_pdf_report' ooi.primary_key organization.code query=mandatory_fields %}"
                   class="button ghost">{% translate "Download PDF" %}</a>
            </div>
            <div>
                {% include "partials/elements/ooi_report_settings.html" %}

                <h1>
                    {% blocktranslate trimmed with name=ooi.human_readable %}
                        Findings report for {{ name }}
                    {% endblocktranslate %}
                </h1>
                <p>
                    {% blocktranslate trimmed %}
                        These are the findings of a OpenKAT-analysis on {{ observed_at }}. Click a finding for more detailed
                        information about the issue, its origin, severity and possible solutions.
                    {% endblocktranslate %}
                </p>
            </div>
        </section>
        {% include "partials/ooi_report_severity_totals.html" %}
        {% include "partials/ooi_report_findings_block.html" %}

    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
