{% load i18n %}
{% load humanize %}
{% load ooi_extra %}

{% spaceless %}
    {% if observations %}
        <div class="horizontal-scroll">
            <h2>{% translate "Last observed by" %}</h2>
            <table>
                <caption class="visually-hidden">{% translate "Last observed by" %}</caption>
                <thead>
                    <tr>
                        <th>{% translate "Boefje" %}</th>
                        <th>{% translate "Source" %}</th>
                        <th>{% translate "Task ID" %}</th>
                        <th>{% translate "When" %}</th>
                        <th>{% translate "Normalizer" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for observation in observations %}
                        <tr {% if observation.is_old %}class="warning"{% endif %}
                            data-task-id="{{ observation.normalizer.raw_data.boefje_meta.id }}"
                            data-task-type="boefje"
                            data-task-status="completed">
                            <td>
                                {% if observation.boefje.id %}
                                    <a href="{% app_url 'boefje_detail' plugin_id=observation.boefje.id temporal_context=None %}"
                                       title="{{ observation.boefje.id }}">{{ observation.boefje.name }}</a>
                                {% else %}
                                    {% if observation.normalizer.raw_data.boefje_meta.boefje.id == "manual" %}
                                        {% translate "This scan was manually created." %}
                                    {% else %}
                                        {% translate "The boefje has since been deleted or disabled." %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% app_url 'ooi_detail' ooi=observation.origin.source %}">{{ observation.origin.source }}</a>
                            </td>
                            <td>
                                {% if observation.normalizer.raw_data.boefje_meta.id %}
                                    <a href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=observation.normalizer.raw_data.boefje_meta.id %}">{{ observation.normalizer.raw_data.boefje_meta.id }}</a>
                                {% else %}
                                    {% translate "No Raw file could be found, this might point to an error in OpenKAT" %}
                                {% endif %}
                            </td>
                            <td {% if observation.is_old %} aria-label="{% translate "Warning" %}" {% endif %}>
                                {% if observation.is_old %}
                                    <span>{% translate "Warning:" %}</span>
                                {% endif %}
                                <span title="{{ observation.normalizer.raw_data.boefje_meta.ended_at }} UTC">{{ observation.normalizer.raw_data.boefje_meta.ended_at|naturaltime }}</span>
                            </td>
                            <td>
                                {% if observation.normalizer.normalizer.id %}
                                    <a href="{% app_url 'normalizer_detail' plugin_id=observation.normalizer.normalizer.id temporal_context=None %}"
                                       title="{{ observation.normalizer.normalizer.id }}">{{ observation.normalizer.normalizer.id }}</a>
                                {% endif %}
                            </td>
                            <td class="actions sticky-cell">
                                <button type="button"
                                        class="expando-button observation-list-table-row"
                                        data-icon-open-class="icon ti-chevron-down"
                                        data-icon-close-class="icon ti-chevron-up"
                                        data-close-label="{% translate "Close details" %}">
                                    {% translate "Open details" %}
                                </button>
                            </td>
                        </tr>
                        <tr class="expando-row">
                            <td colspan="6">
                                <section>
                                    <p class="explanation">{% translate "Loading..." %}</p>
                                    <div id="yielded-objects-{{ observation.normalizer.raw_data.boefje_meta.id }}">
                                        <h2>{% translate "Normalizer task" %}: {{ observation.normalizer.raw_data.boefje_meta.id }}</h2>
                                        <p>{% translate "Consuming Raw file" %}: {{ observation.normalizer.raw_data.id }}</p>
                                        <p>{% translate "Yielded objects" %}</p>
                                    </div>
                                    <div id="yielded-rawfiles-{{ observation.normalizer.raw_data.boefje_meta.id }}">
                                        <h2>{% translate "Yielded raw files for task" %}: {{ observation.normalizer.raw_data.boefje_meta.id }}</h2>
                                    </div>
                                </section>
                                <section>
                                    <div class="button-container">
                                        <a class="button"
                                           href="{% url 'bytes_raw' organization_code=organization.code boefje_meta_id=observation.normalizer.raw_data.boefje_meta.id %}"><span class="icon ti-download"></span>{% translate "Download meta and raw data" %}</a>
                                        <a class="button ghost"
                                           href="{% url 'boefjes_task_list' organization_code=organization.code %}?task_id={{ observation.normalizer.raw_data.boefje_meta.id }}"><span class="icon search"></span>{% translate "Origin boefje task" %}</a>
                                        <a class="button ghost"
                                           href="{% url 'normalizers_task_list' organization_code=organization.code %}?ooi_id={{ observation.origin.source }}&amp;plugin_id={{ observation.normalizer.normalizer.id }}"><span class="icon search"></span>{% translate "See all similar tasks" %}</a>
                                    </div>
                                </section>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endspaceless %}
