Source: kat-rocky
Build-Depends: python3, debhelper-compat (= 12)
Maintainer: OpenKAT <maintainer@openkat.nl>

Package: kat-rocky
Section: python
Priority: optional
Architecture: all
Pre-Depends: python3, python3-venv, libpq-dev, python3-dev, g++, gettext, postgresql, rabbitmq-server, sudo, ${misc:Depends}
Depends: nginx
Description: Rocky web interface for KAT
  This is the web interface component of the KAT project.
