Source: kat-mula
Build-Depends: python3, debhelper-compat (=12)
Maintainer: OpenKAT <maintainer@openkat.nl>

Package: kat-mula
Section: python
Priority: optional
Architecture: all
Pre-Depends: python3, python3-venv, python3-dev, g++, ${misc:Depends}
Description: mula
