Source: kat-octopoes
Build-Depends: python3, debhelper-compat (=12)
Maintainer: OpenKAT <maintainer@openkat.nl>

Package: kat-octopoes
Section: python
Priority: optional
Architecture: all
Pre-Depends: python3, python3-venv, rabbitmq-server, ${misc:Depends}
Description: Octopoes
