#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DESTDIR = $(CURDIR)/debian/kat-rocky
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_install:
	dh_auto_install
	$(MAKE) install DESTDIR=$(DESTDIR) prefix=/usr install

override_dh_fixperms:
	dh_fixperms
	chmod 640 $(DESTDIR)/etc/kat/rocky.conf
	chmod 640 $(DESTDIR)/etc/kat/gunicorn.rocky.conf.py
	chmod 750 $(DESTDIR)/etc/kat/
	chmod 750 $(DESTDIR)/usr/share/kat-rocky
	chmod 750 $(DESTDIR)/usr/lib/systemd/system/kat-rocky.service
	chmod 750 $(DESTDIR)/usr/lib/systemd/system/kat-rocky.socket

#override_dh_install:
#       dh_install --list-missing -X.pyc -X.pyo

