#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

#binary:
#	dh_gencontrol
#	dh_builddeb

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_auto_install:
	dh_auto_install
	$(MAKE) install DESTDIR=$(CURDIR)/debian/kat-mula prefix=/usr install

#override_dh_install:
#       dh_install --list-missing -X.pyc -X.pyo

