/* This file is to only import report components and overrides */

@use "@minvws/manon/components/accordion";

/* Weasyprint flexbox rendering is very limited and not really usable.
   https://github.com/Kozea/WeasyPrint/issues/1171#issuecomment-1549483312 */

/* Weasypint overrides */
@use "weasyprint";
