{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Organization setup' %}</h1>
        <p>
          {% blocktranslate trimmed %}
            Please enter the following organization details.
            These details can be edited within the organization
            page within OpenKAT when necesarry.
         {% endblocktranslate %}
        </p>
        <form novalidate method="post" class="horizontal-view help">
          {% csrf_token %}
          {% translate 'Organization details' as fieldset_legend %}
          {% include 'partials/form/fieldset.html' with legend=fieldset_legend fields=form %}
          <button type="submit">{% translate 'Submit' %}</button>
        </form>
      </div>
    </section>
  </main>
{% endblock content %}
