# Host address, default: localhost
SCHEDULER_API_HOST=

# Host api server port, default: 8000
SCHEDULER_API_PORT=

# Boolean value that determines if the scheduler should run in debug mode.
# Default is `False`.
SCHEDULER_DEBUG=

# File path to the log configuration file, default is "../../../logging.json"
SCHEDULER_LOG_CFG=

# How many items a priority queue can hold, default: 1000
SCHEDULER_PQ_MAXSIZE=

# Interval in seconds of the  execution of the `populate_queue` method of the
# `scheduler.Scheduler` class, default: 60
SCHEDULER_PQ_INTERVAL=

# Grace period of when a job is considered to be running again (in seconds),
# default: 86400
SCHEDULER_PQ_GRACE=

# Interval in seconds of the execution of the `monitor_organisations` method
# of the scheduler application to check newly created or removed organisations
# from katalogus. It updates the organisations, their plugins, and the
# creation of their schedulers.
SCHEDULER_MONITOR_ORGANISATIONS_INTERVAL=

# RabbitMQ host address
SCHEDULER_RABBITMQ_DSN=

# RabbitMQ prefetch_count for channel.basic_qos(), which is the number of unacknowledged messages on a channel.
# Also see https://www.rabbitmq.com/consumer-prefetch.html.

SCHEDULER_RABBITMQ_PREFETCH_COUNT=

# Host url's of external service connectors
KATALOGUS_API=
BYTES_API=
OCTOPOES_API=

# Bytes specific api credentials
BYTES_USERNAME=
BYTES_PASSWORD=

# Database settings
SCHEDULER_DB_DSN=
