[tool.poetry]
name = "mula"
version = "0.0.1.dev1"
description = "KAT's intelligent job scheduler"
authors = ["MinVWS <maintainer@openkat.nl>"]
license = "EUPL"

[tool.poetry.dependencies]
python = "^3.8"
alembic = "^1.12.1"
fastapi = "^0.104.0"
mmh3 = "^4.0.1"
pika = "^1.3.2"
prometheus-client = "^0.19.0"
psycopg2 = "^2.9.9"
pydantic = "^2.5.2"
pydantic-settings= "^2.1.0"
python-dotenv = "^1.0.0"
requests = "^2.31.0"
retry2 = "^0.9.5"
sqlalchemy = "^2.0.23"
structlog = "^23.2.0"
typing-extensions = "^4.8.0"
uvicorn = "^0.24.0"

# OpenTelemetry
opentelemetry-sdk = "^1.19.0"
opentelemetry-exporter-otlp-proto-grpc = "^1.19.0"
opentelemetry-instrumentation-fastapi = "^0.41b0"
opentelemetry-instrumentation-psycopg2 = "^0.41b0"
opentelemetry-instrumentation-requests = "^0.41b0"
certifi = "^2023.7.22"
opentelemetry-instrumentation = "^0.41b0"

[tool.poetry.group.dev.dependencies]
factory_boy = "^3.2.1"
mypy = "^1.0.1"
click = "^8.0.4"
psutil = "^5.9.5"
pytest = "^7.2.2"
pytest-cov = "^4.0.0"

[build-system]
requires = ["setuptools>=59", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.coverage.run]
omit = [
    "scheduler/alembic/*",
    "scheduler/config/*",
    "scheduler/context/*",
    "scheduler/models/*",
    "scheduler/utils/*",
    "scheduler/__main__.py",
]

[tool.black]
target-version = ["py38", "py39", "py310", "py311"]
line-length = 120
