{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main>
        <section>
            <div>
                {% include "oois/ooi_page_tabs.html" with view="scan_profile_detail" ooi=ooi %}

                <h1>{% translate "Set clearance level for:" %} {{ ooi.human_readable }}</h1>
                <p>
                    {% translate "Setting the scan level from \"declared\" to \"inherit\" means it will inherit a clearance level from other objects, or that no clearance level will be inherited. " %}
                </p>
                <form action="{% ooi_url 'scan_profile_reset' ooi.primary_key organization.code query=mandatory_fields %}"
                      method="post">
                    {% csrf_token %}
                    <fieldset>
                        <legend>{% translate "Set clearance level" %}</legend>
                        <p>{% translate "You are about to set the clearance level from \"declared\" to \"inherit\"." %}</p>
                        <p>{% translate "Are you sure?" %}</p>
                    </fieldset>
                    <div class="button-container">
                        <button type="submit">{% translate "Yes, set to inherit" %}</button>
                        <a href="{% ooi_url 'scan_profile_detail' ooi.primary_key organization.code query=mandatory_fields %}"
                           class="button ghost">Cancel</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
{% endblock html_at_end_body %}
