{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                {% include "partials/ooi_head.html" with ooi=ooi view="scan_profile_detail" %}

                <h1 rf-selector="clearance-header">
                    {% translate "Clearance level" %}: {{ ooi.scan_profile.human_readable }}, {{ ooi.scan_profile.scan_profile_type }}
                </h1>
                {% if ooi.scan_profile.scan_profile_type == "declared" %}
                    <h2>{% translate "Declared" %}</h2>
                    <p class="explanation">
                        {% blocktranslate with scan_level=ooi.scan_profile.human_readable %}
              This means that this object will be scanned by Boefjes with scan level
              {{ scan_level }} and lower. Setting the clearance level from “declared”
              to “inherit” means that this object will inherit its level from neighbouring
              objects. This means that the clearance level might stay the same, increase,
              or decrease depending on other declared clearance levels. Clearance levels
              of objects that inherit from this clearance level will also be recalculated.
            {% endblocktranslate %}
                    </p>
                    {% if user.acknowledged_clearance_level > -1 and organization_indemnification and user.trusted_clearance_level > -1 %}
                        <div class="horizontal-view">
                            <a href="{% ooi_url "scan_profile_reset" ooi.reference organization.code query=mandatory_fields %}"
                               class="button">{% translate "Set clearance level to inherit" %}</a>
                        </div>
                    {% endif %}
                {% elif ooi.scan_profile.scan_profile_type == "empty" %}
                    <h2>{% translate "Empty" %}</h2>
                    <p class="explanation">
                        {% blocktranslate %}
                This object has a clearance level of "L0". This means that this object will not be scanned by any Boefje until that
                Boefje is run manually for this object again. Objects with a clearance level higher than "L0" will be scanned automatically by Boefjes with
                corresponding scan levels.
            {% endblocktranslate %}
                    </p>
                {% elif ooi.scan_profile.scan_profile_type == "inherited" %}
                    <h2>{% translate "Inherited" %}</h2>
                {% endif %}
                {% if user.acknowledged_clearance_level > -1 and organization_indemnification and user.trusted_clearance_level > -1 %}
                    <form novalidate
                          action="{% ooi_url "scan_profile_detail" ooi.primary_key organization.code %}"
                          method="post"
                          class="horizontal-view help">
                        {% csrf_token %}
                        {% translate "Set clearance level" as fieldset_legend %}
                        {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                        <button type="submit">{% translate "Set clearance level" %}</button>
                    </form>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
