{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                {% include "partials/ooi_head.html" with ooi=ooi view="scan_profile_detail" %}

                <div class="introduction">
                    <div>
                        <h2 rf-selector="clearance-header">{% translate "Clearance level" %}</h2>
                        <p>
                            {% blocktranslate trimmed %}
                                The clearance level determines the level of boefje scans allowed on this
                                object. An object inherits its clearance level from neighbouring
                                objects. This means that the clearance level might stay the same,
                                increase or decrease, depending on other declared clearance levels.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div>
                        {% if perms.tools.can_set_clearance_level and organization_member.max_clearance_level >= ooi.scan_profile.level %}
                            <button class="button ghost" data-modal-id="edit-clearance-level-modal">
                                <icon aria-hidden="true" class="icon ti-paw"></icon>{% translate "Edit clearance level" %}
                            </button>
                        {% endif %}
                    </div>
                </div>
                {% if ooi.scan_profile.scan_profile_type == "empty" %}
                    <p class="explanation"
                       role="group"
                       aria-label="{% translate "Empty clearance level explanation" %}">
                        <span>{% translate "Empty:" %}</span>
                        {% blocktranslate trimmed %}
                            This object has a clearance level of "empty". This means that this
                            object has no clearance level.
                        {% endblocktranslate %}
                    </p>
                {% endif %}
                {% if not indemnification_present %}
                    <p class="warning"
                       role="group"
                       aria-label="{% translate "Indemnification warning" %}">
                        {% url "organization_settings" organization.code as organization_settings %}
                        <strong>{% translate "Warning" %}</strong>: {% translate "Indemnification is not set for this organization." %}
                        {% translate "Go to the" %} <a href="{{ organization_settings }}">{% translate "organization settings page" %}</a> {% translate "to add one." %}
                    </p>
                {% endif %}
                {% if not perms.tools.can_set_clearance_level %}
                    <p class="warning"
                       role="group"
                       aria-label="{% translate "Set clearance level warning" %}">
                        <strong>{% translate "Warning" %}</strong>:
                        {% translate "You don't have permissions to set the clearance level. Contact your administrator." %}
                    </p>
                {% elif organization_member.max_clearance_level < ooi.scan_profile.level %}
                    <p class="warning"
                       role="group"
                       aria-label="{% translate "Scan warning" %}">
                        <strong>{% translate "Warning" %}</strong>:
                        {% blocktranslate trimmed with member_clearance_level=member.max_clearance_level boefje_scan_level=ooi.scan_profile.level %}
                            You are not allowed to set the clearance level of this OOI. Your maximum clearance level is {{ member_clearance_level }} and this OOI has level {{ boefje_scan_level }}.
                        {% endblocktranslate %}
                        {% url "account_detail" organization.code as account_details %}
                        {% translate "Go to your" %} <a href="{{ account_details }}">{% translate "account details" %}</a> {% translate "to manage your clearance level." %}
                    </p>
                {% endif %}
                <form>
                    <div>
                        <label for="scan_indicator">{% translate "Current clearance level" %}</label>
                        {% if scan_profile_user %}
                            <div class="horizontal-view">
                                {% include "partials/scan_level_indicator.html" with value=ooi.scan_profile.level.value custom_class="left" %}

                                ({{ ooi.scan_profile.scan_profile_type }})
                                (by user "
                                {% if not scan_profile_user.is_active %}
                                    <s title="{% translate "Inactive" %}">{{ scan_profile_user }}</s>
                                {% else %}
                                    {{ scan_profile_user }}
                                {% endif %}
                                ")
                            </div>
                        {% else %}
                            <div class="horizontal-view">
                                {% include "partials/scan_level_indicator.html" with value=ooi.scan_profile.level.value custom_class="left" %}

                                ({{ ooi.scan_profile.scan_profile_type }})
                            </div>
                        {% endif %}
                    </div>
                </form>
                {% if indemnification_present and organization_member.max_clearance_level >= ooi.scan_profile.level %}
                    {% include "partials/edit_ooi_clearance_level_modal.html" with type="ooi_detail" %}

                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    <script src="{% static "modal/script.js" %}" nonce="{{ request.csp_nonce }}" type="module"></script>
    <script src="{% static "js/choiceToggle.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock html_at_end_body %}
