{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' with view_type="onboarding" %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'KAT introduction' %}</h1>
        {% include 'partials/stepper.html' %}
        <h2>{% translate 'Choose a report - Introduction' %}</h2>
        <h3>{% translate 'Reports' %}</h3>
        <p>
          {% blocktranslate trimmed %}
            Reports within KAT contain an overview of the scanned objects, issues found
            within them and known security risks that the object might be vulnerable to.
            Each report gives a high overview of the state of the object as well as
            detailed information on what KAT found and possible solutions.
          {% endblocktranslate %}
        </p>
        <h3>{% translate 'Data' %}</h3>
        <p>
          {% blocktranslate trimmed %}
            KAT can scan and analyze by using plugins. Each plugin has it's unique
            skillset and will collect specific data or give specific insights. You manage
            the plugins within your account which let's KAT know which plugins to run and
            on which objects or areas.
          {% endblocktranslate %}
        </p>
        <h3>{% translate 'Generating a report' %}</h3>
        <p>
          {% blocktranslate trimmed %}
            When you choose a report type KAT will guide you through the setup. KAT will ask the necesarry questions based on the input the report needs, as well as asks for permission to run plugins that you haven’t enabled yet but are needed to collect or analyze the data. 
          {% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate trimmed %}
            You can also choose to look at the collected data directly or generate your own report by selecting and running plugins on objects of your choice. KAT will present the results.
          {% endblocktranslate %}
        </p>
        <h3>{% translate 'Permission' %}</h3>
        <p>
          {% blocktranslate trimmed %}
            Plugins can be provided by KAT but they can also come from the community. Before a plugin can run, you need to give it permission by enabling it.
          {% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate trimmed %}
            When you generate a report. KAT will let you know which plugins it requires or suggests so you can choose to enable them.
          {% endblocktranslate %}
        </p>
        <p>
          <a href="{% url 'skip_onboarding' %}" class="button ghost">{% translate 'Skip onboarding' %}</a>
          <a href="{% url 'step_choose_report_type' %}" class="button">{% translate "Let's choose a report" %}</a>
        </p>
      </div>
    </section>
  </main>
{% endblock content %}
