/* Navigation - Variables */

:root {
  /* Breadcrumb bar nav */
  --breadcrumb-bar-padding-right: 0;
  --breadcrumb-bar-padding-left: 0;
  --breadcrumb-bar-background-color: var(--colors-purrple-100);
  --breadcrumb-bar-text-color: var(--text-color-dark);

  /* Content wrapper */
  --breadcrumb-bar-content-block-max-width: var(--header-navigation-max-width);
  --breadcrumb-bar-content-block-icon: "\ea61";

  /* List */
  --breadcrumb-bar-list-vertical-align: center;

  /* Icon */
  --breadcrumb-bar-icon-font-family: var(--icon-font-family);
  --breadcrumb-bar-icon: "\ea61";
}

body > header nav.breadcrumb-bar ul li a {
  border: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
