/* Form - Variables */

:root {
  --form-base-text-color: var(--application-base-text-color);
  --form-base-background-color: transparent;
  --form-base-padding-top: 0;
  --form-base-padding-bottom: 0;
  --form-base-padding-left: 0;
  --form-base-max-width: 40rem;

  /* Accent color */
  --form-accent-color-color: var(--branding-color-2);

  /* Input */
  --form-base-input-text-color: var(--form-base-text-color);
  --form-input-border-width: 1px;
  --form-input-border-style: solid;
  --form-input-border-color: var(--colors-grey-200);
  --form-inline-gap: 1rem;
  --form-input-border-radius: var(--border-radius-s);

  /* Help */
  --form-help-button-icon-content: "\ec9d";
  --form-help-button-icon-font-family: var(--icon-font-family);

  /* Textarea */
  --form-textarea-text-color: var(--form-base-text-color);
  --form-textarea-border-color: var(--colors-grey-200);

  /* Fieldset */
  --form-fieldset-legend-font-weight: 600;
  --form-fieldset-checkbox-accent-color: var(--form-accent-color-color);
  --form-fieldset-radio-input-accent-color: var(--form-accent-color-color);

  /* Nota bene */
  --form-horizontal-view-fieldset-nota-bene-required-margin-bottom: 0.5rem;
}

form fieldset .checkbox input[type="checkbox"] + label {
  max-width: var(--form-base-max-width);
  text-overflow: ellipsis;
  overflow: hidden;
}

form label {
  font-weight: bold;
}

form.help fieldset {
  &.column-2 {
    gap: var(--layout-column-2-gap);
  }

  &.column-3 {
    gap: var(--layout-column-3-gap);
  }

  &.column-4 {
    gap: var(--layout-column-4-gap);
  }
}

.checkbox-list {
  row-gap: 0;
}

form textarea {
  border-radius: var(--form-input-border-radius);
}
