/* Heading set basic - Variables */

:root {
  --spacing-grid-0: 0;
  --spacing-grid-025: 0.125rem;
  --spacing-grid-050: 0.25rem;
  --spacing-grid-075: 0.065rem;
  --spacing-grid-100: 0.5rem;
  --spacing-grid-150: 0.75rem;
  --spacing-grid-200: 1rem;
  --spacing-grid-250: 1.25rem;
  --spacing-grid-300: 1.5rem;
  --spacing-grid-350: 1.75rem;
  --spacing-grid-400: 2rem;
  --spacing-grid-500: 2.5rem;
  --spacing-grid-600: 3rem;
  --spacing-grid-800: 4rem;
  --spacing-grid-1000: 5rem;
  --spacing-grid-1600: 8rem;
  --spacing-grid-2400: 12rem;
}

.spacing-grid-0 {
  gap: var(--spacing-grid-0);
}

.spacing-grid-025 {
  gap: var(--spacing-grid-025);
}

.spacing-grid-050 {
  gap: var(--spacing-grid-050);
}

.spacing-grid-075 {
  gap: var(--spacing-grid-075);
}

.spacing-grid-100 {
  gap: var(--spacing-grid-100);
}

.spacing-grid-150 {
  gap: var(--spacing-grid-150);
}

.spacing-grid-200 {
  gap: var(--spacing-grid-200);
}

.spacing-grid-250 {
  gap: var(--spacing-grid-250);
}

.spacing-grid-300 {
  gap: var(--spacing-grid-300);
}

.spacing-grid-350 {
  gap: var(--spacing-grid-350);
}

.spacing-grid-400 {
  gap: var(--spacing-grid-400);
}

.spacing-grid-500 {
  gap: var(--spacing-grid-500);
}

.spacing-grid-600 {
  gap: var(--spacing-grid-600);
}

.spacing-grid-800 {
  gap: var(--spacing-grid-800);
}

.spacing-grid-1000 {
  gap: var(--spacing-grid-1000);
}

.spacing-grid-1600 {
  gap: var(--spacing-grid-1600);
}

.spacing-grid-2400 {
  gap: var(--spacing-grid-2400);
}
