<!DOCTYPE html>
{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}"
      data-organization-code="{{ organization.code }}">
    {% block head %}
        {% include "head.html" %}

    {% endblock head %}
    <body>
        {% block content_wrapper %}
            {% block content %}
            {% endblock content %}
        {% endblock content_wrapper %}
        {% include "footer.html" %}

        {% block html_at_end_body %}
        {% endblock html_at_end_body %}
    </body>
</html>
