[Unit]
Description=kat-mula daemon
After=network.target

[Service]
User=kat
Group=kat
SyslogIdentifier=kat-mula
WorkingDirectory=/opt/venvs/kat-mula/
EnvironmentFile=/usr/lib/kat/mula.defaults
EnvironmentFile=/etc/kat/mula.conf
ExecStart=/opt/venvs/kat-mula/bin/python -m scheduler
Restart=on-failure
RestartSec=3s
KillMode=mixed

[Install]
WantedBy=multi-user.target
