#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DESTDIR = $(CURDIR)/debian/kat-rocky
export DH_VIRTUALENV_INSTALL_ROOT = /opt/venvs

SNAKE=/usr/bin/python3
PIP_ARGS = --extra-pip-arg "--no-binary" --extra-pip-arg "pillow,psycopg2-binary,reportlab"
EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=65" --preinstall "wheel" $(PIP_ARGS)
PACKAGE=$(shell dh_listpackages)
DH_VENV_ARGS=--python $(SNAKE) $(EXTRA_REQUIREMENTS)
DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)

%:
	dh $@ --with python-virtualenv

.PHONY: override_dh_virtualenv override_dh_fixperms

override_dh_fixperms:
	dh_fixperms
	chmod 750 $(DESTDIR)/etc/kat/
	find $(DESTDIR)/etc/kat -type f -exec chmod 640 {} \;
	chmod 755 $(DESTDIR)/usr/bin/rocky-cli

override_dh_virtualenv:
# This works around https://github.com/pypa/pip/issues/6469 by installing the git
# requirements separately
	grep -v git+https:// requirements.txt > /tmp/requirements-nogit.txt
	grep git+https:// requirements.txt > /tmp/requirements-git.txt
	dh_virtualenv --requirements=/tmp/requirements-nogit.txt $(DH_VENV_ARGS)
	$(DH_VENV_DIR)/bin/python -m pip install -r /tmp/requirements-git.txt
	cd /octopoes && /usr/bin/python3 setup.py bdist_wheel
	$(DH_VENV_DIR)/bin/python -m pip install /octopoes/dist/octopoes*.whl

	export SECRET_KEY="secret" BYTES_API="http://bytes:8000" BYTES_PASSWORD="password" \
	BYTES_USERNAME="username" KATALOGUS_API="http://katalogus:8000" KEIKO_API="http://keiko:8000" \
	OCTOPOES_API="http://octopoes_api:80" SCHEDULER_API="http://scheduler:8000" SECRET_KEY="foo" \
	&& $(DH_VENV_DIR)/bin/python manage.py collectstatic --noinput --clear \
	&& $(DH_VENV_DIR)/bin/python manage.py compress \
	&& $(DH_VENV_DIR)/bin/python manage.py compilemessages
	find static -type f -exec install -D "{}" "$(DESTDIR)/usr/share/kat-rocky/{}" \;


# remove pip to prevent mutation of venv
	$(DH_VENV_DIR)/bin/python -m pip uninstall --yes pip

# TODO: fix broken shebang replacement by setuptools
	sed -i 's|#!.*|#!$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)/bin/python|' $(DH_VENV_DIR)/bin/manage.py

override_dh_gencontrol:
	dh_gencontrol -- -Vpython=`py3versions -d`

execute_after_dh_install:
	dh_installsysusers
