/* State tags */

.new {
  @extend %tag;

  background-color: var(--colors-blue-50);
  border: 1px solid var(--colors-blue-300);
  color: var(--colors-blue-600);
}

.tag {
  &.critical,
  &.medium,
  &.secure {
    @extend %tag;

    display: inline;

    &::before {
      content: none;
    }
  }

  &.critical {
    background-color: var(--colors-red-150);
    border: 1px solid var(--risk-level-critical);
    color: var(--colors-orange-700);
  }

  &.medium {
    background-color: var(--colors-yellow-50);
    border: 1px solid var(--colors-yellow-300);
    color: var(--color-alert-warning);
  }

  &.secure {
    background-color: var(--colors-green-200);
    border: 1px solid var(--colors-green-500);
    color: var(--colors-green-700);
  }
}
