[tool.poetry]
name = "octopoes"
version = "0.0.1.dev1"
description = "KAT's knowledge graph engine"
authors = ["MinVWS <maintainer@openkat.nl>"]
license = "EUPL"

[build-system]
requires = ["setuptools>=62.2", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.poetry.dependencies]
python = "^3.10"
pydantic = "^2.7.1"
uvicorn = "^0.29.0"
pika = "^1.3.1"
PyYAML = "^6.0"
dnspython = "^2.6.1"
kombu = "^5.2.4"
celery = "^5.2.7"
pyparsing = "^3.0.9"
packaging = "^23.0"
tldextract = "^3.4.0"
opentelemetry-sdk = "^1.29.0"
opentelemetry-instrumentation = "^0.50b0"
opentelemetry-exporter-otlp-proto-grpc = "^1.29.0"
opentelemetry-instrumentation-fastapi = "^0.50b0"
opentelemetry-instrumentation-psycopg2 = "^0.50b0"
opentelemetry-instrumentation-httpx = "^0.50b0"
sqlalchemy = "1.4.48"
jsonschema = "^4.18.0"
pydantic-settings = "^2.2.1"
httpx = "^0.27.0"
# required by disallowed-csp-hostnames bit
link-shorteners = "^1.11.0"
opentelemetry-api = "^1.29.0"
opentelemetry-exporter-otlp-proto-common = "^1.29.0"
opentelemetry-instrumentation-asgi = "^0.50b0"
opentelemetry-instrumentation-dbapi = "^0.50b0"
opentelemetry-proto = "^1.29.0"
opentelemetry-semantic-conventions = "^0.50b0"
opentelemetry-util-http = "^0.50b0"

fastapi-slim = "^0.115.2"
structlog = "^24.2.0"
asgiref = "^3.8.1"
setuptools = "^75.8.0"

[tool.poetry.group.dev.dependencies]
robotframework = "^7.0"
robotframework-requests = "^0.9.3"
robotframework-httplibrary = "^0.4.2"
pytest = "^8.2.0"
pytest-cov = "^5.0.0"
pytest-mock = "^3.14.0"
pytest-env = "^1.1.3"
pytest-timeout = "^2.3.1"
pytest-httpx = "^0.30.0"

[tool.pytest.ini_options]
addopts = "--cov --cov-report xml --cov-branch --cov-report=term-missing:skip-covered"
env = [
    "XTDB_URI=http://testxtdb:3000",
    "QUEUE_URI=amqp://placeholder",
    "KATALOGUS_API=http://placeholder:8000",
]
