[tool.poetry]
name = "octopoes"
version = "0.0.1.dev1"
description = "KAT's knowledge graph engine"
authors = ["MinVWS <maintainer@openkat.nl>"]
license = "EUPL"

[build-system]
requires = ["setuptools>=62.2", "wheel"]
build-backend = "setuptools.build_meta:__legacy__"

[tool.poetry.dependencies]
python = "^3.8"
requests = "^2.31.0"
pydantic = "^1.10.9"
fastapi = "^0.101.0"
fastapi-utils = "^0.2.1"
uvicorn = "^0.20.0"
pika = "^1.3.1"
PyYAML = "^6.0"
setuptools = "^67.2.0"
dnspython = "^2.2.1"
kombu = "^5.2.4"
celery = "^5.2.7"
pyparsing = "^3.0.9"
packaging = "^23.0"
tldextract = "^3.4.0"
opentelemetry-sdk = "^1.19.0"
opentelemetry-exporter-otlp-proto-grpc = "^1.19.0"
opentelemetry-instrumentation-fastapi = "^0.41b0"
opentelemetry-instrumentation-requests = "^0.41b0"
certifi = "^2023.7.22"
sqlalchemy = "1.4.48"
jsonschema = "^4.18.0"
opentelemetry-instrumentation = "^0.41b0"
opentelemetry-instrumentation-psycopg2 = "^0.41b0"

[tool.poetry.group.dev.dependencies]
requests-mock = "^1.10.0"
vulture = "^2.6"
mypy = "^0.982"
pylint = "^2.15.4"
black = "^22.10.0"
robotframework = "^6.0"
robotframework-requests = "^0.9.3"
robotframework-tidy = "^3.3.1"
robotframework-httplibrary = "^0.4.2"
pytest = "^7.2.0"
pytest-cov = "^4.0.0"
pytest-mock = "^3.10.0"
pytest-env = "^0.8.2"
pre-commit = "^2.20.0"
httpx = "^0.23.3"
pytest-timeout = "^2.1.0"

[tool.black]
target-version = ["py38", "py39", "py310", "py311"]
line-length = 120

[tool.pytest.ini_options]
addopts = "--cov --cov-branch --cov-report=term-missing:skip-covered"
env = [
    "XTDB_URI=http://testxtdb:3000",
    "QUEUE_URI=amqp://placeholder",
    "KATALOGUS_API=http://placeholder:8000",
]
