{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <div class="spacing-grid-0">
                    <h1>Button</h1>
                    <p>Overview of available button styles.</p>
                </div>
                <div class="spacing-grid-500 example-component">
                    <h2>Button primary</h2>
                    <div class="fifty-fifty">
                        <div class="centered component">
                            <button>Lorem</button>
                        </div>
                        <dl>
                            <div>
                                <dt>Type</dt>
                                <dd>
                                    Primary
                                </dd>
                            </div>
                            <div>
                                <dt>Size</dt>
                                <dd>
                                    Default
                                </dd>
                            </div>
                            <div>
                                <dt>Indent</dt>
                                <dd>
                                    False
                                </dd>
                            </div>
                            <div>
                                <dt>Destructive</dt>
                                <dd>
                                    False
                                </dd>
                            </div>
                            <div>
                                <dt>Icon only</dt>
                                <dd>
                                    False
                                </dd>
                            </div>
                        </dl>
                    </div>
                    <div class="fifty-fifty">
                        <div class="centered component">
                            <button>Lorem</button>
                        </div>
                        <dl>
                            <div>
                                <dt>Type</dt>
                                <dd>
                                    Primary
                                </dd>
                            </div>
                            <div>
                                <dt>Size</dt>
                                <dd>
                                    Large
                                </dd>
                            </div>
                            <div>
                                <dt>Indent</dt>
                                <dd>
                                    False
                                </dd>
                            </div>
                            <div>
                                <dt>Destructive</dt>
                                <dd>
                                    False
                                </dd>
                            </div>
                            <div>
                                <dt>Icon only</dt>
                                <dd>
                                    False
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
                <h2>ghost</h2>
                <button class="ghost">Lorem</button>
                <button class="destructive">Lorem</button>
                <button class="plain">Lorem</button>
                <button class="ghost destructive">Lorem</button>
                <button class="plain destructive">Lorem</button>
                <button class="destructive small">Lorem</button>
                <button class="plain small">Lorem</button>
                <button class="ghost destructive small">Lorem</button>
                <button class="plain destructive small">Lorem</button>
                {% if not indemnification_present %}
                    <p class="warning"
                       role="group"
                       aria-label="{% translate "indemnification warning" %}">
                        {% url "organization_settings" organization.code as organization_settings %}
                        {% blocktranslate %}
                            <strong>Warning:</strong>
                            Indemnification is not set for this organization.
                            Go to the <a href="{{ organization_settings }}">organization settings page</a> to add one.
                        {% endblocktranslate %}
                    </p>
                {% endif %}
                <p>
                    {% translate "An overview of the top 10 most severe findings OpenKAT found. Check the detail section for additional severity information." %}
                </p>
                <h2>{% translate "Top 10 most severe Findings" %}</h2>
                {% translate "Object list" as filter_title %}
                <div class="horizontal-scroll">
                    <table class="action-buttons nowrap">
                        <caption>{% translate "Showing " %}{{ object_list|length }} {% translate "of" %} {{ paginator.count }} {% translate "findings" %}</caption>
                        <thead>
                            <tr>
                                <th>{% translate "Severity" %}</th>
                                <th>{% translate "Finding" %}</th>
                                <th class="visually-hidden">{% translate "Details" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hydr in object_list %}
                                {% with ft=hydr.finding_type ooi=hydr.ooi finding=hydr.finding %}
                                    <tr>
                                        <td>
                                            <span class="{{ ft.risk_severity|lower }}">{{ ft.risk_severity|capfirst }}</span>
                                        </td>
                                        <td>
                                            <a href="{% ooi_url "ooi_detail" finding.primary_key organization.code query=mandatory_fields %}"
                                               title="{% blocktranslate trimmed with finding=finding.human_readable %} Show details for {{ finding }} {% endblocktranslate %}">{{ finding.human_readable }}</a>
                                        </td>
                                        <td class="actions">
                                            <button class="expando-button"
                                                    data-icon-open-class="icon ti-chevron-down"
                                                    data-icon-close-class="icon ti-chevron-up"
                                                    data-close-label="{% translate "Close details" %}">
                                                {% translate "Open details" %}
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="expando-row">
                                        <td colspan="6">
                                            <h3 class="heading-normal">{% translate "Finding type:" %}</h3>
                                            <a href="{% ooi_url "ooi_detail" ft.primary_key organization.code query=mandatory_fields %}"
                                               title="{% blocktranslate trimmed with finding_type=ft.human_readable %} Show details for {{ finding_type }} {% endblocktranslate %}">{{ ft.human_readable }}</a>
                                            <h3 class="heading-normal">{% translate "OOI type:" %}</h3>
                                            <a href="{% url "ooi_list" organization_code=organization.code %}?ooi_type={{ ooi.object_type }}"
                                               title="{% blocktranslate trimmed with ooi_type=ooi.object_type %} Show {{ ooi_type }} objects {% endblocktranslate %}">{{ ooi.object_type }}</a>
                                            <h3 class="heading-normal">{% translate "Source OOI:" %}</h3>
                                            <a href="{% ooi_url "ooi_detail" ooi.primary_key organization.code query=mandatory_fields %}"
                                               title="{% blocktranslate trimmed with finding=ooi.human_readable %} Show details for {{ finding }} {% endblocktranslate %}">{{ ooi.human_readable }}</a>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
{% endblock html_at_end_body %}
