{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Organizations' %}</h1>
        {% if perms.tools.add_organization %}
          <div class="horizontal-view toolbar">
            <a href="{% url 'organization_add' %}" class="button">{% translate 'Add new organization' %}</a>
          </div>
        {% endif %}
        <div class="horizontal-scroll">
          <table>
            <caption>{% translate 'Organization overview:' %}</caption>
            <thead>
              <tr>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Code' %}</th>
                <th>{% translate 'Members' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
                <tr>
                  <td>
                    <a href="{% url 'organization_detail' organization_code=object.organization.code %}">{{ object.organization.name }}</a>
                  </td>
                  <td>
                    <a href="{% url 'organization_detail' organization_code=object.organization.code %}">{{ object.organization.code }}</a>
                  </td>
                  <td>{{ object.total_members }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
  <script src="{% static '/js/checkboxToggler.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}
