{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Organization details' %}</h1>
        <div class="horizontal-scroll">
          <table>
            <thead>
              <tr>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Code' %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ organization.name }}</td>
                <td>{{ organization.code }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <a href="{% url 'indemnification_add' organization.code %}" class="button ghost">{% translate 'Add indemnification' %}</a>
      </div>
    </section>
    {% if perms.tools.view_organization or request.user.is_superuser %}
      {% include 'organizations/organization_member_list.html' %}
    {% endif %}
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
  <script src="{% static '/js/checkboxToggler.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}
