{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "organizations/organization_member_add_header.html" %}

            <form novalidate  method="get" class="help">
                {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                <button type="submit">{% translate "Submit" %}</button>
            </form>
        </section>
    </main>
{% endblock content %}
