{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate "Crisis room" %}: {{ organization.name|title }} ({{ organization.code }})</h1>

        <p>
          {% translate 'An overview of the top 10 most severe findings OpenKAT found. Check the detail section for additional severity information.' %}
        </p>

        <h2>
          {% translate 'Top 10 most severe Findings' %}
        </h2>

        {{ object_type_filters }}

        {% translate 'Object list' as filter_title %}

        <div class="horizontal-scroll">
          <table class="action-buttons nowrap">
            <caption>{% translate 'Showing ' %}{{ ooi_list|length }} {% translate 'of' %} {{ total_oois }} {% translate 'objects' %}</caption>
            <thead>
              <tr>
                <th>{% translate 'Severity' %}</th>
                <th>{% translate 'Finding' %}</th>
                <th>{% translate 'Details' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for ooi in ooi_list %}
                <tr>
                  <td>
                    <span class="{{ ooi.severity|lower }}">{{ ooi.severity }}</span>
                  </td>
                  <td>
                    <a href="{% ooi_url 'ooi_detail' ooi.finding.primary_key organization.code query=mandatory_fields %}"
                       title="{% blocktranslate trimmed with finding=ooi.finding.primary_key %} Show details for {{ finding }} {% endblocktranslate %}">{{ ooi.finding.human_readable }}</a>
                  </td>
                  <td class="actions">
                    <button class="expando-button"
                            data-icon-open-class="icon ti-chevron-down"
                            data-icon-close-class="icon ti-chevron-up"
                            data-close-label="{% translate 'Close details' %}">
                      {% translate 'Open details' %}
                    </button>
                  </td>
                </tr>
                <tr class="expando-row">
                  <td colspan="6">
                    <table>
                      <tr>
                        <td>{% translate 'Finding type:' %}</td>
                        <td>
                          <a href="{% ooi_url 'ooi_detail' ooi.finding_type organization.code query=mandatory_fields %}"
                             title="{% blocktranslate trimmed with finding_type=ooi.finding_type.human_readable %} Show details for {{ finding_type }} {% endblocktranslate %}">{{ ooi.finding_type.human_readable }}</a>
                        </td>
                      </tr>
                      <tr>
                        <td>{% translate 'OOI type:' %}</td>
                        <td>
                          <a href="{% url 'ooi_list' organization_code=organization.code %}?ooi_type={{ ooi.finding_type.object_type }}"
                             title="{% blocktranslate trimmed with ooi_type=ooi.finding_type.object_type %} Show {{ ooi_type }} objects {% endblocktranslate %}">{{ ooi.finding_type.object_type }}</a>
                        </td>
                      </tr>
                      <tr>
                        <td>{% translate 'Source OOI:' %}</td>
                        <td>
                          <a href="{% ooi_url 'ooi_detail' ooi.finding.ooi organization.code query=mandatory_fields %}"
                             title="{% blocktranslate trimmed with finding=ooi.finding.ooi %} Show details for {{ finding }} {% endblocktranslate %}">{{ ooi.finding.ooi }}</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
{% endblock %}


