{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="layout-form">
                <h1>{% translate "Add member" %}</h1>
                <p>{% translate "Choose an account type for this new member." %}</p>
                <form novalidate  method="get" class="help">
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <button type="submit">{% translate "Submit" %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
