{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Edit member" %} {{ object.user.full_name }}</h1>
                <form method="post" class="horizontal-view help">
                    {% csrf_token %}
                    {% include "partials/form/fieldset.html" with fields=form %}

                    <div class="button-container">
                        <button type="submit">{% translate "Save member" %}</button>
                        <a class="button ghost"
                           href="{% url 'organization_member_list' organization.code %}">{% translate "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
