{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    {% include 'partials/notifications/notifications_block.html' %}
    <section>
      <div>
        <h1>{% translate 'Edit member' %} {{ object.user.full_name }}</h1>
        <form method="post" class="horizontal-view help">
          {% csrf_token %}
          <fieldset>
            <legend>
              {% translate 'Edit' %} {{ object.user.full_name }}
            </legend>
            {% for field in form %}
              {% if field.name == "trusted_clearance_level" %}
                {% include 'organizations/select_clearance_level_radio_input.html' %}
              {% elif  field.name == "acknowledged_clearance_level" %}
                <fieldset>
                  <legend>
                    {% translate 'Acknowledged clearance level' %}
                  </legend>
                  <div class="horizontal-view">
                    <label>
                      {% include 'partials/cat_paws.html' with level=object.acknowledged_clearance_level custom_class="level-indicator-form" %}
                    </label>
                  </div>
                </fieldset>
              {% else %}
                {% include 'partials/form/field_input.html' %}
              {% endif %}
            {% endfor %}
          </fieldset>
          <div class="horizontal-view">
            <button type="submit">{% translate 'Save member' %}</button>
            <a class="button ghost"
               href="{% url 'organization_detail' organization.code %}">{% translate 'Cancel' %}</a>
          </div>
        </form>
      </div>
    </section>
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
  <script src="{% static '/js/checkboxToggler.js' %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock %}
