{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Edit member" %} {{ object.user.full_name }}</h1>
                <form method="post" class="help">
                    {% csrf_token %}
                    {% include "partials/form/fieldset.html" with fields=form %}

                    <div class="button-container">
                        <button type="submit">{% translate "Save member" %}</button>
                        <a class="button ghost"
                           href="{% url 'organization_member_list' organization.code %}">{% translate "Cancel" %}</a>
                    </div>
                </form>
            </div>
        </section>
        {% if request.user.is_superuser %}
            {% if object.user.is_superuser %}
                <section>
                    <div>
                        <h2>{% translate "Global account access" %}</h2>
                        <p>
                            {% translate "Superuser access applies to every organization and all administrative functionality in this OpenKAT installation." %}
                        </p>
                        <a class="button ghost destructive"
                           href="{% url 'organization_member_revoke_superuser' organization.code object.id %}">{% translate "Revoke superuser access" %}</a>
                    </div>
                </section>
            {% elif object.user.is_active %}
                <section>
                    <div>
                        <h2>{% translate "Global account access" %}</h2>
                        <p>
                            {% translate "Superuser access applies to every organization and all administrative functionality in this OpenKAT installation." %}
                        </p>
                        <a class="button ghost destructive"
                           href="{% url 'organization_member_grant_superuser' organization.code object.id %}">{% translate "Grant superuser access" %}</a>
                    </div>
                </section>
            {% endif %}
        {% endif %}
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endblock html_at_end_body %}
