{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Organization" %}: {{ organization.name }}</h1>
                {% blocktranslate with organization_name=organization.name %}
                    An overview of "{{ organization_name }}" its members.
                {% endblocktranslate %}
                <h2>{% translate "Members" %}</h2>
                {% if perms.tools.add_organizationmember %}
                    <div class="horizontal-view toolbar">
                        <div class="dropdown">
                            <button aria-controls="export-add" class="dropdown-button">
                                {% translate "Add member(s)" %}<span aria-hidden="true" class="icon ti-chevron-down"></span>
                            </button>
                            <ul id="export-add" aria-expanded="false" class="dropdown-list">
                                <li>
                                    <a href="{% url "organization_member_add_account_type" organization.code %}">{% translate "Manually" %}</a>
                                </li>
                                <li>
                                    <a href="{% url "organization_member_upload" organization.code %}">{% translate "Upload a CSV" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% include "partials/organization_member_list_filters.html" with checkbox_filters=checkbox_filters %}

                <div class="horizontal-scroll">
                    <table>
                        <caption>{% translate "Member overview:" %}</caption>
                        <thead>
                            <tr>
                                <th>{% translate "E-mail" %}</th>
                                <th>{% translate "Role" %}</th>
                                <th>{% translate "Status" %}</th>
                                <th>{% translate "Assigned clearance level" %}</th>
                                <th>{% translate "Accepted clearance level" %}</th>
                                <th>{% translate "Edit" %}</th>
                                <th>{% translate "Blocked" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in members %}
                                {% if not member.user.is_superuser or request.user.is_superuser %}
                                    <tr>
                                        <td>
                                            {{ member.user.email }}
                                            <br>
                                        </td>
                                        <td>
                                            {% if member.user.is_superuser %}
                                                {% translate "Super user" %}
                                            {% endif %}
                                            {% for group in member.groups.all %}
                                                {{ group.name|title }}
                                                <br>
                                            {% endfor %}
                                        </td>
                                        <td class="nowrap">
                                            {% if member.user.is_superuser %}
                                                <span class="icon positive">{% translate "Active" %}</span>&nbsp;{% translate "Active" %}
                                            {% else %}
                                                {% if member.blocked %}
                                                    <span class="icon negative">{% translate "Blocked" %}</span>&nbsp;{% translate "Blocked" %}
                                                {% else %}
                                                    {% if member.status == 'active' %}
                                                        <span class="icon positive">{% translate "Active" %}</span>&nbsp;{% translate "Active" %}
                                                    {% elif member.status == 'new' %}
                                                        <span class="icon neutral">{% translate "New" %}</span>&nbsp;{% translate "New" %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if member.trusted_clearance_level < 0 %}
                                                None
                                            {% else %}
                                                L{{ member.trusted_clearance_level }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if member.acknowledged_clearance_level < 0 %}
                                                None
                                            {% else %}
                                                L{{ member.acknowledged_clearance_level }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if member.user.is_superuser %}
                                                <button class="icon ti-edit action-button disabled">{% translate "Edit" %}</button>
                                            {% else %}
                                                <a href="{% url "organization_member_edit" organization.code member.id %}">
                                                    <button class="icon ti-edit action-button">{% translate "Edit" %}</button>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if member.blocked %}
                                                {% include "partials/single_action_checkbox_form.html" with input_checked=member.blocked input_disabled=member.user.is_superuser action="unblock" key="member_id" value=member.id %}

                                            {% else %}
                                                {% comment %} Disable the "block" checkbox for members that are super users or for the member of the user that's logged in so they can't lock themself out of the organisation by accident{% endcomment %}
                                                {% if member.user.is_superuser or member.user.email == request.user.email %}
                                                    {% include "partials/single_action_checkbox_form.html" with input_checked=member.blocked input_disabled="disabled" action="block" key="member_id" value=member.id %}

                                                {% else %}
                                                    {% include "partials/single_action_checkbox_form.html" with input_checked=member.blocked action="block" key="member_id" value=member.id %}

                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
