{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Crisis room" %}: {{ organization.name }}</h1>
                {% if not indemnification_present %}
                    <p class="warning"
                       role="group"
                       aria-label="{% translate "indemnification warning" %}">
                        {% url "organization_settings" organization.code as organization_settings %}
                        {% blocktranslate %}
                            <strong>Warning:</strong>
                            Indemnification is not set for this organization.
                            Go to the <a href="{{ organization_settings }}">organization settings page</a> to add one.
                        {% endblocktranslate %}
                    </p>
                {% endif %}
                <p>
                    {% translate "An overview of the top 10 most severe findings OpenKAT found. Check the detail section for additional severity information." %}
                </p>
                <h2>{% translate "Top 10 most severe Findings" %}</h2>
                {% translate "Object list" as filter_title %}
                <div class="horizontal-scroll">
                    <table class="action-buttons nowrap">
                        <caption>{% translate "Showing " %}{{ object_list|length }} {% translate "of" %} {{ paginator.count }} {% translate "findings" %}</caption>
                        <thead>
                            <tr>
                                <th>{% translate "Severity" %}</th>
                                <th>{% translate "Finding" %}</th>
                                <th>{% translate "Details" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hydr in object_list %}
                                {% with ft=hydr.finding_type ooi=hydr.ooi finding=hydr.finding %}
                                    <tr>
                                        <td>
                                            <span class="{{ ft.risk_severity|lower }}">{{ ft.risk_severity|capfirst }}</span>
                                        </td>
                                        <td>
                                            <a href="{% ooi_url "ooi_detail" finding.primary_key organization.code query=mandatory_fields %}"
                                               title="{% blocktranslate trimmed with finding=finding.human_readable %} Show details for {{ finding }} {% endblocktranslate %}">{{ finding.human_readable }}</a>
                                        </td>
                                        <td class="actions">
                                            <button class="expando-button"
                                                    data-icon-open-class="icon ti-chevron-down"
                                                    data-icon-close-class="icon ti-chevron-up"
                                                    data-close-label="{% translate "Close details" %}">
                                                {% translate "Open details" %}
                                            </button>
                                        </td>
                                    </tr>
                                    <tr class="expando-row">
                                        <td colspan="6">
                                            <table>
                                                <tr>
                                                    <td>{% translate "Finding type" %}:</td>
                                                    <td>
                                                        <a href="{% ooi_url "ooi_detail" ft.primary_key organization.code query=mandatory_fields %}"
                                                           title="{% blocktranslate trimmed with finding_type=ft.human_readable %} Show details for {{ finding_type }} {% endblocktranslate %}">{{ ft.human_readable }}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>{% translate "OOI type" %}:</td>
                                                    <td>
                                                        <a href="{% url "ooi_list" organization_code=organization.code %}?ooi_type={{ ooi.object_type }}"
                                                           title="{% blocktranslate trimmed with ooi_type=ooi.object_type %} Show {{ ooi_type }} objects {% endblocktranslate %}">{{ ooi.object_type }}</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>{% translate "Source OOI" %}:</td>
                                                    <td>
                                                        <a href="{% ooi_url "ooi_detail" ooi.primary_key organization.code query=mandatory_fields %}"
                                                           title="{% blocktranslate trimmed with finding=ooi.human_readable %} Show details for {{ finding }} {% endblocktranslate %}">{{ ooi.human_readable }}</a>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
{% endblock html_at_end_body %}
