{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Add members" %}</h1>
                <p>
                    {% url 'download_organization_member_template' organization_code=organization.code as download_url %}
                    {% blocktranslate trimmed with download_url=download_url %}
                        To upload multiple members at once, you can upload a CSV file
                        or you can <a href="{{ download_url }}">download the template</a>.
                    {% endblocktranslate %}
                </p>
            </div>
            <div>
                <p>
                    {% translate "To create a custom CSV file, make sure it meets the following criteria:" %}
                    <ul>
                        {% for criterion in criteria %}<li>{{ criterion }}</li>{% endfor %}
                    </ul>
                </p>
                <form novalidate method="post" class="help" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <button type="submit">{% translate "Upload" %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
