{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{{ organization.name|title }} ({{ organization.code }})</h1>
        <p>
          {% translate 'An overview of all (critical) findings OpenKAT found. Check the detail section for additional severity information.' %}
        </p>
      </div>
    </section>
    <section>
      {% comment %} <div>{% include 'partials/elements/ooi_report_settings.html' %}</div> {% endcomment %}
    </section>
    {% include 'organizations/organization_dashboard_findings_block.html' %}
  </main>
{% endblock %}

{% block html_at_end_body %}
  {{ block.super }}
{% endblock %}


