{% load i18n %}

<fieldset>
    <legend>{{ field.label_tag }}</legend>
    {% for choice in field %}
        <div class="horizontal-view">
            <input type="radio"
                   name="{{ field.name }}"
                   value="{{ choice.data.value }}"
                   id="id_{{ field.name }}_{{ forloop.counter0 }}"
                   {% if choice.data.attrs.disabled %}disabled{% endif %}
                   {% if choice.data.attrs.checked %}checked{% endif %} />
            <label>
                {% include "partials/scan_level_indicator.html" with value=forloop.counter0 %}

            </label>
        </div>
    {% endfor %}
    {% include "partials/form/field_input_help_text.html" with help_text=field.help_text %}
    {% include "partials/form/field_input_errors.html" %}

</fieldset>
