/* Added min height for form buttons */

$breakpoint: 300rem !default;

form {

	button,
	a.button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		min-height: 2.75rem;
	}


	.flex-direction {
		display: flex;

		&.row {
			flex-direction: row;
		}

		&.column {
			flex-direction: column;
		}
	}


}
