/* Added min height for form buttons */
form {
	button,
	a.button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		min-height: 2.75rem;
	}
}

.indented-form fieldset.indented fieldset {
  padding-left: 3rem;
}

.indented-form fieldset div {
  padding-bottom: .5rem;
}

.indented-form fieldset div {
  padding-bottom: .5rem;
}

.indented-form fieldset button {
  margin-left: .5rem;
}
