/* Added min height for form buttons */

$breakpoint-filter: 60rem;

form {
	button,
	a.button,
	input[type="button"],
	input[type="submit"],
	input[type="reset"] {
		min-height: 2.75rem;
	}

	.filter-fields-direction {
		display: flex;

		&.column {
			flex-direction: column;
		}
	}

	@media (min-width:$breakpoint-filter) {
		.filter-fields-direction {
			&.row {
				flex-direction: row;
			}
		}
	}
}

.indented-form fieldset.indented fieldset {
  padding-left: 3rem;
}

.indented-form fieldset div {
  padding-bottom: .5rem;
}

.indented-form fieldset button {
  margin-left: .5rem;
}
