/* Level indicator alignment within tiles */
$plugin-disabled: #C3372C;

.tiles {
  .level-indicator {
    padding-left: 0;
  }

  img+div {
    border-top: 0;
  }

  &.plugins {
    gap: 1.5rem;
  }

  button,
  a.button {
    min-width: auto;
    min-height: auto;
    font-weight: 700;
    line-height: var(--form-button-line-height);

    &.plugin-disabled {
      color: $plugin-disabled;

      &:hover {
        border-color: $plugin-disabled;
      }
    }
  }


  &>div {
    min-width: 0;
    padding: 1rem;
    border: 0;
    box-shadow: 0px 8px 16px 0px #11141626;

    &>div.scan-intensity {
      border: 0;
      padding: 0;
    }
  }

}
