/* Level indicator alignment within tiles */


.tiles {
  .level-indicator {
    padding-left: 0;
  }

  img+div {
    border-top: 0;
  }

  &.plugins {
    gap: 1.25rem;
  }






  &>div {
    min-width: 0;
    border: 0;
    box-shadow: 0px 8px 16px 0px #11141626;
    gap: 1rem;

    &>div.scan-intensity {
      border: 0;
      padding: 0;
    }
  }

}
