$depth-start: 2;
$depth-end: 15;

table {

  &.tree-view {

    tr {

      &.tree {

        td {

          @for $i from $depth-start through $depth-end {
            &.indent-#{$i} {
              padding-left: calc(16px + #{$i * 16}px);
            }
          }

        }
      }
    }
  }
}
