/* tags-6-3 */

:root {
  /* Blue */
  --tags-soft-blue-light-border-color: var(--colors-blue-300);
  --tags-soft-blue-medium-border-color: var(--colors-blue-600);
  --tags-soft-blue-dark-text-color: var(--colors-blue-700);

  /* Green */
  --tags-soft-green-light-border-color: var(--colors-green-300);

  /* Yellow */
  --tags-soft-yellow-light-background-color: var(--colors-ochre-50);
  --tags-soft-yellow-light-text-color: var(--colors-ochre-500);
  --tags-soft-yellow-light-border-color: var(--colors-ochre-300);
  --tags-soft-yellow-medium-background-color: var(--colors-ochre-200);
  --tags-soft-yellow-medium-text-color: var(--colors-ochre-600);
  --tags-soft-yellow-medium-border-color: var(--colors-ochre-400);
  --tags-soft-yellow-dark-background-color: var(--colors-ochre-300);
  --tags-soft-yellow-dark-text-color: var(--colors-ochre-700);
  --tags-soft-yellow-dark-border-color: var(--colors-ochre-600);

  /* Orange */
  --tags-soft-orange-light-text-color: var(--colors-orange-600);
  --tags-soft-orange-light-border-color: var(--colors-orange-300);
  --tags-soft-orange-dark-border-color: var(--colors-orange-600);
}
