{% load static %}
{% load i18n %}
{% load compress %}

<div class="modal-wrapper">
    {% slot "trigger" %}
        <button class="modal-trigger" data-target="{{ dialogid }}">Open modal {{ dialogid }}</button>
    {% endslot %}

    <dialog class="modal {{ size }}"
            aria-modal="true"
            role="dialog"
            id="{{ dialogid }}">
        <div class="content-wrapper">
            <section class="header">
                <h2>{% slot "header" %}{% endslot %}</h2>
                <button class="icon-only ti-x close-modal-button"
                        aria-label="{% translate "Close modal" %}"></button>
            </section>
            <section class="content">
              {% slot "content" %}{% endslot %}
            </section>
            <section class="footer">
                <div class="toolbar">
                    <button>{% slot "cta_button" %}{% translate "Confirm" %}{% endslot %}</button>
                    <button class="ghost close-modal-button">{% slot "secondary_button" %} {% translate "Cancel" %} {% endslot %}</button>
                </div>
            </section>
        </div>
    </dialog>
</div>
