[Unit]
Description=kat-octopoes daemon
Requires=kat-octopoes-worker.service
After=network.target

[Service]
User=kat
Group=kat
SyslogIdentifier=kat-octopoes
WorkingDirectory=/opt/venvs/kat-octopoes
EnvironmentFile=/usr/lib/kat/octopoes.defaults
EnvironmentFile=/etc/kat/octopoes.conf
ExecStart=/opt/venvs/kat-octopoes/bin/python -m gunicorn \
          --access-logfile - \
          -c /etc/kat/octopoes.gunicorn.conf.py \
          -k uvicorn.workers.UvicornWorker \
          octopoes.api.api:app
Restart=on-failure
RestartSec=3s
KillMode=mixed

[Install]
WantedBy=multi-user.target
