[Unit]
Description=kat-octopoes scanlevels
After=network.target

[Service]
User=kat
Group=kat
SyslogIdentifier=kat-octopoes-scanlevels
WorkingDirectory=/opt/venvs/kat-octopoes
EnvironmentFile=/usr/lib/kat/octopoes.defaults
EnvironmentFile=/etc/kat/octopoes.conf
ExecStart=/opt/venvs/kat-octopoes/bin/python -m octopoes.tasks.scanprofiles --loglevel=WARNING
Restart=on-failure
RestartSec=3s
KillMode=mixed

[Install]
WantedBy=multi-user.target
