#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_VIRTUALENV_INSTALL_ROOT = /opt/venvs
export SNAKE=/usr/bin/python3
export EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=65" --preinstall "wheel"
export PACKAGE=$(shell dh_listpackages)
export DH_VENV_ARGS=--python $(SNAKE) $(EXTRA_REQUIREMENTS)
export DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)
export DESTDIR = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --with python-virtualenv

.PHONY: override_dh_virtualenv override_dh_fixperms

override_dh_fixperms:
	dh_fixperms
	chmod 750 $(DESTDIR)/etc/kat/
	find $(DESTDIR)/etc/kat -type f -exec chmod 640 {} \;

override_dh_virtualenv:
	dh_virtualenv $(DH_VENV_ARGS)
	$(DH_VENV_DIR)/bin/python -m pip install gunicorn==20.1.0

# remove pip to prevent mutation of venv
	$(DH_VENV_DIR)/bin/python -m pip uninstall --yes pip

override_dh_gencontrol:
	dh_gencontrol -- -Vpython=`py3versions -d`

override_dh_installsystemd:
	dh_installsystemd --name=kat-octopoes
	dh_installsystemd --name=kat-octopoes-worker

execute_after_dh_install:
	dh_installsysusers
