#!/usr/bin/make -f
export DH_VERBOSE = 1
export DH_VIRTUALENV_INSTALL_ROOT = /opt/venvs
export PACKAGE=$(shell dh_listpackages)
export DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)
export DESTDIR = $(CURDIR)/debian/$(PACKAGE)
export UV_LINK_MODE=copy

%:
	dh $@ --with python-virtualenv

.PHONY: override_dh_virtualenv override_dh_fixperms

override_dh_fixperms:
	dh_fixperms
	chmod 750 $(DESTDIR)/etc/kat/
	find $(DESTDIR)/etc/kat -type f -exec chmod 640 {} \;

override_dh_virtualenv:
# We want to use uv but dh_virtualenv doesn't support that. So we create an
# empty requirements file and call uv manually..
	touch /tmp/requirements-empty.txt
	dh_virtualenv --requirements=/tmp/requirements-empty.txt --skip-install --preinstall "uv"
	$(DH_VENV_DIR)/bin/python -m uv sync --locked --active
	$(DH_VENV_DIR)/bin/python -m uv pip install .
	$(DH_VENV_DIR)/bin/python -m uv pip install gunicorn==23.0.0

# remove pip and uv to prevent mutation of venv
	$(DH_VENV_DIR)/bin/python -m uv pip uninstall pip uv

# Fix shebang
	sed -i 's|#!.*$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)/bin/python|#!$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)/bin/python|' $(DH_VENV_DIR)/bin/*

override_dh_gencontrol:
	dh_gencontrol -- -Vpython=`py3versions -d`

override_dh_installsystemd:
	dh_installsystemd --name=kat-octopoes
	dh_installsystemd --name=kat-octopoes-worker

execute_after_dh_install:
	dh_installsysusers

# Disables dh_strip_nondeterminism because it very slow and not useful for us
override_dh_strip_nondeterminism:

# Disable dh_dwz because it is also not useful for us
override_dh_dwz:

# Let dpkg-shlibdeps ignore venvs
override_dh_shlibdeps:
	dh_shlibdeps -X/opt/venvs
