{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load compress %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "OpenKAT introduction" %}</h1>
                <h2>{% translate "DNS Report" %}</h2>
                <p>
                    {% blocktranslate trimmed %}
                        These are the findings of a OpenKAT-analysis ({{ observed_at }}).
                        Click a finding for more detailed information about the issue, its origin, severity and possible solutions.
                    {% endblocktranslate %}
                </p>
                {% include "partials/ooi_report_severity_totals.html" %}
                {% include "partials/ooi_report_findings_block.html" %}

                <section>
                    <div>
                        <h2>{% translate "DNS Tree" %}</h2>
                        {% include "partials/elements/ooi_tree_condensed_table.html" with list=tree %}

                    </div>
                </section>
            </div>
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    {% compress js %}
        <script src="{% static "js/checkboxToggler.js" %}" nonce="{{ request.csp_nonce }}"></script>
    {% endcompress %}
{% endblock html_at_end_body %}
