{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content">
        <section>
            {% include "partials/onboarding_header.html" %}

            <div>
                <h2>{% translate "Indemnification setup" %}</h2>
                {% if indemnification_present %}
                    <p>{% translate "Indemnification on the organization is already present." %}</p>
                    <a class="button"
                       href="{% url "step_4_trusted_acknowledge_clearance_level" organization.code %}">{% translate "Continue" %}</a>
                {% else %}
                    {% include "partials/form/indemnification_add_form.html" %}

                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
