{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "OpenKAT Introduction" %}</h1>
                {% include "partials/stepper.html" %}

                <h2>{% translate "Setup - Set clearance level for" %} {{ ooi }}</h2>
                {% blocktranslate asvar extra_context %}
                    As an L{{dns_report_least_clearance_level}} clearance level holder,
                    you have been granted access to scan objects using Boefjes with a maximum scan level of L{{dns_report_least_clearance_level}}.
                    Before utilizing this clearance level, you must acknowledge your trusted status as an L{{dns_report_least_clearance_level}} clearance level holder.
                {% endblocktranslate %}
                {% include "partials/ooi_clearance.html" with member=organization_member extra_context=extra_context %}

                <h3>{% translate "How to know required clearance level" %}</h3>
                <p>
                    {% blocktranslate trimmed %}
                        Each plugin that scans will have a scan intensity score.
                        The intensity of the scan must be equal to or below the clearance level you set for your object.
                        If the scan has an intensity level that is too high, OpenKAT will notify you before running it.
                        Visually clearance levels and intensity scores are indicated with little cat paws.
                    {% endblocktranslate %}
                </p>
                <div id="id_boefjes" class="column-4 plugins tiles images-cover">
                    {% include "partials/boefje_tile_static.html" %}

                </div>
                <div class="column-4">
                    <div role="group">
                        <p>
                            {% blocktranslate trimmed %}
                                This scan has a scan intensity score of 1, requiring a level 1 clearance level to be run.
                                This means that the scan does not touch the object itself, but only searches for
                                information about the object.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div role="group">
                        <p>
                            {% blocktranslate trimmed %}
                                An example of a more aggressive scan. Which has a scan intensity score of 3.
                                Meaning it requires at least a level 3 clearance level to be set on your object.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
                <h3>{% translate "Setting and changing your clearance level" %}</h3>
                <p>
                    {% blocktranslate trimmed %}
            After creating a new object OpenKAT will ask you to set a clearance level.
            On the object detail page you can always change the clearance level.
            For the onboarding we will suggest to set the clearance level to L{{dns_report_least_clearance_level}}.
                    {% endblocktranslate %}
                </p>
                <form novalidate action="" method="post" class="horizontal-view help">
                    {% csrf_token %}
                    {% translate "Set clearance level" as fieldset_legend %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <button type="submit">{% translate "Set clearance level" %}</button>
                </form>
                <div class="button-container">
                    <a href="{% url "complete_onboarding" organization.code %}"
                       class="button ghost">{% translate "Skip onboarding" %}</a>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
