{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content">
        <section>
            {% include "partials/onboarding_header.html" %}

            <div>
                {% include "partials/step_2_organization_text.html" %}

                <form novalidate method="post" class="help layout-form">
                    {% csrf_token %}
                    {% translate "Organization details" as fieldset_legend %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <button type="submit" class="ghost">{% translate "Submit changes" %}</button>
                </form>
                <a class="button"
                   href="{% url 'step_3_indemnification_setup' organization.code %}">{% translate "Continue" %}</a>
            </div>
        </section>
    </main>
{% endblock content %}
