{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "OpenKAT Introduction" %}</h1>
                {% include "partials/stepper.html" %}

                <h2>{% translate "Setup scan - Set clearance level for" %} {{ ooi }}</h2>
                <p>
                    {% blocktranslate trimmed %}
                        After creating a new object OpenKAT will ask you to set a clearance level.
                        On the object detail page you can always change the clearance level.
                        For the onboarding we will suggest to set the clearance level to L{{dns_report_least_clearance_level}}.
                    {% endblocktranslate %}
                </p>
                <form novalidate action="" method="post" class="horizontal-view help">
                    {% csrf_token %}
                    {% translate "Set clearance level" as fieldset_legend %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <button type="submit">{% translate "Set clearance level" %}</button>
                </form>
                <div class="button-container">
                    <a href="{% url "complete_onboarding" organization.code %}"
                       class="button ghost">{% translate "Skip onboarding" %}</a>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
