{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content" class="explanation-page">
        <section>
            <div>
                <h1>{% translate "OpenKAT Introduction" %}</h1>
                {% include "partials/stepper.html" %}

                <h2>{% translate "Setup scan - OOI clearance for" %} {{ ooi }}</h2>
                <h3>{% translate "Trusted clearance level" %}</h3>
                {% blocktranslate %}
                    The administrators have implemented a trusted clearance level permission,
                    ensuring that scanning capabilities are restricted to
                    objects within this trusted clearance level. This precautionary measure helps
                    maintain a secure environment by limiting their access to sensitive information
                    beyond the designated threshold.
                {% endblocktranslate %}
                <h3>{% translate "Acknowledge clearance level" %}</h3>
                {% blocktranslate %}
                    Before a member is granted the ability to set clearance levels on an object,
                    they must first acknowledge and accept the clearance level set by the administrators.
                    The maximum scanning level permitted for a member is aligned with the trusted clearance level.
                    By acknowledging the trusted clearance level, this member formally agrees to abide by
                    this permission and gains the capability to perform scans only up to this trusted clearance level.
                    This two-step process ensures that the member operates within authorized boundaries.
                {% endblocktranslate %}
                <h3>{% translate "What is my clearance level?" %}</h3>
                {% with tcl=organization_member.trusted_clearance_level acl=organization_member.acknowledged_clearance_level %}
                    {% if tcl < dns_report_least_clearance_level and tcl < 0 %}
                        <p>
                            {% blocktranslate %}
                                Unfortunately you cannot continue the onboarding. </br>
                                You don't have enough clearance to scan <strong>{{ooi}}</strong>
                            {% endblocktranslate %}
                        </p>
                        <a href="{% url "complete_onboarding" organization.code %}"
                           class="button ghost">{% translate "Skip onboarding" %}</a>
                    {% elif tcl != acl %}
                        <p>
                            {% blocktranslate %}
                            Your administrator has trusted you with a clearance level of <strong>L{{ tcl }}</strong>.</br>
                            You must first accept this clearance level to continue.
                            {% endblocktranslate %}
                        </p>
                        {% blocktranslate asvar btn_text_accept_tcl %}
                            Accept level L{{tcl}} clearance and responsibility
                        {% endblocktranslate %}
                        {% include "partials/single_action_form.html" with btn_text=btn_text_accept_tcl action="accept_clearance" key="member_id" value=member.id btn_class="button" %}

                        <a href="{% url "complete_onboarding" organization.code %}"
                           class="button ghost">{% translate "Skip onboarding" %}</a>
                    {% else %}
                        <p>
                            {% blocktranslate %}
                            Your administrator has <strong>trusted</strong> you with a clearance level of <strong>L{{ tcl }}</strong>.</br>
                            You have also <strong>acknowledged</strong> to use this clearance level of <strong>L{{acl}}</strong>.
                            {% endblocktranslate %}
                        </p>
                        <div class="button-container">
                            <a href="{% url "complete_onboarding" organization.code %}"
                               class="button ghost">{% translate "Skip onboarding" %}</a>
                            <a href="{% url "step_set_clearance_level" organization.code %}?ooi_id={{ ooi }}"
                               class="button">{% translate "Set clearance level" %}</a>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </section>
    </main>
{% endblock content %}
