{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content" class="explanation-page">
        <section>
            <div>
                <h1>{% translate "OpenKAT Introduction" %}</h1>
                {% include "partials/stepper.html" %}

                <h2>{% translate "Setup scan - OOI clearance for" %} {{ ooi }}</h2>
                <h3>{% translate "Introduction" %}</h3>
                <p>
                    {% blocktranslate trimmed %}
                        Some scans are lightweight while others might be a bit more aggressive with their scanning.
                        OpenKAT requires you to set a clearance level for each object to prevent you from unintentionally
                        running aggressive scans. For example you might have the right to run any type of scan on your own server but you
                        probably don’t have the right to do so for objects owned by other people of companies.
                    {% endblocktranslate %}
                </p>
                <h3>{% translate "How to know required clearance level" %}</h3>
                <p>
                    {% blocktranslate trimmed %}
                        Each plugin that scans will have a scan intensity score.
                        The intensity of the scan must be equal to or below the clearance level you set for your object.
                        If the scan has an intensity level that is too high, OpenKAT will notify you before running it.
                        Visually clearance levels and intensity scores are indicated with little cat paws.
                    {% endblocktranslate %}
                </p>
                <div id="id_boefjes" class="column-4 plugins tiles images-cover">
                    {% for boefje in boefjes %}
                        {% include "partials/plugin_tile.html" with plugin=boefje show_meta="no" %}

                    {% endfor %}
                </div>
                <div class="column-4">
                    <div role="group">
                        <p>
                            {% blocktranslate trimmed %}
                                This scan has a scan intensity score of 1, requiring a level 1 clearance level to be run.
                                This means that the scan does not touch the object itself, but only searches for
                                information about the object.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div role="group">
                        <p>
                            {% blocktranslate trimmed %}
                                An example of a more aggressive scan. Which has a scan intensity score of 3.
                                Meaning it requires at least a level 3 clearance level to be set on your object.
                            {% endblocktranslate %}
                        </p>
                    </div>
                </div>
                <div class="button-container">
                    <a href="{% url "complete_onboarding" organization.code %}"
                       class="button ghost">{% translate "Skip onboarding" %}</a>
                    <a href="{% url "step_acknowledge_clearance_level" organization.code %}?ooi_id={{ ooi }}"
                       class="button">{% translate "Continue" %}</a>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
