{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "OpenKAT introduction" %}</h1>
                {% include "partials/stepper.html" %}

                <h2>{% translate "Choose a report - Type" %}</h2>
                <p>
                    {% blocktranslate trimmed %}
                        Within OpenKAT you can view reports for each of your current objects. For
                        specific reports you can choose one of the available report types and generate
                        a report. Such as a pentest, a DNS-report or a Mail Report to give some examples.
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate trimmed %}
                        For this tutorial we will create a DNS-report to get you started.
                    {% endblocktranslate %}
                </p>
                <p>
                    {% blocktranslate trimmed %}
                        When you start to generate this report. OpenKAT will guide you through the
                        necessary steps.
                    {% endblocktranslate %}
                </p>
                <form method="get"
                      action="{% url "step_setup_scan_ooi_info" organization.code %}"
                      class="inline">
                    <div class="button-container">
                        {% if organization %}
                            <button name="report_type" value="dns-report" type="submit" class="button">{% translate "DNS report" %}</button>
                        {% endif %}
                        <a href="" class="button ghost disabled">Pentest</a>
                        <a href="" class="button ghost disabled">Mail Report</a>
                        <a href="" class="button ghost disabled">DigiD</a>
                        {% if organization %}
                            <a href="{% url "complete_onboarding" organization.code %}"
                               class="button ghost">{% translate "Skip onboarding" %}</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
