{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "OpenKAT setup" %}</h1>
                {% include "partials/stepper.html" %}

                <h2>{% translate "Organization setup" %}</h2>
                <p>
                    {% blocktranslate trimmed %}
                        Please enter the following organization details.
                        The organization name can be changed later in the interface.
                        The organization code cannot be changed as this is used
                        by the database.
                    {% endblocktranslate %}
                </p>
                <form novalidate
                      action="{% url "step_2a_organization_setup" %}"
                      method="post"
                      class="help layout-form">
                    {% csrf_token %}
                    {% translate "Organization details" as fieldset_legend %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <button type="submit">{% translate "Submit" %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
