{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" with view_type="onboarding" %}

    <main id="main-content">
        <section>
            <h1>{% translate "Onboarding" %}</h1>
            {% include "partials/stepper.html" %}

            <div>
                <h2>{% translate "Welcome to OpenKAT!" %}</h2>
                <p>
                    {% blocktranslate trimmed %}
                        Welcome to the onboarding of OpenKAT. We will walk you through some steps to set everything up.
                        <p>
                            At the end of this onboarding you have added your first object, created your first DNS report and learned about some basic concepts used within OpenKAT.
                        </p>
                        <p>
                            The full documentation for OpenKAT can be found at: <a href="https://docs.openkat.nl">https://docs.openkat.nl</a>.
                        {% endblocktranslate %}
                    </p>
                    <a href="{% url "step_4_trusted_acknowledge_clearance_level" organization.code %}"
                       class="button">{% translate "Let's get started" %}</a>
                </p>
            </div>
        </section>
    </main>
{% endblock content %}
