{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="introduction">
                <div>
                    <h1>{% translate "Findings" %}</h1>
                    <p>
                        {% blocktranslate with organization=organization trimmed %}
                            An overview of all findings OpenKAT found for organization {{ organization }}.
                            Each finding relates to an object. Click a finding for additional information.
                        {% endblocktranslate %}
                    </p>
                </div>
                {% if perms.openkat.add_finding %}
                    <div class="horizontal-view toolbar">
                        <a class="button ghost" href="{% url "objects:add_finding" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add finding" %}</a>
                    </div>
                {% endif %}
            </div>
            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                    {% for code in filtered_organization_codes %}<input type="hidden" name="organization" value="{{ code }}">{% endfor %}
                    {{ filter.form.as_p }}
                    <button type="submit">{% translate "Apply" %}</button>
                </form>
            </div>
            <div>
                <div class="horizontal-scroll sticky-column">
                    <table class="nowrap">
                        <thead>
                            <tr>
                                <th>{% translate "Severity" %}</th>
                                <th>{% translate "Finding type" %}</th>
                                <th>{% translate "Object" %}</th>
                                <th>{% translate "Risk score" %}</th>
                                <th>{% translate "Last seen" %}</th>
                                <th>{% translate "Delete" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for finding in findings %}
                                <tr>
                                    <td>
                                        <span class="{{ finding.finding_type.risk }}">{{ finding.finding_type.risk|default:"-"|capfirst }}</span>
                                    </td>
                                    <td>
                                        <span class="label tags-color-1-light">{{ finding.finding_type.code }}</span>
                                    </td>
                                    <td>
                                        <a href="{% url "objects:"|add:finding.object_type|lower|add:"_detail" pk=finding.object_id %}">{{ finding.object_human_readable }}</a>
                                    </td>
                                    <td>{{ finding.finding_type.score|default:"-" }}</td>
                                    <td>
                                        {% if finding.last_seen %}
                                            {{ finding.last_seen|date:"Y-m-d H:i" }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'objects:delete_finding' finding.pk %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                        </form>
                                    </td>
                                    <td class="actions sticky-cell">
                                        <button type="button"
                                                class="expando-button"
                                                data-icon-open-class="icon ti-chevron-down"
                                                data-icon-close-class="icon ti-chevron-up"
                                                data-close-label="{% translate "Close details" %}">
                                            {% translate "Open details" %}
                                        </button>
                                    </td>
                                </tr>
                                <tr class="expando-row">
                                    <td colspan="4">
                                        <div>
                                            <dl>
                                                <div>
                                                    <dt>{% translate "Description" %}</dt>
                                                    <dd>
                                                        {{ finding.finding_type.description|default:"-" }}
                                                    </dd>
                                                </div>
                                                {% if finding.finding_type.recommendation %}
                                                    <div>
                                                        <dt>{% translate "Recommendation" %}</dt>
                                                        <dd>
                                                            {{ finding.finding_type.recommendation }}
                                                        </dd>
                                                    </div>
                                                {% endif %}
                                                {% if finding.finding_type.impact %}
                                                    <div>
                                                        <dt>{% translate "Impact" %}</dt>
                                                        <dd>
                                                            {{ finding.finding_type.impact }}
                                                        </dd>
                                                    </div>
                                                {% endif %}
                                                {% if finding.finding_type.source %}
                                                    <div>
                                                        <dt>{% translate "Source" %}</dt>
                                                        <dd>
                                                            {{ finding.finding_type.source }}
                                                        </dd>
                                                    </div>
                                                {% endif %}
                                            </dl>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "partials/list_paginator.html" %}

        </section>
    </main>
{% endblock content %}
