{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="introduction">
                <div>
                    <h1>{% translate "Hostname:" %} {{ hostname.name }}</h1>
                </div>
            </div>
            <div>
                <h2>Details</h2>
                <div>
                    <dl>
                        <div>
                            <dt>Address</dt>
                            <dd>
                                {{ hostname.name }}
                            </dd>
                        </div>
                        <div>
                            <dt>Network</dt>
                            <dd>
                                <a href="{% url 'objects:network_detail' hostname.network.pk %}">{{ hostname.network.name }}</a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="horizontal-scroll">
                <h2>{% translate "DNS Records" %}</h2>
                <table>
                    <caption class="visually-hidden">{% translate "DNS records" %}</caption>
                    <thead>
                        <tr>
                            <th>{% translate "Type" %}</th>
                            <th>{% translate "Content" %}</th>
                            <th>{% translate "Max Scan Level" %}</th>
                            <th>{% translate "Details" %}</th>
                            <th>{% translate "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in dnsarecord_set %}
                            <tr>
                                <td>A</td>
                                <td>
                                    <a href="{% url 'objects:ipaddress_detail' record.ip_address_id %}">{{ record.ip_address }}</a>
                                </td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td></td>
                                <td>
                                    <form action="{% url 'objects:delete_dnsarecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnsaaaarecord_set %}
                            <tr>
                                <td>AAAA</td>
                                <td>
                                    <a href="{% url 'objects:ipaddress_detail' record.ip_address_id %}">{{ record.ip_address }}</a>
                                </td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td></td>
                                <td>
                                    <form action="{% url 'objects:delete_dnsaaaarecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnscnamerecord_set %}
                            <tr>
                                <td>CNAME</td>
                                <td>
                                    <a href="{% url 'objects:hostname_detail' record.target_id %}">{{ record.target }}</a>
                                </td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% translate "Source:" %} {{ hostname.name }}</td>
                                <td>
                                    <form action="{% url 'objects:delete_dnscnamerecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnsmxrecord_set %}
                            <tr>
                                <td>MX</td>
                                <td>
                                    <a href="{% url 'objects:hostname_detail' record.mail_server_id %}">{{ record.mail_server }}</a>
                                </td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% translate "Preference:" %} {{ record.preference }}</td>
                                <td>
                                    <form action="{% url 'objects:delete_dnsmxrecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnsnsrecord_set %}
                            <tr>
                                <td>NS</td>
                                <td>
                                    <a href="{% url 'objects:hostname_detail' record.name_server_id %}">{{ record.name_server }}</a>
                                </td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td></td>
                                <td>
                                    <form action="{% url 'objects:delete_dnsnsrecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnscaarecord_set %}
                            <tr>
                                <td>CAA</td>
                                <td>{{ record.value }}</td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% translate "Flags:" %} {{ record.flags }}, {% translate "Tag:" %} {{ record.tag }}</td>
                                <td>
                                    <form action="{% url 'objects:delete_dnscaarecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnstxtrecord_set %}
                            <tr>
                                <td>TXT</td>
                                <td>{{ record.value }}</td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if record.prefix %}
                                        {% translate "Prefix:" %} {{ record.prefix }}
                                    {% endif %}
                                </td>
                                <td>
                                    <form action="{% url 'objects:delete_dnstxtrecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnssrvrecord_set %}
                            <tr>
                                <td>SRV</td>
                                <td>
                                    <a href="{% url 'objects:hostname_detail' record.target_hostname_id %}">{{ record.target_hostname }}</a>:{{ record.port }}
                                </td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>{% translate "Priority:" %} {{ record.priority }}, {% translate "Weight:" %} {{ record.weight }}</td>
                                <td>
                                    <form action="{% url 'objects:delete_dnssrvrecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="horizontal-scroll">
                <h2>{% translate "Reverse DNS Records" %}</h2>
                <table>
                    <caption class="visually-hidden">{% translate "Reverse DNS records" %}</caption>
                    <thead>
                        <tr>
                            <th>{% translate "Type" %}</th>
                            <th>{% translate "Content" %}</th>
                            <th>{% translate "Max Scan Level" %}</th>
                            <th>{% translate "Details" %}</th>
                            <th>{% translate "Delete" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in dnsptrrecord_set %}
                            <tr>
                                <td>PTR</td>
                                <td>{{ record.ip_address }}</td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td></td>
                                <td>
                                    <form action="{% url 'objects:delete_dnsptrrecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnscnamerecord_target_set %}
                            <tr>
                                <td>CNAME</td>
                                <td>{{ hostname.name }}</td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% translate "Target for:" %} <a href="{% url 'objects:hostname_detail' record.hostname_id %}">{{ record.hostname }}</a>
                                </td>
                                <td>
                                    <form action="{% url 'objects:delete_dnscnamerecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnsmxrecord_mailserver %}
                            <tr>
                                <td>MX</td>
                                <td>{{ hostname.name }}</td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% translate "Mail server for:" %} <a href="{% url 'objects:hostname_detail' record.hostname_id %}">{{ record.hostname }}</a> ({% translate "Preference:" %} {{ record.preference }})
                                </td>
                                <td>
                                    <form action="{% url 'objects:delete_dnsmxrecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for record in dnsnsrecord_nameserver %}
                            <tr>
                                <td>NS</td>
                                <td>{{ hostname.name }}</td>
                                <td>
                                    {% if record.max_scan_level != None %}
                                        {% include "partials/scan_level_indicator.html" with value=record.max_scan_level %}

                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% translate "Authoritative for:" %} <a href="{% url 'objects:hostname_detail' record.hostname_id %}">{{ record.hostname }}</a>
                                </td>
                                <td>
                                    <form action="{% url 'objects:delete_dnsnsrecord' record.pk %}"
                                          method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <h2>{% translate "Scan Levels" %}</h2>
                <form class="inline layout-wide"
                      method="post"
                      action="{% url 'objects:add_hostname_scan_level' hostname.pk %}">
                    <div class="horizontal-view">
                        {% csrf_token %}
                        {% include "partials/form/form_errors.html" with form=scan_level_form %}

                        {{ scan_level_form }}
                        <p class="action-buttons">
                            <button type="submit">{% translate "Add" %}</button>
                        </p>
                    </div>
                </form>
                {% if scan_levels %}
                    <div class="horizontal-scroll">
                        <table>
                            <caption class="visually-hidden">{% translate "Overview of variants" %}</caption>
                            <thead>
                                <tr>
                                    <th scope="col">{% translate "Organization" %}</th>
                                    <th scope="col">{% translate "Scan level" %}</th>
                                    <th scope="col">{% translate "Declared" %}</th>
                                    <th scope="col" colspan="2">{% translate "Update" %}</th>
                                    <th scope="col">{% translate "Delete" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scan_level in scan_levels %}
                                    <tr>
                                        <td>{{ scan_level.organization.name }}</td>
                                        <td>
                                            {% include "partials/scan_level_indicator.html" with value=scan_level.scan_level %}

                                        </td>
                                        <td>{{ scan_level.declared }}</td>
                                        <td>
                                            <form action="{% url 'objects:update_hostname_scan_level' hostname.pk scan_level.organization.id %}"
                                                  method="post"
                                                  id="hostname-scan-level-form-{{ scan_level.organization.id }}">
                                                {% csrf_token %}
                                                <select name="scan_level" required>
                                                    <option value="">-</option>
                                                    <option value="0" {% if scan_level.scan_level == 0 %}selected{% endif %}>L0</option>
                                                    <option value="1" {% if scan_level.scan_level == 1 %}selected{% endif %}>L1</option>
                                                    <option value="2" {% if scan_level.scan_level == 2 %}selected{% endif %}>L2</option>
                                                    <option value="3" {% if scan_level.scan_level == 3 %}selected{% endif %}>L3</option>
                                                    <option value="4" {% if scan_level.scan_level == 4 %}selected{% endif %}>L4</option>
                                                </select>
                                            </form>
                                        </td>
                                        <td>
                                            <button type="submit"
                                                    form="hostname-scan-level-form-{{ scan_level.organization.id }}"
                                                    class="button ghost">{% translate "Update" %}</button>
                                        </td>
                                        <td>
                                            <form action="{% url 'objects:delete_scanlevel' scan_level.pk %}"
                                                  method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>{% translate "No Scan Levels found." %}</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
