{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="fifty-fifty">
                <div>
                    <h1>{% translate "Hostnames" %}</h1>
                </div>
            </div>
            {% if perms.openkat.add_hostname %}
                <div class="horizontal-view toolbar">
                    <a class="button ghost" href="{% url "objects:add_hostname" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add Hostname" %}</a>
                </div>
            {% endif %}
            <form class="inline layout-wide" method="get">
                <div class="horizontal-view">
                    {{ filter.form.as_p }}
                    <p class="action-buttons">
                        <button type="submit" class="icon ti-search"></button>
                    </p>
                </div>
            </form>
            <div>
                <div class="horizontal-scroll sticky-column">
                    <table class="nowrap">
                        <thead>
                            <tr>
                                <th>{% translate "Hostname" %}</th>
                                <th>{% translate "Network" %}</th>
                                <th>{% translate "Scan Levels" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for hostname in hostnames %}
                                <tr>
                                    <td>
                                        <a href="{% url 'objects:hostname_detail' hostname.pk %}">{{ hostname.name }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'objects:hostname_detail' hostname.network.pk %}">{{ hostname.network.name }}</a>
                                    </td>
                                    <td>
                                        {% if hostname.scan_levels %}
                                            {% for level in hostname.scan_levels %}<span class="label tags-color-1-light">{{ level }}</span>{% endfor %}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'objects:delete_hostname' hostname.pk %}"
                                              method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "partials/list_paginator.html" %}

        </section>
    </main>
{% endblock content %}
