{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "objects/object_list_introduction.html" %}
            {% include "objects/object_list_tabs.html" with view="hostnames" %}

            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                    {% for code in filtered_organization_codes %}<input type="hidden" name="organization" value="{{ code }}">{% endfor %}
                    {% for field in filter.form %}
                        {% if field.name == "scan_level" %}
                            <p class="scan-level-filter">
                                <label>{{ field.label }}:</label>
                                {% for choice_value, choice_label in field.field.choices %}
                                    <input type="checkbox"
                                           name="{{ field.name }}"
                                           value="{{ choice_value }}"
                                           {% if field.value and choice_value|stringformat:"s" in field.value %}checked{% endif %}>
                                    {{ choice_label }}
                                {% endfor %}
                            </p>
                        {% else %}
                            <p>
                                {{ field.label_tag }}
                                {{ field }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <button type="submit">{% translate "Apply" %}</button>
                </form>
                <a class="button plain" href="{% url "objects:hostname_list" %}"><span aria-hidden="true" class="icon ti-x"></span>{% translate "Clear all" %}</a>
            </div>
            {% if hostnames %}
                <div>
                    <div class="horizontal-view toolbar">
                        <form method="post"
                              id="hostname_list_form"
                              class="inline layout-wide checkboxes_required">
                            {% csrf_token %}
                        </form>
                        {% include "objects/modals/delete_bulk_objects_modal.html" %}
                        {% include "objects/modals/edit_scan_level_modal.html" %}

                        <div class="dropdown">
                            <button aria-controls="action-dropdown"
                                    aria-expanded="false"
                                    class="dropdown-button ghost">
                                {% translate "Actions" %}
                                <span aria-hidden="true" class="icon ti-chevron-down"></span>
                            </button>
                            <div id="action-dropdown" class="dropdown-list left">
                                <ul>
                                    <li>
                                        <button type="submit" name="action" value="scan" form="hostname_list_form">
                                            <i class="icon ti-zoom-scan"></i>{% translate "Scan" %}
                                        </button>
                                    </li>
                                    <li>
                                        <button type="submit"
                                                name="action"
                                                value="create-object-set"
                                                form="hostname_list_form">
                                            <i class="icon ti-library-plus"></i>{% translate "Create object set" %}
                                        </button>
                                    </li>
                                    <li>
                                        <a href="#edit-scan-level-modal"><i class="icon ti-paw"></i>{% translate "Set scan level" %}</a>
                                    </li>
                                    <li>
                                        <a href="#delete-objects-modal" class="destructive"><i class="icon ti-trash"></i>{% translate "Delete" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="horizontal-scroll sticky-column">
                        <table class="nowrap">
                            <thead>
                                <tr>
                                    <th>
                                        <form>
                                            <input class="toggle-all"
                                                   data-toggle-target="hostname"
                                                   type="checkbox"
                                                   id="hostname_list_form">
                                        </form>
                                    </th>
                                    <th>{% translate "Hostname" %}</th>
                                    <th>{% translate "Network" %}</th>
                                    <th>{% translate "Scan level" %}</th>
                                    <th>{% translate "Scan type" %}</th>
                                    <th>{% translate "Last seen" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for hostname in hostnames %}
                                    <tr>
                                        <td>
                                            <form>
                                                <input type="checkbox"
                                                       name="hostname"
                                                       form="hostname_list_form"
                                                       value="{{ hostname.pk }}">
                                            </form>
                                        </td>
                                        <td>
                                            <a href="{% url 'objects:hostname_detail' hostname.pk %}?{% for code in filtered_organization_codes %}organization={{ code }}&{% endfor %}">{{ hostname.name }}</a>
                                        </td>
                                        <td>
                                            <a href="{% url 'objects:network_detail' hostname.network.pk %}?{% for code in filtered_organization_codes %}organization={{ code }}&{% endfor %}">{{ hostname.network.name }}</a>
                                        </td>
                                        <td>
                                            {% if hostname.scan_level != None %}
                                                {% include "partials/scan_level_indicator.html" with value=hostname.scan_level %}

                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if hostname.declared != None %}
                                                {% if hostname.declared %}
                                                    {% translate "Declared" %}
                                                {% else %}
                                                    {% translate "Inherited" %}
                                                {% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if hostname.last_seen %}
                                                {{ hostname.last_seen|date:"Y-m-d H:i" }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    <script src="{% static "js/checkboxToggler.js" %}"
            nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "js/choiceToggle.js" %}"
            nonce="{{ request.csp_nonce }}"></script>
    <script src="{% static "modal/script.js" %}"
            nonce="{{ request.csp_nonce }}"
            type="module"></script>
{% endblock html_at_end_body %}
