{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "objects/hostname_detail_introduction.html" with view="tasks" %}

            <div>
                <h2>{% translate "Recent tasks" %}</h2>
                <p>
                    {% blocktranslate trimmed %}
                        This tab shows plugin tasks that have this hostname in their input data.
                    {% endblocktranslate %}
                </p>
                {% include "task_table.html" %}

            </div>
        </section>
    </main>
{% endblock content %}
