{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "objects/object_introduction.html" %}
            {% include "objects/object_tabs.html" with view="ipaddresses" %}
            <div class="introduction">
                <div>
                    <h2>{% translate "IP addresses" %}</h2>
                    <p>
                        {% blocktranslate trimmed %}
                            Page description. Add more information about this page.
                        {% endblocktranslate %}
                    </p>
                </div>
                {% if perms.openkat.add_ipaddress %}
                    <div class="horizontal-view toolbar">
                        <a class="button ghost" href="{% url "objects:add_ipaddress" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add IPAddress" %}</a>
                        {% if perms.openkat.add_hostname %}
                            <a class="button ghost" href="{% url "objects:generic_asset_create" %}"><span aria-hidden="true" class="icon ti-upload"></span>{% translate "Bulk Add Assets" %}</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                    {% for code in filtered_organization_codes %}<input type="hidden" name="organization" value="{{ code }}">{% endfor %}
                    <div class="horizontal-view">
                        {% for field in filter.form %}
                            {% if field.name == 'scan_level' %}
                                <div>
                                    <label>{{ field.label }}:</label>
                                    <span class="scan-level-filter-checkboxes">
                                        {% for choice_value, choice_label in field.field.choices %}
                                            <span>
                                                <input type="checkbox"
                                                       name="{{ field.name }}"
                                                       value="{{ choice_value }}"
                                                       {% if field.value and choice_value|stringformat:"s" in field.value %}checked{% endif %}>
                                                <span>{{ choice_label }}</span>
                                            </span>
                                        {% endfor %}
                                    </span>
                                </div>
                            {% else %}
                                <p>
                                    {{ field.label_tag }}
                                    {{ field }}
                                </p>
                            {% endif %}
                        {% endfor %}
                        <button type="submit">{% translate "Apply" %}</button>
                    </div>
                </form>
            </div>
            <div>
                <div class="horizontal-scroll sticky-column">
                    <table class="nowrap">
                        <thead>
                            <tr>
                                <th>{% translate "Address" %}</th>
                                <th>{% translate "Network" %}</th>
                                <th>{% translate "Scan Level" %}</th>
                                <th>{% translate "Last Seen" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ipaddress in ipaddresses %}
                                <tr>
                                    <td>
                                        <a href="{% url 'objects:ipaddress_detail' ipaddress.pk %}?{% for code in filtered_organization_codes %}organization={{ code }}&{% endfor %}">{{ ipaddress.address }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'objects:network_detail' ipaddress.network.pk %}?{% for code in filtered_organization_codes %}organization={{ code }}&{% endfor %}">{{ ipaddress.network.name }}</a>
                                    </td>
                                    <td>
                                        {% if ipaddress.scan_level != None %}
                                            {% include "partials/scan_level_indicator.html" with value=ipaddress.scan_level %}

                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if ipaddress.last_seen %}
                                            {{ ipaddress.last_seen|date:"Y-m-d H:i" }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'objects:delete_ipaddress' ipaddress.pk %}"
                                              method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="icon ti-trash action-button">{% translate "Delete" %}</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "partials/list_paginator.html" %}

        </section>
    </main>
{% endblock content %}
