{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "objects/ipaddress_detail_introduction.html" with view="scan_level" %}

            <div class="introduction">
                <div>
                    <h2 rf-selector="clearance-header">{% translate "Scan level" %}</h2>
                    <p>
                        {% blocktranslate trimmed %}
                            The scan level determines the level of plugin scans allowed on this
                            object. An object inherits its scan level from neighbouring
                            objects. This means that the scan level might stay the same,
                            increase or decrease, depending on other declared scan levels.
                        {% endblocktranslate %}
                    </p>
                </div>
                <div>
                    <button class="button ghost" data-modal-id="edit-scan-level-modal">
                        <icon aria-hidden="true" class="icon ti-paw"></icon>{% translate "Edit scan level" %}
                    </button>
                </div>
            </div>
            {% if ipaddress.scan_level == None %}
                <p class="explanation"
                   role="group"
                   aria-label="{% translate "Empty clearance level explanation" %}">
                    <span>{% translate "Empty:" %}</span>
                    {% blocktranslate trimmed %}
                        This object has a scan level of "None". This means that this
                        object has no scan level yet. If you have just changed the scan type to "Inherited",
                        it may take a moment before OpenKAT sets the inherited scan level.
                    {% endblocktranslate %}
                </p>
            {% endif %}
            <form>
                <div>
                    <label for="scan_indicator">{% translate "Current scan level" %}</label>
                    <div class="horizontal-view">
                        {% include "partials/scan_level_indicator.html" with value=ipaddress.scan_level custom_class="left" %}

                        {% if ipaddress.scan_level != None %}
                            {% if ipaddress.declared %}
                                ({% translate "Declared" %})
                            {% else %}
                                ({% translate "Inherited" %})
                            {% endif %}
                        {% else %}
                            {{ ipaddress.scan_level }}
                        {% endif %}
                    </div>
                </div>
            </form>
            {% include "objects/modals/edit_scan_level_modal.html" with type="object_detail" scan_level_url="objects:update_ipaddress_scan_level" pk=ipaddress.pk %}

        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    <script src="{% static "modal/script.js" %}"
            nonce="{{ request.csp_nonce }}"
            type="module"></script>
    <script src="{% static "js/choiceToggle.js" %}"
            nonce="{{ request.csp_nonce }}"></script>
{% endblock html_at_end_body %}
