{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "objects/network_detail_introduction.html" with view="details" %}

            <div>
                <h2>{% translate "Details" %}</h2>
                <div>
                    <dl>
                        <div>
                            <dt>{% translate "Address" %}</dt>
                            <dd>
                                {{ network.name }}
                            </dd>
                        </div>
                        <div>
                            <dt>{% translate "Scan level" %}</dt>
                            <dd>
                                {% if network.scan_level != None %}
                                    {% include "partials/scan_level_indicator.html" with value=network.scan_level %}

                                {% else %}
                                    -
                                {% endif %}
                            </dd>
                        </div>
                        <div>
                            <dt>{% translate "Last seen" %}</dt>
                            <dd>
                                {% if network.last_seen %}
                                    {{ network.last_seen|date:"Y-m-d H:i:s" }}
                                {% else %}
                                    -
                                {% endif %}
                            </dd>
                        </div>
                        {% if network.scan_level != None %}
                            <div>
                                <dt>{% translate "Scan type" %}</dt>
                                <dd>
                                    {% if network.declared %}
                                        {% translate "Declared" %}
                                    {% else %}
                                        {% translate "Inherited" %}
                                    {% endif %}
                                </dd>
                            </div>
                        {% endif %}
                    </dl>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
