{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="introduction">
                <div>
                    <h1>{% translate "Network:" %} {{ network.name }}</h1>
                </div>
            </div>
            <div>
                <h2>Details</h2>
                <div>
                    <dl>
                        <div>
                            <dt>Address</dt>
                            <dd>
                                {{ network.name }}
                            </dd>
                        </div>
                        <div>
                            <dt>{% translate "Last Seen" %}</dt>
                            <dd>
                                {% if network.last_seen %}
                                    {{ network.last_seen|date:"Y-m-d H:i:s" }}
                                {% else %}
                                    -
                                {% endif %}
                            </dd>
                        </div>
                        <div>
                            <dt>{% translate "Scan Level" %}</dt>
                            <dd>
                                {% if network.scan_level != None %}
                                    {% include "partials/scan_level_indicator.html" with value=network.scan_level %}

                                    {% if network.declared %}
                                        ({% translate "Declared" %})
                                    {% endif %}
                                {% else %}
                                    -
                                {% endif %}
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            <div>
                <h2>{% translate "Set Scan Level" %}</h2>
                <form method="post"
                      action="{% url 'objects:update_network_scan_level' network.pk %}">
                    {% csrf_token %}
                    <div class="horizontal-view">
                        {{ scan_level_form }}
                        <p class="action-buttons">
                            <button type="submit" class="button">{% translate "Update" %}</button>
                        </p>
                    </div>
                </form>
            </div>
            <div class="horizontal-scroll">
                <h2>{% translate "Findings" %}</h2>
                {% if findings %}
                    <table>
                        <caption class="visually-hidden">{% translate "Findings" %}</caption>
                        <thead>
                            <tr>
                                <th>{% translate "Finding Type" %}</th>
                                <th>{% translate "Score" %}</th>
                                <th>{% translate "Description" %}</th>
                                <th>{% translate "Last Seen" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for finding in findings %}
                                <tr>
                                    <td>
                                        <span class="label tags-color-1-light">{{ finding.finding_type.code }}</span>
                                    </td>
                                    <td>{{ finding.finding_type.score|default:"-" }}</td>
                                    <td>{{ finding.finding_type.description|default:"-" }}</td>
                                    <td>
                                        {% if finding.last_seen %}
                                            {{ finding.last_seen|date:"Y-m-d H:i" }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% translate "No findings for this network." %}</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
