{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            {% include "objects/object_list_introduction.html" %}
            {% include "objects/object_list_tabs.html" with view="networks" %}

            <div class="filter-container">
                <form class="inline layout-wide" method="get">
                    {% for code in filtered_organization_codes %}<input type="hidden" name="organization" value="{{ code }}">{% endfor %}
                    <div class="horizontal-view">
                        {{ filter.form.as_p }}
                        <button type="submit">{% translate "Apply" %}</button>
                    </div>
                </form>
                <a class="button plain" href="{% url "objects:network_list" %}"><span aria-hidden="true" class="icon ti-x"></span>{% translate "Clear all" %}</a>
            </div>
            <div>
                <div class="horizontal-scroll sticky-column">
                    <table class="nowrap">
                        <thead>
                            <tr>
                                <th>{% translate "Name" %}</th>
                                <th>{% translate "Scan Level" %}</th>
                                <th>{% translate "Last Seen" %}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for network in networks %}
                                <tr>
                                    <td>
                                        <a href="{% url 'objects:network_detail' network.pk %}?{% for code in filtered_organization_codes %}organization={{ code }}&{% endfor %}">{{ network.name }}</a>
                                    </td>
                                    <td>
                                        {% if network.scan_level != None %}
                                            {% include "partials/scan_level_indicator.html" with value=network.scan_level %}

                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if network.last_seen %}
                                            {{ network.last_seen|date:"Y-m-d H:i" }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{% url 'objects:delete_network' network.pk %}"
                                              method="post"
                                              id="object-delete-{{ network.pk }}">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    form="object-delete-{{ network.pk }}"
                                                    class="icon ti-trash action-button">
                                                {% translate "Delete" %}
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% include "partials/list_paginator.html" %}

        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    <script src="{% static "js/checkboxToggler.js" %}"
            nonce="{{ request.csp_nonce }}"></script>
{% endblock html_at_end_body %}
