{% load i18n %}
{% load static %}

<section>
    <div class="fifty-fifty">
        <div>
            <h3>{% translate "Object list" %}</h3>
            <p>
                {% blocktranslate trimmed with organization.name as organization_name %}
                    An overview of objects found for organization <strong>{{ organization_name }}</strong>.
                    Objects can be added manually or by running Boefjes.
                    Click an object for additional information.
                {% endblocktranslate %}
            </p>
        </div>
        <div class="toolbar">
            <a class="button ghost"
               href="{% url "ooi_list" organization_code=organization.code %}">
                {% translate "Go to objects" %}
                <span class="icon ti-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="horizontal-scroll">
        <p class="de-emphasized">
            {% blocktranslate with length=data|length trimmed %}
                Showing {{ length }} objects
            {% endblocktranslate %}
        </p>
        <table>
            <caption class="visually-hidden">
                {% translate "Objects " %}
                <span class="visually-hidden">, {% translate "column headers with buttons are sortable" %}</span>
            </caption>
            <thead>
                <th>{% translate "Object" %}</th>
                <th scope="col"
                    class="sortable"
                    {% if order_by == "object_type" %}aria-sort="{{ sorting_order_class }}"{% endif %}>
                    <button form="ooi_list_settings"
                            name="order_by"
                            value="object_type"
                            class="sort">
                        {% translate "Type" %}
                        <span aria-hidden="true"
                              class="icon ti-{% if order_by == "object_type" and sorting_order == "asc" %}chevron-up{% elif order_by == "object_type" and sorting_order == "desc" %}chevron-down{% else %}direction{% endif %}"></span>
                    </button>
                </th>
                <th scope="col"
                    class="sortable"
                    {% if order_by == "scan_level" %}aria-sort="{{ sorting_order_class }}"{% endif %}>
                    <button form="ooi_list_settings"
                            name="order_by"
                            value="scan_level"
                            lass="sort">
                        {% translate "Clearance level" %}
                        <span aria-hidden="true"
                              class="icon ti-{% if order_by == "scan_level" and sorting_order == "asc" %}chevron-up{% elif order_by == "scan_level" and sorting_order == "desc" %}chevron-down{% else %}direction{% endif %}"></span>
                    </button>
                </th>
                <th>{% translate "Clearance type" %}</th>
            </thead>
            <tbody>
                {% for object in data %}
                    <tr>
                        <td>
                            <a href="{% ooi_url "ooi_detail" object.primary_key organization.code observed_at=observed_at %}">{{ object.human_readable }}</a>
                        </td>
                        <td>
                            <a href="{{ request.path }}?observed_at={{ observed_at|date:"Y-m-d" }}&ooi_type={{ object.ooi_type }}">{{ object.ooi_type }}</a>
                        </td>
                        <td>
                            {% include "partials/scan_level_indicator.html" with value=object.scan_profile.level.value %}

                        </td>
                        <td>{{ object.scan_profile.scan_profile_type|title }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
