{% load i18n %}
{% load static %}

<table>
    <caption class="visually-hidden">
        {% translate "Objects " %}
        <span class="visually-hidden">, {% translate "column headers with buttons are sortable" %}</span>
    </caption>
    <thead>
        {% if "object" in dashboard_item.settings.columns %}
            <th>{% translate "Object" %}</th>
        {% endif %}
        {% if "object_type" in dashboard_item.settings.columns %}
            <th>{% translate "Type" %}</th>
        {% endif %}
        {% if "clearance_level" in dashboard_item.settings.columns %}
            <th>{% translate "Clearance level" %}</th>
        {% endif %}
        {% if "clearance_type" in dashboard_item.settings.columns %}
            <th>{% translate "Clearance type" %}</th>
        {% endif %}
    </thead>
    <tbody>
        {% for object in data.object_list %}
            <tr>
                {% if "object" in dashboard_item.settings.columns %}
                    <td>
                        <a href="{% ooi_url "ooi_detail" object.primary_key organization.code observed_at=observed_at %}">{{ object.human_readable }}</a>
                    </td>
                {% endif %}
                {% if "object_type" in dashboard_item.settings.columns %}
                    <td>
                        <a href="{{ request.path }}?observed_at={{ observed_at|date:"Y-m-d" }}&ooi_type={{ object.ooi_type }}">{{ object.ooi_type }}</a>
                    </td>
                {% endif %}
                {% if "clearance_level" in dashboard_item.settings.columns %}
                    <td>
                        {% include "partials/scan_level_indicator.html" with value=object.scan_profile.level.value %}

                    </td>
                {% endif %}
                {% if "clearance_type" in dashboard_item.settings.columns %}
                    <td>{{ object.scan_profile.scan_profile_type|title }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
