{% load i18n %}
{% load static %}
{% load ooi_extra %}

<p>
    {% blocktranslate trimmed with organization.name as organization_name %}
        An overview of objects found for organization <strong>{{ organization_name }}</strong>.
        Objects can be added manually or by running Boefjes.
        Click an object for additional information.
    {% endblocktranslate %}
</p>
<div class="horizontal-scroll">
    <p class="de-emphasized">
        {% blocktranslate with length=data.object_list|length trimmed %}
            Showing {{ length }} objects
        {% endblocktranslate %}
    </p>
    {% include "partials/dashboard_ooi_list_table.html" %}

    <div class="toolbar">
        {% with params=dashboard_item.query|urlencode_query %}
            <a class="button ghost"
               href="{% url "ooi_list" organization_code=organization.code %}?{{ params }}">
                {% translate "Go to objects" %}
                <span class="icon ti-chevron-right" aria-hidden="true"></span>
            </a>
        {% endwith %}
    </div>
</div>
