{% load i18n %}

{% with modal_id="delete-item-modal-"|add:dashboard_item.name|slugify form_id="delete-item-form-"|add:dashboard_item.name|slugify %}
    <form id={{ form_id }} method="post" action="{% url "delete_dashboard_item" organization_code=organization.code %}">
        {% csrf_token %}
        <input type="hidden" name="dashboard_item" value="{{ dashboard_item.name }}">
        <input type="hidden" name="dashboard" value="{{ dashboard_item.id }}">
    </form>
    {% component "modal" modal_id=modal_id size="dialog-small" %}
    {% fill "header" %}
    {% translate "Delete item" %}
{% endfill %}
{% fill "content" %}
<p>
    {% blocktranslate trimmed with name=dashboard_item.name %}
        Are you sure you want to delete '{{ name }}' from this dashboard?
    {% endblocktranslate %}
</p>
{% endfill %}
{% fill "footer_buttons" %}
<button form={{ form_id }} type="submit" class="destructive">{% translate "Delete" %}
</button>
<button class="ghost close-modal-button">{% translate "Cancel" %}</button>
{% endfill %}
{% endcomponent %}
{% component_css_dependencies %}
{% endwith %}
