{% load i18n %}

{% component "modal" modal_id="delete-dashboard-modal" size="dialog-small" %}
{% fill "header" %}
{% translate "Delete dashboard" %}
{% endfill %}
{% fill "content" %}
<p>
    {% blocktranslate trimmed with dashboard=dashboard.name %}
        Are you sure you want to delete dashboard "{{ dashboard }}"?
        All the items on the dashboard will be deleted as well.
    {% endblocktranslate %}
</p>
{% endfill %}
{% fill "footer_buttons" %}
<form method="post"
      action="{% url "delete_dashboard" organization_code=organization.code %}">
    {% csrf_token %}
    <input type="hidden" name="dashboard" value="{{ dashboard.name }}">
    <button type="submit" class="destructive">{% translate "Delete" %}</button>
</form>
<button class="ghost close-modal-button">{% translate "Cancel" %}</button>
{% endfill %}
{% endcomponent %}
{% component_css_dependencies %}
