{% load i18n %}

{% component "modal" modal_id=modal_id size="dialog-medium" %}
{% fill "header" %}
{% blocktranslate with item_type=item_type %}
    Add {{ item_type }} to dashboard
{% endblocktranslate %}
{% endfill %}
{% fill "content" %}
{% if item_type != "report section" %}
    <p>
        {% blocktranslate with item_type=item_type trimmed %}
            Add these {{ item_type }} with the selected filters
            to the dashboard of your choice.
        {% endblocktranslate %}
    </p>
{% endif %}
<form method="post" id="new-dashboard-item-form-{{ modal_id }}">
    {% csrf_token %}
    {% include "partials/form/form_errors.html" with form=add_dashboard_item_settings_form %}
    {% include "partials/form/fieldset.html" with fields=add_dashboard_item_settings_form form_view="horizontal" %}
    {% include "forms/new_dashboard_item_form_fields.html" %}

</form>
{% endfill %}
{% fill "footer_buttons" %}
<button type="submit"
        form="new-dashboard-item-form-{{ modal_id }}"
        class="submit"
        name="action"
        value="add_to_dashboard">{% translate "Add to dashboard" %}</button>
<button class="ghost close-modal-button">{% translate "Cancel" %}</button>
{% endfill %}
{% endcomponent %}
{% component_css_dependencies %}
