Source: kat-keiko
Build-Depends: debhelper-compat (= 12)
Maintainer: OpenKAT <maintainer@openkat.nl>

Package: kat-keiko
Section: python
Priority: optional
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Keiko
 The PDF report generation tool for KAT.
