[Unit]
Description=kat-keiko daemon
After=network.target

[Service]
User=kat
Group=kat
SyslogIdentifier=kat-keiko
ExecStart=/usr/bin/removekeiko.sh
KillMode=mixed

[Install]
WantedBy=multi-user.target
