{% load i18n %}
{% load static %}

<div class="{% if item.required %}required{% endif %} {{ item|get_type_name|lower }}"
     role="group"
     aria-labelledby="{{ item.id }}">
    {% if item.required %}<span class="nota-bene" id="boefje_{{ item.id }}">This object type is required</span>{% endif %}
    {% if widget %}
        {% include "forms/widgets/checkbox_option.html" %}

    {% endif %}
    {% if widget %}<span class="tile-label">{{ item|get_type_name }}</span>{% endif %}
    <img src="{% url "plugin_cover" organization_code=organization.code plugin_id=item.id %}"
         alt="placeholder image for Boefje {{ item.name }}">
    {% with scan_level=item.scan_level.value %}
        <div class="horizontal-view scan-intensity">
            <span class="de-emphasized">{% translate "Scan level:" %}</span>
            {% include "partials/scan_level_indicator.html" with value=scan_level %}

        </div>
    {% endwith %}
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <span class="de-emphasized">
        {% translate "Publisher" %}:
        OpenKAT
    </span>
    <div class="action-buttons">
        <a href="{% url "boefje_detail" organization_code=organization.code plugin_id=item.id %}">{% translate "See details" %}</a>
        {% if not widget %}{{ item }}{% endif %}
    </div>
</div>
