{% load i18n %}

{% if perms.tools.can_enable_disable_boefje %}
    <form action="{% url "plugin_enable_disable" organization_code=organization.code plugin_type=plugin.type plugin_id=plugin.id plugin_state=plugin.enabled %}"
          method="post"
          class="inline">
        {% csrf_token %}
        <input type="hidden"
               name="current_url"
               value="{{ request.get_full_path }}#plugin_{{ plugin.id|slugify }}">
        <button type="submit"
                class="button ghost {% if plugin.enabled %}plugin-disabled{% else %}plugin-enabled{% endif %}">
            {% if not plugin.enabled %}
                {% translate "Enable" %}
            {% else %}
                {% translate "Disable" %}
            {% endif %}
        </button>
    </form>
{% else %}
    <span class="de-emphasized">{% translate "You don't have permission to enable " %}{{ plugin.type }}</span>
{% endif %}
