{% load i18n %}
{% load querystrings %}

{% if object_list %}
    <div class="horizontal-view horizontal-scroll toolbar">
        <a href="{{ request.path }}{% build_querystring request 'view' 'grid' %}"
           class="button icon ti-layout-grid {% if request.GET.view == "table" %}ghost{% endif %}">{% translate "Gridview" %}</a>
        <a href="{{ request.path }}{% build_querystring request 'view' 'table' %}"
           class="button icon ti-menu-2 {% if request.GET.view != "table" %}ghost{% endif %}">{% translate "Tableview" %}</a>
    </div>
{% endif %}
