{% load i18n %}

<div class="filter">
    <div>
        <button aria-expanded="false"
                data-hide-filters-label='{% translate "Hide filters" %}'>
            {% translate "Show filters" %}
            {% if active_filters_counter > 0 %}
                ({{ active_filters_counter }} {% translate "applied" %})
            {% endif %}
        </button>
    </div>
    <form novalidate method="get" class="help">
        {% include "partials/form/fieldset.html" with fields=form %}

        <div class="button-container">
            <button type="submit">{% translate "Filter plugins" %}</button>
            <a href="{{ request.path }}" class="button ghost">{% translate "Clear filter" %}</a>
        </div>
    </form>
</div>
