{% load i18n %}

<div>
    <nav class="tabs" aria-label="{% translate "Plugins Navigation" %}">
        <ul>
            <li {% if active == "all" %}aria-current="page"{% endif %}>
                <a href="{% url 'katalogus' organization.code view_type %}">{% translate "All" %}</a>
            </li>
            <li {% if active == "boefjes" %}aria-current="page"{% endif %}>
                <a href="{% url 'boefjes_list' organization.code view_type %}">{% translate "Boefjes" %}</a>
            </li>
            <li {% if active == "normalizers" %}aria-current="page"{% endif %}>
                <a href="{% url 'normalizers_list' organization.code view_type %}">{% translate "Normalizers" %}</a>
            </li>
            <li {% if active == "about-plugins" %}aria-current="page"{% endif %}>
                <a href="{% url 'about_plugins' organization.code %}">{% translate "About plugins" %}</a>
            </li>
        </ul>
    </nav>
</div>
