{% load static %}
{% load compress %}

<form method="post" class="inline">
    {% csrf_token %}
    <input type="hidden" name="action" value="{{ action }}">
    {% if key %}<input type="hidden" name="{{ key }}" value="{{ value }}">{% endif %}
    <div class="checkbox">
        <input type="checkbox"
               class="submit-on-click {{ input_class }}"
               {% if input_checked %}checked{% endif %}
               {% if input_disabled %}disabled{% endif %}>
        {% if label_text %}<label>{{ label_text }}</label>{% endif %}
    </div>
</form>
{% compress js %}
    <script src="{% static "js/autoSubmit.js" %}" nonce="{{ request.csp_nonce }}"></script>
{% endcompress %}
