{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'FMEA introduction' %}</h1>
        <p>
          {% blocktranslate trimmed %}
            FMEA (failure mode and effective analysis) is a step-by-step approach 
            for collecting knowledge about possible points of failure in a design, 
            manufacturing process, product or service.
          {% endblocktranslate %}
        </p>
        <p>
          {% blocktranslate trimmed %}
            Failure mode (FM) refers to the way in which something might break 
            down and includes potential errors that may occur, especially errors 
            that may affect a system. Effective analysis (EA) involves 
            deciphering the consequences of those break downs by making sure 
            that all failures can be detected, determining how frequently a 
            failure might occur and identifying which potential failures should be 
            prioritized. 
          {% endblocktranslate %}
        </p>
        <div class="column-2">
          <nav aria-label="document-navigation">
            <ul>
              <li><a href="{% url 'fmea_failure_mode_effect_create' %}">{% translate 'Create failure mode effects' %}</a></li>
              <li><a href="{% url 'fmea_failure_mode_create' %}">{% translate 'Create a new failure mode' %}</a></li>
              <li><a href="{% url 'fmea_failure_mode_affected_object_create' %}">{% translate 'Create affected objects of a failure mode' %}</a></li>
        
            </ul>
          </nav>
          <nav aria-label="document-navigation">
            <ul>
              <li><a href="{% url 'fmea_failure_mode_list' %}">{% translate 'View all failure modes' %}</a></li>
              <li><a href="{% url 'fmea_failure_mode_effect_list' %}">{% translate 'View all failure mode effects' %}</a></li>
              <li><a href="{% url 'fmea_failure_mode_affected_object_list' %}">{% translate 'View all affected objects for a failure modes' %}</a></li>
              <li><a href="{% url 'fmea_department_heatmap' %}">{% translate 'Heatmap' %}</a></li>   
            </ul>
          </nav>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
