[Unit]
Description=kat-katalogus daemon
After=network.target

[Service]
User=kat
Group=kat
SyslogIdentifier=kat-katalogus
WorkingDirectory=/opt/venvs/kat-boefjes/lib/python3.9/site-packages
EnvironmentFile=/usr/lib/kat/boefjes.defaults
EnvironmentFile=/etc/kat/boefjes.conf
ExecStart=/opt/venvs/kat-boefjes/bin/python -m gunicorn \
          --access-logfile - \
          -c /etc/kat/katalogus.gunicorn.conf.py \
          -k uvicorn.workers.UvicornWorker \
          boefjes.katalogus.api:app
Restart=on-failure
RestartSec=3s
KillMode=mixed

[Install]
WantedBy=multi-user.target
