#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
export DH_VERBOSE = 1
export DH_VIRTUALENV_INSTALL_ROOT = /opt/venvs
export SNAKE=/usr/bin/python3
export PIP_ARGS = --extra-pip-arg "--no-binary" --extra-pip-arg "psycopg2-binary,pillow"
export EXTRA_REQUIREMENTS=--upgrade-pip --preinstall "setuptools>=65" --preinstall "wheel" $(PIP_ARGS)
export PACKAGE=$(shell dh_listpackages)
export DH_VENV_ARGS=--python $(SNAKE) $(EXTRA_REQUIREMENTS)
export DH_VENV_DIR=debian/$(PACKAGE)$(DH_VIRTUALENV_INSTALL_ROOT)/$(PACKAGE)
export DESTDIR = $(CURDIR)/debian/$(PACKAGE)

%:
	dh $@ --with python-virtualenv

.PHONY: override_dh_virtualenv override_dh_fixperms

override_dh_fixperms:
	dh_fixperms
	chmod 750 $(DESTDIR)/etc/kat/
	find $(DESTDIR)/etc/kat -type f -exec chmod 640 {} \;
	chmod 755 $(DESTDIR)/usr/bin/update-katalogus-db

override_dh_virtualenv:
	dh_virtualenv $(DH_VENV_ARGS)

	$(DH_VENV_DIR)/bin/python -m pip install gunicorn==20.1.0
	cd /octopoes && /usr/bin/python3 setup.py bdist_wheel
	$(DH_VENV_DIR)/bin/python -m pip install /octopoes/dist/octopoes*.whl

# remove pip to prevent mutation of venv
	$(DH_VENV_DIR)/bin/python -m pip uninstall --yes pip

override_dh_gencontrol:
	dh_gencontrol -- -Vpython=`py3versions -d`

execute_after_dh_install:
	dh_installsysusers

override_dh_installsystemd:
	dh_installsystemd --name=kat-boefjes
	dh_installsystemd --name=kat-normalizers
	dh_installsystemd --name=kat-katalogus
	sed -i s/python3.9/`py3versions -d`/ debian/kat-boefjes/lib/systemd/system/*.service
