{% load i18n %}

<section>
    <div>
        <h2>{% translate "Findings overview" %}</h2>
        {% if organizations_findings.values %}
            <p>
                {% translate "This overview shows the total number of findings per severity that have been identified for all organizations." %}
            </p>
            <div class="column-2">
                {% include "partials/report_severity_totals_table.html" with data=total_overview %}

            </div>
        {% else %}
            <p>{% translate "No findings have been identified yet." %}</p>
        {% endif %}
    </div>
    {% if organizations_findings.values %}
        <div>
            <h2>{% translate "Findings per organization" %}</h2>
            <p>{% translate "This table shows the findings that have been identified for each organization." %}</p>
            <div class="horizontal-scroll">
                <table>
                    <caption class="visually-hidden">{% translate "Findings per organization overview" %}</caption>
                    <thead>
                        <tr>
                            <th>{% translate "Organization" %}</th>
                            <th scope="col">{% translate "Total findings" %}</th>
                            <th scope="col">{% translate "Critical findings" %}</th>
                            <th scope="col">{% translate "Highest risk level" %}</th>
                            <th scope="col" class="visually-hidden actions">{% translate "Details" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for organization, findings in organizations_findings.items %}
                            <tr>
                                <td>{{ organization.name }}</td>
                                <td>
                                    {% if findings %}
                                        {{ findings.summary.total_finding_types }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if findings %}
                                        {{ findings.summary.total_by_severity_per_finding_type.critical }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td>
                                    {% if findings %}
                                        <span class="{{ findings.finding_types.0.finding_type.risk_severity }}">{{ findings.finding_types.0.finding_type.risk_severity|capfirst }}</span>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="actions">
                                    {% if findings %}
                                        <button class="expando-button"
                                                data-icon-open-class="icon ti-chevron-down"
                                                data-icon-close-class="icon ti-chevron-up"
                                                data-close-label="{% translate "Close details" %}">
                                            {% translate "Open details" %}
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if findings %}
                                <tr class="expando-row">
                                    <td colspan="3">
                                        <h4>{% translate "Findings overview" %}</h4>
                                        <div class="column-2">
                                            {% include "partials/report_severity_totals_table.html" with data=findings.summary %}

                                        </div>
                                        <h4>
                                            {% translate "Findings" %} ({{ findings.summary.total_finding_types }}/{{ findings.summary.total_finding_types }})
                                        </h4>
                                        <div class="column-2">
                                            {% include "partials/report_findings_per_organization_table.html" with data=findings %}

                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</section>
