{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Crisis Room for all organizations" %}</h1>
                <p>
                    {% translate "An overview of all (critical) findings OpenKAT found. Check the detail section for additional severity information." %}
                </p>
            </div>
        </section>
        {% if organizations_findings %}
            <section>
                <div>
                    {% for dashboard in dashboards %}{{ dashboard.recipe }}{% endfor %}
                    {% include "partials/elements/ooi_report_settings.html" %}

                </div>
            </section>
            {% include "crisis_room/crisis_room_findings_block.html" with is_dashboard="yes" %}

        {% else %}
            <section>
                <div>
                    <p>{% translate "There were no organizations found for your user account." %}</p>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock content %}
