{% load i18n %}

<section>
    <div class="column-2">
        <div>
            <h1>{% translate "Total findings" %}</h1>
            {% if organizations %}
                <table>
                    <thead>
                        <tr>
                            <th>{% translate "Organization" %}</th>
                            <th scope="col" class="sortable" abbr="Sortable data">{% translate "Total Findings" %}</th>
                            <th scope="col" class="visually-hidden">{% translate "Details" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for org_finding_count in org_finding_counts_per_severity %}
                            <tr>
                                <td>
                                    <a href="{% url "organization_crisis_room" org_finding_count.code %}">{{ org_finding_count.name }}</a>
                                </td>
                                <td class="number">{{ org_finding_count.total }}</td>
                                <td>
                                    <button class="expando-button"
                                            data-icon-open-class="icon ti-chevron-down"
                                            data-icon-close-class="icon ti-chevron-up"
                                            data-close-label="{% translate "Close details" %}">
                                        {% translate "Open details" %}
                                    </button>
                                </td>
                            </tr>
                            <tr class="expando-row">
                                <td colspan="3">
                                    <span class="sr-only">{{ org_finding_count.name }} {% translate " Finding Details" %}</span>
                                    <table>
                                        <thead>
                                            <th>{% translate "Severity" %}</th>
                                            <th>{% translate "Occurrences" %}</th>
                                        </thead>
                                        <tbody>
                                            {% for severity, count in org_finding_count.finding_count_per_severity.items %}
                                                <tr>
                                                    <td>
                                                        {% if count != 0 %}
                                                            <a href="{% url "finding_list" organization_code=org_finding_count.code %}?severity={{ severity }}"><span class="{{ severity }}">{{ severity|title }}</span></a>
                                                        {% else %}
                                                            <span class="{{ severity }}">{{ severity|title }}</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="number">
                                                        {% if count != 0 %}
                                                            <a href="{% url "finding_list" organization_code=org_finding_count.code %}?severity={{ severity }}">{{ count }}</a>
                                                        {% else %}
                                                            {{ count }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% translate "There were no organizations found for your user account" %}.
            {% endif %}
        </div>
        <div class="horizontal-scroll">
            {% if perms.tools.view_organization %}
                <h1>{% translate "Top critical organizations" %}</h1>
            {% else %}
                <h1>{% translate "Critical findings" %}</h1>
            {% endif %}
            {% if organizations %}
                <table>
                    <thead>
                        <tr>
                            <th>{% translate "Organization" %}</th>
                            <th>{% translate "Critical Findings" %}</th>
                            <th scope="col" class="visually-hidden">{% translate "Details" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for org_finding_count in org_finding_counts_per_severity_critical %}
                            <tr>
                                <td>
                                    <a href="{% url "organization_crisis_room" org_finding_count.code %}">{{ org_finding_count.name }}</a>
                                </td>
                                <td class="number">{{ org_finding_count.total_critical }}</td>
                                <td>
                                    <button class="expando-button"
                                            data-icon-open-class="icon ti-chevron-down"
                                            data-icon-close-class="icon ti-chevron-up"
                                            data-close-label="{% translate "Close details" %}">
                                        {% translate "Open details" %}
                                    </button>
                                </td>
                            </tr>
                            <tr class="expando-row">
                                <td colspan="3">
                                    <span class="sr-only">{{ org_finding_count.name }} {% translate " Finding Details" %}</span>
                                    <table>
                                        <thead>
                                            <th>{% translate "Severity" %}</th>
                                            <th>{% translate "Occurrences" %}</th>
                                        </thead>
                                        <tbody>
                                            {% for severity, count in org_finding_count.finding_count_per_severity.items %}
                                                <tr>
                                                    <td>
                                                        {% if count != 0 %}
                                                            <a href="{% url "finding_list" organization_code=org_finding_count.code %}?severity={{ severity }}"><span class="{{ severity }}">{{ severity|title }}</span></a>
                                                        {% else %}
                                                            <span class="{{ severity }}">{{ severity|title }}</span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="number">
                                                        {% if count != 0 %}
                                                            <a href="{% url "finding_list" organization_code=org_finding_count.code %}?severity={{ severity }}">{{ count }}</a>
                                                        {% else %}
                                                            {{ count }}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% translate "There were no organizations found for your user account" %}.
            {% endif %}
        </div>
    </div>
</section>
