/* Theme border radius */

:root {
  --border-radius-s: 0.25rem;
  --border-radius-m: 0.5rem;
  --border-radius-l: 1.5rem;
  --border-radius-round: 50%;
}

.border-radius-s {
  border-radius: var(--border-radius-s);
}

.border-radius-m {
  border-radius: var(--border-radius-m);
}

.border-radius-l {
  border-radius: var(--border-radius-l);
}

.border-radius-round {
  border-radius: var(--border-radius-round);
}
