/* Colors */

:root {
  --colors-white: #ffffff;

  /* Black */
  --colors-black: #000000;
  --colors-black-05: rgb(0 0 0 / 5%);
  --colors-black-10: rgb(0 0 0 / 10%);
  --colors-black-15: rgb(0 0 0 / 15%);

  /* Grey */
  --colors-grey-50: #f6f6f6;
  --colors-grey-100: #ededed;
  --colors-grey-150: #efefef;
  --colors-grey-200: #d4d4d4;
  --colors-grey-300: #bcbcbc;
  --colors-grey-400: #a4a4a4;
  --colors-grey-500: #888888;
  --colors-grey-600: #6a6a6a;
  --colors-grey-700: #585858;
  --colors-grey-800: #4b4b4b;
  --colors-grey-900: #3b3b3b;

  /* Red */
  --colors-red-50: #fff4f3;
  --colors-red-100: #ffe9e7;
  --colors-red-150: #ffc7c3;
  --colors-red-200: #ffa49d;
  --colors-red-300: #ff7d73;
  --colors-red-400: #f95f53;
  --colors-red-500: #f84638;
  --colors-red-600: #c3372c;
  --colors-red-700: #a22e25;
  --colors-red-800: #8a271f;
  --colors-red-900: #6e1f19;
  --colors-red-1000: #531713;

  /* Blue */
  --colors-blue-50: #eef8fe;
  --colors-blue-100: #ddf0fc;
  --colors-blue-150: #c7e7fa;
  --colors-blue-200: #abdbf8;
  --colors-blue-300: #78c5f4;
  --colors-blue-400: #40adef;
  --colors-blue-500: #008de4;
  --colors-blue-600: #006fb3;
  --colors-blue-700: #005c94;
  --colors-blue-800: #004e7e;
  --colors-blue-900: #003e64;
  --colors-blue-1000: #002033;

  /* Yellow */
  --colors-yellow-50: #fff7cf;
  --colors-yellow-100: #ffef99;
  --colors-yellow-150: #ffe661;
  --colors-yellow-200: #f9d100;
  --colors-yellow-300: #ddb900;
  --colors-yellow-400: #c1a200;
  --colors-yellow-500: #a08700;
  --colors-yellow-600: #7d6900;
  --colors-yellow-700: #685700;
  --colors-yellow-800: #584a00;
  --colors-yellow-900: #463b00;

  /* Green */
  --colors-green-50: #ebfaef;
  --colors-green-100: #d5f5de;
  --colors-green-150: #b0edc1;
  --colors-green-200: #94e6ab;
  --colors-green-300: #4ad571;
  --colors-green-400: #20bd4c;
  --colors-green-500: #1b9d3f;
  --colors-green-600: #157b31;
  --colors-green-700: #116629;
  --colors-green-800: #0f5723;
  --colors-green-900: #134421;
  --colors-green-1000: #09200f;

  /* Orange */
  --colors-orange-50: #fff5ed;
  --colors-orange-100: #ffead9;
  --colors-orange-150: #ffdcc2;
  --colors-orange-200: #ffcaa1;
  --colors-orange-250: #ffb780;
  --colors-orange-300: #ffa865;
  --colors-orange-400: #ff8120;
  --colors-orange-500: #d66a17;
  --colors-orange-600: #a75312;
  --colors-orange-700: #8b450f;
  --colors-orange-800: #763b0d;
  --colors-orange-900: #5e2f0a;
  --colors-orange-1000: #2e1705;

  /* Purple */
  --colors-purrple-50: #f7f6fc;
  --colors-purrple-100: #eeecf8;
  --colors-purrple-200: #d6d1ef;
  --colors-purrple-300: #bfb6e6;
  --colors-purrple-400: #a89cdd;
  --colors-purrple-500: #8c7cd2;
  --colors-purrple-600: #6e5fae;
  --colors-purrple-700: #5b4f90;
  --colors-purrple-800: #4d437a;
  --colors-purrple-900: #3d3560;
  --colors-purrple-1000: #1f1b31;

  /* Ochre */
  --colors-ochre-50: #fff7e0;
  --colors-ochre-100: #ffeaae;
  --colors-ochre-150: #fedc7b;
  --colors-ochre-200: #fecf48;
  --colors-ochre-300: #ecb927;
  --colors-ochre-400: #d4a00c;
  --colors-ochre-500: #a87f05;
  --colors-ochre-600: #916f08;
  --colors-ochre-700: #614a05;
  --colors-ochre-800: #584304;
  --colors-ochre-900: #493803;
}
