/* Tag colors */
@import "tags-6-3";

:root {
  --tag-color-light-grey-background-color: var(--colors-grey-100);
  --tag-color-light-grey-text-color: var(--colors-grey-800);
  --tag-color-light-grey-border-color: var(--colors-white);
}
