{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}
{% load ooi_extra %}

{% block content %}
    {% include "new_header.html" %}

    <main id="main-content">
        <section>
            <div class="fifty-fifty">
                <div>
                    <h1>{% translate "Files" %}</h1>
                    <p>
                        {% blocktranslate trimmed %}
                            All the current files.
                        {% endblocktranslate %}
                    </p>
                </div>
                {% if perms.openkat.add_file %}
                    <div class="horizontal-view toolbar">
                        <a class="button ghost" href="{% url "add_file" %}"><span aria-hidden="true" class="icon ti-plus"></span>{% translate "Add File" %}</a>
                    </div>
                {% endif %}
            </div>
            {% if not file_list %}
                <div>
                    <h2>{% translate "Files" %}</h2>
                    <p>{% translate "There are no Files." %}</p>
                </div>
            {% else %}
                <div class="horizontal-scroll sticky-column">
                    <table rf-selector="table-scan-history" class="nowrap">
                        <thead>
                            <tr>
                                <th scope="col">{% translate "File ID" %}</th>
                                <th scope="col">{% translate "Location" %}</th>
                                <th scope="col">{% translate "Name" %}</th>
                                <th scope="col">{% translate "Source" %}</th>
                                <th scope="col">{% translate "Organization" %}</th>
                                <th scope="col">{% translate "Created date" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for file in file_list %}
                                <tr data-file-id="{{ file.id }}">
                                    <td>
                                        <a href="{{ file.file.url }}">{{ file.id }}</a>
                                    </td>
                                    <td>{{ file.path.parent }}</td>
                                    <td>
                                        <a href="{{ file.file.url }}">{{ file.path.name }}</a>
                                    </td>
                                    {% if file.task_result %}
                                        {% if file.task_result.task.data.plugin_id %}
                                            <td>
                                                <a href="{% url "task_detail" pk=file.task_result.task.id %}">{{ file.task_result.task.data.plugin_id }}</a>
                                            </td>
                                        {% else %}
                                            <td>
                                                <a href="{% url "task_detail" pk=file.task_result.task.id %}">{{ file.task_result.task.id }}</a>
                                            </td>
                                        {% endif %}
                                        {% if file.task_result.task.organization %}
                                            <td>
                                                <a href="{% url "organization_crisis_room" file.task_result.task.organization.code %}">
                                                    {{ file.task_result.task.organization.code }}
                                                </a>
                                            </td>
                                        {% else %}
                                            <td>{% translate 'No Organization' %}</td>
                                        {% endif %}
                                    {% else %}
                                        <td>{% translate 'No Source' %}</td>
                                        <td>{% translate 'No Organization' %}</td>
                                    {% endif %}
                                    <td>{{ file.created_at }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% include "partials/list_paginator.html" %}

            {% endif %}
        </section>
    </main>
{% endblock content %}
