{% load static %}
{% load i18n %}

<footer>
  <div class="two-thirds-one-third">
    <div>
      <a href="/" class="kat-logo" title="OpenKAT">
        <img src="{% static 'img/kat_logo.png' %}"
             alt="logo Kwetsbaarheden Analyse Tool"/>
      </a>
    </div>
    <nav aria-labelledby="footer-nav-1">
      <h1 id="footer-nav-1">{% translate 'Service' %}</h1>
      <ul>
        <li>
          <a href="{% url 'crisis_room' %}">OpenKAT</a>
        </li>
        <li>
          <a href="{% url 'privacy_statement' %}">{% translate "Privacy Statement" %}</a>
        </li>
        {% if organization %}
          <li>
            <a href="{% url 'health_beautified' organization_code=organization.code %}">{% translate "Health" %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</footer>
<script src="{% static '/js/dropdown.js' %}" nonce="{{ request.csp_nonce }}"></script>
