/* Colors */

:root {
  --colors-white: #ffffff;

  /* Grey */
  --colors-grey-1: #f6f6f6;
  --colors-grey-2: #ededed;
  --colors-grey-3: #efefef;
  --colors-grey-4: #d4d4d4;
  --colors-grey-5: #a4a4a4;
  --colors-grey-6: #888888;
  --colors-grey-7: #6a6a6a;
  --colors-grey-8: #666666;
  --colors-grey-9: #585858;
  --colors-grey-10: #464646;
  --colors-grey-11: #3b3b3b;
  --colors-grey-12: rgb(0 0 0 / 5%);
  --colors-grey-13: rgb(0 0 0 / 10%);
  --colors-grey-14: rgb(0 0 0 / 15%);
  --colors-grey-15: rgb(17 20 22 / 50%);

  /* Red */
  --colors-red-1: #fff4f3;
  --colors-red-2: #ffe9e7;
  --colors-red-3: #ffc7c3;
  --colors-red-4: #ffa49d;
  --colors-red-5: #ff7d73;
  --colors-red-6: #f84638;
  --colors-red-7: #c3372c;
  --colors-red-8: #a22e25;
  --colors-red-9: #6e1f19;

  /* Blue */
  --colors-blue-1: #eef8fe;
  --colors-blue-2: #ddf0fc;
  --colors-blue-3: #c6e6fa;
  --colors-blue-4: #abdbf8;
  --colors-blue-5: #78c5f4;
  --colors-blue-6: #40adef;
  --colors-blue-7: #008de4;
  --colors-blue-8: #006fb3;
  --colors-blue-9: #005c94;
  --colors-blue-10: #003e64;

  /* Yellow */
  --colors-yellow-1: #fff7cf;
  --colors-yellow-2: #ffef99;
  --colors-yellow-3: #fbe366;
  --colors-yellow-4: #fecf48;
  --colors-yellow-5: #f9d100;
  --colors-yellow-6: #ddb900;
  --colors-yellow-7: #a08700;
  --colors-yellow-8: #7d6900;
  --colors-yellow-9: #685700;
  --colors-yellow-10: #584a00;

  /* Green */
  --colors-green-1: #ebfaef;
  --colors-green-2: #d5f5de;
  --colors-green-3: #a6e5b7;
  --colors-green-4: #94e6ab;
  --colors-green-5: #4ad571;
  --colors-green-6: #20bd4c;
  --colors-green-7: #1b9d3f;
  --colors-green-8: #157b31;
  --colors-green-9: #116629;
  --colors-green-10: #134421;

  /* Orange */
  --colors-orange-1: #fff5ed;
  --colors-orange-2: #ffead9;
  --colors-orange-3: #ffcaa1;
  --colors-orange-4: #ffa865;
  --colors-orange-5: #ff9a4d;
  --colors-orange-6: #d66a17;
  --colors-orange-7: #a75312;
  --colors-orange-8: #8b450f;
  --colors-orange-9: #5e2f0a;

  /* Purple */
  --colors-purrple-1: #f7f6fc;
  --colors-purrple-2: #eeecf8;
  --colors-purrple-3: #f0ebff;
  --colors-purrple-4: #d6d1ef;
  --colors-purrple-5: #bfb6e6;
  --colors-purrple-6: #a89cdd;
  --colors-purrple-7: #af9bd3;
  --colors-purrple-8: #8c7cd2;
  --colors-purrple-9: #6e5fae;
  --colors-purrple-10: #5b4f90;
  --colors-purrple-11: #4d437a;
  --colors-purrple-12: #3d3560;
  --colors-purrple-13: #5027bc;
}
