/* theme: Soft */

/* Fonts */
 @import "fonts/fonts";

/* Styling sets. E.g color sets */
@import "colors";
@import "manon/body-text-set";

/* Branding colors */
@import "manon/headings-base-set";

/* Layout */
@import "manon/layout-set";
@import "manon/section";

/* Manon variables */
@import "manon/manon-variables";

/* Base components */
@import "manon/table";
