/* theme: Soft */

/* Fonts */
@import "fonts/fonts";

/* Styling sets. E.g color sets */
@import "colors";
@import "manon/body-text-set";
@import "manon/spot-large";

/* Branding colors */
@import "manon/headings-base-set";
@import "manon/text-colors";

/* Defining available heading styles */
@import "manon/spacing";

/* Base - Top level styling */
@import "manon/application-base";

/* Styling on the highest level */

/* Helpers */

/* @import "manon/center-only-child.scss"; */

/* Can be added after v10.1.1 */

/* Layout */
@import "manon/layout-set";
@import "manon/main";
@import "manon/section";
@import "manon/section-content-wrapper";
@import "manon/article";
@import "manon/article-content-wrapper";

/* Manon variables */
@import "manon/manon-variables";

/* Base components */
@import "manon/button";
@import "manon/table";
@import "manon/footer";
@import "manon/form";

/* Components */
@import "manon/accordion";
@import "manon/breadcrumb-bar";
@import "manon/button-ghost";

/* Button */
@import "manon/button-icon";
@import "manon/button-destructive";

/* Icon button */
@import "manon/collapsible";
@import "manon/emphasized";
@import "manon/expando-rows";
@import "manon/collapsing-element";
@import "manon/filter";
@import "manon/header-navigation";
@import "manon/header-navigation-content-wrapper";
@import "manon/header-navigation-collapsible";
@import "manon/header-navigation-link";
@import "manon/header-navigation-link-active";
@import "manon/notification-block";
@import "manon/icon";
@import "manon/layout-column-4";
@import "manon/description-list";
@import "manon/form-fieldset";
@import "manon/form-radio";
@import "manon/form-help";
@import "manon/form-inline";
@import "manon/form-button";
@import "manon/layout";
@import "manon/login-meta";
@import "manon/logo";
@import "manon/navigation";
@import "manon/nota-bene";
@import "manon/tabs";
@import "manon/hero";
@import "manon/tile";
@import "manon/language-selector-list";
@import "manon/image-square";
