{% load i18n %}

<form method="post" class="inline column">
    <input type="hidden" name="action" value="{{ action }}">
    {% csrf_token %}
    {% if checkbox_group_table_form %}
        <div class="horizontal-scroll">
            {% include "partials/form/form_errors.html" with form=checkbox_group_table_form %}

            {% for field in checkbox_group_table_form %}{{ field }}{% endfor %}
        </div>
    {% endif %}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
    <button type="submit"
            class="{{ btn_class }}"
            {% if not plugin_enabled %}disabled{% endif %}>{{ btn_text }}</button>
    {% if not plugin_enabled %}
        <span class="de-emphasized">{% translate "Please enable plugin to start scanning." %}</span>
    {% endif %}
</form>
