{% load i18n %}

<fieldset class="grouped-choice-list">
    <legend>{{ field.label }}</legend>
    {% if field.field.required %}
        <span class="nota-bene">{% translate "This field is required" %}</span>
    {% endif %}
    {% for choice in field %}
        <div class="radio">
            <input type="radio"
                   name="{{ field.name }}"
                   value="{{ choice.data.value }}"
                   id="id_{{ field.name }}_{{ forloop.counter0 }}"
                   {% if choice.data.attrs.disabled %}disabled{% endif %}
                   {% if choice.data.attrs.checked %}checked{% endif %}/>
            <label for="id_{{ field.name }}_{{ forloop.counter0 }}">
                {% if choice.data.attrs.radio_paws %}
                    {% include "partials/scan_level_indicator.html" with value=choice.data.value custom_class=choice.data.attrs.class %}

                {% else %}
                    {{ choice.choice_label }}
                {% endif %}
            </label>
        </div>
    {% endfor %}
    {% include "partials/form/field_input_help_text.html" with help_text=field.help_text %}
    {% include "partials/form/field_input_errors.html" with field=field %}

</fieldset>
