{% load i18n %}

<div class="layout-form">
    <p>
        {% blocktranslate trimmed %}
            Performing security scans against assets is generally
            only allowed if you have permission to scan those assets.
            Certain scans might also have a negative impact on (your)
            assets. Therefore it is important to know and be aware of
            the impact of security scans.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate trimmed %}
            An organization indemnification is required before you can use OpenKAT.
            With the indemnification you declare that you, as a person, can be held accountable.
        {% endblocktranslate %}
    </p>
    <form method="post">
        {% csrf_token %}
        {% translate "Set an indemnification" as fieldset_legend %}
        {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

        <button type="submit">{% translate "Submit" %}</button>
    </form>
</div>
