/* Article content wrapper - Variables */

:root {
	--article-content-wrapper-padding-top: var(--content-nested-padding-top);
    --article-content-wrapper-padding-bottom: var(--content-nested-padding-bottom);
}
