/* Article content wrapper - Variables */

:root {
    --article-padding-top: var(--content-padding-top);
    --article-padding-bottom: var(--content-padding-bottom);
}

body>main>article {
    @media screen and (min-width: $grid-m) {
        padding-right: var(--page-whitespace-right-grid-m);
        padding-left: var(--page-whitespace-left-grid-m);
    }

    @media screen and (min-width: $grid-l) {
        padding-right: var(--page-whitespace-right-grid-l);
        padding-left: var(--page-whitespace-left-grid-l);
    }

    @media screen and (min-width: $grid-xl) {
        padding-right: var(--page-whitespace-right-grid-xl);
        padding-left: var(--page-whitespace-left-grid-xl);
    }

    @media screen and (min-width: $grid-xxl) {
        padding-right: var(--page-whitespace-right-grid-xxl);
        padding-left: var(--page-whitespace-left-grid-xxl);
    }
}
