/* Description list - Variables */

:root {
  --description-list-width: 100%;

  /* Item */
  --description-list-item-padding: 0.75rem 0.75rem 0.75rem 0;
  --description-list-item-odd-background-color: transparent;
}

/* Can be removed after manon v5.1.4 */
main div dl,
main section dl,
main article dl,
dl {
  > div {
    dt,
    dd {
      padding: 0;
    }
  }
}
