/* Header navigation link - Variables */

:root {
    --header-navigation-link-text-color: var(--text-color-dark);
    --header-navigation-link-border-width: 0 0 4px 0;
    --header-navigation-link-border-color: transparent;
    --header-navigation-link-border-style: solid;
}
