/* Section content wrapper - Variables */

:root {
	--section-content-wrapper-padding-top: var(--content-nested-padding-top);
    --section-content-wrapper-padding-bottom: var(--content-nested-padding-bottom);
}
