/* Heading set basic - Variables */

:root {
	--spacing-grid-xxl: 8rem;
	--spacing-grid-xl: 4rem;
	--spacing-grid-large: 2rem;
	--spacing-grid-normal: 1rem;
	--spacing-grid-small: 0.5rem;
	--spacing-grid-xs: 0.25rem;
	--spacing-grid-xxs: 0.125rem;
}
