{% load i18n %}

<div class="dropdown">
    <button aria-controls="change-organization"
            aria-expanded="false"
            class="dropdown-button ghost">
        {% if not organization.code %}
            {% translate "Select organization" %}
        {% else %}
            {{ organization.name }}
        {% endif %}
        <span class="icon ti-chevron-down"></span>
    </button>
    <div id="change-organization" class="dropdown-list">
        <ul>
            <li>
                <a href="?">{% translate "All organizations" %}</a>
            </li>
            {% for org in organizations_including_blocked %}
                <li>
                    <a href="?organization={{ org.code }}">{{ org.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
