/* theme: Soft */
/* Fonts */
@import "fonts/fonts"; /* Fonts */

/* Styling sets. E.g color sets */
@import "manon/body-text-set";
@import "manon/spot-large"; /* Branding colors */
@import "manon/headings-base-set"; /* Defining available heading styles */
@import "manon/spacing";

/* Base - Top level styling */
@import "manon/application-base"; /* Styling on the highest level */

/* Helpers */
/*@import "manon/center-only-child.scss";*/ /* Can be added after v10.1.1 */

/* Layout */
@import "manon/layout-set";
@import "manon/main";
@import "manon/section";
@import "manon/section-content-wrapper";
@import "manon/article";
@import "manon/article-content-wrapper";

/* Manon variables */
@import "manon/manon-variables";

/* Base components */
@import "manon/button";
@import "manon/table";
@import "manon/footer";
@import "manon/form";

/* Components */
@import "manon/accordion";
@import "manon/breadcrumb-bar";
@import "manon/button-ghost"; /* Ghost button */
@import "manon/button-icon"; /* Icon button */
@import "manon/emphasized";
@import "manon/filter";
@import "manon/header-navigation";
@import "manon/navigation-collapsible";
@import "manon/notification-block";
@import "manon/layout-column-4.scss";
@import "manon/description-list";
@import "manon/filter";
@import "manon/form-fieldset";
@import "manon/form-radio";
@import "manon/layout";
@import "manon/login-meta";
@import "manon/logo";
@import "manon/navigation";
@import "manon/tabs";
@import "manon/tile";
@import "manon/language-selector-list";
@import "manon/image-square";

/* Needs sorting */
@import "manon/manon-variables";
