/* theme: Soft */
/* Fonts */
@import "fonts/fonts"; /* Fonts */

/* Styling sets. E.g color sets */
@import "manon/body-text-set";
@import "manon/spot-large"; /* Branding colors */
@import "manon/headings-base-set"; /* Defining available heading styles */
@import "manon/spacing";
@import "manon/layout-set";

/* Base - Top level styling */
@import "manon/application-base"; /* Styling on the highest level */

/* Manon variables */
@import "manon/manon-variables";

/* Base components */
@import "manon/button";
@import "manon/table";
@import "manon/footer";
@import "manon/form";

/* Components */
@import "manon/accordion";
@import "manon/breadcrumb-bar";
@import "manon/button-ghost"; /* Ghost button */
@import "manon/button-icon"; /* Icon button */
@import "manon/emphasized";
@import "manon/filter";
@import "manon/header-navigation";
@import "manon/layout-column-4.scss";
@import "manon/login-meta";
@import "manon/navigation";
@import "manon/tabs";
@import "manon/tile";

/* Needs sorting */
@import "manon/manon-variables";
