/* Application base */

/* Text styling */
$application-base-font-family: $text-set-font-family;
$application-base-font-size: $text-set-font-size;
$application-base-line-height: $text-set-line-height;
$application-base-gap: $spacing-grid-200;
$application-base-text-color: $text-color-dark;

/* Accent color */
$application-base-accent-color: $colors-purrple-100;
$application-base-accent-color-text-color: $text-color-dark;
$icon-font-family: "tabler-icons";
$section-title-margin: $layout-base-content-block-title-margin;
$section-subtitle-margin: $layout-base-content-block-subtitle-margin;
