$body-text-large-font-size: null !default;
$body-text-large-font-weight: null !default;
$body-text-large-line-height: null !default;
$body-text-large-color: null !default;
$body-text-large-text-align: null !default;
$body-text-normal-font-size: null !default;
$body-text-normal-font-weight: null !default;
$body-text-normal-line-height: null !default;
$body-text-normal-color: null !default;
$body-text-normal-text-align: null !default;
$body-text-small-font-size: null !default;
$body-text-small-font-weight: null !default;
$body-text-small-line-height: null !default;
$body-text-small-color: null !default;
$body-text-small-text-align: null !default;

/* Body text set */

/* Available variables to use within all text types */
$text-set-font-family: "Open Sans", sans-serif;
$text-set-font-size: 1rem;
$text-set-line-height: 1.75;

/* Body text large */
$body-text-large-font-size: 1.25rem;
$body-text-large-font-weight: $text-set-font-weight;
$body-text-large-line-height: $text-set-line-height;
$body-text-large-color: $text-set-text-color;
$body-text-large-text-align: $text-set-text-align;

/* Strong */
$body-text-large-strong-font-weight: $text-set-strong-font-weight;

/* Body text normal */
$body-text-normal-font-size: $text-set-font-size;
$body-text-normal-font-weight: $text-set-font-weight;
$body-text-normal-line-height: $text-set-line-height;
$body-text-normal-color: $text-set-text-color;
$body-text-normal-text-align: $text-set-text-align;

/* Strong */
$body-text-normal-strong-font-weight: $text-set-strong-font-weight;

/* Body text small */
$body-text-small-font-size: 0.875rem;
$body-text-small-font-weight: $text-set-font-weight;
$body-text-small-line-height: $text-set-line-height;
$body-text-small-color: $colors-grey-700;
$body-text-small-text-align: $text-set-text-align;

/* Strong */
$body-text-small-strong-font-weight: $text-set-strong-font-weight;
