/* Navigation - Variables */

/* Breadcrumb bar nav */
$breadcrumb-bar-padding-right: 0;
$breadcrumb-bar-padding-left: 0;
$breadcrumb-bar-background-color: $colors-purrple-100;
$breadcrumb-bar-text-color: $text-color-dark;

/* Content wrapper */
$breadcrumb-bar-content-block-max-width: $header-navigation-max-width;
$breadcrumb-bar-content-block-icon: "\ea61";

/* List */
$breadcrumb-bar-list-vertical-align: center;

/* Icon */
$breadcrumb-bar-icon-font-family: $icon-font-family;
$breadcrumb-bar-icon: "\ea61";
