/* Button Ghost - Variables */

/* Button */
$button-ghost-background-color: $colors-white;
$button-ghost-border-color: $colors-grey-200;
$button-ghost-text-color: $colors-blue-600;

/* Text */
$button-ghost-font-size: 1rem;
$button-ghost-font-weight: bold;
$button-ghost-line-height: 1;

/* States */

/* Hover */
$button-ghost-hover-background-color: $colors-white;
$button-ghost-hover-border-color: $colors-blue-600;
$button-ghost-hover-text-color: $colors-blue-700;

/* Active */
$button-ghost-active-background-color: transparent;
$button-ghost-active-border-color: $button-ghost-hover-border-color;
$button-ghost-active-text-color: $button-ghost-hover-text-color;

/* Focus */
$button-ghost-focus-background-color: transparent;
$button-ghost-focus-border-color: $button-ghost-hover-border-color;
$button-ghost-focus-text-color: $button-ghost-hover-text-color;
