/* Button destructive */

$button-destructive-background-color: $color-alert-negative;
$button-destructive-text-color: white;
$button-destructive-hover-background-color: $color-alert-negative-darker;
$button-destructive-hover-text-color: white;

// $button-destructive-border-color: $colors-grey-200;
// $button-destructive-border-width: $button-ghost-border-width;
