/* Button - Variables */

/* Button */
$button-base-background-color: $branding-color-2-background-color;
$button-base-text-color: $branding-color-2-text-color;
$button-base-border-radius: $border-radius-l;
$button-base-font-family: $application-base-font-family;
$button-base-padding-top: $spacing-grid-150;
$button-base-padding-right: $spacing-grid-200;
$button-base-padding-bottom: $spacing-grid-150;
$button-base-padding-left: $spacing-grid-200;
$button-base-min-width: 2.75rem;
$button-base-border-color: $branding-color-2-background-color;
$button-base-border-style: solid;
$button-base-border-width: 1px;

/* Ghost button */
$button-ghost-border-width: $button-base-border-width;

/* Text */
$button-base-font-size: 1rem;
$button-base-font-weight: bold;
$button-base-line-height: 1.25;

/* States */

/* Hover */
$button-base-hover-background-color: $colors-yellow-300;
$button-base-hover-text-color: $colors-grey-900;

/* Active */
$button-base-active-background-color: $colors-yellow-300;
$button-base-active-text-color: $colors-grey-900;
$button-base-active-border-style: $button-base-border-style;
$button-base-active-border-color: $button-base-active-background-color;
$button-base-active-border-width: $button-base-border-width;

/* Focus */
$button-base-focus-background-color: $colors-yellow-300;
$button-base-focus-text-color: $colors-grey-900;
$button-base-focus-border-style: $button-base-border-style;
$button-base-focus-border-color: $button-base-focus-background-color;
$button-base-focus-border-width: $button-base-border-width;
