/* Description list - Variables */

$description-list-width: 100%;

/* Item */
$description-list-item-padding: 0.75rem 0.75rem 0.75rem 0;
$description-list-item-odd-background-color: transparent;
$description-list-item-title-padding: 0.5rem 0;
$description-list-item-data-padding: 0.5rem 0;
$description-list-item-gap: $spacing-grid-300;
$description-list-item-white-space: normal;
