/* Expando rows - Variables */

$expando-rows-table-cell-background-color: $colors-white;
$expando-rows-row-background-color: $colors-purrple-100;
$expando-rows-row-striping-background-color: $expando-rows-row-background-color;
$expando-rows-row-font-weight: $table-font-weight;
$expando-rows-table-cell-after-breakpoint-padding: 1.5rem;
$expando-rows-table-content-title-font-size: $heading-normal-font-size;
$expando-rows-table-content-title-font-weight: $heading-normal-font-weight;
$expando-rows-table-content-subtitle-font-size: $heading-normal-font-size;
$expando-rows-table-content-subtitle-font-weight: $heading-normal-font-weight;
