/* Filter - Variables */

/* Intro */
$filter-intro-border-width: 1px 0 0 0;

/* Button */
$filter-button-font-size: 1rem;
$filter-button-font-weight: bold;
$filter-button-text-color: $link-text-color;
$filter-button-margin-left: 0;
$filter-button-padding: $spacing-grid-150 $spacing-grid-100;

/* Button icon */
$filter-button-icon-before-open-content: "\ea5f";
$filter-button-icon-before-close-content: "\ea62";
