/* Footer - Variables */

/* Layout */
$footer-flex-direction: row;
$footer-justify-content: space-between;
$footer-align-items: center;
$footer-min-height: 5.5rem;
$footer-padding-top: 2rem;
$footer-padding-right: 2%;
$footer-padding-bottom: 2rem;
$footer-padding-left: 2%;
$footer-gap: 2rem;

/* Visual styling */
$footer-background-color: $colors-white;
$footer-text-color: $colors-grey-600;

/* Links */
$footer-link-text-color: $link-text-color;
$footer-link-text-decoration: underline;

/* Links hover */
$footer-link-hover-text-color: $link-hover-text-color;
$footer-link-hover-text-decoration: underline;

/* Visited */
$footer-link-visited-text-color: $link-visited-text-color;
$footer-link-visited-text-decoration: underline;

/* Visited hover */
$footer-link-visited-hover-text-color: $link-visited-hover-text-color;
$footer-link-visited-hover-text-decoration: underline;

/* Navigation */
$footer-navigation-list-item-list-style: none;
