$form-base-text-color: $application-base-text-color;
$form-base-background-color: transparent;
$form-base-padding-top: 0;
$form-base-padding-bottom: 0;
$form-base-padding-left: 0;
$form-base-max-width: 40rem;

/* Accent color */
$form-accent-color-color: $branding-color-2;

/* Input */
$form-base-input-text-color: $form-base-text-color;
$form-input-border-width: 1px;
$form-input-border-style: solid;
$form-input-border-color: $colors-grey-200;
$form-inline-gap: 1rem;
$form-input-border-radius: $border-radius-s;

/* Help */
$form-help-button-icon-content: "\ec9d";
$form-help-button-icon-font-family: $icon-font-family;

/* Textarea */
$form-textarea-text-color: $form-base-text-color;
$form-textarea-border-color: $colors-grey-200;

/* Fieldset */
$form-fieldset-legend-font-weight: 600;
$form-fieldset-checkbox-accent-color: $form-accent-color-color;
$form-fieldset-radio-input-accent-color: $form-accent-color-color;

/* Nota bene */
$form-horizontal-view-fieldset-nota-bene-required-margin-bottom: 0.5rem;
