/* Heading set basic - Variables */

/* Available variables to use within all heading types */
$headings-base-set-font-family: "Fredoka", sans-serif;
$headings-base-set-font-size: 2.5rem;
$headings-base-set-font-weight: 600;
$headings-base-set-line-height: 1.2;
$headings-base-set-text-color: $application-base-text-color;
$headings-base-set-margin: 0;

/* Heading XXL */
$heading-xxl-font-family: $headings-base-set-font-family;
$heading-xxl-font-size: $headings-base-set-font-size;
$heading-xxl-font-weight: $headings-base-set-font-weight;
$heading-xxl-line-height: $headings-base-set-line-height;
$heading-xxl-text-color: $headings-base-set-text-color;
$heading-xxl-margin: $headings-base-set-margin;

/* Heading XL */
$heading-xl-font-family: $headings-base-set-font-family;
$heading-xl-font-size: 2rem;
$heading-xl-font-weight: $headings-base-set-font-weight;
$heading-xl-line-height: $headings-base-set-line-height;
$heading-xl-text-color: $headings-base-set-text-color;
$heading-xl-margin: $headings-base-set-margin;

/* Heading L */
$heading-large-font-family: $headings-base-set-font-family;
$heading-large-font-size: 1.75rem;
$heading-large-font-weight: $headings-base-set-font-weight;
$heading-large-line-height: $headings-base-set-line-height;
$heading-large-text-color: $headings-base-set-text-color;
$heading-large-margin: $headings-base-set-margin;

/* Heading M */
$heading-normal-font-family: $headings-base-set-font-family;
$heading-normal-font-size: 1.5rem;
$heading-normal-font-weight: $headings-base-set-font-weight;
$heading-normal-line-height: $headings-base-set-line-height;
$heading-normal-text-color: $headings-base-set-text-color;
$heading-normal-margin: $headings-base-set-margin;

/* Heading S */
$heading-small-font-family: $headings-base-set-font-family;
$heading-small-font-size: 1.125rem;
$heading-small-font-weight: $headings-base-set-font-weight;
$heading-small-line-height: $headings-base-set-line-height;
$heading-small-text-color: $headings-base-set-text-color;
$heading-small-margin: $headings-base-set-margin;

/* Heading XS */
$heading-xs-font-family: $headings-base-set-font-family;
$heading-xs-font-size: 1rem;
$heading-xs-font-weight: $headings-base-set-font-weight;
$heading-xs-line-height: $headings-base-set-line-height;
$heading-xs-text-color: $headings-base-set-text-color;
$heading-xs-margin: $headings-base-set-margin;
