/* Header Navigation content wrapper - Variables */

$header-navigation-content-wrapper-flex-direction: row;
$header-navigation-content-wrapper-gap: 1rem;
$header-navigation-content-wrapper-justify-content: flex-start;
$header-navigation-content-wrapper-align-items: stretch;
$header-navigation-content-wrapper-padding-right: $content-padding-right;
$header-navigation-content-wrapper-padding-left: $content-padding-left;
