/* Header navigation link active - Variables */

$header-navigation-link-active-text-color: $colors-purrple-500;
$header-navigation-link-active-border-width: 0 0 0.25rem 0;
$header-navigation-link-active-border-style: solid;
$header-navigation-link-active-border-color: $colors-purrple-500;
$header-navigation-list-align-items: stretch;
