/* Headings */

/* h1 */
$h1-font-family: $heading-xxl-font-family;
$h1-font-size: $heading-xxl-font-size;
$h1-text-color: $heading-xxl-text-color;
$h1-font-weight: $heading-xxl-font-weight;
$h1-line-height: $heading-xxl-line-height;
$h1-margin: $heading-xxl-margin;

/* h2 */
$h2-font-family: $heading-xl-font-family;
$h2-font-size: $heading-xl-font-size;
$h2-text-color: $heading-xl-text-color;
$h2-font-weight: $heading-xl-font-weight;
$h2-line-height: $heading-xl-line-height;
$h2-margin: $heading-xl-margin;

/* h3 */
$h3-font-family: $heading-large-font-family;
$h3-font-size: $heading-large-font-size;
$h3-text-color: $heading-large-text-color;
$h3-font-weight: $heading-large-font-weight;
$h3-line-height: $heading-large-line-height;
$h3-margin: $heading-large-margin;

/* h4 */
$h4-font-family: $heading-normal-font-family;
$h4-font-size: $heading-normal-font-size;
$h4-text-color: $heading-normal-text-color;
$h4-font-weight: $heading-normal-font-weight;
$h4-line-height: $heading-normal-line-height;
$h4-margin: $heading-normal-margin;

/* h5 */
$h5-font-family: $heading-small-font-family;
$h5-font-size: $heading-small-font-size;
$h5-text-color: $heading-small-text-color;
$h5-font-weight: $heading-small-font-weight;
$h5-line-height: $heading-small-line-height;
$h5-margin: $heading-small-margin;

/* h6 */
$h6-font-family: $heading-xs-font-family;
$h6-font-size: $heading-xs-font-size;
$h6-text-color: $heading-xs-text-color;
$h6-font-weight: $heading-xs-font-weight;
$h6-line-height: $heading-xs-line-height;
$h6-margin: $heading-xs-margin;
