/* Header Navigation collapsible - Variables */

$header-navigation-collapsible-background-color: white;
$header-navigation-collapsible-top: 4rem;
$header-navigation-collapsible-list-item-border-width: 0;

/* Current item */
$header-navigation-collapsible-list-item-link-selected-text-color: $text-color-dark;
$header-navigation-collapsible-list-item-link-selected-border-width: 0;
$header-navigation-collapsible-list-item-link-selected-icon: "\ea5e";

/* Hover */
$header-navigation-collapsible-list-item-link-hover-background-color: $colors-grey-50;
$header-navigation-collapsible-list-item-link-selected-font-weight: bold;
