/* Language selector list - Variables */

$language-selector-list-max-width: 2.75rem;

/* Label */
$language-selector-list-label-font-size: 0;
$language-selector-list-label-gap: 0;

/* Button */
$language-selector-list-button-line-height: $button-base-line-height;
$language-selector-list-button-padding-top: $button-base-padding-top;
$language-selector-list-button-padding-right: $button-base-padding-right;
$language-selector-list-button-padding-bottom: $button-base-padding-bottom;
$language-selector-list-button-padding-left: $button-base-padding-left;

/* $language-selector-list-button-font-size: $header-navigation-button-font-size; */
$language-selector-list-button-border-color: $button-ghost-border-color;
$language-selector-list-button-text-color: $button-ghost-text-color;
$language-selector-list-button-border-width: $button-ghost-border-width;
$language-selector-list-button-width: auto;

// $language-selector-list-button-font-weight: bold;

/* List opened button icon */
$language-selector-list-open-button-icon: "\ea5f";

/* List closed button icon */
$language-selector-list-closed-button-icon: "\ea62";

/* List */
$language-selector-list-border-color: $colors-grey-200;
$language-selector-list-border-radius: 0.25rem;
$language-selector-list-margin-top: 0.25rem;
$language-selector-list-box-shadow: 0 8px 16px 0 $colors-black-15;
$language-selector-list-min-width: 8rem;

/* List item */
$language-selector-list-item-background-color: transparent;
$language-selector-list-item-active-background-color: transparent;
$language-selector-list-item-hover-background-color: $colors-black-05;

/* List item link */
$language-selector-list-item-link-border-width: 0;
$language-selector-list-item-link-min-height: 3rem;
$language-selector-list-item-link-height: 100%;
$language-selector-list-item-link-padding: 0.125rem 1rem;

/* List item link active */
$language-selector-list-item-active-font-weight: bold;

/* Icon */
$language-selector-list-button-icon-font-family: $icon-font-family;
$language-selector-list-button-icon-font-size: $icon-font-size;
