/* Grid breakpoints */
$grid-s: 20rem;
$grid-m: 48rem;
$grid-l: 90rem;
$grid-xl: 128rem;
$grid-xxl: 215rem;

/* White space based on grid type */

/* grid-s */
$page-whitespace-top-grid-s: 1rem;
$page-whitespace-right-grid-s: 1rem;
$page-whitespace-left-grid-s: 1rem;
$page-whitespace-bottom-grid-s: 1rem;

/* grid-m */
$page-whitespace-top-grid-m: 2.5rem;
$page-whitespace-right-grid-m: 4rem;
$page-whitespace-left-grid-m: 4rem;
$page-whitespace-bottom-grid-m: 2.5rem;

/* grid-l */
$page-whitespace-top-grid-l: 4rem;
$page-whitespace-right-grid-l: 8rem;
$page-whitespace-left-grid-l: 8rem;
$page-whitespace-bottom-grid-l: 4rem;

/* grid-xl */
$page-whitespace-top-grid-xl: 4rem;
$page-whitespace-right-grid-xl: 12rem;
$page-whitespace-left-grid-xl: 12rem;
$page-whitespace-bottom-grid-xl: 4rem;

/* grid-xxl */
$page-whitespace-top-grid-xxl: 4rem;
$page-whitespace-right-grid-xxl: 12rem;
$page-whitespace-left-grid-xxl: 12rem;
$page-whitespace-bottom-grid-xxl: 4rem;

/* Page */
$page-whitespace-top: $page-whitespace-top-grid-s;
$page-whitespace-right: 0;
$page-whitespace-bottom: 0;
$page-whitespace-left: 0;

/* Content wrapper */
$content-flex-direction: column;
$content-justify-content: flex-start;
$content-align-items: flex-start;
$content-gap: 2.5rem;
$content-padding-top: $page-whitespace-top-grid-m;
$content-padding-right: $page-whitespace-right-grid-s;
$content-padding-bottom: $page-whitespace-bottom-grid-m;
$content-padding-left: $page-whitespace-left-grid-s;
$content-max-width: 215rem;

/* Content */
$content-nested-padding-top: 0;
$content-nested-padding-right: 0;
$content-nested-padding-bottom: 0;
$content-nested-padding-left: 0;
$content-nested-max-width: 100%;
$content-nested-gap: $spacing-grid-200;

/* Section */
$section-padding-right: $content-padding-right;
$section-padding-left: $content-padding-left;
$section-gap: $content-gap;

/* Section content wrapper */
$section-content-wrapper-gap: 1rem;
$section-content-wrapper-padding-top: 0;
$section-content-wrapper-padding-right: 0;
$section-content-wrapper-padding-bottom: 0;
$section-content-wrapper-padding-left: 0;
