/* Layout form - Variables */

$layout-form-padding-top: $content-padding-top, 0;
$layout-form-padding-right: $content-padding-right, 0;
$layout-form-padding-bottom: $content-padding-bottom, 0;
$layout-form-padding-left: $content-padding-left, 0;
$layout-form-max-width: 50rem;

/* After breakpoint 1 */
$layout-form-breakpoint-1-padding-top: $layout-form-padding-top;
$layout-form-breakpoint-1-padding-right: $layout-form-padding-right;
$layout-form-breakpoint-1-padding-bottom: $layout-form-padding-bottom;
$layout-form-breakpoint-1-padding-left: $layout-form-padding-left;
$layout-form-breakpoint-1-max-width: $layout-form-max-width;
