$layout-block-gap: 3rem;
$layout-base-max-width: 80rem;
$layout-base-content-block-gap: 1.5rem;
$layout-base-main-padding-top: 5rem;
$layout-footer-block-max-width: $layout-base-max-width;
$layout-footer-content-block-gap: $layout-base-content-block-gap;
$layout-header-gap: 0;
$layout-header-padding-top: $layout-base-padding-top;
$layout-header-padding-bottom: $layout-base-padding-bottom;
$layout-header-padding-left: $layout-base-padding-left;
$layout-header-block-max-width: $layout-base-max-width;
$layout-main-gap: $layout-block-gap;
$layout-main-first-padding-top: 5rem;
