/* nav */
$navigation-gap: 1rem;
$navigation-align-content: flex-start;
$navigation-list-gap: $navigation-gap;
$navigation-link-text-decoration: none;
$navigation-link-hover-text-decoration: none;
$navigation-background-color: $application-base-background-color;
$navigation-text-color: $application-base-text-color;
$header-navigation-padding-right: 0;
$header-navigation-padding-left: 0;

/* Collapsing menu */
$navigation-collapsible-menu-collapsing-menu-width: 100%;
$navigation-collapsible-menu-list-item-collapsed-hover-background-color: $application-base-text-color;

/* Collapsing menu item */

$navigation-collapsible-menu-collapsing-menu-list-item-border-width: 0;
$navigation-collapsible-menu-collapsing-menu-list-item-last-item-border-width: 0;

/* Menu toggle icon */
$navigation-collapsible-menu-icon-font-size: 1.5rem;
