/* Notification colors */

$error-background-color: $colors-red-100;
$error-text-color: $colors-grey-900;
$error-border-color: $colors-black-10;
$explanation-background-color: $colors-blue-100;
$explanation-text-color: $colors-grey-900;
$explanation-border-color: $colors-black-10;
$warning-background-color: $colors-ochre-50;
$warning-text-color: $colors-grey-900;
$warning-border-color: $colors-black-10;
$confirmation-background-color: $colors-green-100;
$confirmation-text-color: $colors-grey-900;
$confirmation-border-color: $colors-black-10;
