/* Notification block - Variables */

$notification-block-element-padding-top: $spacing-grid-300;
$notification-block-element-padding-right: $spacing-grid-200;
$notification-block-element-padding-left: $spacing-grid-200;
$notification-block-element-padding-bottom: $spacing-grid-300;
$notification-block-element-gap: 0.5rem;
