/* Notification paragraph - Variables */

$notification-paragraph-padding-top: $spacing-grid-200;
$notification-paragraph-padding-right: $spacing-grid-200;
$notification-paragraph-padding-bottom: $spacing-grid-200;
$notification-paragraph-padding-left: $spacing-grid-600;
