$text-set-font-size: 9pt;
$body-text-large-font-size: 15pt;
$heading-xxl-font-size: 26pt;
$heading-xl-font-size: 20pt;
$heading-large-font-size: 18pt;
$table-font-size: 9pt;
$table-head-cell-font-size: 10pt;
