/* Heading set basic - Variables */

$spacing-grid-0: 0;
$spacing-grid-025: 0.125rem;
$spacing-grid-050: 0.25rem;
$spacing-grid-075: 0.065rem;
$spacing-grid-100: 0.5rem;
$spacing-grid-150: 0.75rem;
$spacing-grid-200: 1rem;
$spacing-grid-250: 1.25rem;
$spacing-grid-300: 1.5rem;
$spacing-grid-350: 1.75rem;
$spacing-grid-400: 2rem;
$spacing-grid-500: 2.5rem;
$spacing-grid-600: 3rem;
$spacing-grid-800: 4rem;
$spacing-grid-1000: 5rem;
$spacing-grid-1600: 8rem;
$spacing-grid-2400: 12rem;
