/* Tabs - Variables */

$tabs-border-width: 0;

/* Tab */
$tabs-border-color: $colors-grey-200;
$tabs-item-text-color: $application-base-text-color;

/* Active tab */
$tabs-item-active-text-color: $application-base-text-color;
$tabs-item-active-border-color: $colors-purrple-400;
$tabs-item-active-hover-border-color: $colors-purrple-400;
$tabs-item-active-hover-text-color: $application-base-text-color;
$tabs-item-active-border-width: 0 0 4px 0;

/* Hover */
$tabs-item-hover-border-width: 0 0 4px 0;
$tabs-item-hover-border-color: $colors-grey-200;
