/* Base */
$table-background-color: $colors-white;
$table-text-color: $application-base-text-color;
$table-text-align: left;

/* Table header */
$table-head-background-color: $colors-white;
$table-head-border-width: 0 0 2px 0;
$table-head-border-style: solid;
$table-head-border-color: $colors-purrple-400;

/* Table row */
$table-row-background-color-striping: transparent;

/* th */
$table-head-cell-font-size: 1rem;

/* Table body header */
$table-body-head-cell-border-width: 0;
$table-body-head-cell-background-color: transparent;

/* Table cell */
$table-cell-border-width: 0 0 1px 0;
$table-cell-border-style: solid;
$table-cell-border-color: $colors-grey-200;
$table-cell-padding: 0.5rem 1rem;
$table-cells-padding: 0.25rem 1rem;

/* Actions */
$table-action-buttons-button-font-size: $icon-font-size;
$table-action-buttons-button-text-color: $link-text-color;
$table-action-buttons-button-hover-text-color: $link-text-color;

/* Table footer */
$table-foot-background-color: $colors-white;
$table-foot-font-weight: 600;
$table-foot-font-size: $table-font-size;
$table-foot-border-width: 2px 0 0 0;
$table-foot-border-color: $colors-purrple-400;
