/* tags-6-3 */

/* Blue */
$tags-soft-blue-light-border-color: $colors-blue-300;
$tags-soft-blue-medium-border-color: $colors-blue-600;
$tags-soft-blue-dark-text-color: $colors-blue-700;

/* Green */
$tags-soft-green-light-border-color: $colors-green-300;

/* Yellow */
$tags-soft-yellow-light-background-color: $colors-ochre-50;
$tags-soft-yellow-light-text-color: $colors-ochre-500;
$tags-soft-yellow-light-border-color: $colors-ochre-300;
$tags-soft-yellow-medium-background-color: $colors-ochre-200;
$tags-soft-yellow-medium-text-color: $colors-ochre-600;
$tags-soft-yellow-medium-border-color: $colors-ochre-400;
$tags-soft-yellow-dark-background-color: $colors-ochre-300;
$tags-soft-yellow-dark-text-color: $colors-ochre-700;
$tags-soft-yellow-dark-border-color: $colors-ochre-600;

/* Orange */
$tags-soft-orange-light-text-color: $colors-orange-600;
$tags-soft-orange-light-border-color: $colors-orange-300;
$tags-soft-orange-dark-border-color: $colors-orange-600;
