{% extends "layouts/base.html" %}

{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>{% translate "Boefjes" %}:</h1>
                <div class="horizontal-scroll">
                    <table>
                        <caption>{% translate "Boefjes overview:" %}</caption>
                        <thead>
                            <tr>
                                <th>{% translate "Boefje" %}</th>
                                <th>{% translate "Description" %}</th>
                                <th>{% translate "Scan profile" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for boefje in boefjes %}
                                <tr>
                                    <td>
                                        <a href="{% url "boefje_detail" organization_code=organization.code plugin_id=boefje.id %}">{{ boefje.name }}</a>
                                    </td>
                                    <td>{{ boefje.description }}</td>
                                    <td>{{ boefje.scan_level.label }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
