{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="layout-form">
                <h1>{% translate "Upload YML" %}</h1>
                <p class="emphasized">{% translate "Automate the creation of multiple objects by uploading a YAML file." %}</p>
                <p>{% translate "These are the criteria for YAML upload:" %}</p>
                <ul>
                    {% for criterion in criteria %}<li>{{ criterion }}</li>{% endfor %}
                </ul>
                <details>
                    <summary>See Base OOI type details</summary>
                    <ul>
                        {% for criterion in base_ooi_types %}<li>{{ criterion }}</li>{% endfor %}
                    </ul>
                </details>
                <details>
                    <summary>See available OOI types</summary>
                    <ul>
                        {% for ooi_type in ooi_types %}<li>{{ ooi_type }}</li>{% endfor %}
                    </ul>
                </details>
                <form novalidate method="post" enctype="multipart/form-data" class="help">
                    {% csrf_token %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}
                    <button type="submit">{% translate "Upload YML" %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
