{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="layout-form">
                <h1>{% translate "Upload raw file" %}</h1>
                <p>{% translate "Automate the creation of multiple objects by uploading a raw file." %}</p>
                <p>
                    {% translate "An input OOI can be selected for the normalizer to attach newly yielded OOIs to. If no input OOI was used for the raw file, a placeholder ExternalScan OOI can be used. ExternalScan OOIs can be created from the objects page. When a new version of the raw file is generated, the same ExternalScan OOI should be chosen to ensure that old results are overwritten." %}
                </p>
                <ul>
                    {% for criterion in criteria %}<li>{{ criterion }}</li>{% endfor %}
                </ul>
                <form novalidate method="post" enctype="multipart/form-data" class="help">
                    {% csrf_token %}
                    {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    <button type="submit">{% translate "Upload raw" %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
