{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}
{% load ooi_extra %}

{% block content %}
  {% include 'header.html' %}
  {% if error %}
    <section class="error" role="group" aria-label="{% translate 'Explanation' %}">
      <div>
        <p>
          {% translate 'Error' %}: {{ error }}
        </p>
      </div>
    </section>
  {% endif %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Boefjes' %}</h1>
        <p>
          {% translate 'List of boefjes for' %} {{ request.active_organization }}
        </p>
        <div class="horizontal-scroll">
          <table>
            <caption>{% translate 'List of tasks for the current organization' %}</caption>
            <thead>
              <tr>
                <th scope="col">{% translate 'OOI' %}</th>
                <th scope="col">{% translate 'Boefje' %}</th>
                <th scope="col">{% translate 'Status' %}</th>
                <th scope="col">{% translate 'Time' %}</th>
                <th scope="col">{% translate 'Details' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for task in boefje_task_response.results %}
                <tr>
                  <td>{{ task.task.item.input_ooi }}</td>
                  <td>{{ task.task.item.boefje.name }}</td>
                  {% if task.status.value == 'completed' %}
                    <td class="confirmation">{{ task.status.value|capfirst }}</td>
                  {% elif task.status.value == 'failed' %}
                    <td class="warning">{{ task.status.value|capfirst }}</td>
                  {% else %}
                    <td>{{ task.status.value|capfirst }}</td>
                  {% endif %}
                  <td>
                    {{ task.created_at|timesince }}
                    ago
                  </td>
                  <td>
                    <button class="expando-button"
                            data-icon-open-class="icon ti-chevron-down"
                            data-icon-close-class="icon ti-chevron-up"
                            data-close-label="{% translate 'Close details' %}">
                      {% translate 'Arguments!' %}
                    </button>
                  </td>
                </tr>
                <tr class="expando-row">
                  <td colspan="6">
                    <h4>JSON</h4>
                    <pre>{{ task.dict | pretty_json }}</pre>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
    <section>
      <div>
        <h1>{% translate 'Normalizers' %}</h1>
        <p>
          {% translate 'List of normalizers for' %} {{ request.active_organization }}
        </p>
        <div class="horizontal-scroll">
          <table>
            <caption>{% translate 'List of tasks for the current organization' %}</caption>
            <thead>
              <tr>
                <th scope="col">{% translate 'OOI' %}</th>
                <th scope="col">{% translate 'Boefje' %}</th>
                <th scope="col">{% translate 'Normalizer' %}</th>
                <th scope="col">{% translate 'Status' %}</th>
                <th scope="col">{% translate 'Time' %}</th>
                <th scope="col">{% translate 'Details' %}</th>
              </tr>
            </thead>
            <tbody>
              {% for task in normalizer_task_response.results %}
                <tr>
                  <td>{{ task.task.item.boefje_meta.input_ooi }}</td>
                  <td>{{ task.task.item.boefje_meta.boefje.id }}</td>
                  <td>{{ task.task.item.normalizer.name }}</td>
                  {% if task.status.value == 'completed' %}
                    <td class="confirmation">{{ task.status.value|capfirst }}</td>
                  {% elif task.status.value == 'failed' %}
                    <td class="warning">{{ task.status.value|capfirst }}</td>
                  {% else %}
                    <td>{{ task.status.value|capfirst }}</td>
                  {% endif %}
                  <td>
                    {{ task.created_at|timesince }}
                    ago
                  </td>
                  <td>
                    <button class="expando-button"
                            data-icon-open-class="icon ti-chevron-down"
                            data-icon-close-class="icon ti-chevron-up"
                            data-close-label="{% translate 'Close details' %}">
                      {% translate 'Arguments!' %}
                    </button>
                  </td>
                </tr>
                <tr class="expando-row">
                  <td colspan="6">
                    <h4>
                      JSON
                    </h4>
                    <pre>{{ task.dict | pretty_json }}</pre>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
{% endblock %}
