name: Create and publish Docker image for building Debian packages

on:
  workflow_dispatch: {}
  push:
    branches:
      - "main"
    paths:
      - "packaging"
      - ".github/workflows/build-debian-docker-image.yml"
  pull_request:
    paths:
      - "packaging/**"
      - ".github/workflows/build-debian-docker-image.yml"

env:
  REGISTRY: ghcr.io

jobs:
  build-debian-image:
    strategy:
      matrix:
        dist: [debian12, ubuntu22.04]
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/nl-kat-${{ matrix.dist }}-build-image
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./packaging/${{ matrix.dist }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
