name: Build docs artifact for PR

on:
  pull_request:
    branches:
      - "**"
    paths:
      - "docs/**"
      - "requirements.txt"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build-artifact:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: 'pip' # caching pip dependencies

      - name: Install pip dependencies
        run: grep -v git+https:// requirements.txt | pip install -r /dev/stdin ; grep git+https:// requirements.txt | pip install -r /dev/stdin

      - name: Compile static HTML
        run: make docs

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "github-pages-no-deploy"
          path: 'docs/_build'
