name: Bytes Run the test suite

on:
  push:
    paths:
      - bytes/**
  pull_request:
    paths:
      - bytes/**

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        version: [ '3.8', '3.9', '3.10', '3.11' ]

    runs-on: ubuntu-20.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run unit tests
        run: make utest build_args='--build-arg PYTHON_VERSION=${{ matrix.version }}'
        working-directory: ./bytes

      - name: Run integration tests
        run: SLEEP_TIME=5 make itest build_args='--build-arg PYTHON_VERSION=${{ matrix.version }}'
        working-directory: ./bytes
