name: Build Debian and Ubuntu packages

on: [push]

jobs:
  build-package:
    strategy:
      matrix:
        dist: [debian, ubuntu]
    runs-on: ubuntu-latest
    env:
      PKG_NAME: kat-rocky

    steps:
      - uses: actions/checkout@v3

      - name: Get version from release tag or generate one
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/v}" >> $GITHUB_ENV

          if [ -z "${RELEASE_VERSION}" ]; then
            echo "RELEASE_VERSION=$(python setup.py --version)" >> $GITHUB_ENV
          fi

      - name: Run debian package build
        uses: addnab/docker-run-action@v3
        with:
          run: packaging/scripts/build-debian-package.sh
          registry: ghcr.io
          image: ghcr.io/minvws/nl-kat-${{ matrix.dist }}-build-image:latest
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          options: -v ${{ github.workspace }}:/app
            -e REPOSITORY=${{ github.repository }}
            -e RELEASE_VERSION=${{ env.RELEASE_VERSION }}
            -e RELEASE_TAG=${{ env.RELEASE_TAG }}
            -e PKG_NAME=${{ env.PKG_NAME }}
            --workdir /app

      - name: Upload .deb to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{env.PKG_NAME}}_${{ env.RELEASE_VERSION }}_${{ matrix.dist }}.deb
          path: build/${{env.PKG_NAME}}_${{ env.RELEASE_VERSION }}_amd64.deb
