name: Create and publish Masscan Docker image

on:
  workflow_dispatch: {}
  push:
    branches:
      - "main"
      - "release-*"
    tags:
      - "*"
    paths:
      - "boefjes/images/masscan/Dockerfile"
      - ".github/workflows/masscan_container_image.yml"
  pull_request:
    paths:
      - "boefjes/images/masscan/Dockerfile"
      - ".github/workflows/masscan_container_image.yml"

env:
  REGISTRY: ghcr.io

jobs:
  build-masscan-image:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
        id: buildx

      - name: Log in to the Container registry
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@902fa8ec7d6ecbf8d84d538b9b233a880e428804
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/nl-kat-masscan-build-image
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=ref,event=pr
            type=raw,value=latest,enable={{is_default_branch}}
            type=sha

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: ./boefjes/images/masscan
          push: true
          platforms: linux/arm64,linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
