name: Octopoes tests

on:
  push:
    branches:
      - "main"
      - "release-*"
    tags:
      - "*"
    paths:
      - octopoes/**
      - .github/workflows/octopoes_tests.yml
  pull_request:
    paths:
      - octopoes/**
      - .github/workflows/octopoes_tests.yml

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        version: ["3.10", "3.11", "3.12", "3.13"]

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}
          cache: "pip" # caching pip dependencies

      - name: Install requirements.txt
        run: pip install -r requirements-dev.txt
        working-directory: ./octopoes

      - name: Run unit tests
        run: pytest --cov-report=xml
        working-directory: ./octopoes

      - if: ${{ matrix.version == '3.11' }}
        name: Upload coverage as artifact
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: octopoes/coverage.xml

      - name: Run integration tests
        run: DOCKER_BUILDKIT=1 make itest build_args='--build-arg PYTHON_VERSION=${{ matrix.version }}'
        working-directory: ./octopoes
