name: Octopoes tests

on:
  push:
    paths:
      - octopoes/**
  pull_request:
    paths:
      - octopoes/**

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        version: ['3.8', '3.9', '3.10', '3.11']

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version }}
          cache: 'pip' # caching pip dependencies

      - name: Install requirements.txt
        run: pip install -r requirements-dev.txt
        working-directory: ./octopoes

      - name: Run unit tests
        run: pytest --cov-report=xml
        working-directory: ./octopoes

      - if: ${{ matrix.version == '3.11' }}
        name: Upload coverage as artifact
        uses: actions/upload-artifact@v3
        with:
          name: coverage
          path: octopoes/coverage.xml

      - name: Run integration tests
        run: DOCKER_BUILDKIT=1 make itest build_args='--build-arg PYTHON_VERSION=${{ matrix.version }}'
        working-directory: ./octopoes
