name: Rocky Run the test suite

on:
  push:
    paths:
      - octopoes/**
      - rocky/**
  pull_request:
    paths:
      - octopoes/**
      - rocky/**

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        version: ['3.8', '3.9', '3.10', '3.11']

    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build image
        run: DOCKER_BUILDKIT=1 COMPOSE_DOCKER_CLI_BUILD=1 docker-compose -f rocky/base.yml  -f rocky/.ci/docker-compose.yml build --build-arg USER_UID="$(id -u)" --build-arg USER_GID="$(id -g)" --build-arg PYTHON_VERSION=${{ matrix.version }} rocky_tests

      - name: Run tests
        run: DOCKER_BUILDKIT=1 COMPOSE_DOCKER_CLI_BUILD=1 docker-compose -f rocky/base.yml  -f rocky/.ci/docker-compose.yml run --rm rocky_tests
