name: SonarCloud

on:
  workflow_dispatch:

  push:
    branches:
      - "main"
  pull_request:

jobs:
  octopoes-tests:
    permissions:
      contents: read
    uses: minvws/nl-kat-coordination/.github/workflows/octopoes-tests.yml@main
  bytes-tests:
    permissions:
      contents: read
    uses: minvws/nl-kat-coordination/.github/workflows/bytes-tests.yml@main
  mula-tests:
    permissions:
      contents: read
    uses: minvws/nl-kat-coordination/.github/workflows/mula-tests.yml@main
  rocky-tests:
    permissions:
      contents: read
    uses: minvws/nl-kat-coordination/.github/workflows/rocky-tests.yml@main
  boefjes-tests:
    permissions:
      contents: read
    uses: minvws/nl-kat-coordination/.github/workflows/boefjes-tests.yml@main

  fix-coverage-reports:
    permissions:
      contents: read
    runs-on: ubuntu-24.04

    needs:
      - octopoes-tests
      - mula-tests
      - bytes-tests
      - rocky-tests
      - boefjes-tests

    strategy:
      matrix:
        module:
          - name: octopoes
            prefix_path: "octopoes/"
          - name: mula
            prefix_path: "mula/"
          - name: bytes
            prefix_path: "bytes/"
          - name: rocky
            prefix_path: "rocky/"
          - name: boefjes
            prefix_path: "boefjes/"

    steps:
      - name: Checkout coverage file fix script
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          sparse-checkout: .github/scripts/coverage_file_fixer.py

      - name: Download coverage file
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.module['name'] }}-coverage
          path: ${{ matrix.module['name'] }}-coverage

      - name: Fix coverage report sources
        uses: Mudlet/xmlstarlet-action@9866e85e774e0fb50bc49de15274d005b5a69f0e # master
        with:
          args: edit --inplace --update "coverage/sources" --value "/github/workspace/${{ matrix.module['name'] }}/" "${{ matrix.module['name'] }}-coverage/coverage.xml"

      - name: Fix coverage file
        run: python "${{ github.workspace }}/.github/scripts/coverage_file_fixer.py" "${{ matrix.module['name'] }}-coverage/coverage.xml" "${{ matrix.module['prefix_path'] }}"

      - name: Upload fixed coverage file
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.module['name'] }}-coverage-fixed"
          path: "${{ matrix.module['name'] }}-coverage/coverage.xml"

  sonar-cloud:
    permissions:
      contents: read
      pull-requests: write
      security-events: write
    runs-on: ubuntu-24.04

    needs:
      - fix-coverage-reports

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: "*-coverage-fixed"

      - name: SonarCloud
        uses: SonarSource/sonarqube-scan-action@8c71dc039c2dd71d3821e89a2b58ecc7fee6ced9 # v5.3.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
