name: SonarCloud

on:
  workflow_dispatch:
  # workflow_run:
  #   workflows: ["Pre-commit checks"]
  #   # branches: [main]
  #   types: [completed]

  # push:
  pull_request:

jobs:
  # pre-commit-run:
  #   uses: minvws/nl-kat-coordination/.github/workflows/pre_commit_checks.yml@feature/sonar-cloud

  octopoes-tests:
    uses: minvws/nl-kat-coordination/.github/workflows/octopoes-tests.yml@feature/sonar-cloud
  # bytes-tests:
  #   uses: minvws/nl-kat-coordination/.github/workflows/bytes-tests.yml@feature/sonar-cloud
  # mula-tests:
  #   uses: minvws/nl-kat-coordination/.github/workflows/mula-tests.yml@feature/sonar-cloud
  # rocky-tests:
  #   uses: minvws/nl-kat-coordination/.github/workflows/rocky-tests.yml@feature/sonar-cloud

  # todo: octopoes, boefjes

  fix-coverage-reports:
    runs-on: ubuntu-latest

    needs:
      - octopoes-tests
      # - mula-tests
      # - bytes-tests
      # - rocky-tests

    strategy:
      matrix:
        module: # todo: octopoes
          - name: octopoes
            prefix_path: "/"
          # - name: mula
          #   prefix_path: "mula/scheduler/"
          # - name: bytes
          #   prefix_path: "bytes/"
          # - name: rocky
          #   prefix_path: "rocky/"

    steps:
      - name: Checkout coverage file fix script
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          sparse-checkout: .github/scripts/coverage_file_fixer.py

      - name: Download coverage file
        uses: actions/download-artifact@v4
        with:
          name: ${{ matrix.module['name'] }}-coverage-unit
          path: ${{ matrix.module['name'] }}-coverage-unit

      - name: Fix coverage report sources
        uses: Mudlet/xmlstarlet-action@master
        with:
          args: edit --inplace --update "coverage/sources" --value "/github/workspace/${{ matrix.module['name'] }}/" "${{ matrix.module['name'] }}-coverage-unit/coverage.xml"

      - name: Fix coverage file
        run: python "${{ github.workspace }}/.github/scripts/coverage_file_fixer.py" "${{ matrix.module['name'] }}-coverage-unit/coverage.xml" "${{ matrix.module['prefix_path'] }}"

      - name: Upload fixed coverage file
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.module['name'] }}-coverage-unit-fixed"
          path: "${{ matrix.module['name'] }}-coverage-unit/coverage.xml"

  sonar-cloud:
    runs-on: ubuntu-latest

    needs:
      - fix-coverage-reports

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: "*-coverage-unit-fixed"

      - name: SonarCloud
        uses: SonarSource/sonarcloud-github-action@v2.2.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
