{% extends "two_factor/_base_focus.html" %}
{% load i18n %}

{% block content %}
  <h1>
    {% block title %}
      {% trans "Enable Two-Factor Authentication" %}
    {% endblock %}

  </h1>
  <p>
    {% trans "Congratulations, you've successfully enabled two-factor authentication." %}
  </p>
  {% if not phone_methods %}
    <p>
      <a href="{% url 'two_factor:profile' %}" class="button ghost">{% trans "Back to Account Security" %}</a>
      <a href="{% url 'landing_page' %}" class="button">{% trans "Start using KAT" %}</a>
    </p>
  {% else %}
    <p>
      {% blocktrans trimmed %}
        However, it might happen that you don't have access to
        your primary token device. To enable account recovery, add a phone
        number.
      {% endblocktrans %}
    </p>
    <a href="{% url 'two_factor:profile' %}" class="button">{% trans "Back to Account Security" %}</a>
    <p>
      <a href="{% url 'two_factor:phone_create' %}" class="button">{% trans "Add Phone Number" %}</a>
    </p>
  {% endif %}
{% endblock %}
