{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' with view_type="onboarding" %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'KAT setup' %}</h1>
        {% include 'partials/stepper.html' %}
        <h2>{% translate 'Account setup' %}</h2>
        <h3>{% translate 'Accounts' %}</h3>
        <h4>{% translate 'Organization setup with separate accounts:' %}</h4>
        <p>
          {% blocktranslate trimmed %}
            Within KAT it is possible to create separate user accounts with the specific roles.
            Each with their own functionalities and permissions.
            This is useful when multiple people will be working with the same KAT-setup.
            You can choose to create the separate accounts during this introduction or when
            you’re ready from the KAT users page.
            {% endblocktranslate %}
        </p>
        <h4>{% translate 'Single account setup:' %}</h4>
        <p>
          {% blocktranslate trimmed %}
          Alternatively it is also an option to run KAT from a single user account.
          Which is useful when you are the only user in the account.
          You will be able to access the functionality of the different roles from your account.
          You can always add additional user accounts If you’re team expands in the future.
         {% endblocktranslate %}
        </p>
        {% if organization %}
          <div class="horizontal-view">
            <a href="{% url 'step_choose_user_type' organization.code %}"
               class="button">{% translate 'Create separate accounts' %}</a>
            <a href="{% url 'complete_onboarding' organization.code %}"
               class="button ">{% translate 'Continue with this account, onboard me!' %}</a>
          </div>
        {% endif %}
      </div>
    </section>
  </main>
{% endblock content %}
