{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' with view_type="onboarding" %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'KAT setup' %}</h1>
        {% include 'partials/stepper.html' %}

        <h2>{% translate 'Indemnification setup' %}</h2>

        {% if indemnification_present %}
          <p>
            {% translate "Indemnification on the organization is already present. You may now go to the next step to setup accounts." %}
          </p>
          <a class="button" href="{% url 'step_account_setup_intro' %}">{% translate 'Continue to account setup' %}</a>
        {% else %}
          {% include 'partials/form/indemnification_add_form.html' %}
        {% endif %}
      </div>
    </section>
  </main>
{% endblock content %}

