{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' with view_type="onboarding" %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'Register' %}</h1>
        {% include 'partials/stepper.html' %}
        <p>
          {% translate 'Create a new account for your organization' %}
        </p>
        <p>
          {% blocktranslate trimmed %}
            All user  accounts are part of an organization.
            So if you’re new and your company is also new to KAT
            you can register here to create a KAT account for your
            company including an admin account for you. If you like
            a user account that is connected to an already existing
            organization within KAT you can ask the admin to create an
            account for you.
         {% endblocktranslate %}
        </p>
        <h2>{% translate "Let's get started" %}</h2>
        <strong>{% translate 'How does KAT work' %}</strong>
        <p>
          {% blocktranslate trimmed %}
           KAT is able to give insight into security risks on your online objects. For example,
           your websites, mailservers or online data.
           KAT uses scans to find and assess the area's that might be at risk and reports these back to you.
           As a user you decide which insight you would like and KAT guides you to through the process.
           During this introduction you will be guided through the steps to create a report.
         {% endblocktranslate %}
        </p>
        <a href="{% url 'step_organization_setup' %}" class="button">{% translate "Let's get started" %}</a>
      </div>
    </section>
  </main>
{% endblock content %}
