{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
  {% include 'header.html' with view_type="onboarding" %}
  <main id="main-content">
    <section>
      <div>
        <h1>{% translate 'KAT setup' %}</h1>
        {% include 'partials/stepper.html' %}
        <h2>{% translate 'Admin account setup' %}</h2>
        <strong>{% translate 'Admin' %}</strong>
        <p>
          {% blocktranslate trimmed %}
          Each organization must have an admin.
          The admin can create and manage user accounts
          as well as organization details.
         {% endblocktranslate %}
        </p>
        <form novalidate
              action="{% url 'step_account_setup_admin' %}"
              method="post"
              class="horizontal-view help">
          {% csrf_token %}
          {% translate 'Admin details' as fieldset_legend %}
          {% include 'partials/form/fieldset.html' with legend=fieldset_legend fields=form %}
          <button type="submit">{% translate 'Submit' %}</button>
        </form>
        <p>
          <a href="{% url 'step_choose_user_type' %}" class="button ghost">{% translate 'Go back to previous step' %}</a>
          <a href="{% url 'step_account_setup_red_teamer' %}" class="button ">{% translate 'Skip this step' %}</a>
        </p>
      </div>
    </section>
  </main>
{% endblock content %}
