{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content" tabindex="-1" class="katalogus">
        <section>
            {% include "partials/katalogus_header.html" %}
            {% include "partials/plugins_navigation.html" with active="about-plugins" %}

            <div class="fifty-fifty">
                <div>
                    <h1>{% translate "About plugins" %}</h1>
                    <p>
                        {% blocktranslate trimmed %}
                            Plugins gather data, objects and insight. Each plugin has its own focus area
                            and strengths and may be able to work with other plugins to gain even more insights.
                        {% endblocktranslate %}
                    </p>
                    <h2>Boefjes</h2>
                    <p>
                        {% blocktranslate trimmed %}
                            Boefjes gather factual information, such as by calling an external scanning
                            tool like nmap or using a database like shodan.
                        {% endblocktranslate %}
                    </p>
                    <h2>Normalizers</h2>
                    <p>
                        {% blocktranslate trimmed %}
                            Normalizers analyze the information and turn it into objects for the data model in Octopoes.
                        {% endblocktranslate %}
                    </p>
                    <h2>Bits</h2>
                    <p>
                        {% blocktranslate trimmed %}
                            Bits are business rules that look for insight within the current dataset and search for specific insight and draw conclusions.
                        {% endblocktranslate %}
                    </p>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
