{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div class="layout-form">
                <h1>{% translate "Boefje setup" %}</h1>
                <p>
                    {% blocktranslate %}
                        You can create a new Boefje. If you want more information on this,
                        you can check out the <a href="https://nmap.org/book/man-examples.html">documentation</a>.
                    {% endblocktranslate%}
                </p>
                <form action="" method="post" class="horizontal-view help">
                    {% csrf_token %}
                    <fieldset>
                        {% include "partials/form/fieldset.html" with legend=fieldset_legend fields=form %}

                    </fieldset>
                    <button type="submit">{% translate "Add" %} {% translate "Boefje" %}</button>
                </form>
            </div>
        </section>
    </main>
{% endblock content %}
