{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content" tabindex="-1" class="katalogus">
        <section>
            {% include "partials/katalogus_header.html" %}
            {% include "partials/plugins_navigation.html" %}
            {% include "partials/plugin_header.html" %}
            {% include "partials/katalogus_filter.html" with plugin_type="Boefjes" form=form %}
            {% include "partials/katalogus_toolbar.html" %}
            {% include "boefjes.html" %}

        </section>
    </main>
{% endblock content %}
{% block html_at_end_body %}
    {{ block.super }}
    <script src="{% static "/js/checkboxToggler.js" %}"
            nonce="{{ request.csp_nonce }}"></script>
{% endblock html_at_end_body %}
