{% extends "layouts/base.html" %}

{% load i18n %}
{% load static %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content" tabindex="-1" class="katalogus">
        <section>
            {% include "partials/katalogus_header.html" %}
            {% include "partials/plugins_navigation.html" with active="all" %}

            <div class="fifty-fifty">
                <div>
                    <h2>{% translate "All plugins" %}</h2>
                    <p>
                        {% blocktranslate trimmed %}
                            Plugins gather data, objects and insight. Each plugin has its own focus area
                            and strengths and may be able to work with other plugins to gain even more insights.
                        {% endblocktranslate %}
                    </p>
                    <p class="emphasized">
                        <strong>{{ object_list|length }}</strong>
                        {% blocktranslate count counter=object_list|length %}
                            Plugin available
                        {% plural %}
                            Plugins available
                        {% endblocktranslate %}
                    </p>
                </div>
            </div>
            {% include "partials/katalogus_filter.html" with form=form %}
            {% include "partials/katalogus_toolbar.html" %}
            {% include "partials/plugins.html" %}

        </section>
    </main>
{% endblock content %}
