{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                {% include "partials/ooi_head.html" with ooi=ooi view="deep_links" %}

                <h2>{% translate "Deep Links" %}</h2>
                <p class="emphasized">
                    {% translate "Showing a list of all deep links" %}
                </p>
                <a class="button"
                   href="{% url 'plugin_deep_link_add' organization.code %}">{% translate "Create deep link" %}</a>
                {% if plugin_deep_link %}
                    <div class="horizontal-scroll">
                        <table>
                            <caption>{% translate "Overview of deep links:" %}</caption>
                            <thead>
                                <tr>
                                    <th scope="col">{% translate "Name" %}</th>
                                    <th scope="col">{% translate "Link" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deep_link in plugin_deep_link %}
                                    <tr>
                                        <td>{{ deep_link.name }}</td>
                                        <td>
                                            <a href="{{ deep_link.link }}" target="_blank">{{ deep_link.link_text }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "partials/pagination.html" %}

                    </div>
                {% else %}
                    <p>
                        {% translate "There are no deep links to show." %}
                    </p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
