{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        {% include "partials/katalogus_header.html" %}
        {% include "partials/plugins_navigation.html" with plugin_type="deep_link" %}

        <section>
            <div>
                <div class="fifty-fifty">
                    <div>
                        <h2>{% translate "Deep Links" %}</h2>
                        <p>
                            {% blocktranslate %}
                                Deep links are links from an external source giving more information about an object.
                                It could be a wikipedia page, CVE score page or anything that can give extended information about a particular object.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="horizontal-view toolbar">
                        <a class="button"
                           href="{% url 'plugin_deep_link_add' organization.code %}">{% translate "Create deep link" %}</a>
                    </div>
                </div>
                {% if deep_links %}
                    <p>
                        <strong>{{ deep_links|length }}</strong> {% translate "Deep links available" %}
                    </p>
                    <div class="horizontal-scroll">
                        <table>
                            <caption>{% translate "Overview of deep links:" %}</caption>
                            <thead>
                                <tr>
                                    <th>{% translate "Name" %}</th>
                                    <th>{% translate "OOI-Type" %}</th>
                                    {% if perms.katalogus.change_organizationplugin %}
                                        <th>{% translate "Edit" %}</th>
                                        <th>{% translate "Actions" %}</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for deep_link in deep_links %}
                                    <tr>
                                        <td>{{ deep_link.plugin.name }}</td>
                                        <td>{{ deep_link.plugin.ooi_type }}</td>
                                        {% if perms.katalogus.change_organizationplugin %}
                                            <td>
                                                <a href="{% url "plugin_deep_link_edit" organization.code deep_link.plugin.id %}">
                                                    <button class="icon ti-edit action-button">{% translate "Edit" %}</button>
                                                </a>
                                            </td>
                                            <td>
                                                <form method="post"
                                                      action="{% url 'plugin_deep_link_enable_disable' organization.code %}"
                                                      class="inline">
                                                    {% csrf_token %}
                                                    <fieldset>
                                                        <input type="hidden" name="plugin" value="{{ deep_link.plugin.name }}"/>
                                                        {% if deep_link.enabled %}
                                                            <button name="disable" type="submit" class="button ghost" value="disable">{% translate "Disable" %}</button>
                                                        {% else %}
                                                            <button name="enable" type="submit" class="button" value="enable">{% translate "Enable" %}</button>
                                                        {% endif %}
                                                    </fieldset>
                                                </form>
                                            </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "partials/pagination.html" %}

                    </div>
                {% else %}
                    <p class="emphasized">{% translate "There are no deep links available." %}</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
