{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        {% if plugin_deep_link %}
            <section>
                <div>
                    <h1>{% translate "Deep Links" %}</h1>
                    <p>
                        {% translate "Showing a list of all deep links" %}
                    </p>
                    <div class="horizontal-scroll">
                        <table>
                            <caption>{% translate "Overview of deep links:" %}</caption>
                            <thead>
                                <tr>
                                    <th scope="col">{% translate "Name" %}</th>
                                    <th scope="col">{% translate "Link" %}</th>
                                    <th scope="col">{% translate "OOI-Type" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deep_link in plugin_deep_link %}
                                    <tr>
                                        <td>{{ deep_link.plugin.name }}</td>
                                        <td>
                                            <a href="{{ deep_link.plugin.link }}" target="_blank">{{ deep_link.plugin.content }}</a>
                                        </td>
                                        <td>{{ deep_link.plugin.ooi_type }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "partials/pagination.html" %}

                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock content %}
