{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        {% include "partials/katalogus_header.html" %}
        {% include "partials/plugins_navigation.html" with plugin_type="deep_link" %}

        <section>
            <div>
                <div class="fifty-fifty">
                    <div>
                        <h2>{% translate "Deep Links" %}</h2>
                        <p>
                            {% blocktranslate %}
                                Deep links are links from an external source giving more information about an object.
                                It could be a wikipedia page, CVE score page or anything that can give extended information about a particular object.
                            {% endblocktranslate %}
                        </p>
                    </div>
                    <div class="horizontal-view toolbar">
                        <a class="button"
                           href="{% url 'plugin_deep_link_add' organization.code %}">{% translate "Create deep link" %}</a>
                    </div>
                </div>
                {% if deep_links %}
                    <div class="horizontal-scroll">
                        <table>
                            <caption>{% translate "Overview of deep links:" %}</caption>
                            <thead>
                                <tr>
                                    <th scope="col">{% translate "Name" %}</th>
                                    <th scope="col">{% translate "OOI-Type" %}</th>
                                    <th scope="col">{% translate "Actions" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for deep_link in deep_links %}
                                    <tr>
                                        <td>{{ deep_link.plugin.name }}</td>
                                        <td>{{ deep_link.plugin.ooi_type }}</td>
                                        <td>
                                            {% if deep_link.enabled %}
                                                <button type="submit" class="button">{% translate "Disable" %}</button>
                                            {% else %}
                                                <button type="submit" class="button">{% translate "Enable" %}</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% include "partials/pagination.html" %}

                    </div>
                {% else %}
                    <p class="emphasized">
                        {% translate "There are no deep links available." %}
                    </p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock content %}
