{% extends "layouts/base.html" %}

{% load static %}
{% load i18n %}

{% block content %}
    {% include "header.html" %}

    <main id="main-content">
        <section>
            <div>
                <h1>
                    {% blocktranslate count form.fields|length as count trimmed %}
                        Add setting
                    {% plural %}
                        Add settings
                    {% endblocktranslate %}
                </h1>
                <p class="emphasized">
                    {% blocktranslate count form.fields|length as count trimmed %}
                        Setting
                    {% plural %}
                        Settings
                    {% endblocktranslate %}
                </p>
                <div class="layout-form">
                    <form novalidate method="post" class="help">
                        {% csrf_token %}
                        {% include "partials/form/form_errors.html" with form=form %}
                        {% include "partials/form/fieldset.html" with legend=name fields=form %}

                        <div class="button-container">
                            <button type="submit" name="add-enable">
                                {% blocktranslate count form.fields|length as count trimmed %}
                                    Add setting and enable boefje
                                {% plural %}
                                    Add settings and enable boefje
                                {% endblocktranslate %}
                            </button>
                            <button type="submit" class="ghost" name="add">
                                {% blocktranslate count form.fields|length as count trimmed %}
                                    Add setting
                                {% plural %}
                                    Add settings
                                {% endblocktranslate %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </main>
{% endblock content %}
