{% load static %}
{% load i18n %}

<header id="page-header">
    {% include "partials/skip-to-content.html" %}

    <nav data-open-label="{% translate "Menu" %}"
         data-close-label="{% translate "Close menu" %}"
         data-media="(min-width: 70rem)"
         aria-label="{% translate "Main navigation" %}"
         class="collapsible">
        <div>
            <a href="{% url "plugin_list" %}"
               class="logo"
               title="OpenKAT"
               aria-label="{% translate "OpenKAT logo, go to the homepage of OpenKAT" %}">
                <img src="{% static 'img/kat_logo.png' %}" alt="{% translate "OpenKAT" %}" />
                Kwetsbaarheden Analyse Tool
            </a>
            {% if request.user.is_authenticated %}
                {% if not view_type == "onboarding" %}
                    {% include "partials/organizations_menu_dropdown.html" %}

                {% endif %}
            {% endif %}
            <div class="collapsing-element">
                <ul>
                    {% if request.user.is_authenticated %}
                        {% if perms.openkat.view_organization %}
                            <li>
                                {% url "organization_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Organizations" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.plugins.view_plugin %}
                            <li>
                                {% url "plugin_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Plugins" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.plugins.view_finding %}
                            <li>
                                {% url "objects:finding_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Findings" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.objects.view_hostname %}
                            <li>
                                {% url "objects:hostname_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Objects" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.tasks.view_task %}
                            <li>
                                {% url "task_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Tasks" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.tasks.view_schedule %}
                            <li>
                                {% url "schedule_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Schedules" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.files.view_file %}
                            <li>
                                {% url "file_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Files" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.plugins.view_businessrule %}
                            <li>
                                {% url "business_rule_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Business rules" %}</a>
                            </li>
                        {% endif %}
                        {% if perms.reports.view_report %}
                            <li>
                                {% url "report_list" as index_url %}
                                <a href="{{ index_url }}{% if organization_query_string %}?{{ organization_query_string }}{% endif %}"
                                   {% if index_url in request.path|urlencode %}aria-current="page"{% endif %}>{% translate "Reports" %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
                <div>
                    {% include "partials/language-switcher.html" %}
                    {% include "partials/secondary-menu.html" %}

                </div>
            </div>
        </div>
    </nav>
    {% if breadcrumbs %}
        <nav class="breadcrumb-bar" aria-label="{% translate "Breadcrumbs" %}">
            <div>
                <ul>
                    {% for breadcrumb in breadcrumbs %}
                        {% if forloop.last %}
                            <li>
                                <a aria-current="true" href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
    {% endif %}
</header>
{% include "partials/notifications_block.html" %}
