{% load i18n %}

<div class="warning">
  <h2>
    {% if ooi_current %}
      {% translate 'This object is past due' %}
    {% else %}
      {% translate 'This object is past due and has been deleted' %}
    {% endif %}
  </h2>
  <p>
    {% translate 'This object is past due. You are viewing the object state in a past state.' %}
  </p>
  <ul>
    {% if ooi_current %}
      <li>{% translate "You will not be able to add Findings or other OOI's to past due objects." %}</li>
      <li>
        <a href="{% ooi_url 'ooi_detail' ooi_current.primary_key %}"
           title="{% blocktranslate with name=ooi_current.human_readable %}Show details for {{ name }}{% endblocktranslate %}">{% translate 'View the current state' %}</a>
      </li>
    {% else %}
      <li>
        {% blocktranslate trimmed %}
            You will not be able to add Findings or other OOI's, this object has been deleted
            and is no longer available.
          {% endblocktranslate %}
      </li>
    {% endif %}
  </ul>
</div>
